<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet"
          href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
          crossorigin="anonymous"/>

    <link rel="stylesheet"
          href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"/>

    <link rel="stylesheet" type="text/css"
          href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/user_from.css}"/>

    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
          rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

    <script th:src="@{/js/form_features_user.js}" type="text/javascript"
            charset="utf-8"></script>

</head>
<body>

<p id="pjsonvalue" style="display: none;"
   th:text="${foundgallery}"></p>

<script id="image_input_template" type="text/template">

    <div id="entry_section_{{li_id}}">
        <label for="entry_{{li_id}}">Entry {{li_id}}</label>
        <input name="entry_{{li_id}}" id="entry_{{li_id}}"
               class="pure-u-23-24 gallery_entry" type="text" data-index="{{li_id}}"/>
        <img id="entry_preview_{{li_id}}"
             src="/images/default/image_not_available_300.jpg"
             class="manufacturer_logo" style="max-width: 60%;max-height: 60%;"/>
    </div>

</script>

<div class="main_content">
    <h3 id="form_title">Gallery</h3>

    <div class="container">

        <form id="galleryForm" class="pure-form pure-form-aligned" method="post" autocomplete="no"
              style="margin-left: auto;margin-right: auto;width: 75%;">
            <fieldset>
                <div class="pure-control-group">
                    <label for="galleryCode">Gallery Code</label>
                    <input id="galleryCode" type="text" placeholder="Gallery Code">
                </div>
            </fieldset>

            <fieldset>

                <div>
                    <div class="pure-control-group">
                        <label for="entry_code_1">Enty 1 Code</label>
                        <input id="entry_code_1" type="text">
                    </div>
                    <div class="pure-control-group">
                        <label for="entry_main_1">Enty 1 Main Image</label>
                        <input id="entry_main_1" type="text">
                    </div>

                    <div class="pure-control-group">
                        <label for="entry_50_1">Enty 1 50 Image</label>
                        <input id="entry_50_1" type="text">
                    </div>
                    <div class="pure-control-group">
                        <label for="entry_thumb_1">Enty 1 Thumb Image</label>
                        <input id="entry_thumb_1" type="text">
                    </div>
                    <div class="pure-u-1-2">
                        <img src="/images/default/image_not_available_300.jpg"
                             class="manufacturer_logo" style="margin-left: 30px;"/>
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>

        <!-- -->

    </div>

</div>


</body>
</html>