<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_BUILD_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/converse_core/cartridge/static/default/css/package/normalize.css&quot; type=&quot;1&quot;/&gt;&#10;&lt;item path=&quot;/converse_core/cartridge/static/default/css/package/style-responsive.css&quot; type=&quot;1&quot;/&gt;&#10;&lt;item path=&quot;/converse_core/cartridge/static/default/css/package/style.css&quot; type=&quot;1&quot;/&gt;&#10;&lt;/resources&gt;}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/usr/bin/VBoxManage"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="incremental,auto,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="guestcontrol &#10;&quot;converse_dw&quot; &#10;execute &#10;--image &#10;&quot;/bin/bash&quot; &#10;--username &#10;vagrant &#10;--password &#10;vagrant &#10;--verbose &#10;--wait-stdout &#10;--wait-stderr &#10;--wait-exit &#10;&quot;/home/vagrant/demandware/codeshare/confoo/scripts/dev_fecompiler_frontend_compile_css.sh&quot;"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/converse_core}"/>
</launchConfiguration>
