@import "_constants";
@import "_media_query";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

.pt_productdetails {
    .product-detail {
        .product-attributes {
            @include clearfix;

            %error-message {
                color: $CONVERSE_COLOR_12;
                background-color: $CONVERSE_COLOR_PDP_5;
                text-align: center;
                padding: pxtoem(10);
                text-transform: Capitalize;
                @include border-top-radius(5px);
            }

            .error-message,
            .qty-error-message {
                @extend %error-message;
            }

            .qty-error-message {
                background-color: $CONVERSE_COLOR_1;
            }
            
            .qty-error {
                margin-top: pxtoem(32);
            }
        }

        .showcase-product-attributes {
            .showcase-product-message {
                text-align: center;
                margin: pxtoem(20) 0;

                .showcase-product-hero-message {
                    font-weight: bold;
                }
            }

            .showcase-product-button {
                .button {
                    font-size: 1.5em;
                }
            }
        }

        .product-add-to-cart {

            .size-chart-link {
                font-weight: bold;
                color: $CONVERSE_COLOR_PDP_6;

                span {
                    color: $CONVERSE_COLOR_PDP_5;
                    float: right;
                    text-decoration: underline;

                    a {
                        color: $CONVERSE_COLOR_PDP_5;
                        &:hover {
                            color: $CONVERSE_COLOR_1;
                        }
                    }

                    &:hover {
                        color: $CONVERSE_COLOR_1;
                    }
                }
            }

            @include mq-medium-cascade {
                p {
                    text-align: center;
                }
            }

            .out-of-stock {
                font-weight: bold;
                color: $CONVERSE_COLOR_PDP_6;
            }

            .out-of-stock-message {
                $font-size: 12;
                font-size: pxtoem($font-size);
                line-height: pxtoembase(20, $font-size);
                padding-bottom: pxtoem(10);
                color: $CONVERSE_COLOR_PDP_5;
            }

            .sizes-attr {
                float: left;
                width: 63%;
                min-height: 50px;

                @include mq-medium-pdp {
                    min-height: 40px;
                }
            }

            .quantity-attr {
                float: right;
                width: 36%;
            }

            .sizes-attr select, .quantity-attr select {
                outline: none;
            }

            .product-options {
                display: block;
            }

            @include mq-medium-pdp {
                width: pxtoem(273);
                float: right;

                .product-options {
                    display: none;
                }

                .product-attributes .error-message.qty-error-message {
                    width: pxtoem(273);
                }
            }

            @include mq-small-pdp {
                .product-options {
                    display: none;
                }
            }

            @include mq-x-small-pdp {
                .product-options {
                    display: none;
                }
            }
        }
    }

    .product-actions {
        font-family: $CONVERSE_FONT_FAMILY_PDP;
        @include clearfix;

        .center-btn {
            float: none !important;
            margin: 0 auto !important;
        }

        .add-to-cart {
            @include border-radius(5px, 5px);
            text-transform: none;
            background-color: $CONVERSE_COLOR_PDP_6;
            font-size: pxtoem(18);
            padding: pxtoem(12) 0;
            font-family: $CONVERSE_FONT_FAMILY_PDP;
            font-weight: normal;
            outline: none;

            &:hover, &:active {
                color: $CONVERSE_COLOR_12;
                background-color: $CONVERSE_COLOR_PDP_10;
            }
        }

        .shipping {
            height: pxtoem(50);
            color: $CONVERSE_COLOR_1;
            text-align: center;
            width: 100%;
            text-align: center;

            > .html-slot-container {
                &:before,
                &:after {
                    background-color: $CONVERSE_COLOR_PDP_2;
                    content: "";
                    display: inline-block;
                    height: 1px;
                    position: relative;
                    vertical-align: middle;
                    width: 50%;
                }
                &:before {
                    right: 0.5em;
                    margin-left: -50%;
                }
                &:after {
                    left: 0.5em;
                    margin-right: -50%;
                }
            }

            &.tablet {
                margin-top: 0px;
                display: none;
            }

            p {
                line-height: pxtoem(50);
                display: inline-block;

                span {
                    font-weight: bold;
                }
            }

            @include mq-medium-pdp {
                &.tablet {
                    display: block;
                }

                &.pdp {
                    display: none;
                }
            }
        }

        .customize {
            @include mq-medium-pdp {
                display: none;
            }
        }
    }

    button, .button {
        width: 100%;
        font-weight: normal;
        @include clearfix;
    }
    
    .colorvar-button-visible {
         
         display: none;
         
         @media screen and (max-width: 565px) {
             display: inline-block;
         }
         
    }
    
    .colorvar-button-visible-large {
         
         display: none;
         
         @media screen and (max-width: 765px) {
             display: inline-block;
         }
         
    }
    
    .color-variation-next{
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent transparent transparent rgb(0, 0, 0);
		border-width: 11.5px 0 11.5px 16px;
		margin-top: 9px;
		margin-bottom: 9px;
	}

	.color-variation-prev{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 11.5px 16px 11.5px 0;
		border-color: transparent #000000 transparent transparent;
		margin-top: 9px;
		margin-bottom: 9px;
	}

    .customize {
        width: auto;
        padding: pxtoem(11) 0;
        margin-bottom: pxtoembase(16, 15);
        font-size: pxtoem(15);
        text-transform: capitalize;
        @include border-radius(5px, 5px);

        &:hover, &:active {
            color: $CONVERSE_COLOR_PDP_2;
            background-color: $CONVERSE_COLOR_1;
        }
    }
}
