@import "_constants";
@import "_media_query";
@import "_conv_mixins";

.pt_productdetails {
    .pdp-featured {
        padding-left: 0;

        @include mq-large-pdp {
            padding-left: pxtoem(380);
        }

        .featured-content {
            padding-top: pxtoem(60);
            border-bottom: pxtoem(1) solid $CONVERSE_COLOR_PDP_2;

            &.pixlee-pdp-wrapper {
                padding-top: pxtoem(0);

                @include media-query-lt(pxtoem($TABLET_BREAK_PDP)) {
                    display: none;
                }

                iframe {
                    @include mq-medium-pdp {
                        width: 100%;
                    }

                    @include mq-small-pdp {
                        width: 100%;
                    }

                    @include mq-x-small-pdp {
                        width: 100%;
                    }

                    @include mq-medium-cascade() {
                        width: 100%;
                    }
                }
            }

            .header {
                text-align: center;

                h2 {
                    &.caption {
                        font-family: $CONVERSE_FONT_FAMILY_PDP;
                        font-size: pxtoem(22);
                        font-weight: bold;
                    }
                }
            }

            .featured-items {
                padding-top: pxtoem(30);
                padding-bottom: pxtoem(30);
                margin: 0 auto;
                text-align: center;
                position: relative;

                .product-tile {
                    figcaption {
                        font-family: $CONVERSE_FONT_FAMILY_PDP;
                        padding-top: pxtoem(5);

                        .product-name {
                            font-size: pxtoem(13);
                            line-height: pxtoem(17);
                        }

                        .product-pricing {
                            padding-top: pxtoem(5);
                            font-size: pxtoem(17);
                        }
                    }
                }

                .controls {
                    display: block;

                    .btn-prev {
                        @include slider-cntrl-btn('left');
                        left: pxtoem(33);
                        top: pxtoem(124);
                        position: absolute;
                    }

                    .btn-next {
                        @include slider-cntrl-btn('right');
                        right: pxtoem(33);
                        top: pxtoem(124);
                        position: absolute;
                    }

                    @include mq-medium-cascade {
                        display: none;
                    }

                    @include mq-x-small-pdp {
                        display: none;
                    }
                }
            }
        }

        /* BxSlider Override */
        .bx-wrapper {
            margin: 0 auto;

            .bx-viewport {
                height: pxtoem(290) !important;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: none;
            }

            .bx-prev, .bx-next {
                display: none;
            }

            .bx-pager {
                display: none;

                .bx-pager-item {
                    display: inline-block;
                }

                &.bx-default-pager a {
                    background: $CONVERSE_COLOR_PDP_8;
                    width: pxtoem(17);
                    height: pxtoem(17);
                    @include border-radius(pxtoem(17), pxtoem(17));
                    text-indent: pxtoem(-9999);
                    display: block;
                    margin: 0 pxtoem(5);

                    &.active {
                        background: $CONVERSE_COLOR_1;
                    }
                }
            }

            @include mq-medium-cascade {
                max-width: pxtoem(435) !important;

                .bx-pager {
                    display: block;
                }
            }

            @include mq-x-small-pdp {
                max-width: pxtoem(200) !important;

                .bx-pager {
                    display: block;
                }
            }
        }
    }
}
