@import "_constants";
@import "_media_query";
@import "_conv_mixins";
@import "compass/css3/border-radius";
@import "chuckpromo/_constants";

.product-top-bar {
    background-color: $CONVERSE_COLOR_12;
    border-bottom: 1px solid $CONVERSE_COLOR_PDP_3;
    position: fixed;
    top: pxtoem(100);
    width: 100%;
    z-index: 1000;
    display: none;
    transition: all 300ms linear;
    opacity: 0;

    @include mq-medium-pdp {
        display: table;
    }

    img {
        max-width: pxtoem(200);
        margin: 0 pxtoem(50) pxtoem(20) pxtoem(50);
    }

    .top-bar-content {
        display: table-cell;
        vertical-align: middle;
        padding: 0 pxtoem(15);
        width: 70%;

        .product-properties, form, .attribute, .product-attributes {
            display: inline-block;
        }

        .product-title {
            overflow: hidden;
            padding-bottom: pxtoem(15);

            .product-name {
                $font-size: 27;
                font-size: pxtoem($font-size);
                line-height: pxtoembase(38, $font-size);
                float: left;

                &.multi-line {
                    display: none;
                }
            }

            .product-price {
                $font-size: 29;
                font-size: pxtoem($font-size);
                font-weight: bold;
                line-height: pxtoembase(42, $font-size);
                float: right;
            }
        }

        .product-properties {
            background-color: $CONVERSE_COLOR_PDP_4;
            float: left;
            @include border-radius(5px, 5px);
            margin-right: pxtoem(7);
            width: 29%;
            padding: pxtoem(13) 0;
            text-align: center;

            .product-color {
                color: $CONVERSE_COLOR_1;
                font-size: pxtoem(14);
                font-weight: bold;
                text-transform: capitalize;
            }

            .product-manufacturer {
                color: $CONVERSE_COLOR_PDP_5;
                font-size: pxtoem(11);
            }
        }

        .select2 .select2-selection {
            margin-bottom: 0 !important;
        }

        form {
            width: 69%;
            float: right;
        }

        .product-attributes {
            width: 68%;
            @include display-flex();
        }
        .attribute {
            margin-right: pxtoem(4);

            &.quantity-attr {
                width: 46%;
            }

            &.sizes-attr {
                width: 67%;
                min-height: 50px;
            }

            .error-message {
                color: $CONVERSE_COLOR_12;
                background-color: $CONVERSE_COLOR_PDP_5;
                text-align: center;
                padding: pxtoem(10);
                text-transform: Capitalize;
                @include border-top-radius(5px);
            }
        }

        .add-to-cart {
            @include border-radius(5px, 5px);
            float: right;
            width: 30%;
            text-transform: capitalize;
            background-color: $CONVERSE_COLOR_PDP_6;
            font-size: pxtoem(18);
            padding: pxtoem(7.5) 0;
            font-family: $CONVERSE_FONT_FAMILY_PDP;
            font-weight: normal;
            margin-left: pxtoem(2);

            &:hover, &:active {
                color: $CONVERSE_COLOR_PDP_2;
                background-color: $CONVERSE_COLOR_PDP_10;
            }
        }

        &.error {
            .product-properties {
                margin-top: pxtoem(33);
            }

            .add-to-cart {
                margin-top: pxtoem(21);
            }

            .sizes-attr .select2-container {
                @include border-bottom-radius(5px);
                background-color: $CONVERSE_COLOR_PDP_5;
            }
        }
    }

    .top-bar-bottom {
        p {
            text-align: center;
        }

        .out-of-stock {
            color: $CONVERSE_COLOR_PDP_6;
            font-weight: bold;
        }

        .out-of-stock-message {
            $font-size: 12;
            font-size: pxtoem($font-size);
            line-height: pxtoembase(20, $font-size);
            padding-bottom: pxtoem(10);
            color: $CONVERSE_COLOR_PDP_5;
        }
    }
}
