@import "_constants";
@import "_helper_functions";
@import "compass/css3/border-radius";

$mini_cart_container_height:pxtoem(30);
%base_badge_style {
	float:left;
	height:$mini_cart_container_height;
	width:$mini_cart_container_height;
	@include border-radius(14px, 14px);
	background-color:$COMMON_LINK_HOVER_COLOR;
	margin-top: 1em;	
	div {
		margin-top:-0.1em;
		margin-left:0.27em;
	}
}


