/* constants file for scss variable values */

// Colors

//grayscale
$CONVERSE_COLOR_1                           : #000000;      //  Black
$CONVERSE_COLOR_2                           : #333333;
$CONVERSE_COLOR_29                          : #393939;
$CONVERSE_COLOR_3                           : #4C4C4C;
$CONVERSE_COLOR_25                          : #606060;
$CONVERSE_COLOR_21                          : #666666;
$CONVERSE_COLOR_4                           : #808080;
$CONVERSE_COLOR_17                          : #999999;
$CONVERSE_COLOR_5                           : #B2B2B2;
$CONVERSE_COLOR_27                          : #BBBBBB;
$CONVERSE_COLOR_6                           : #CACACA;
$CONVERSE_COLOR_24                          : #CCCCCC;
$CONVERSE_COLOR_18                          : #D6D6D6;
$CONVERSE_COLOR_15                          : #D7D7D7;
$CONVERSE_COLOR_19                          : #E5E5E5;
$CONVERSE_COLOR_23                          : #EEEEEE;
$CONVERSE_COLOR_28                          : #F8F8F8;
$CONVERSE_COLOR_12                          : #FFFFFF;      //  White

//colors
$CONVERSE_COLOR_7                           : #940000;
$CONVERSE_COLOR_8                           : #E6E5DD;
$CONVERSE_COLOR_9                           : #EFEEE8;
$CONVERSE_COLOR_10                          : #F5F5F1;
$CONVERSE_COLOR_11                          : #FBFBF9;
$CONVERSE_COLOR_13                          : #FFF28A;
$CONVERSE_COLOR_14                          : #996633;
$CONVERSE_COLOR_16                          : #009400;
$CONVERSE_COLOR_22                          : #BF0F07;
$CONVERSE_COLOR_26                          : #9A0000;
$CONVERSE_COLOR_30                          : #6f6f6f;


// Colors PDP
$CONVERSE_COLOR_PDP_1                       : $CONVERSE_COLOR_17;
$CONVERSE_COLOR_PDP_2                       : $CONVERSE_COLOR_18;
$CONVERSE_COLOR_PDP_3                       : $CONVERSE_COLOR_19;
$CONVERSE_COLOR_PDP_4                       : $CONVERSE_COLOR_19;
$CONVERSE_COLOR_PDP_5                       : $CONVERSE_COLOR_21;
$CONVERSE_COLOR_PDP_6                       : $CONVERSE_COLOR_22;
$CONVERSE_COLOR_PDP_7                       : $CONVERSE_COLOR_23;
$CONVERSE_COLOR_PDP_8                       : $CONVERSE_COLOR_24;
$CONVERSE_COLOR_PDP_9                       : $CONVERSE_COLOR_25;
$CONVERSE_COLOR_PDP_10                      : $CONVERSE_COLOR_26;
$CONVERSE_COLOR_PDP_11                      : $CONVERSE_COLOR_27;

// Images PDP
$CONVERSE_CTRL_ARROW_IMAGE_PDP              : '../images/pdp/details-cntrl-arrows.png';

// Fonts
$CONVERSE_FONT_FAMILY_1_REG                 : Helvetica;
$CONVERSE_FONT_FAMILY_1_REG_NEW             : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$CONVERSE_FONT_FAMILY_1_BOLD                : Helvetica Bold;
$CONVERSE_FONT_FAMILY_2_REG                 : Adobe Garamond;
$CONVERSE_FONT_FAMILY_2_BOLD                : Adobe Garamond Bold;
$CONVERSE_FONT_FAMILY_2_ITAL                : Adobe Garamond Italic;
$CONVERSE_FONT_FAMILY_PDP                   : 'Arvo', serif;
$CONVERSE_FONT_FAMILY_PDP_2                 : 'Arial', serif;
$CONVERSE_FONT_FAMILY_LANGUAJE_SELCT_REG    : 'Rockwell','Arvo', serif;
$CONVERSE_FONT_FAMILY_LANGUAJE_SELCT_CONT   : Helvetica, "Lucida Grande", sans-serif;
$FONT_SIZE_1                                : 12;
$FONT_SIZE_2                                : 18;
$FONT_SIZE_3                                : 24;
$FONT_SIZE_4                                : 30;
$FONT_SIZE_5                                : 36;

$IMAGE_CACHE_BUSTER                         : true;
$COMMON_BLOCK_WIDTH                         : 33%;
$COMMON_COL_WIDTH                           : 37%;
$COMMON_FONT_SIZE                           : 12px;
$BASE_PX                                    : 12;

// Header & Navigation
$HEADER_WRAPPER_WIDTH                       : 100%;
$COMMON_HEADER_HEIGHT                       : 100;
$COMMON_NAVIGATION_HEIGHT                   : ($COMMON_HEADER_HEIGHT / 4);
$COMMON_BLACK_BAR_HEIGHT                    : 40;
$COMMON_HEADER_FOOTER_HEIGHT                : 60;
$DESKTOP_NAV_SUBCATEGORY_BORDER_WIDTH       : 15;
$MOBILE_HEADER_HEIGHT                       : 70;
$MOBILE_BLACK_BAR_HEIGHT                    : 20;
$MOBILE_MENU_WIDTH                          : 270;

// Media Query Breakpoints
$THRESHOLD_BASE_PX                          : 16;
$THRESHOLD_SMALL                            : 320;
$THRESHOLD_MEDIUM                           : 533;
$THRESHOLD_MEDIUM_A                         : 800;
$THRESHOLD_MEDIUM_B                         : 720;
$THRESHOLD_LARGE                            : 959;
$THRESHOLD_XLARGE                           : 1278;

// Media Query PDP Breakpoints
$MOBILE_BREAK_PDP                           : 600;
$TABLET_BREAK_PDP                           : $THRESHOLD_LARGE;
$WIDE_BREAK_PDP                             : 1240;

// Content & Header Sizes
$CONTENT_MAX_WIDTH_LARGE                    : 1001;
$CONTENT_MAX_WIDTH_LARGE_TOUTS              : 1045;
$CONTENT_MAX_WIDTH_MEDIUM                   : 770;
$CONTENT_MAX_WIDTH_SMALL                    : 400;
$CONTENT_TOP_MARGIN                         : 20;
$HEADER_MAX_WIDTH_SMALL                     : 400;
$HEADER_MAX_WIDTH_LARGE                     : 1001;
$HEADER_MAX_WIDTH_MEDIUM                    : 770;
$PDP_MAX_WIDTH                              : 1200;

// Footer Sizes
$FOOTER_WIDTH                               : 1000;
$DESKTOP_FOOTER_HEIGHT                      : 346;
$TABLET_FOOTER_HEIGHT                       : 534;
$MOBILE_FOOTER_HEIGHT                       : 451;
$FOOTER_FONT_SIZE                           : 11;
$LICENSE_PLATE_HEIGHT                       : 75;

$SLIDESHOW_HEIGHT                           : 420;
$HEADER_FONT_SIZE                           : 10;
$HEADER_ICON_SIZE                           : 22;
$COMMON_PRODUCT_TEXT_COLOR                  : $CONVERSE_COLOR_4;
$COMMON_IMPORTANT_COLOR                     : $CONVERSE_COLOR_10;
$COMMON_MENU_BACKGROUND                     : $CONVERSE_COLOR_28;
$COMMON_BACKGROUND_COLOR                    : $CONVERSE_COLOR_9;
$COMMON_BORDER_COLOR                        : $CONVERSE_COLOR_8;
$COMMON_SECONDARY_IMPACT_COLOR              : $CONVERSE_COLOR_6;
$COMMON_LINK_COLOR                          : $CONVERSE_COLOR_2;
$COMMON_HIGHLIGHT_COLOR                     : $CONVERSE_COLOR_10;
$COMMON_INPUT_FONT_SIZE                     : 16px;
$COMMON_LABEL_FONT_SIZE                     : 14px;
$HEADER_BACKGROUND_COLOR                    : $CONVERSE_COLOR_1;
$COMMON_LINK_HOVER_COLOR                    : $CONVERSE_COLOR_5;
$HEADER_BUTTON_COLOR                        : $CONVERSE_COLOR_1;
$FOOTER_COLOR                               : $CONVERSE_COLOR_1;
$SECONDARY_NAVIGATION_COLUMN_WIDTH          : 33%;
$CONVERSE_SELECT_ARROW_IMAGE                : "select_arrow.jpg";
$CONVERSE_ERROR_COLOR                       : $CONVERSE_COLOR_7;
$GLOBAL_PROMO_BANNER_BACKGROUND             : $CONVERSE_COLOR_1;
$ORDER_HISTORY_SIDEBAR_PREFIX               : "order-history";
$CHECKOUT_SIDEBAR_PREFIX                    : "checkout";
$SUPPORT_CONTENT_COLUMN_WIDTH               : 19.5%;
$DISABLED_DROPDOWN_OPTION_COLOR             : $CONVERSE_COLOR_15;
