@import "_constants";
// Convert PX to EM global function
@function pxtoembase($px, $basepx){
  @return ($px/$basepx)+0em;
}

@function pxtoem($px) {
	@return pxtoembase($px, $BASE_PX);
}

@mixin refinement_logo($sprite: '', $width: 60, $height: 33) {
    display: inline-block;
    width: pxtoem($width);
    height: pxtoem($height);
    background: sprite($SPRITEGRAPHICS, $sprite) no-repeat transparent;

    span {
        display: none;
    }
}
