@import "_constants";
@import "compass/css3/transform";

%base-toggle-icon {
  @include rotate(45deg);
	$border-margin: 0.08em;
  content: " ";  
  border-top: 0px;
  border-left: 0px;
  border-right: $border-margin solid transparent;
  border-bottom: $border-margin solid transparent;
	margin: $border-margin;
	margin-left: ($border-margin * -3);
	top: 83%;
	left: 50%;
	position: absolute;

	
}

@mixin selected-element-arrow($background-color:$CONVERSE_COLOR_12, $border-color:$CONVERSE_COLOR_6, $dim:0.7em, $show-mobile:false, $mobile-dim:0.4em) {
	@extend %base-toggle-icon;
	background: $background-color;
	border-right-color: $border-color;
  border-bottom-color: $border-color;
  width: $dim;
  height: $dim;

	@media screen and (max-width:pxtoem($THRESHOLD_MEDIUM)) {
		@if $show-mobile == false {
			display: none;
		} @else {
			width: $mobile-dim;
  		height: $mobile-dim;		
		}
	}
}

@mixin arrow-up($background-color, $border-color, $dim, $border-width:1) {
  @include rotate(-45deg);
  width: pxtoem($dim);
  height: pxtoem($dim);
  border-top: pxtoem($border-width) solid $border-color;
  border-right: pxtoem($border-width) solid $border-color;
  background-color: $background-color;

  content: "";
  display: block;
  position: absolute;
}

@mixin arrow-down($color: $CONVERSE_COLOR_1, $dim:0.7em, $show-mobile:false, $mobile-dim:0.4em) {
    width: 0;
    height: 0;
    border-left: $dim solid transparent;
    border-right: $dim solid transparent;
    border-top: $dim solid $color;

    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;

    @media screen and (max-width:pxtoem($THRESHOLD_MEDIUM)) {
        @if $show-mobile == false {
            display: none;
        } @else {
            border-left-width: $mobile-dim;
            border-right-width: $mobile-dim;
            border-top-width: $mobile-dim;
        }
    }
}
