@import "compass/utilities/sprites";

$SPRITEHEADER: sprite-map("sprites_header_footer/*.png", $layout:smart, $clean-up: true, $spacing: 4px);
$SPRITEHEADER_2X: sprite-map("sprites_header_footer@2x/*.png", $layout:smart, $clean-up: true, $spacing: 4px);

$SPRITEICONS: sprite-map("sprites_icon_image/*.png", $layout:vertical, $clean-up: true, $spacing: 5px);
$SPRITEICONS_2X: sprite-map("sprites_icon_image@2x/*.png", $layout:vertical, $clean-up: true, $spacing: 5px);

$SPRITEGRAPHICS: sprite-map("sprites_site_graphic/*.png", $layout:smart, $clean-up: true, $spacing: 4px);
$SPRITEGRAPHICS_2X: sprite-map("sprites_site_graphic@2x/*.png", $layout:smart, $clean-up: true, $spacing: 4px);

$SPRITESOCIAL: sprite-map("sprites_social/*.png", $layout:vertical, $clean-up: true, $spacing: 5px);
