@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";
@import "compass/css3/opacity";

@mixin converse_radio_button($size) {
	span{
		position: absolute;
		right: 0;
		line-height: $size;
		padding: $size/10;
		color: #FFF;
		text-align: center;
		@include badge_background($CONVERSE_COLOR_5, $size);
	}
	 
	span:after {
		content: attr(data-no); 
	}
	 
	input[type="radio"] {
		position: absolute;
		right: 0;
		margin: 0;
		width: $size*2;
		height: $size*2;
		@include opacity(0);
		cursor: pointer;
	}

	label {
		display:none;
	}
	 
	input[type="radio"] + span { 
		visibility: hidden;
		background: $CONVERSE_COLOR_1;
	}
	 
	input[type="radio"] + span:after {
		content: attr(data-yes);
	}
	 
	 
	input[type="radio"]:checked + span {
		visibility: visible;	
	}
}
