
// Colors
$CHUCK_PROMO_COLOR_1                        : #000000; //   dark
$CHUCK_PROMO_COLOR_2                        : #1a1a1a;
$CHUCK_PROMO_COLOR_3                        : #ffffff;
$CHUCK_PROMO_COLOR_4                        : #d4ff45; //   green
$CHUCK_PROMO_COLOR_5                        : rgba(212, 255, 69, .5);
$CHUCK_PROMO_COLOR_6                        : #999;

// Fonts
$CHUCK_PROMO_FONT_FAMILY                    : 'Arvo', serif;

// Content sizes
$CHUCK_PROMO_PAGE_WIDTH                     : 1400px;
$CHUCK_PROMO_PAGE_HEIGHT                    : 1000px;
