/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
@media screen and (max-width: 33.3125em) {
  /* line 12, ../css/package/sass/login_registration_menu_emea.scss */
  #login-or-register-container .lc #register-container #register-birthday-cell {
    top: 15em;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 18, ../css/package/sass/login_registration_menu_emea.scss */
  #login-or-register-container .lc #register-container #register-gender-cell {
    top: 1em;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 24, ../css/package/sass/login_registration_menu_emea.scss */
  #login-or-register-container .lc #register-container #register-passwordconfirm-cell {
    top: -2.5em;
  }
}
