/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 11, ../css/package/sass/pop_up.scss */
.cookie-settings-view {
  display: none;
}

/* line 15, ../css/package/sass/pop_up.scss */
.popUp-Cookies, .popUp-idealPayment, .popUp-nikeSites {
  padding-top: 66px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  font-family: "Arvo", serif;
  font-size: 1.33333em;
  font-weight: normal;
  width: 680px;
}
@media screen and (max-width: 45em) {
  /* line 15, ../css/package/sass/pop_up.scss */
  .popUp-Cookies, .popUp-idealPayment, .popUp-nikeSites {
    width: 100%;
    margin-top: 100px;
    padding-top: 0;
  }
}
/* line 34, ../css/package/sass/pop_up.scss */
.popUp-Cookies.cookie-settings-view, .popUp-idealPayment.cookie-settings-view, .popUp-nikeSites.cookie-settings-view {
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
}
/* line 39, ../css/package/sass/pop_up.scss */
.popUp-Cookies.cookie-settings-view h1, .popUp-idealPayment.cookie-settings-view h1, .popUp-nikeSites.cookie-settings-view h1 {
  padding: 0.41667em 0 0.41667em 5%;
}
@media screen and (max-width: 45em) {
  /* line 44, ../css/package/sass/pop_up.scss */
  .popUp-Cookies .popup-container, .popUp-idealPayment .popup-container, .popUp-nikeSites .popup-container {
    padding: 0 30px 15px;
  }
}
/* line 50, ../css/package/sass/pop_up.scss */
.popUp-Cookies h1, .popUp-idealPayment h1, .popUp-nikeSites h1 {
  font-size: 1.5em;
  padding: 0;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
@media screen and (max-width: 45em) {
  /* line 50, ../css/package/sass/pop_up.scss */
  .popUp-Cookies h1, .popUp-idealPayment h1, .popUp-nikeSites h1 {
    font-size: 1.33333em;
    font-weight: bold;
    margin-top: 25px;
  }
}
/* line 64, ../css/package/sass/pop_up.scss */
.popUp-Cookies h2, .popUp-idealPayment h2, .popUp-nikeSites h2 {
  font-weight: bold;
  margin-bottom: 15px;
}
@media screen and (max-width: 45em) {
  /* line 64, ../css/package/sass/pop_up.scss */
  .popUp-Cookies h2, .popUp-idealPayment h2, .popUp-nikeSites h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0 10px;
  }
  /* line 73, ../css/package/sass/pop_up.scss */
  .popUp-Cookies h2.popUp-paragraph, .popUp-idealPayment h2.popUp-paragraph, .popUp-nikeSites h2.popUp-paragraph {
    display: none;
  }
}
/* line 78, ../css/package/sass/pop_up.scss */
.popUp-Cookies h2.popUp-paragraph, .popUp-idealPayment h2.popUp-paragraph, .popUp-nikeSites h2.popUp-paragraph {
  padding-left: 105px;
  padding-right: 105px;
  line-height: 150%;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* line 86, ../css/package/sass/pop_up.scss */
.popUp-Cookies h2.bullets, .popUp-idealPayment h2.bullets, .popUp-nikeSites h2.bullets {
  text-align: left;
  padding: 0;
  margin: 0 0 5px 0;
  width: 95%;
  float: left;
}
/* line 94, ../css/package/sass/pop_up.scss */
.popUp-Cookies hr, .popUp-idealPayment hr, .popUp-nikeSites hr {
  width: 52px;
  margin: 30px auto;
  border-style: solid;
  color: #E6E5DD;
}
@media screen and (max-width: 45em) {
  /* line 94, ../css/package/sass/pop_up.scss */
  .popUp-Cookies hr, .popUp-idealPayment hr, .popUp-nikeSites hr {
    display: none;
  }
}
/* line 105, ../css/package/sass/pop_up.scss */
.popUp-Cookies tr, .popUp-idealPayment tr, .popUp-nikeSites tr {
  border-top: 1px solid black;
}
/* line 109, ../css/package/sass/pop_up.scss */
.popUp-Cookies th, .popUp-idealPayment th, .popUp-nikeSites th {
  line-height: 400%;
  text-align: center;
}
/* line 114, ../css/package/sass/pop_up.scss */
.popUp-Cookies td, .popUp-idealPayment td, .popUp-nikeSites td {
  line-height: 230%;
  padding-left: 20px;
}
/* line 119, ../css/package/sass/pop_up.scss */
.popUp-Cookies p, .popUp-idealPayment p, .popUp-nikeSites p {
  line-height: 200%;
}
/* line 122, ../css/package/sass/pop_up.scss */
.popUp-Cookies p.popUp-paragraph, .popUp-idealPayment p.popUp-paragraph, .popUp-nikeSites p.popUp-paragraph {
  padding: 10px 105px;
}
@media screen and (max-width: 45em) {
  /* line 122, ../css/package/sass/pop_up.scss */
  .popUp-Cookies p.popUp-paragraph, .popUp-idealPayment p.popUp-paragraph, .popUp-nikeSites p.popUp-paragraph {
    text-align: left;
    padding: 0 5px;
    font-size: 0.83333em;
  }
}
/* line 132, ../css/package/sass/pop_up.scss */
.popUp-Cookies p.bullets, .popUp-idealPayment p.bullets, .popUp-nikeSites p.bullets {
  width: 95%;
  float: left;
  line-height: 150%;
  font-size: 0.75em;
  text-align: justify;
  margin: 0 0 45px 0;
  float: right;
}
@media screen and (max-width: 45em) {
  /* line 132, ../css/package/sass/pop_up.scss */
  .popUp-Cookies p.bullets, .popUp-idealPayment p.bullets, .popUp-nikeSites p.bullets {
    margin: 0 0 15px 0;
  }
}
/* line 144, ../css/package/sass/pop_up.scss */
.popUp-Cookies p.footer, .popUp-idealPayment p.footer, .popUp-nikeSites p.footer {
  font-size: 0.66667em;
  margin-bottom: 30px;
  display: block;
}
@media screen and (max-width: 45em) {
  /* line 144, ../css/package/sass/pop_up.scss */
  .popUp-Cookies p.footer, .popUp-idealPayment p.footer, .popUp-nikeSites p.footer {
    display: none;
  }
}
/* line 153, ../css/package/sass/pop_up.scss */
.popUp-Cookies p.footer-mobile, .popUp-idealPayment p.footer-mobile, .popUp-nikeSites p.footer-mobile {
  display: none;
}
@media screen and (max-width: 45em) {
  /* line 153, ../css/package/sass/pop_up.scss */
  .popUp-Cookies p.footer-mobile, .popUp-idealPayment p.footer-mobile, .popUp-nikeSites p.footer-mobile {
    text-align: left;
    padding: 15px 5px 0 5px;
    font-size: 0.66667em;
    display: block;
    color: #B2B2B2;
    clear: both;
  }
}
/* line 166, ../css/package/sass/pop_up.scss */
.popUp-Cookies div.main-options, .popUp-idealPayment div.main-options, .popUp-nikeSites div.main-options {
  padding: 10px 115px;
  display: inline-block;
}
@media screen and (max-width: 45em) {
  /* line 166, ../css/package/sass/pop_up.scss */
  .popUp-Cookies div.main-options, .popUp-idealPayment div.main-options, .popUp-nikeSites div.main-options {
    padding: 0;
    margin-top: 15px;
  }
}
/* line 176, ../css/package/sass/pop_up.scss */
.popUp-Cookies .checks, .popUp-idealPayment .checks, .popUp-nikeSites .checks {
  margin: 0;
  display: inline;
  width: 5%;
  float: left;
}
/* line 182, ../css/package/sass/pop_up.scss */
.popUp-Cookies .button, .popUp-Cookies .button-alternative, .popUp-Cookies .button-large, .popUp-idealPayment .button, .popUp-idealPayment .button-alternative, .popUp-idealPayment .button-large, .popUp-nikeSites .button, .popUp-nikeSites .button-alternative, .popUp-nikeSites .button-large {
  width: 230px;
  height: 45px;
  margin: 5px auto;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: none;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 300;
  font-family: "Arvo", serif;
}
@media screen and (max-width: 45em) {
  /* line 182, ../css/package/sass/pop_up.scss */
  .popUp-Cookies .button, .popUp-Cookies .button-alternative, .popUp-Cookies .button-large, .popUp-idealPayment .button, .popUp-idealPayment .button-alternative, .popUp-idealPayment .button-large, .popUp-nikeSites .button, .popUp-nikeSites .button-alternative, .popUp-nikeSites .button-large {
    width: 50%;
    float: left;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    float: right;
    padding: 0;
    display: inline-block;
    margin: 0;
    height: 55px;
  }
}
/* line 210, ../css/package/sass/pop_up.scss */
.popUp-Cookies .button-alternative, .popUp-idealPayment .button-alternative, .popUp-nikeSites .button-alternative {
  background-color: #E6E5DD;
  color: #000000;
}
/* line 216, ../css/package/sass/pop_up.scss */
.popUp-Cookies .button-large, .popUp-idealPayment .button-large, .popUp-nikeSites .button-large {
  padding: 5px;
  width: 430px;
  float: none;
  clear: both;
}
@media screen and (max-width: 45em) {
  /* line 216, ../css/package/sass/pop_up.scss */
  .popUp-Cookies .button-large, .popUp-idealPayment .button-large, .popUp-nikeSites .button-large {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 227, ../css/package/sass/pop_up.scss */
.popUp-Cookies .continue-idealPayment, .popUp-idealPayment .continue-idealPayment, .popUp-nikeSites .continue-idealPayment {
  background-color: #BF0F07;
}
/* line 231, ../css/package/sass/pop_up.scss */
.popUp-Cookies .popUp-footer, .popUp-idealPayment .popUp-footer, .popUp-nikeSites .popUp-footer {
  padding: 0 165px 75px 165px;
}
@media screen and (max-width: 45em) {
  /* line 231, ../css/package/sass/pop_up.scss */
  .popUp-Cookies .popUp-footer, .popUp-idealPayment .popUp-footer, .popUp-nikeSites .popUp-footer {
    display: none;
  }
}
/* line 238, ../css/package/sass/pop_up.scss */
.popUp-Cookies .only-mobile, .popUp-idealPayment .only-mobile, .popUp-nikeSites .only-mobile {
  display: none;
}
@media screen and (max-width: 45em) {
  /* line 238, ../css/package/sass/pop_up.scss */
  .popUp-Cookies .only-mobile, .popUp-idealPayment .only-mobile, .popUp-nikeSites .only-mobile {
    display: inline-block;
  }
}
/* line 246, ../css/package/sass/pop_up.scss */
.popUp-Cookies .only-desktop, .popUp-idealPayment .only-desktop, .popUp-nikeSites .only-desktop {
  display: inline-block;
}
@media screen and (max-width: 45em) {
  /* line 246, ../css/package/sass/pop_up.scss */
  .popUp-Cookies .only-desktop, .popUp-idealPayment .only-desktop, .popUp-nikeSites .only-desktop {
    display: none;
  }
}
