@import "_constants";
@import "_sprites";
@import "_helper_functions";
@import "_base_account_gift_tabs";
@import "_conv_mixins";
@import "_media_query";
@import "compass/css3/transform";
@import "compass/utilities/general/clearfix";

/* account */
/* ------------------------------------- */

#PasswordResetForm fieldset { position: relative; }
#PasswordResetForm button {
    float: right;
    position: absolute;
    top: 0px;
    left: 63%;
}

.pt_account {
    @extend %base_account_gift_tabs;
}

#add-address-panel {
    display: none;

    &.no-addresses {
        display: block;
    }
}

.account-tab-content {
    margin-bottom: pxtoem(55);

    h2 {
        font-size: 1.65em;
        font-weight: bold;
    }

    .left-section {
        float: left;
        width: $SECONDARY_NAVIGATION_COLUMN_WIDTH;

        @include mq-small() {
            float: none;
            margin-bottom: pxtoem(20);
        }

        h2 {
            font-size: 1.65em;
            font-weight: bold;
        }

        span.default-address {
            color: $CONVERSE_COLOR_5;
        }

        .profile-picture {
            $picture-size: pxtoem(150);

            background: gray;
            height: $picture-size;
            width: $picture-size;
            border: 1px solid $CONVERSE_COLOR_5;

            @include mq-small() {
                height: $picture-size - pxtoem(20);
                width: $picture-size - pxtoem(20);
            }
        }
    }

    .right-section {
        float: left;
        width: 2*$SECONDARY_NAVIGATION_COLUMN_WIDTH;

        @include mq-small() {
            float: none;
            width: 100%;
            padding-top: pxtoem(16);
        }

        .layout-fixer {
            clear: both;

            @include mq-small() {
                display: none;
            }
        }

        .sub-column-group {
            @include mq-small() {
                width: 100%;
            }

            .left {
                float: left;
            }

            .right {
                float: right;
            }

            .sub-column {
                width: 49%;

                .styled-select {
                    width: 100%;
                }

                input {
                    width: 100%;
                }
            }
        }

        input[type="text"], input[type="password"] {
            width: 100%;
        }

        .required-indicator {
            display: none;
        }

        .gender-radio-group {
            span, input[type="radio"] {
                vertical-align: middle;
            }

            span {
                margin-right: pxtoem(10);
            }
            
            span[class="gender_radio_label"]{
            	
            	@include mq-small() {
                font-size: 94%;
            	}
            }
            
            input[type="radio"] {
                height: pxtoem(40);
            }
        }

        .button-row {
            margin-top: pxtoem(23);

            .button, button, input[type="button"]  {
                font-size: pxtoem(20);
            }

            .button.inactive:hover, button.inactive:hover, input[type="button"].inactive:hover {
                background: none repeat scroll 0 0 black;
            }

            .button-column {
                float: left;
                width: 66%;

                .save-button, .apply-button, .cancel-deleteacount-button {
                    float: left;
                    width: 49%;
                }

                .cancel-button, .deleteaccount-button {
                    float: right;
                    width: 49%;
                }

                @include mq-small() {
                    width: 100%;
                }
            }

            .link-column {
                float: right;
                width: 33%;

                a {
                    line-height: pxtoem(44);
                    @include mq-small() {
                        font-size: 1em;
                        text-align: left;
                        text-transform: none;
                        font-weight: normal;
                        border: 0px;
                    }
                }

                @include mq-small() {
                    float: none;
                    clear: none;
                    width: 100%;
                }
            }
        }

        .message {
            visibility: hidden;
            margin-top: pxtoem(20);
            color: $CONVERSE_COLOR_7;
        }

        .visible {
            visibility: visible;
        }

        .newpassword-column {
            label {
                span {
                    color: $CONVERSE_COLOR_12;
                }
            }
        }

        .dob-column, .email-column, .gender-radio-group, .oldpassword-column, .newpassword-column {
            @include mq-small() {
                width: 100%;
            }
        }
        
        .gender-radio-group {
        	@include mq-small() {
                float: left;
    			margin-top: pxtoem(10);
            }
        }

        .dob-column, .newpassword-column {
            @include mq-small() {
                padding-top: pxtoem(16);
            }
        }

        .dob-column {
            .dob-format {
                font-weight: normal;
            }
        }

        .delete-account-section {
            display: none;
            margin-top: 5em;
            text-align: left;

            .account-features {
                padding-top: 4em;
                border-top: 1px solid $CONVERSE_COLOR_6;

                ul {
                    list-style: disc outside none;
                    margin: 1em 0 1.8em 1em;
                    padding-left: 0.5em;
                }

                li {
                    display: list-item;
                    line-height: 1.5em;
                    text-align: left;
                    padding-bottom: 0;
                }
            }

            .button-row {
                margin-top: 2em;
            }
        }
    }

    #add-address-button-container {
        #add-address-button {
            font-size: pxtoem(20);
        }

        &.no-addresses {
            display: none;
        }

        @include mq-small() {
            text-align: center;
        }
    }

    .form-column-left {
        width: 49%;
        clear: none;
    }

    .form-column-right {
        width: 49%;
        clear: none;
    }
    
    #address-save-message, #subscription-success-message {
    	display:none;
    	margin-bottom: pxtoem(20);
    	color: $CONVERSE_COLOR_7;
    }

    .profile-address {
        margin-bottom: pxtoem(35);
        position: relative;

        @include mq-small() {
            margin-bottom: pxtoem(25);
        }

        .left-section {
            @include mq-small() {
                display: none;
            }
        }

        #form-column-addressid {
            @include mq-small() {
                width: 100%;
            }
        }

        #form-column-address1 {
            @include mq-small() {
                width: 100%;
            }
        }

        #form-column-address2 {
            @include mq-small() {
                float: left;
                padding-top: pxtoem(16);
            }
        }

        #form-column-city {
            padding-top: pxtoem(16);

            @include mq-small() {
                float: right;

            }
        }

        #form-column-state-zip {
            padding-top: pxtoem(16);

            @include mq-small() {
                width: 100%;
            }
        }

        #form-column-state-phone {
            @include mq-small() {
                width: 100%;
            }
        }

        #form-column-state-default {
            padding-top: pxtoem(16);

            input[type="checkbox"] {
                vertical-align: middle;
                height: pxtoem(40);
            }

            label {
                display: inline;
                vertical-align: middle;
                text-transform: none;
            }

            @include mq-small() {
                width: 100%;
            }
        }

        .edit-address-button {
            position: absolute;
            top: 0;
            right: pxtoem(100);

            @include mq-small() {
                top: auto;
                right: 0;
                bottom: 0;
            }
        }

        .remove-button {
            position: absolute;
            margin-top: 0;
            margin-right: 0;
            right: 0;
            top: 0;
        }
    }
}

.subscriptions-form-content {

    .form-row {
        margin-bottom: pxtoem(50);
    }

    .interest-column-left {
        width: $SECONDARY_NAVIGATION_COLUMN_WIDTH;
        float: left;
    }

    .interest-column-right {
        width: 2*$SECONDARY_NAVIGATION_COLUMN_WIDTH;
        float: left;
    }

    label {
        width: 80%;
        font-size: pxtoem(18);
        text-transform: none;
    }

    input[type="checkbox"] {
        margin-right: pxtoembase(15, 18);
    }

    span.description {
        $font-size: 14;
        line-height: pxtoembase(18, $font-size);
        font-size: pxtoem($font-size);
    }

    button[type="submit"] {
        $font-size: 20;
        padding: pxtoembase(12,$font-size) pxtoembase(90,$font-size);
        font-size: pxtoem($font-size);
    }

    .interests-container {
        border-bottom: 1px solid $CONVERSE_COLOR_6;
        margin-bottom: pxtoem(30);
    }

    @include mq-medium-cascade() {
        button[type="submit"] {
            $font-size: 24;
            padding: pxtoembase(20, $font-size) pxtoembase(115, $font-size);
            font-size: $font-size;
        }
    }

    @include mq-small() {
        label {
            font-size: pxtoem(17);
        }

        .interest-column-left {
            width: auto;
            float: none;
        }
        .interest-column-right {
            width: auto;
            margin-top: pxtoem(5);
            padding-left: pxtoem(33);
            float: none;
        }

        .subscribe-button {
            text-align: center;
        }

        .form-row {
            margin-bottom: pxtoem(25);
        }
    }
}

h1 .account-logout{
  font-size:0.6em;
}

.registration-selection {
    input, label{
        display:inline;
        float:none;
    }
}

ul.address-list{
    padding: 0;
    width: 99%;

    > li {
        list-style: none outside none;
        margin-bottom: pxtoem(40);

        &.default{
            border-bottom: 1px solid $COMMON_IMPORTANT_COLOR;
            float: none;
            width: auto;
        }
    }

    .mini-address-title{
        font-style: italic;
    }
}

ul.payment-list{
    overflow:hidden;
    padding:0;

    li{
        float:left;
        list-style:none outside none;
        margin:0;
        min-height:pxtoem(110);
        width:$COMMON_BLOCK_WIDTH;
    }
}

.pt_order{

    .order-details-container {
        width: 95%;
        margin: 0 auto;
        overflow: hidden;

        .error-message {
            color: $CONVERSE_COLOR_7;
        }

        .order-details-shipping-address-container {
            width: 100%;

            .detail{
                padding-top: pxtoem(20);
                font-size: pxtoem(14);
                font-weight: 200;
                line-height: pxtoem(16);
            }
        }

        .order-details-shipment-container {
            width: 100%;
            position: relative;
            float: left;
            line-height: 1.4em;
            padding: pxtoem(20) 0;

            .shipment-product-details{
                width: 66%;
                float: left;
                overflow: hidden;
                clear: both;
                margin-bottom: pxtoem(30);

                @include media-query-lt(pxtoembase($THRESHOLD_MEDIUM_A, 16)) {
                    width: 100%;
                }

                .shipment-column{
                    width: 50%;
                }

                &.returns {
                    width: 98%;
                    position: relative;

                    .shipment-column.selectbox {
                        width: 6%;
                        position: absolute;
                        top: 40%;
                        right: 0;
                    }

                    .shipment-column.image-cell{
                        padding-left: pxtoem(5);
                        width: 33%;
                    }

                    .shipment-column.detail{
                        padding-left: pxtoem(20);
                        width: 50%;
                    }
                }
            }

            .shipment-column{
                width: 33%;
                float: left;

                button {
                    width: 147px;

                    &.return-button {
                        margin-top: 10px;
                    }
                }
            }

            .shipment-column.detail{
                margin-left: 0;
            }
        }

        .from-address-fields {
            padding: pxtoem(15) 0;
        }

        #return-label-container {
            overflow: hidden;
            position: relative;
            margin-bottom: pxtoem(20);

            @media print {
                overflow: visible;
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
            }

            #return-label-image-container {
                width: 49%;
                float: left;
                margin: 4% 0 22%;
                @include rotate(90deg);

                img {
                    width: 160%;
                    max-width: none;
                }

                @include mq-small() {
                    width: 100%;
                    margin: 4% 0 50%;
                    position: relative;
                    z-index: 99;
                }

                @media print {
                    visibility: visible;
                    width: 432pt;
                    height: 288pt;
                    margin: 0;
                    @include rotate(0);

                    img {
                        visibility: visible;
                        width: 100%;
                    }
                }
            }

            .cut-separator {
                border-left: 3px dotted #333;
                position: absolute;
                height: 100%;
                left: 49%;

                @include mq-small {
                    display: none;
                }
            }

            #return-label-directions-container {
                width: 49%;
                height: 100%;
                float: right;

                @include mq-small() {
                    width: 100%;
                    clear: both;
                    position: relative;
                    left: 0;
                    z-index: 100;
                    padding-top: 4%;
                    border-left: none;
                    border-top: 3px dotted $CONVERSE_COLOR_1;
                }

                p {
                    line-height: 1.3em;
                    padding: pxtoem(10) 0;
                }

                ol, ul {
                    margin-left: pxtoem(20);

                    li {
                        line-height: 1.3em;
                    }
                }

                ol {
                    list-style: decimal outside none;
                }

                ul {
                    list-style: disc outside none;
                }
            }
        }

        #return_exchange_form_link {
            display: none;
        }

        .tracking-shipment.shipment-column{
            text-align: right;

            @include media-query-lt(pxtoembase($THRESHOLD_MEDIUM_A, 16)) {
                float: none;
                width: 100%;
            }

            button {
                float: right;

                @include media-query-lt(pxtoembase($THRESHOLD_MEDIUM_A, 16)) {
                    float: none;
                    display: inline;
                }
            }
        }

        .tracking-shipment span{
            color: $CONVERSE_COLOR_4;
            display: inline-block;
            width: 7em;

            @include media-query-lt(pxtoembase($THRESHOLD_MEDIUM_A, 16)) {
                padding-bottom: 1.5em;
            }
        }

        .image-cell{
            text-align: center;
            vertical-align: top;
        }

        .detail{
            margin-left: 33%;
            text-align: left;

            .price-standard {
                text-decoration: line-through;
                color: $CONVERSE_COLOR_7;
            }
        }

        button, .button {
            &.disabled {
                background:$CONVERSE_COLOR_6;
                color:$CONVERSE_COLOR_12;
                cursor: default;
            }
        }
    }

    #order-history-container{
        width: 95%;
        margin: 0 auto;

        @include mq-medium-cascade() {
            width: 100%;
        }
    }

    .order-history-products{
        overflow: hidden;

        .order-history-product{
            padding: pxtoem(30) 0;
            overflow: hidden;
            border-bottom: pxtoembase(1.5, 12) solid $CONVERSE_COLOR_5;
        }
    }

    .order-history-primary {
        width: 75%;
        float: left;
        font-size: $COMMON_FONT_SIZE;

        @include media-query-lt(pxtoembase($THRESHOLD_XLARGE, 21)) {
            width: 67%;
        }

        @include mq-medium-cascade() {
            width: 100%;
        }
    }

    .order-returns-primary {
        width: 100%;
        float: left;
        font-size: $COMMON_FONT_SIZE;

        .order-returns-content,
        .package-info-content {
            width: 70%;

            @include media-query-lt(pxtoembase($THRESHOLD_XLARGE, 21)) {
                width: 67%;
            }

            @include mq-medium-cascade() {
                width: 100%;
            }
        }
        .print-label-content {
        }

        .form-buttons {
            button, .button {
                float: right;
            }
        }
    }

    .order-history-secondary {
        width: 28%;
        float: right;

        @include media-query-lt(pxtoembase($THRESHOLD_XLARGE, 21)) {
            width:30%;
            padding-right:3%;
        }

        @include mq-medium-cascade() {
            width: 100%;
            padding: 0;
            clear: both;
        }

    }

    .order-history-sidebar {
        margin-bottom: pxtoembase(10,12);

        @include conv_sidebar_summary($ORDER_HISTORY_SIDEBAR_PREFIX);

        @include mq-medium-cascade() {
            width: 100% !important;
        }
    }

    .order-history-aside {
        width: 100%;
        clear: both;

    }

    .order-history-aside .container {
        max-height: pxtoem(275);
        background-color: $CONVERSE_COLOR_9;
        padding: 3%;
        margin-top: 3%;
        text-align: left;

        @include mq-medium-cascade() {
            padding: 6%;
            margin-top: 0;
        }
    }

    .order-history-aside .container table{
        width:100%;
    }

    #order-history-title{
        border-bottom: pxtoembase(1, 12) solid $CONVERSE_COLOR_5;
        margin-bottom: pxtoembase(40,12);
    }

    #order-history-label{
        $font-size: 32;
        max-width: pxtoembase(1000, $font-size);
        margin: 0 auto;
        font-size: pxtoem($font-size);
        font-family:$CONVERSE_FONT_FAMILY_1_REG;
        font-weight: bold;
        padding: 1.5em 0em 0.5em;
        text-align: left;

        @include mq-small(16) {
            padding: 1em 0em 1em 0em;
            text-align: center;
        }

    }

    #order-history-separator{
        border-top: pxtoembase(1, 12) solid $CONVERSE_COLOR_5;
    }

    .order-history-header {
        background:sprite($SPRITEGRAPHICS, icon-double-line-header) repeat-x scroll left top $COMMON_IMPORTANT_COLOR;
        overflow:hidden;
        padding:pxtoembase(10,16);

        .order-date,
        .order-status,
        .order-number {
            font-family: $CONVERSE_FONT_FAMILY_1_REG;
            font-size: pxtoem(15.5);
            font-weight: normal;
            float: left;
            margin: pxtoem(2) 0;
        }

        .label {
            min-width: pxtoembase(120,16);
        }

        .value {
            font-size: pxtoem(12.5);
            font-weight: bold;
        }

        button, .button {
            float:right;
        }

        .order-mini-info {
            float: left;
            overflow: hidden;
            width: 62%;

            div {
                clear: both;
            }

            @include mq-small() {
                width: 100%;
            }
        }

        .order-history-buttons {
            float: right;
            min-width: pxtoem(150);

            li {
                display: inline-block;
                width: 100%;
            }

            .label-view-order{
                display:block;
                width: 100%;
            }

            @include mq-medium-cascade() {
                float: left;
                clear: both;
            }
        }
    }

    .order-history-item-image{
        width: 25%;
        float: left;

        @include mq-medium-cascade(16) {
            margin-left: pxtoem(10);
        }

    }

    .order-history-order-details{
        width: 75%;
        float: right;

        @include mq-medium-cascade(16) {
            width: 66%;
        }

    }

    .order-details-shipment-separator{
        border-bottom: pxtoembase(1.5, 12) solid $CONVERSE_COLOR_5;
        clear:both;

    }

    .page-content .order-history-secondary .container h1, .order-details-header{
        font-family: $CONVERSE_FONT_FAMILY_1_REG;
        font-weight: 700;
        font-size: 1.27em;
        text-align: left;
        padding: pxtoem(15) 0;

        .left-hand-side {
                float: left;
        }

        .right-hand-side {
            float: right;
        }

    }

    .page-content .order-history-secondary .container p{
        font-family:$CONVERSE_FONT_FAMILY_1_REG;
        line-height: 1.4em;
        padding-bottom:4%;
        padding-top: 4%;
    }

    #product-description-section{
        font-size: pxtoem(15);
        font-weight: 200;
        line-height: pxtoem(16);
    }

    .order-details-main-header{
        #return-to-orders-section{
            width: pxtoem(128);
            float: right;
            padding-top: 1%;

            .back-to-orders-text{
                margin: pxtoem(8) pxtoem(8) 0 0;
            }

            a{
                float: right;
            }

            span{
                float: left;
            }

            .remove-button {
                margin: 0;
            }
        }
    }

    .order-details-header-table {
        margin-top:2%;
        margin-bottom:1%;
    }

    .order-details-header-table .order-details-title{
        font-family: Helvetica;
        font-size: 2em;
        width: 80%;
        padding-top:2%;
        padding-bottom:2%;
    }

    .order-details-header-table .back-button{
        margin-left: pxtoembase(2,16);
        margin-top: pxtoembase(-9,16);
        font-color:white;
    }
}

.order-history-items{
    margin:pxtoem(20) 0;
}

.pt_portfolio {
    .bottom-solid-border {
        border-bottom: solid pxtoem(1) #B2B2B2;
    }

    .account-tab-content {
        margin-bottom: 0;
        padding-bottom: pxtoem($COMMON_HEADER_FOOTER_HEIGHT);

        .locker-item {
            position: relative;
            margin-bottom: 1em;
        }

        .locker-item-section {
            float: left;
            width: 33%;
            margin-top: 2em;
        }

        .details-locker {
            font-size: pxtoem(16);
            font-weight: bold;

            .locker-item-name {
                font-weight: normal;
                overflow: hidden;
            }

            .locker-item-price {
                font-family: Adobe Garamond;
            }
        }

        .remove-locker {
            position: absolute;
            top: 1em;
            right: 0;
        }

        .image-locker {
            margin-top: 0;
        }

        .image-locker img:hover {
            cursor: pointer;
        }

        @include mq-small() {
            .locker-item-section {
                margin-top: 0;
            }

            .details-locker {
                margin-top: 1em;
                font-size: pxtoem(14);
                width: 49%;
                margin-left: 1em;
            }

            .edit-locker {
                float: none;
                margin-left: 0.5em;
            }

            .remove-locker {
                top: 0;
            }
        }
    }
}

.package-info-content .return-label-request {
    font-weight: bold;
}

.return-label-request > a {
    color: blue;
    text-decoration: underline;
}
