@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";
@import "_media_query";
@import "compass/css3/box-sizing";

$images: (
    popup-background: '../images/acquire-email-popup-background.jpg',
    popup-success-background: '../images/acquire-email-background-success.jpg',
    popup-close-btn: '../images/acquire-email-popup-close-button.png'
);

#new-email-addresses-container {
    display:none;
    overflow: hidden;
    background: url(map-get($images, popup-background)) no-repeat;

    &.email-sent {
        background: url(map-get($images, popup-success-background)) no-repeat;
    }

    .acquire-new-email-address-copy {

        margin-top: pxtoem(20);

        .title, .copy {
            text-align: center;
        }

        .title {
            font-weight: normal;
        }

        .first {
            font-family: $CONVERSE_FONT_FAMILY_PDP;
            margin: pxtoem(6) auto 0 auto; 
            font-size: 4em;
        }

        .second {
            font-family: $CONVERSE_FONT_FAMILY_PDP;
            margin-top: 1.5em;
            font-size: 1.8em;
        }

        .copy {
            font-size: 1.25em;
            font-weight: normal;
            margin-top: 1em;

            &.benefits div {
                font-family: $CONVERSE_FONT_FAMILY_PDP;
                line-height: 1.6em;
            }
        }

        .promo {
            margin-top: 2em;
            font-weight: bold;
            line-height: 1.2em;
        }
    }

    .error-form {
        margin-top: 1em;
    }

    .form-row {
        margin-bottom: 0px;
    }
    
    .error {
    	color: #940000;
    }
    
    li.required {
    	display: none;
    }

    .button-row {
        bottom: 35px;
        left: 170px;
        position: absolute;

        .button-column {
            display: inline-block;
            font-size: 1.0em;

            button {
                background: $CONVERSE_COLOR_1;
                width: 160px;
            }
        }
    }

    #new-email-addresses-form-container {
        margin-top: 3.5em;
        padding: 0 8px;

        .date-input {
            .message-placeholder {
                padding-top: 2.5em;            
            }
        }

        .form-column-right {
            width: 50%;
        }

        .form-column-left {
            width: 49%;
            padding-left: 2px;

            .message-placeholder{
                .type {
                    display: none;
                }

                &.only-email-error {
                    width: 455px;

                    ul {
                        text-align: center;
                    }

                    li {
                        display: inline;
                        margin: 2px 3px 0 0;
                    }
                }
            }
        }

        .date-select-box {
            float: left;
            margin-right: 0.29em;

            &:last-of-type {
                margin-right: 0em;
            }
            @include converse-select-box($width:31%);
        }

        .success-form {
            margin-top: 0.5em;
            display: none;
            color: $CONVERSE_COLOR_16;
            font-size: 1.2em;
            text-align: center;
        }

        .error-form {
            margin-top: 0.5em;
            display: none;
            color: $CONVERSE_COLOR_7;
            font-size: 1.0em;
            text-align: center;
        }
    }
}

/**
Styles specifically for EMEA Popup
**/

#new-email-addresses-container.emea {
    position: relative;
    max-width: 752px;
    display: block;
    margin: 0 auto;
    padding: 50px 40px;
    border: 1px solid #C2C2C2;
    background: $CONVERSE_COLOR_12;
    box-sizing: border-box;

    @include mq-medium-cascade {
        padding: 40px 35px;
    }

    p {
        font-size: 14px;
        font-family: $CONVERSE_FONT_FAMILY_1_REG_NEW;
        line-height: 20px;
        
        &.error{
        	font-size: 10px;
        }
        
        &.success{
        	font-size: 10px;
        }

        @include mq-medium-cascade {
            font-size: 1em;
        }
    }

    .title {
        margin-bottom: 30px;
        font-family: $CONVERSE_FONT_FAMILY_PDP;
        font-size: 28px;
        line-height: 36px;
        text-align: left;
        text-transform: uppercase;

        @include mq-medium-cascade {
            font-size: 20px;
            margin-bottom: 5px;
        }
    }

    .container-left {
        width: 310px;
        float: left;
        padding: 30px 45px 0 0;
        margin: 0;
        text-align: left;
        box-sizing: border-box;

        @include mq-medium-cascade {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .container-right {
        width: 360px;
        float: right;
        padding: 30px 0 20px 45px;
        border-left: 1px solid #C2C2C2;
        margin-top: 0;
        box-sizing: border-box;

        @include mq-medium-cascade {
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;
        }
    }

    .acquire-new-email-address-copy {
        margin: 0;

        ul {
            list-style: disc;
            margin-left: 40px;
            margin-bottom: 20px;
        }
    }

    #new-email-addresses-form-container {
        padding: 0;
        margin: 0 0 40px 0;

        @include mq-medium-cascade {
            margin: 25px 0;
            max-width: 90%;
        }

        label {
            display: none;
        }

        .form-header {
            @include mq-medium-cascade {
                display: none;
            }
        }

        .email-input {
            width: 100%;
        }

        .gender-input {
            width: 58%;
            float: left;
        }

        .button-column {
            width: 38%;
            float: right;

            button {
                width: 100%;
                padding-left: 0.5em;
            }
        }

        .message-form {
            p {
                text-align: center;
                line-height: 16px;
            }

            .error {
                color: red;
            }

            .success {
                color: green;
            }
        }

        #new-email-addresses-form {
            margin-top: 40px;

            @include mq-medium-cascade {
                margin-top: 0px;
            }
        }
    }

    .popup-footer-content {
        p {
            font-family: $CONVERSE_FONT_FAMILY_1_REG_NEW;
            font-size: 14px;
        }

        .link {
            color: inherit;
            text-decoration: underline;
        }

        .terms-and-conditions-copy {
            color: $CONVERSE_COLOR_17;
            padding-bottom: 20px;
            font-size: 0.98em;

            a {
                color: inherit;
            }
        }

        .login-copy {
            font-size: 0.98em;
        }
    }
}

#footer-new-email-address-copy-container {
    margin-bottom: pxtoem(12);
    font-family: $CONVERSE_FONT_FAMILY_PDP;

    .title {
        font-weight: normal;
        font-size: pxtoem(22);
    }


    .copy {
        font-size: pxtoem(15);
        font-weight: normal;
        margin-top: pxtoem(6);

        &.benefits div {
            line-height: pxtoem(20);
        }
    }

}

#success-message-container {
    display: none;
    font-family: $CONVERSE_FONT_FAMILY_PDP;
    text-align: center;
    font-weight: normal;

    .success-title {
        margin: 4.5em 0 1.5em 0;
        font-size: 2.1em;
        letter-spacing: 2px;
    }

    .success-message {
        margin-top: 7px;
        letter-spacing: 1px;
        font-size: 1.3em;   
    }

    .button-row {
        margin-top: 30px;
        position: relative;
        bottom: 0;
        left: 0;
    }

}  

.close-button {
    background: url(map-get($images, popup-close-btn)) no-repeat transparent;
    width: pxtoem(24);
    height: pxtoem(24);
    float: right;
    cursor: pointer;
    position: relative;
    top: 4px;
    right: -1px;
}

body.is-mobile-user-agent[data-language='nl'] {
    #new-email-addresses-form {
        button {
            font-size: 0.75em;
            padding: 11px 2px !important;
        }
    }
}

body.is-mobile-user-agent[data-language='es'] {
    #new-email-addresses-form {
        button {
            font-size: 0.75em;
            padding: 11px 2px !important;
        }
    }
}

body.is-mobile-user-agent[data-language='it'] {
    #new-email-addresses-form {
        button {
            font-size: 0.75em;
            padding: 11px 2px !important;
        }
    }
}

body.is-mobile-user-agent[data-language='fr'] {
    #new-email-addresses-form {
        button {
            font-size: 0.70em;
    		padding: 11px 1px !important;
        }
    }
}
