@import "_constants";
@import "_helper_functions";
@import "_media_query";
@import "_conv_mixins";

/* base elements */
/* ------------------------------------- */
html, body, #body2
{
    height: 100%;
    min-height: 100%;
}

body {
    color: $COMMON_LINK_COLOR;
    font-family: $CONVERSE_FONT_FAMILY_1_REG;
    font-size: $COMMON_FONT_SIZE;
    $large:"large-device-profile";
    $medium:"medium-device-profile";
    $small:"small-device-profile";

    content:"";
    ie8:"";

    @include mq-medium-cascade() {
        overflow-x: hidden;
    }

    @include mq-small() {
        content:$small;
        ie8:$small;
    }

    @include mq-medium() {
        content:$medium;
        ie8:$medium;
    }
    
    @include mq-large() {
        content:$large;
        ie8:$large;
    }
}

a {
    color: $COMMON_LINK_COLOR;
    outline: medium none;
    overflow: hidden;
    text-decoration: none;
}

textarea:focus, input:focus{
    outline: 0;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

table{
    width: 100%;
}

th {
    text-align: left;
}

input[type="text"], input[type="password"] {
    -webkit-appearance: none;
    border-radius: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.pos-relative {
    position: relative;
}

.vis-hidden {
    visibility: hidden;
}

.vis-visible {
    visibility: visible;
}

.vis-hidden-mobile {
    @include mq-small {
        visibility: hidden;
    }
}

.hide {
    display: none;
}

.noshow {
    visibility: hidden;
    display: none;   
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.desktop-only {
    display: block;

    @include mq-medium-cascade() {
        display: none;
    }
}

.tablet-only {
    display: none;

    @include mq-medium() {
        display: block;
    }
}

.mobile-only {
    display: none;

    @include mq-small() {
        display: block;
    }
}

.hide-mobile {
    @include mq-small() {
        display: none !important;
    }
}

.hide-tablet {
    @include mq-medium() {
        display: none !important;
    }
}

.hide-large {
    @include mq-large() {
        display: none !important;
    }
}

.mobile-tablet-only {
    display: none;

    @include mq-medium-cascade() {
        display: block;
    }
}

.ie9 {
    select {
        @include media-query-gt(pxtoem($THRESHOLD_MEDIUM)) {
            width: 125% !important;
            margin-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

.print-visible {
    @media print {
        display: block;
        visibility: visible;
    }
}

.print-hidden {
    @media print {
        visibility: hidden;
    }
}

.hidden-override {
    display: none !important;
}

.global-promo-banner {
    .global-promo {
        @include mq-large {
            height: 40px;
        }
    }
}

.pdp-width-constraint {
    @extend %pdp-width-constraint;
}

@media print {
    body * {
        visibility: hidden;
    }

    #header,
    #slider,
    #browser-check,
    #navigation,
    .header-banner,
    .global-promo-banner {
        display: none;
    }
}
