@import "_constants";
@import "_helper_functions";
@import "_media_query";
@import "compass/css3/opacity";
@import "compass/utilities/general/clearfix";

.brand-segments {
    max-width: 100%; 
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    @include clearfix;
    
    @include mq-small {
        max-height: none;
    }

    div#b-s-container-1 {
        float: left;
    }

    &.single {
        div.b-s-container {
            width:100%;
            height: 100%;

            @include mq-small() {
                width:100%;
            }
        }
    }

    &.double {
        div.b-s-container {
            width:49%;
            height: 100%;

            &#b-s-container-2 {
                padding-left: 2%;
                float: right;
                img {
                    float: right;
                }
            }

            @include mq-small() {
                width:100%;
            }
        }
    }

    &.triple {
        div.b-s-container {
            width:32%;
            
            &#b-s-container-2 {
                padding-left: 2%;
                float: left;

                @include mq-small() {
                    padding-left: 0%;
                }
            }

            &#b-s-container-3 {
                padding-left: 2%;
                float: right;

                @include mq-medium-b-cascade() {
                    padding-left: 2%;
                }

                img {
                    float: right;
                }
            }

            @include mq-small() {
                width:100%;
            }
        }
    }

    div.b-s-container {
        display:inline-block;

        @include mq-small() {
            display:block;
            float:none;
        }
        .b-s-large {

            position:relative;

            .hover {
                position: absolute;	
                top:0px;
                @include opacity(0);
                width:100%;

                &:hover {
                    @include opacity(100);
                }
            }

            @include mq-small() {
                display:none;
            }
        }

        .b-s-small {
            display:none;
            @include mq-small() {
                display:block;
            }
        }

        img {
            height:100%;
            width:100%;
        }

    }

    div#b-s-container-1 {
        
    }

    div#b-s-container-2 {

    }

    div#b-s-container-3 {

    }
}
