@import "_constants";
@import "_sprites";
/* breadcrumbs */
/* ------------------------------------- */

.breadcrumb{font-size:1.2em;line-height:1.5em;margin:1px 0 9px;padding:0 10px;}
.breadcrumb li{display:inline;list-style:none outside none;}
.breadcrumb a {
	padding:0 0.8em 0 0;
}
.breadcrumb h1{display:inline;font-size:1em;font-weight:normal;}
.breadcrumb h1 .paging-current-page{left:-999em;position:absolute;}
.breadcrumb-refinement-name{background:none repeat scroll 0 0 transparent !important;font-family:Georgia,serif;font-style:italic;}
.breadcrumb-refinement-value{background:none repeat scroll 0 0 transparent !important;font-family:Georgia,serif;font-style:italic;}
a.breadcrumb-relax{background:none repeat scroll 0 0 transparent !important;font-family:Georgia,serif;font-style:italic;padding:0 5px 0 0;}
.breadcrumb-last{background:none repeat scroll 0 0 transparent !important;font-family:Georgia,serif;font-style:italic;}
.breadcrumb-result-text a{background:none repeat scroll 0 0 transparent;color:#3EBAEA;font-family:Georgia,serif;font-style:italic;padding:0;}

.breadcrumb {
	display:none;
	visibility:hidden;
}

