@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";
@import "_media_query";
@import "compass/css3/box-sizing";

.pt_customer-service {
    .content-page {
        .careers-page {
            .converse-catalog {
                font-size: pxtoem(12);

                @include mq_small() {
                    font-size: pxtoem(14);
                }

                q {
                    &:before {
                        content: "\201C";
                    }
                    &:after {
                        content: "\201D";
                    }
                }
            }

            .career-options {

                .details-row {
                    .button {
                        display: none;
                        @include mq_small() {
                            display: inline-block;
                        }
                    }
                }

                .actions-row {
                    @include mq_small() {
                        display: none;
                    }
                }

                section {
                    text-align: center;
                    float: left;
                    padding: 0 pxtoem(12);
                    @include box-sizing(border-box);
                    width: 33%;

                    &.borders {
                        border-left: 1px solid $CONVERSE_COLOR_6;
                        border-right: 1px solid $CONVERSE_COLOR_6;

                        @include mq_small() {
                            border-left: none;
                            border-right: none;
                        }
                    }

                    @include mq_small() {
                        float: none;
                        width: auto;
                        padding: 0 15%;
                        border-right: none;
                        margin-bottom: pxtoem(55);

                        &:last-child {
                            margin-bottom: 0em;
                        }
                    }

                    h4 {
                        font-size: pxtoem(14);
                        margin-bottom: pxtoembase(12, 14);

                        @include mq_small() {
                            font-size: pxtoem(18);
                            margin-bottom: pxtoembase(12, 18);
                        }
                    }

                    .description {
                        font-size: pxtoem(12);
                        margin-bottom: 1em;

                        @include mq_small() {
                            font-size: pxtoem(14);
                            margin-bottom: pxtoembase(12, 14);       
                        }
                    }

                    .button {
                        display: inline-block;
                        font-size: pxtoem(12);

                        @include mq_small() {
                            font-size: pxtoem(14);
                        }
                    }
                }
            }
        }
    }
}