@import "_constants";
/* category landing page */
/* ------------------------------------- */

.bottom-banner-container {
	overflow:hidden;

	.bottom-banner-cell {
		float:left;
		overflow:hidden;
		text-align:center;
	}
}
.bottom-banner-container {

	.banner-cell-1 {
		width:$COMMON_BLOCK_WIDTH;
	}

	.banner-cell-2 {
		width:$COMMON_BLOCK_WIDTH + 1;
	}

	.banner-cell-3 {
		width:$COMMON_BLOCK_WIDTH;
	}
}
