@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";
@import "_sprites";
@import "_tooltips";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "compass/typography/text/replacement";
@import "susy";

$susy: (
  columns: 12,
  gutters: 1/4,
);

/* checkout */
/* ------------------------------------- */

$title-color: #54544C;
$item-image-width: span(4);

%base_payment_span {
    color: $title-color;
    font-family: $CONVERSE_FONT_FAMILY_PDP;
    font-size: 13px;
    text-transform: uppercase;
}

%support_section {
    padding-bottom: pxtoem(30);

    @include mq-medium-b-cascade {
        padding: 30px 15px;
    }

    .call-info {
        position: absolute;
        width: 420px;

        @include mq-medium-cascade {
            position: static;
            width: 100%;
        }
        
        h2 {
            font-size: pxtoem(32);
            padding-bottom: 12px;
        }
        
        p.message.mobile-only{
            line-height: 120%;
        }

        .message {
            font-size: pxtoem(11);

            .support-number {
                font-weight: bold;

                @include mq-small {
                    font-size: 12px;
                    font-weight: bold;
                    color: $CONVERSE_COLOR_2;
                }
            }
        }
    }

    .login-faster-checkout {
        $icon: account;
        $icon-path: sprite-file($SPRITEHEADER, $icon);

        float: right;
        padding: 12px 25px;
        margin-top: 25px;
        background-color: $CONVERSE_COLOR_PDP_7;
        font-size: pxtoem(15);
        line-height: image-height($icon-path);
        cursor: pointer;
        @include border-radius(5px);
        @include box-sizing(border-box);

        @include mq-medium-cascade {
            float: left;
            width: 100%;
        }

        @include mq-small {
            padding: 12px 20px;
        }

        .user-icon {
            display: inline-block;
            width: image-width($icon-path);
            height: image-height($icon-path);
            margin-right: 20px;
            vertical-align: bottom;
            background: sprite($SPRITEHEADER, $icon) no-repeat transparent;

            @include mq-small {
                margin-right: 10px;
            }
        }
    }
}

%btn_continue {
    display: inline-block;
    font-size: 19px;
    background-color: $CONVERSE_COLOR_PDP_6;
    color: $CONVERSE_COLOR_12;
    border: 0;
    font-family: $CONVERSE_FONT_FAMILY_PDP;
    padding: 15px 15px;
    font-weight: normal;
    text-transform: none;
    outline: none;
    word-wrap: break-word;
    white-space: normal;
    @include border-radius(5px);

    @include mq-medium-cascade() {
        width: 100%;
    }

    @include mq-medium-b-cascade() {
        font-size: 17px;
    }
}

@include select2();
@include styled-radio();
@include styled-checkbox();

#billing-paypal-continue-container {
    background: $CONVERSE_COLOR_8;
    display: none;

    .paypal-continue-dialog {
        text-align: center;
        padding: pxtoem(20) pxtoem(10);

        > p {
            $font-size: 13;
            text-transform: uppercase;
            font-size: pxtoem($font-size);
            line-height: pxtoembase(18, $font-size);
            font-weight: bold;
            padding-bottom: pxtoembase(20, $font-size);
        }

        a {
            &.button {
                display: inline-block;
                width: pxtoem(300);
                margin-bottom: pxtoem(10);
                margin-right: pxtoem(10);

                @include mq-medium-b-cascade() {
                    margin-right: 0em;
                }
            }
        }
    }
}

.pt_checkout {
    margin-top: pxtoem(100);
    font-family: $CONVERSE_FONT_FAMILY_PDP;

    @include mq-medium-cascade {
        margin-top: 0;
    }

    .checkout-sidebar {
        .checkout-sidebar-inner .order-totals-container .order-row:first-child {
            margin-top: pxtoem(-21);
            border-top: none;
        }

        .minicart-title {
            margin-top: pxtoem(40);
        }

        .minicart-title, .sidebar-minicart-items {
            @include mq-medium-b-cascade {
                display: none;
            }
        }

        .questions .title {
            @include mq-medium-b-cascade {
                padding-top: 20px;
            }
        }
    }

    .support {
        @extend %support_section;
    }

    #primary {
        width: calc(100% - 430px);
        padding: pxtoem(60) pxtoem(50);
        float: left;
        font-family: $CONVERSE_FONT_FAMILY_PDP;

        @include mq-medium-pdp-cascade {
            width: inherit;
            float: none;
            display: block;
        }

        @include mq-medium-b-cascade {
            padding: 10px 10px;
        }
    }

    #primary > ul:last-child {
        margin-bottom: pxtoem(50);
    }

    .checkout-step-header {
        .fixer {
            clear: both;
        }
    }

    .checkout-step{
        margin-bottom: pxtoem(24);

        @include mq-medium-b-cascade() {
            padding: 0 pxtoem(15);
        }

        .checkout-step-header{
            background: $CONVERSE_COLOR_PDP_11;
            color: $CONVERSE_COLOR_12;
            position: relative;
            @include border-radius(5px);

            &.complete {
                background: $CONVERSE_COLOR_PDP_7;
            }
        }

        .shipping-address-fields .continue-step {
            border-top: 1px $CONVERSE_COLOR_PDP_11 solid;
            margin-top: 40px;
            padding-top: 40px;
        }

        .checkout-shipping.address,
        .billing-address-fields{
            padding: pxtoem(70) pxtoem(70) pxtoem(35);
            @include mq-medium-b-cascade {
                padding: pxtoem(15);
            }
        }
        
        .billing-address-fields{
            .email-row{
                .parsley-error-list {  
                    .regexp {
                        display: none;
                    }
                }
                
                span.error{
                    display: none !important;
                }
            }
        }

        div.error-message{
            color: $CONVERSE_COLOR_PDP_6;
            font-weight: bold;
            padding-bottom: pxtoem(5);

            &.padded {
                padding: pxtoem(25) pxtoem(15);
            }
        }
    }

    .checkout-step.active{

        .checkout-step-header{
            background: $CONVERSE_COLOR_1;
            color: $CONVERSE_COLOR_12;
            @include border-radius(5px 5px 0 0, 5px 5px 0 0);
        }

        .checkout-shipping.address,
        .billing-address-fields{
            border: 1px solid $CONVERSE_COLOR_6;
            background-color: $CONVERSE_COLOR_PDP_4;
            @include border-radius(0 0 5px 5px, 0 0 5px 5px);

            .form-row {
                .form-group {
                    font-family: $CONVERSE_FONT_FAMILY_PDP_2;
                    label {
                        font-size: pxtoem(12);
                        padding-bottom: pxtoem(10);
                        @include mq-small {
                            max-width: 200px;
                            line-height: 13px;
                            width: calc(100% - 35px);
                        }
                    }
                    input {
                        font-size: pxtoem(15);
                        padding: 0 pxtoem(10);
                        @include border-radius(3px);
                    }
                    &.error {
                        label, .message-placeholder .parsley-error-list {
                            color: $CONVERSE_COLOR_PDP_6;
                        }

                        input {
                            border: 2px solid $CONVERSE_COLOR_PDP_6 !important;
                        }
                    }

                    .sub-column-group .sub-column-left,
                    .sub-column-group .sub-column-right {
                        @include mq-medium-b-cascade {
                            float: none;
                            width: span(12);
                            clear: both;
                        }
                    }

                    .sub-column-group .sub-column-right {
                        @include mq-medium-b-cascade {
                            padding-top: 20px;
                        }
                    }
                    .credit-card-expiry .sub-column-right {
                        @include mq-medium-b-cascade {
                            padding-top: 0;
                        }
                    }

                }
            }

            .checkout-step-text {
                margin-bottom: 20px;
            }

            .continue-step {
                border-top: 1px solid $CONVERSE_COLOR_PDP_11;
                padding-top: 40px;
                margin-top: 20px;
            }
        }
    }

    .checkout-step-review {
        overflow: hidden;
        clear: both;
        padding: 40px 70px;
        background: $CONVERSE_COLOR_12;
        border: 1px solid $CONVERSE_COLOR_10;

        @include mq-medium-b-cascade {
            padding: 20px;
        }

        .address-details {
            float: left;
            width: span(5);
            padding-right: gutter(4);
            @include mq-medium-b-cascade {
                float: none;
                width: span(12);
                padding-right: 0;
            }
        }

        .method-details {
            float: left;
            width: span(6);
            @include mq-medium-b-cascade {
                float: none;
                width: span(12);
                padding-top: 20px;
            }
        }

        .address-details, .method-details {
            font-family: $CONVERSE_FONT_FAMILY_PDP_2;
            color: $CONVERSE_COLOR_1;

            li {
                font-size: 15px;
                padding-bottom: 10px;
                font-weight: normal;

                &.label {
                    font-weight: bold;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                }

                .shipping-description {
                    font-size: 12px;
                    @include mq-medium-b-cascade {
                        display: block;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .edit-step {
        float: right;
        margin: 0 26px 0 0;
        padding-top: 18px;
        padding-bottom: 0px;
        
        @include mq-small {
            margin-right: 16px;
        }
    }

    .btn-edit-step, .btn-search-pup, .btn-search-another-pup {
        font-family: $CONVERSE_FONT_FAMILY_PDP_2;
        font-size: 11px;
        @include conv_button_style($CONVERSE_COLOR_1, $CONVERSE_COLOR_12);
        @include border-radius(3px);
        padding: 12px 25px;
        
        @include mq-small {
            padding: 12px 16px;
        }
    }

    .continue-step {
        .btn-continue {
            float: left;
            min-width: span(6);
            @extend %btn_continue;
            @include mq-medium-b-cascade() {
                width: span(12);
                float: none;
                clear: both;
            }
        }

        .disclaim {
            width: auto;
            float: none;
            padding-left: 15px;
            overflow: hidden;
            font-size: 11px;
            line-height: pxtoembase(13, 11);
            font-weight: bold;
            font-family: $CONVERSE_FONT_FAMILY_PDP_2;

            @include mq-medium-cascade() {
                width: 100%;
                padding: pxtoembase(16, 11) 0 0 0;
                text-align: center;
            }
        }
    }

    .checkout-step-title {
        float: left;
        color: inherit;
        font-size: pxtoem(17);
        font-weight: bold;
        text-transform: uppercase;
        padding: 25px;
        font-family: $CONVERSE_FONT_FAMILY_PDP;

        span {
            font-size: pxtoem(28);
            padding-right: 25px;
            vertical-align: middle;
        }

        &.step-complete {
            color: $CONVERSE_COLOR_1;
            padding-top: 20px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 8px;
            span {
                visibility: hidden;
                padding-bottom:0px;
                padding-right:14px;
            }

            &:before {
                content: "\f00c";
                font-family: FontAwesome;
                color: $CONVERSE_COLOR_1;
                font-size: 35px;
                font-weight: normal;
                position: absolute;
                top: 22px;
                left: 14px;
            }
        }

        @include mq-medium-b-cascade {
            &:not(.step-complete) {
                padding: 14px;
                font-size: 15px;
                span {
                    padding-right: 10px;
                }
            }
        }

        @include mq-small {
            &.step-complete {
                padding-bottom: 10px;
            }
            &.edit-step {
                margin-top: 10px;
            }
        }
    }

    .active {
        .cart-number,
        .required-msg{
            color: $CONVERSE_COLOR_7;
        }
    }

    .shipping-info {

        font-weight: bold;
        font-size: 12px;
        font-family: $CONVERSE_FONT_FAMILY_PDP_2;

        .label {
            font-weight: normal;
        }

        .inactive {
            display: none;
        }

        .use-for-billing {
            float: left;
            font-weight: bold;
            margin: 10px 0px;

            label {
                display: inline;
            }
        }
        
        .shipping-type-options {
            .selector {
                .form-row {
                    width: auto;
                    float: left;
                    clear: none;
                
                    &:nth-child(1) {
                        margin-right: 25px;
                    }
                }
            }
        }

        .gift-radio {
            margin: 10px 0px 20px 0px;

            input[type="radio"] {
                margin-left: 10px;
                &:first-child {
                    margin-left: 2px;
                }
            }
        }

        .form-column-apo-fpo {
            float: left;
            white-space: nowrap;
            display: none;

            @include box-sizing(border-box);
            @include form-column-base(12%);
        }

        .form-column-isgift,
        .form-add-to-addressbook {
            label.inline {
                display: inline;
                text-transform: none;
                font-weight: normal;
            }
        }

        .gift-message {
            padding: 0px 0px 2px;
            background-color: $CONVERSE_COLOR_PDP_3;
            @include border-radius(5px);

            .form-column-isgift label.inline {
                font-size: 12px;
                font-weight: bold;
                font-family: $CONVERSE_FONT_FAMILY_PDP_2;
            }
        }

        .gift-message-text{
            .disclaim{
                padding-top: 10px;
                font-size: 12px;
                line-height: 13px;
                float: right;
                font-weight: normal;
                font-family: $CONVERSE_FONT_FAMILY_PDP_2;
                width: 47%;

                @include mq-medium-pdp-cascade {
                    width: inherit;
                    float: none;
                    margin-left: 20px;
                    margin-right: 20px;
                }

                @include mq-medium-b-cascade {
                    margin: 0;
                }

                span {
                    font-weight: bold;
                }
            }

            textarea{
                height: 125px;
                resize: none;
                float: left;
                width: 50%;
                padding: 20px;

                @include mq-medium-pdp-cascade {
                    width: 100%;
                }
            }

            .char-count {
                float: right;
                text-align: left;
                width: 47%;
                padding-bottom: 15px;
                border-bottom: 1px solid $CONVERSE_COLOR_PDP_11;

                @include mq-medium-pdp-cascade {
                    float: none;
                    clear: both;
                    padding-top: 20px;
                    margin: 20px 20px 0 20px;
                    width: inherit;

                }
                @include mq-medium-b-cascade {
                    margin: 0;
                    border-bottom: none;
                }
            }

            .message-placeholder {
                float: right;
                width: 47%;
                font-weight: normal;
                font-family: $CONVERSE_FONT_FAMILY_PDP_2;
                font-size: 12px;

                @include mq-medium-pdp-cascade {
                    width: inherit;
                    float: none;
                    padding: 15px 20px 9px 20px;
                }

                @include mq-medium-b-cascade {
                    padding: 0;
                }
            }
        }

        .form-column-isgift {
            width: 100%;
        }

        #form-add-to-addressbook-nickname {
            padding-top: 16px;
        }
    }

    .billing-info {

        .inactive {
            display: none;
        }

        .billing-same-shipping {
            margin: pxtoem(24) 0 pxtoem(36) 0;

            .billing-shipping-info {
                padding: 20px 20px 2px;
                background-color: $CONVERSE_COLOR_PDP_3;
                @include border-radius(5px);

                ul {
                    margin-left: 24px;
                    li {
                        display: block;
                        text-align: left;
                        font-size: 15px;
                        font-weight: normal;
                        text-transform: none;
                    }
                }
            }

            label {
                font-weight: bold;
                text-transform: none;
            }
        }

        .payment-method{
            clear: both;
            display: none;
            
            .ideal-div {
	            font-weight: bold;
	            font-style: italic;
	            float: right;
	            width: 400px;

                .ideal-text {
	                width: 350px;
	                line-height: 16px;
	                float: right;

	                @include mq-medium-b-cascade {
	                    width: 100%;
	                    margin-bottom : 25px;
	                }
	        	}
	        
				@include mq-medium-b-cascade {
	                clear: both;
	                float: none;
	                line-height: 15px;
	                width: 100%;
	            }
	        }
        }

        .payment-method-expanded{
            display: block;
        }

        .payment-method-options{
            .form-row{
                width: auto;
                float: left;
                clear: none;

                &:nth-child(2) {
                    margin-left: 25px;

                    @include mq-small {
                        margin-left: 0;
                    }
                }
                &:nth-child(3) {
                    margin-left: 25px;

                    @include mq-small {
                        margin-left: 0;
                    }
                }
            }

            input{
                float: left;
                margin-left: pxtoem(4);
            }

            #label-PAY_PAL{
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                width: 63px;
                height: 10px;
                float: left;
                background: sprite($SPRITEGRAPHICS, paypal) no-repeat transparent;
            }

            @include mq-small {
                .payment {
                    margin-left: 0;
                    display: block;
                    width: 100%;

                    label {
                        word-wrap: break-word;
                        width: calc(100% - 35px);
                        white-space: normal;
                    }
                }
            }
        }
    }

    #shipping-method-list {
        padding-top: 60px;

        h2 {
            $font-size: 22;
            font-size: pxtoem($font-size);
            font-weight: normal;
            line-height: pxtoembase(36, $font-size);
            text-transform: none;
        }

        .shipping-method-type {
            padding: 20px;
            background-color: $CONVERSE_COLOR_PDP_3;
            @include border-radius(5px);
            margin-top: 35px;

            li {
                display: block;

                &.title {
                    width: 48%;
                    float: left;
                    font-size: 15px;
                    font-weight: normal;
                    text-transform: none;

                    @include mq-medium-pdp-cascade {
                        width: 100%;
                        float: none;
                    }

                    span {
                        display: block;
                        padding-bottom: 15px;
                        text-transform: none;
                    }
                }

                &.method-list {
                    width: 48%;
                    float: right;

                    @include mq-medium-pdp-cascade {
                        float: none;
                        width: inherit;
                        padding-bottom: 20px;
                    }
                }
            }

            @include mq-medium-b-cascade {
                .select2-container--default .select2-selection--single.default {
                    padding-bottom: 11px !important;
                }

                .select2-container .select2-selection--single {
                    height: auto;
                }
                .select2-container .select2-selection--single .select2-selection__rendered {
                    text-overflow: initial;
                    white-space: normal;
                }
            }
        }

        #po-box-restricted {
            margin-top: 10px;
            text-align: center;
        }
    }

    .giftcard-info {
        padding: 20px 20px 2px;
        background-color: $CONVERSE_COLOR_PDP_3;
        @include border-radius(5px);
        margin-bottom: 60px;

        .form-row-error {
            clear: both;
            padding-top: 10px;
        }

        .form-column-apply {
            float: left;
            @include form-column-base(auto);
        }

        .gift-card-balance {
            text-transform: uppercase;
            font-weight: bold;
        }

        .gift-card-label label{
            font-weight: bold;
            text-transform: none;
            margin-bottom: none;
        }

        .gift-card-form{
            display: none;
            width: span(12);
            margin-top: 15px;

            .form-column-right {
                width: span(6);
            }

            .form-column-left {
                width: span(6);
            }

            @include mq-small {
                .form-column-right {
                    width: span(12);
                }

                .form-column-left {
                    width: span(12);
                }
            }

            .error-group {
                margin-top: 0;
            }
        }
    }

    .order-preview-summary {
        display: none;

        @include mq-medium-b-cascade() {
            display: none;
            border: pxtoem(1) solid $CONVERSE_COLOR_10;
            border-width: 0 pxtoem(1) pxtoem(1) pxtoem(1);
            padding: pxtoem(40) pxtoem(16) 0 pxtoem(16);
            color: $CONVERSE_COLOR_1;
            @include clearfix;

            h2 {
                font-size: pxtoem($FONT_SIZE_2);
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: pxtoembase(8.4, $FONT_SIZE_2);
            }

            .column {
                margin-bottom: pxtoem(32);
                float: left;
                clear: both;
                line-height: pxtoem(20);
            }
        }
    }

    .form-row {
        h3 {
            $font-size: 22;
            font-size: pxtoem($font-size);
            font-weight: normal;
            line-height: pxtoembase(36, $font-size);
            text-transform: none;
        }

        &.deliver {
            input:last-of-type {
                margin-left: 25px;
            }
        }

        &.payment:last-of-type {
            margin-left: 25px;
            @include mq-small {
                margin-left: 0;
            }
        }

        &.deliver, &.payment, &.shipping-type {
            padding: 20px 2px;

            label, input {
                display: inline-block;
                text-transform: none;
                font-size: pxtoem(17);
                font-weight: normal;
            }
        }

        .form-field-tooltip {
            float: right;
            margin: 0;
            padding: 0;
        }

        .form-column-left{
            @include mq-medium-pdp-cascade {
                width: span(12);
                margin-bottom: pxtoem(16);
            }
        }

        .form-column-right{
            @include mq-medium-pdp-cascade {
                width: span(12);
            }
        }

        &.billing-address {
            display: none;
            font-size: pxtoem(13);
            line-height: pxtoembase(18.54, 13);
            margin-bottom: pxtoembase(30, 13);
        }
    }
}

.is-mobile-user-agent{

    .pt_checkout {

        .billing-info {

            .payment-method {

                .ideal-div {
                    float: left;
                    margin-bottom : 25px;
                    width: 100%;

                    .ideal-text {
                        width: 100%;
                        float: left;
                    }
                }
            }
        }
    }
}

.credit-card-expiry {
    width: 100%;
    .month,
    .year,
    .day {
        width: 100%;
        clear: none;
        float: left;

        &.select{
            margin:0;
            width:auto;
        }
    }
    @include mq-medium-b-cascade {
        .sub-column-left {
            width: span(7) !important;
            display: inline-block;
            padding-right: 10px;
        }
        .sub-column-right {
            width: span(5) !important;
            display: inline-block;
        }
    }
}

.summary-cart-items {
    background-color: white;
    padding-right: pxtoem(5);
    padding-left: pxtoem(5);
    margin-left: pxtoem(-15);
    width: pxtoem(250);
}

.delivery-info{

    &.inactive {
        .address-info-review {
            display: none;
        }
    }

    .your-cart-summary {
        border: 1px solid $CONVERSE_COLOR_PDP_2;
        text-align: left;
        background-color: $CONVERSE_COLOR_PDP_4;

        @include mq-medium-cascade {
            padding: 30px;
        }
    }

    .cart-item{
        padding: pxtoem(40) pxtoem(0);
        width: span(12);
        border-bottom: 1px solid $CONVERSE_COLOR_PDP_2;

        &.last {
            border-bottom: none;
        }

        .item-image{
            width: $item-image-width;
            display: inline-block;
            padding: 0 pxtoem(45);
            text-align: center;
            @include box-sizing("border-box");

            @include mq-medium-cascade() {
                width: 100%;
                display: block;
                padding: 0 0 pxtoem(40) 0;
            }
        }

        .item-details{
            width: span(5);
            display: inline-block;
            position: relative;

            @include mq-medium-cascade() {
                width: 100%;
                display: block;
            }

            .product-list-item {
                .name {
                    font-size: pxtoem(22);
                    font-weight: normal;
                    padding-bottom: pxtoem(17);
                    @include mq-medium-cascade {
                        padding-bottom: 5px;
                    }
                }

                .item-price {
                    &.desktop {
                        display: block;
                    }
                    &.mobile {
                        display: none;
                    }

                    @include mq-medium-cascade {
                        &.desktop {
                            display: none;
                        }
                        &.mobile {
                            display: block !important;

                            .product-price {
                                position: static;
                                margin-top: 10px;
                                width: 100%;
                            }
                        }
                    }

                    .product-price {
                        display: block;
                        position: absolute;
                        right: -220px;
                        top: -10px;
                        margin: 0;
                        padding: 0;
                        width: span(5);
                        text-align: right;

                        @include mq-medium-cascade {
                            text-align: left;
                        }

                        .price-sales {
                            font-size: pxtoem(30);
                            font-weight: bold;
                            display: inline-block;
                            margin-top: 0;
                            padding-top: 15px;
                            color: $CONVERSE_COLOR_1;

                            &.red {
                                color: $CONVERSE_COLOR_PDP_6;
                            }

                            @include mq-medium-b-cascade {
                                font-size: 25px;
                            }
                        }

                        .tax-info {
                            display: block;
                            margin-top: 10px;
                            min-width: 130px;

                            .tax-label {
                                font-weight: normal;
                                font-size: 12px;
                            }

                            .tax {
                                color: $CONVERSE_COLOR_1;
                            }
                        }
                    }
                }

                .attribute {
                    font-size: pxtoem(13);
                    color: $CONVERSE_COLOR_PDP_5;
                    font-family: $CONVERSE_FONT_FAMILY_PDP_2;
                    margin-bottom: pxtoem(6);

                    .label {
                        width: pxtoem(60);
                        display: inline-block;
                        text-transform: none;
                    }

                    .value {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .shipping-info {
        margin-left: $item-image-width;
        padding-bottom: pxtoem(32);

        @include mq-medium-cascade() {
            margin-left: 0;
        }

        .gift-message-preview {
            margin-bottom: pxtoem(32);
            h5 {
                font-weight: bold;
                line-height: pxtoem(16);
                text-transform: uppercase;
                margin-bottom: pxtoem(3);
            }

            p {
                $font-size: 13;
                font-size: pxtoem($font-size);
                line-height: pxtoembase(17, $font-size);
                margin-top: pxtoembase(6.4, $font-size);
            }

        }
    }

    .order-summary-footer{
        border: 1px solid $CONVERSE_COLOR_PDP_2;
        padding: pxtoem(32) 2% pxtoem(40) 2%;
        text-align: left;
        background-color: $CONVERSE_COLOR_PDP_4;
        padding: 70px 70px 40px;
        @include border-radius(0 0 5px 5px, 0 0 5px 5px);

        @include mq-medium-cascade {
            padding: 30px;
        }

        @include mq-small {
            padding: 20px;
        }

        .form-column-left, .form-column-right.place-order {
            @include mq-medium-pdp-cascade() {
                width: span(6);
            }

            @include mq-medium-b-cascade() {
                width: span(12);
            }
        }

        .complete-your-purchase {
            width: span(12);
            border-top: 1px solid $CONVERSE_COLOR_PDP_11;
            padding-top: 35px;
            margin-top: 40px;

            p {
                float: left;
                width: calc(100% - 310px);
                font-size: 12px;
                font-family: $CONVERSE_FONT_FAMILY_PDP_2;
                line-height: 18px;

                @include mq-medium-b-cascade {
                    width: span(12);
                    float: none;
                    clear: both;
                }
            }
            a {
                float: right;
                text-decoration: underline;

                @include mq-medium-b-cascade() {
                    float: none;
                    padding-top: 20px;
                    display: block;
                    clear: both;
                }
            }

            .terms {
                font-weight: bold;
                font-style: italic;
                float: right;
                width: 300px;
                a {
                    float: none;
                    padding-top: 0;
                    @include mq-medium-b-cascade {
                        display: initial;
                        white-space: pre;
                        word-wrap: break-word;
                    }
                }
                .terms-text {
                    width: 271px;
                    line-height: 16px;
                    float: right;
                    @include mq-medium-b-cascade {
                        width: calc(100% - 35px);
                    }
                }
                .terms-error {
                    display: none;
                    color: $CONVERSE_COLOR_PDP_6;
                    font-style: italic;
                    padding-top: 10px;
                    font-weight: normal;
                }
                @include mq-medium-b-cascade {
                    padding-top: 20px;
                    clear: both;
                    float: none;
                    line-height: 15px;
                    width: 100%;
                }
            }
        }

        .place-order {
            button {
                width: span(8);
                float: right;
                @extend %btn_continue;

                @include mq-medium-b-cascade() {
                    width: span(12);
                }
            }
        }

        .button-fancy-large{
            background: $CONVERSE_COLOR_7;
            font-size: 1.4em;
            float: right;

            @include mq-medium-b-cascade() {
                width: 100%;
            }
        }
    }
}


@media print {
    .pt_order-confirmation *{
        visibility: visible;
    }
}

.pt_order-confirmation {

    #main {
        max-width: span(12);
        @include mq-large-pdp {
            padding: 0 70px;
        }
        @include mq-medium-pdp-cascade {
            margin: 0 40px;
            padding: 0;
        }
        @include mq-medium-b-cascade {
            margin: 0 20px;
            padding: 0;
        }
    }

    .checkout-confirmation {
        padding-top: 70px;
        padding-bottom: 50px;
        font-family: $CONVERSE_FONT_FAMILY_PDP;

        @include mq-medium-b-cascade {
            padding-bottom: 0;
        }

        .checkout-confirmation-header {
            padding-bottom: 50px;
            border-bottom: 1px solid $CONVERSE_COLOR_PDP_2;
            @include clearfix;

            h1 {
                font-size: 32px;
                text-align: center;
                padding-bottom: 40px;
                border-bottom: 3px solid $CONVERSE_COLOR_1;
                margin-bottom: 50px;

                @include mq-medium-b-cascade {
                    font-size: 29px;
                }
            }

            .btn-print {
                float: right;
                background-color: $CONVERSE_COLOR_PDP_7;
                color: $CONVERSE_COLOR_1;
                text-transform: capitalize;
                font-size: 15px;
                @include border-radius(5px);
                font-weight: normal;
                margin-top: -15px;
                outline: 0;

                @include mq-medium-pdp-cascade {
                    display: none;
                }

                &:focus {
                    outline: 0;
                }

                .print-icon {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 20px;
                    $icon: print_icon;
                    $icon-path: sprite-file($SPRITEGRAPHICS, $icon);
                    background: sprite($SPRITEGRAPHICS, $icon) no-repeat transparent;
                    width: image-width($icon-path);
                    height: image-height($icon-path);
                }
            }

            p {
                float: left;
                font-size: 15px;
            }
        }

        .checkout-confirmation-create-account {
            margin-top: 50px;
            padding-bottom: 50px;
            position: relative;
            border-bottom: 1px solid $CONVERSE_COLOR_PDP_2;
            @include clearfix;

            h2 {
                font-size: 22px;
                font-weight: normal;
                margin-bottom: 25px;
                width: span(6);
                @include mq-medium-b-cascade {
                    width: span(12);
                }
            }

            p {
                width: span(5);
                font-size: 12px;
                line-height: 18px;
                @include mq-medium-b-cascade {
                    width: span(12);
                }
            }

            #create-account-form {
                position: absolute;
                top: 20px;
                right: 0;

                button {
                    @include border-radius(5px);
                    text-transform: capitalize;
                    font-weight: normal;
                    font-size: 15px;
                    font-family: $CONVERSE_FONT_FAMILY_PDP;
                    padding: 13px 33px;

                    @include mq-medium-b-cascade {
                        width: span(12);
                    }
                }

                @include mq-medium-b-cascade {
                    position: static;
                    padding-top: 20px;
                }
            }
        }

        .checkout-confirmation-address-info {
            padding: 50px 0;
            font-family: $CONVERSE_FONT_FAMILY_PDP_2;
            @include clearfix;

            .column {
                width: span(4);
                float: left;

                @include mq-medium-b-cascade() {
                    width: span(12);
                    margin-bottom: 40px;
                }
            }

            h2 {
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: pxtoembase(12, 16);
            }

            li {
                line-height: pxtoem(20);
                font-size: 15px;
            }

            .address-nickname {
                margin-top: pxtoem(48);

                #input-address-nickname {
                    clear: both;
                    width: 90%;
                }

                button {
                    clear: both;
                    margin-top: pxtoem(12);
                }
            }
        }

        .checkout-confirmation-details {

            .shipment-item {
                border: 1px solid $CONVERSE_COLOR_PDP_7;
                @include border-radius(5px 5px 0 0, 5px 5px 0 0);
            }

            h3 {
                background-color: $CONVERSE_COLOR_PDP_7;
                padding: 28px 30px;
                @include border-radius(5px 5px 0 0, 5px 5px 0 0);
                font-size: 17px;
                font-weight: bold;
            }

            .item {
                padding: pxtoem(40) pxtoem(0);
                width: span(12);
                border-bottom: 1px solid $CONVERSE_COLOR_PDP_7;

                &.last {
                    border-bottom: none;
                }

                .product {
                    width: span(4);
                    display: inline-block;
                    padding: 0 pxtoem(45);
                    text-align: center;
                    @include box-sizing("border-box");

                    @include mq-medium-b-cascade() {
                        width: 100%;
                        display: block;
                        padding: 0 0 pxtoem(40) 0;
                    }
                }

                .info {
                    width: span(5);
                    display: inline-block;
                    position: relative;

                    @include mq-medium-b-cascade() {
                        width: inherit;
                        display: block;
                        padding: 15px;
                        line-height: 18px;
                        @include box-sizing("border-box");
                    }

                    .shipping-info {
                        margin-top: pxtoem(30);
                    }

                    .product-list-item {
                        width: 93%;
                        .name {
                            font-size: pxtoem(22);
                            font-weight: normal;
                            padding-bottom: pxtoem(17);
                        }

                        .item-price {
                            &.desktop {
                                display: block;
                            }

                            @include mq-medium-pdp-cascade {
                                &.mobile {
                                    display: block !important;
                                }
                                &.desktop {
                                    display: none;
                                }
                            }

                            > .price-sales, &.mobile .price-sales {
                                font-size: pxtoem(30);
                                font-weight: bold;
                                margin-top: 0;
                                padding-top: 15px;
                                color: $CONVERSE_COLOR_1;
                                display: block;
                                margin: 0;
                                padding: 0;

                                @include mq-medium-b-cascade {
                                    font-size: 25px;
                                }
                            }

                            > .price-sales {
                                position: absolute;
                                right: -190px;
                                top: 5px;
                            }

                            &.mobile .price-sales {
                                position: static;
                                padding-top: 30px;
                            }

                            .product-price, &.mobile .product-price {
                                display: block;
                                position: absolute;
                                right: -122px;
                                top: -10px;
                                margin: 0;
                                padding: 0;
                                width: span(3);

                                .price-sales {
                                    font-size: pxtoem(30);
                                    font-weight: bold;
                                    display: inline-block;
                                    margin-top: 0;
                                    padding-top: 15px;
                                    color: $CONVERSE_COLOR_1;

                                    &.red {
                                        color: $CONVERSE_COLOR_PDP_6;
                                    }

                                    @include mq-medium-b-cascade {
                                        font-size: 25px;
                                    }
                                }
                            }
                        }

                        .attribute {
                            font-size: pxtoem(13);
                            color: $CONVERSE_COLOR_PDP_5;
                            font-family: $CONVERSE_FONT_FAMILY_PDP_2;
                            margin-bottom: pxtoem(6);

                            .label {
                                width: pxtoem(60);
                                display: inline-block;
                                text-transform: none;
                            }

                            .value {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        .summary-wrapper {
            padding: 50px 70px 20px 70px;
            background-color: $CONVERSE_COLOR_PDP_7;
            margin-bottom: 35px;

            @include mq-medium-b-cascade {
                padding: 20px;
            }

            .order-summary-title {
                text-transform: uppercase;
                border-bottom: 3px solid $CONVERSE_COLOR_1;
                font-weight: bold;
                font-size: pxtoem(17);
                padding-bottom: pxtoem(20);
                margin-bottom: 0;
                margin-top: pxtoem(15);
            }

            .checkout-order-totals {
                margin-bottom: 40px;

                .order-totals-container {
                    .order-row {
                        border-top: 1px solid $CONVERSE_COLOR_6;
                        padding: pxtoem(20) 0;

                        @include mq-medium-pdp-cascade {
                            border-top: none;
                            border-bottom: 1px solid $CONVERSE_COLOR_6;
                        }

                        .label {
                            font-family: $CONVERSE_FONT_FAMILY_PDP_2;
                            text-transform: uppercase;
                            font-size: pxtoem(10);
                        }

                        .price {
                            font-size: pxtoem(13);
                            font-weight: bold;
                            float: right;
                            text-align: right;
                        }

                        &.order-subtotal {
                            border-top: none;
                            margin-top: 0;
                        }

                        &.order-total {
                            border-bottom: none;
                            @include mq-medium-pdp-cascade {
                                padding-bottom: pxtoem(45);
                            }
                            .label {
                                font-weight: bold;
                            }
                            .price {
                                font-size: pxtoem(38);
                            }
                        }
                        &.order-sales-tax {
                            .price {
                                width: pxtoem(90);
                                font-weight: normal;
                            }
                        }
                    }
                    .gift-card-total {
                        clear: both;
                    }
                }
            }
        }

        .checkout-confirmation-message {
            font-size: 12px;
            font-family: $CONVERSE_FONT_FAMILY_PDP_2;
            width: span(12);
            margin-bottom: 10px;
            text-align: center;
            @include mq-medium-b-cascade {
                display: none;
            }
        }
    }
}


.month .form-caption{margin-left:0;}
.bml-terms-and-conditions{border:1px solid #AAAAAA;font-size:0.8em;height:400px;overflow:auto;padding:1em;}
.bml-table-col-1{width:25%;}
.checkout-mini-cart{background:none repeat scroll 0 0 $COMMON_IMPORTANT_COLOR;max-height:330px;overflow:auto;}
.place-order-totals{clear:both;}
.place-order-totals .order-totals-table{float:right;width:50%;}
.place-order-totals .content-asset{}
.order-summary-footer{position:relative;}
.summary-help{float:right;font-size:0.8em;margin:1em 0;}

.submit-order button{margin-left:1.5em;}

.confirmation-message{border-bottom:3px solid #00A4E4;margin-bottom:20px;padding-bottom:20px;}
.gift-cert-used{padding:10px 0;}
.order-detail-options{border-top:1px solid $COMMON_BORDER_COLOR;margin:20px 0 0;padding:20px 0 0;text-align:right;}
.order-detail-options a{margin:0 10px;}
.summary .edit {position: absolute;text-transform: uppercase;right: 10px;font-size: 0.9em;line-height: 1.5em;}
.pt_order-confirmation .order-confirmation-details .content-header {margin:7px 0 !important;}
.order-shipment-details .shipping-method { padding-left:0px;}
.order-shipment-details .label { position:absolute;width:150px;text-align:right;font-weight:bold}
.order-shipment-details .value { margin-left:155px;}
.order-shipment-details .order-shipment-address { width:240px;}
.order-shipment-gift-message-header {font-weight: bold;font-size: 1.2em;padding-bottom: 0px;}
.order-shipment-gift-message {font-size: 1.1em;}

#checkout-alerts {
    display: none;
    color: $CONVERSE_COLOR_12;
    background-color: $CONVERSE_COLOR_PDP_6;
    text-align: center;
    font-weight: normal;
    font-size: pxtoem(15);
    padding: 40px 0;
}

.disabled {
    color: silver;

    a {
        color: silver;
    }
}

.payment-info {
    float: right;
    width: span(6);
    margin-top: -15px;

    @include mq-medium-pdp-cascade {
        margin-top: -50px;
    }

    @include mq-medium-b-cascade {
        float: none;
        width: inherit;
        margin-top: 0;
    }

    $card-logos: american-express, visa, paypal, discover, master-card;
    .card-logos {
        clear: both;
        float: right;
        width: 226px;
        @include clearfix;

        @each $card in $card-logos{
            .#{$card}-logo {
                $icon: #{$card}-logo;
                $icon-path: sprite-file($SPRITEGRAPHICS, $icon);
                width: image-width($icon-path);
                height: image-height($icon-path);
                display: inline-block;
                float: left;
                margin-right: pxtoem(5);
                background: sprite($SPRITEGRAPHICS, $icon) no-repeat transparent;
                @include hide-text;
            }
        }

        @include mq-medium-b-cascade {
            float: none;
            margin-bottom: 10px;
            width: span(12);

            .logo {
                width: span(2.4);
                display: inline-block;
            }

            .icon {
                float: none;
                margin: 0 auto;
            }
        }
    }

    .payment-method-disclaim {
        width: span(12);
        text-align: right;
        clear: both;
        padding-top: 15px;
        font-family: $CONVERSE_FONT_FAMILY_PDP_2;
        font-size: 12px;

        span {
            font-weight: bold;
        }

        @include mq-medium-b-cascade {
            text-align: left;
            border-top: 1px solid $CONVERSE_COLOR_PDP_11;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }
}
