@import "_constants";
@import "_sprites";
/* color swatches */
/* ------------------------------------- */

.swatch-black a{background-color:#000000 !important;}
.swatch-beige a{background-color:#F5F5DC !important;}
.swatch-blue a{background-color:blue !important;}
.swatch-purple a{background-color:purple !important;}
.swatch-red a{background-color:red !important;}
.swatch-brown a{background-color:#783201 !important;}
.swatch-green a{background-color:green !important;}
.swatch-grey a{background-color:#8F979D !important;}
.swatch-pink a{background-color:#FE249A !important;}
.swatch-orange a{background-color:orange !important;}
.swatch-white a{background-color:#FFFFFF !important;}
.swatch-yellow a{background-color:#FFFF00 !important;}
.swatch-navy a{background-color:navy !important;}
.swatch-miscellaneous a {
	background:sprite($SPRITEGRAPHICS,icon-color-swatch-misc) no-repeat scroll left top transparent;
}
.unselectable.swatch-miscellaneous a {
	background:sprite($SPRITEGRAPHICS,icon-color-swatch-misc-unselectable) no-repeat scroll left top transparent !important;
}


