@import "_constants";
@import "_sprites";
/* compare tools */
/* ------------------------------------- */

.compare-item-remove{display:none;}
.active .compare-item-remove{display:inline;}
.compare-item{background:none repeat scroll 0 0 #E6E6E6;float:left;height:55px;margin-right:13px;overflow:hidden;position:relative;width:55px;}

.compare-item-0 {
	//background-image:sprite($SPRITEASSETS,icon-compare-placeholder-1);
}
.compare-item-1 {
	//background-image:sprite($SPRITEASSETS,icon-compare-placeholder-2);
}
.compare-item-2 {
	//background-image:sprite($SPRITEASSETS,icon-compare-placeholder-3);
}
.compare-item-3 {
	//background-image:sprite($SPRITEASSETS,icon-compare-placeholder-4);
}
.compare-item-4 {
	//background-image:sprite($SPRITEASSETS,icon-compare-placeholder-5);
}
.compare-item-5 {
	//background-image:sprite($SPRITEASSETS,icon-compare-placeholder-6);
}

.compareitems{background:none repeat scroll 0 0 #D9D9D9;clear:both;margin:3.5em 2em 0;overflow:hidden;padding:0 1em 1em;}
.compareitems h2{font-size:0.9em;margin:0.5em 0;text-transform:uppercase;}
.compareitemcount{color:#CCCCCC;font-size:3em;left:30%;position:absolute;top:15%;z-index:1;}
.compareproduct{max-width:100%;position:absolute;z-index:2;}
.compareitemremove{position:absolute;right:1px;top:1px;z-index:3;}
.compare-buttons{padding:0.7em 0 0;}
.compare-print{float:right;margin:0 0 10px;}
#compare-table td{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:-moz-use-text-color #D9D9D9 #D9D9D9;border-style:none solid solid;border-width:0 1px 1px;}
#compare-table tr.evenattributerow{background:none repeat scroll 0 0 #F3F3F3;}
#compare-table td .product-tile{font-size:0.9em;width:100px;margin-bottom:$COMMON_FONT_SIZE;padding-bottom:$COMMON_FONT_SIZE;}
#compare-table td .product-tile .product-image{height:100px;}
#compare-table td .product-tile .product-image img{height:100px;}
#compare-table td .product-tile .product-swatches {float:none;}
#compare-table td.product button{font-size:0.9em;}
#compare-table .section-header{font-size:0.9em;padding:1em;text-transform:none;}
#compare-table .selectcategory label{display:block;font-size:0.9em;margin:1em 0;text-transform:none;}
#compare-table .selectcategory select{margin:0;width:100px;}
#compare-table .comparelists{padding:0;}
#compare-table .remove-link {
	//background:sprite($SPRITEASSETS,icon-mini-close) no-repeat scroll right top transparent;
	display:block;
	padding:0 20px 0 0;
	text-align:right;
}
#compare-table .add-to-wishlist,#compare-table .add-to-gift-registry{padding:0.2em 0;text-align:center;}
#compare-table .compare-lists label,#compare-table .compare-lists select{float:none;text-align:left;width:100%;}


