@import "_constants";
@import "_helper_functions";
@import "_media_query";
@import "_conv_mixins";
@import "_base_account_gift_tabs";
@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";

.pt_customer-service {
    $base-column-width: $SUPPORT_CONTENT_COLUMN_WIDTH;
    $support-left-nav-width: 27.5%;
    $support-right-content-width: 72.5%;
    $support-font-size: 14;
    $support-triangle-size: pxtoembase(12, $support-font-size);

    padding-bottom: pxtoem($COMMON_HEADER_FOOTER_HEIGHT);

    %support-left-navigation {
        width: $support-left-nav-width;
        padding-right: pxtoembase(30, $support-font-size);
        float: left;

        @include mq-small() {
            display: none;
        }

        > li {
            &.last {
                border-bottom: none;
            }

            &.active:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 40%;
                right: pxtoembase(-6, $support-font-size);
                @include triangle($support-triangle-size, $CONVERSE_COLOR_1, right);
            }
        }
    }

    %support-left-navigation-rightnow {
        text-transform: uppercase;
        @include box-sizing(border-box);

        @include mq-small() {
            width: 100%;
        }

        > li {
            position: relative;
            padding: pxtoembase(18, $support-font-size) 0;
            border-bottom: pxtoem(1) solid $CONVERSE_COLOR_6;
            font-size: pxtoem($support-font-size);
            font-weight: bold;
            cursor: pointer;

            @include mq-small() {
                display: block;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    %support-right-content {
        position: relative;
        padding-right: 0;
        float: left;
        width: $support-right-content-width;
        @include box-sizing(border-box);

        @include mq-small() {
            float: none;
            width: 100%;
        }

        > li {
            &:not(.content-page) {
                display: none;

                @include mq-small() {
                    display: block;
                }

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 30%;
                    right: 0;
                    @include triangle($support-triangle-size, $CONVERSE_COLOR_1, down);
                }

                &.active {
                    &:after {
                        @include triangle($support-triangle-size, $CONVERSE_COLOR_1, up);
                        bottom: 40%;
                    }
                }
            }

            &.content-page {
                border-bottom: none;

                @include mq-small() {
                    padding-top: pxtoembase($support-font-size*3, $support-font-size);
                    padding-bottom: pxtoembase($support-font-size*5, $support-font-size);
                    border-bottom: pxtoem(1) solid $CONVERSE_COLOR_6;

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    #main {
        display: none;
    }

    .careers-social-links {
        float: right;
        margin-top: pxtoem(28);

        > li {
            display: inline-block;
        }
    }

    .support-page-content {
        @include clearfix;

        .support-page-left-nav {
            @extend %support-left-navigation;
            @extend %support-left-navigation-rightnow;
        }

        .support-page-right-content {
            @extend %support-right-content;

            @include mq-small() {
                width: 100%;
            }
        }
    }

    .content-page {
        clear: both;
    }

    #support-tabs {
        &.secondary-menu {
            ul {
                li {
                    width: $base-column-width;
                    
                    @include mq-small() {
                        width: 100%;
                    }
                }
            }
        }
    }

    .support-tab-content {
        @include clearfix;
        margin-bottom: pxtoem(60);

        #content-marker {
            display: none;
        }

        > ul {
            @include box-sizing(border-box);

            > li {
                position: relative;
                border-bottom: pxtoem(1) solid $CONVERSE_COLOR_6;

                &:not(.content-page) {
                    font-size: pxtoem($support-font-size);
                    font-weight: bold;
                    padding: pxtoembase(18, $support-font-size) 0;
                    cursor: pointer;
                }
            }

            &.mobile-content-navigation {
                @extend %support-right-content;
            }

            &.desktop-content-navigation {
                @extend %support-left-navigation;
            }
        }

        .content-page, .support-page-content {
            $base_font_size: 12.8;
            $base_line_height: 17;
            $base_margin: 24;
            $font_size: 24;
            
            @mixin base-header-style($font-size, $margin-bottom-size) {
                font-family: "Helvetica";
                font-size: pxtoem($font-size);
                font-weight: 700;
                margin-bottom: pxtoembase($margin-bottom-size, $font-size);
            }

            p, ul, ol {
                font-size: pxtoem($base_font_size);
                line-height: pxtoembase(17, $base_font_size);
                margin-bottom: pxtoembase(16, $base_font_size);

                &:last-child {
                    margin-bottom: pxtoem(0);
                }
            }

            ol {
                list-style-type: decimal;
                list-style-position: inside;
            }

            i {
                font-style: italic;
            }

            a {
                font-weight: bold;
            }

            .distributors-info {
                margin-bottom: 2em;

                .styled-select {
                    width: 50%;
                }

                .distributor-details {
                    padding-top: 2em;
                    display: none;
                }

                .content {
                    line-height: 1.4em;
                }

                .error {
                    color: $CONVERSE_COLOR_7;
                }
            }

            .rightnow-title {
                $height-desktop: 39;
                $height-tablet: $height-desktop*2;

                height: pxtoembase($height-desktop, $font_size);

                @include mq-medium() {
                    height: pxtoembase($height-tablet, $font_size);
                }
            }

            h1, .section-title {
                @include base-header-style($font_size, 22);
                padding-bottom: pxtoembase(16, $font_size);
                border-bottom: pxtoembase(1, $font_size) solid $CONVERSE_COLOR_6;

                @include mq-small() {
                    display: none;
                    position: absolute;
                }
            }

            h2 {
                @include base-header-style(22, 20);
            }

            h3 {
                @include base-header-style(18.7617, 16);
            }

            h4 {
                @include base-header-style(16, 14);
            }

            h5 {
                @include base-header-style(13.2833, 10);
            }

            h6 {
                @include base-header-style(10.7167, 18);
            }

            em {
                font-weight: bold;
            }

            .horizontal-line {
                width: 100%;
                border-bottom: pxtoem(1) solid $CONVERSE_COLOR_6;
                margin: pxtoem(20) 0;
            }

            .flagship-store {
                vertical-align: text-top;
                padding-right: pxtoem(20);
                padding-bottom: pxtoem(20);

                .store-hours {
                    margin-top: pxtoem(10);
                }
            }

            .country-list li {
                margin-bottom: pxtoem(5);
            }
        }
    }
}
