@import "_constants";
@import "_helper_functions";

.cta-slot-container{
    .cta-button {
        $height: 3em;
        width: 10em;
        height: $height;
        background: $CONVERSE_COLOR_12;
        margin: 0 auto;
        text-align: center;
        border: solid 1px $CONVERSE_COLOR_1;
        a {
            font-weight: bold;
            display: block;
            height: 100%;
            line-height: $height;
        }
    }
}
