@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";
@import "_media_query";
@import "compass/css3/box-sizing";

/* Contact Us Page
--------------------------------------------------------------------------------------- */

.contactus-page {
    @mixin share-icon($social, $color:'blue') {
        $icon: icon_share_#{$social}-#{$color};
        $icon-path: sprite-file($SPRITEICONS, $icon);

        .share-icon-#{$social} {
            background: sprite($SPRITEICONS, $icon) no-repeat;
            width: image-width($icon-path);
            height: image-height($icon-path);
            display: block;
        }
    }

    .contactus-section {
        margin-top: pxtoem(10);
        margin-bottom: pxtoem(40);

        h2 {
            font-size: pxtoem(13);
            font-weight: bold;

            &.product-header {
                margin-top: pxtoem(40);
            }
        }

        .contact-group {

            .contact-block {
                margin-right: 3%;
                width: 31.33%;
                float: left;

                @include mq-small {
                    margin-right: 6%;
                    width: 99%
                }

                .contact-widget {
                    margin-right: 0;
                    width: auto;
                    float: none;
                }

                .contact-additional-text {
                    margin-top: pxtoem(10);
                    font-family: $CONVERSE_FONT_FAMILY_1_REG;
                    font-size: pxtoem(12);
                    color: $CONVERSE_COLOR_5;
                    float: left;
                }

                &.rn_ChatAvailable {
                    display: block;
                }
            }

            .contact-block:last-child {
                margin-right: 0;
            }

            .contact-widget {
                margin-right: 3%;
                width: 31.33%;
                @include box-sizing(border-box);

                @include mq-small {
                    margin-right: 6%;
                    width: 99%
                }
            }

            .contact-widget:last-child {
                margin-right: 0;
            }
        }
    }

    .contactus-share {
        float: left;
        margin-right: pxtoem(50);
        margin-bottom: pxtoem(40);

        h3 {
            font-size: pxtoem(13);
            font-weight: bold;
            margin-bottom: pxtoem(10);
        }

        .share-icon {
            float: left;
            margin-right:pxtoem(8);
        }

        @include share-icon(facebook);
        @include share-icon(twitter);
        @include share-icon(instagram);
        @include share-icon(tumblr);
        @include share-icon(email, 'black');
        @include share-icon(soundcloud, 'red');
    }

    .contactus-divider {
        clear: both;
        border-bottom: pxtoem(1) solid $CONVERSE_COLOR_5;
        margin-bottom: pxtoem(30);
    }

    @include mq-retina {
        width: 100%;
    }
}
