@import "_constants";
@import "_helper_functions";
@import "_media_query";
@import "_conv_mixins";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "susy";

.white-popup {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background: $CONVERSE_COLOR_12;
    height: 100%;
    margin: 0;
    overflow: scroll;

    @include mq-medium-plus {
        padding: pxtoem(25);
    }
    @include mq-small {
        padding: pxtoem(25) 0;
    }
}

.splash-page-container {

    display: table;
    height: 100%;
    margin: 0 auto;

    .splash-page {

        display: table-cell;
        vertical-align: middle;
        font-family: $CONVERSE_FONT_FAMILY_PDP;
        padding: pxtoem(50) 0;

        

        h2 {
            text-transform: capitalize;
            font-size: pxtoem($FONT_SIZE_5);
            @include mq-small {
                font-size: 1.7em;
            }
            
            margin: 50px 0;
            margin-bottom: 25px;
            margin-top: 10px;
        }

        a:hover {
            color: $CONVERSE_COLOR_7;
            cursor: pointer;
        }

        .splash-top {
            text-align: center;
        }

        .splash-bottom {
            @include mq-medium-plus {
                margin: 0 pxtoem(65);
            }
        }

        .splash-converse-logo {
            height: pxtoem(25);
            margin-top: 50px;
            margin-bottom: 15px;
        }

        .language-table {

            font-size: pxtoem($FONT_SIZE_2);
            float: left;
            
            margin: 0px 25px 0px;
            
            
            &.northamerica {
            	margin-right: 90px;
            	
            	@include mq-small {
            		margin-right: 25px;
            	}
            }
            
            @include mq-small {
                font-size: 1.2em;
            	float: none;
            }
            
            .region-container {
                text-align: center;
    			background-color: $CONVERSE_COLOR_2;
    			color: $CONVERSE_COLOR_12;
    			padding: 6px 0px 6px;
    			width: 230px;
    			
    			font-family: $CONVERSE_FONT_FAMILY_LANGUAJE_SELCT_REG;
    			font-weight: 100;
    			margin-bottom: 25px;
    			margin-left: 0px;
    			margin-right: auto;
    			
    			@include mq-small {
    				margin-left: auto;
                	margin-right: auto;
                	margin-top: 20px;
                	margin-bottom: 16px;
                
    			}
    			
    		}

            .country-row {
                
                @include mq-small {
                    padding: 0 pxtoem(20);
                    border-top: 1px solid $CONVERSE_COLOR_PDP_1;
                    &:last-of-type {
                        border-bottom:  1px solid $CONVERSE_COLOR_PDP_1;
                    }
                }

                .language-row {

                    a {
                        @include display-flex;
                        width: 100%;
                    }
                    .country-name {
                        text-transform: capitalize;
                        margin: pxtoem(9) 0;
                        font-family: $CONVERSE_FONT_FAMILY_LANGUAJE_SELCT_CONT;
                        font-weight: 300;
                        font-size: 15px;
                        
                        @include mq-small {
                        	font-size: pxtoem($FONT_SIZE_1);
                        }
                    }

                    @include mq-small {
                        border-bottom: 0px solid $CONVERSE_COLOR_8;
                        &:last-of-type {
                            border-bottom: 0;
                        }
                    }
                    
                    display: inline-block;

                    @include mq-medium-plus {
                        
                        .country-name {
                            border-left: 1px solid $CONVERSE_COLOR_30;
                            padding: 0 12px;
                        }

                        &:first-of-type {
                            margin-left: 5px;
                            .country-name {
                                border-left: 0;
                            }
                    	}
                        
                    }
                    
                    @include mq-small {
                    
                    	.country-name {
                    		border-left: 1px solid $CONVERSE_COLOR_30;
                    		padding: 0 12px;
                    	}
                    	
                    	&:first-of-type {
                            margin-left: 5px;
                            .country-name {
                                border-left: 0;
                                padding-left: 0px;
                            }
                    	}
                    	
                    }
                    
                }
            }
        }

    }
}

.is-mobile-user-agent {
    .white-popup {
        padding: pxtoem(25) 0;
    }
    
    .splash-page-container {
    
        .splash-page {
    
            h2 {
                font-size: 1.7em;
            } 
               
            .language-table {
            
                font-size: 1.2em;
                float: none;
                margin: 0px;
                
                .country-row {
                
                    .language-row {
                       .country-name {
                            border-left: 1px solid $CONVERSE_COLOR_30;
                            padding: 0 12px;
                        }
                        
                        &:first-of-type {
                            margin-left: 5px;
                            .country-name {
                                border-left: 0;
                                padding-left: 0px;
                            }   
                        } 
                     }     
                }
            }
        }
    }
}