@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";

.customer-registration {

    td {
        text-align: center;
        padding-bottom: 40px;
    }

    .greetings {
        p {
            font-size: 20px;
            margin: 0px;
        }
    }

    .promotion {
        td {
            p {
                font-size: 18px;
                background-color: #B1C4AE;
                padding: 20px 0px;
            }
        }
    }

}