@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";

.order-confirmation {

    $common-bottom-padding: 80px;

    .order-confirmation-body {

        padding: 20px 20px $common-bottom-padding 20px;

        ul {
            padding-left: 0px;

            li {
                margin: 16px 0px;
                list-style-position: inside;
            }
        }
    }

    .contactus {
        padding-bottom: $common-bottom-padding;

        p {
            font-size: 20px;
        }
    }

    .orderitems {
        padding-bottom: $common-bottom-padding;

        p {
            font-size: 20px;

            &.details {
                margin: 0px;
            }
        }

        .price {
            font-size: 20px;
            font-weight: bold;
        }

        a {
            font-weight: bold;
            color: #000 !important;

            span {
                color: #000;
            }
        }

        img {
            width: 300px;
            height: 300px;
        }
    }

    .orderdetails {
        padding-bottom: $common-bottom-padding;

        .section-header {
            font-size: 19px;
        }
    }

    .orderitems, .orderdetails, .contactus {
        td {
            text-align: center;
        }       
    }

}