@import "_constants";
@import "_helper_functions";
@import "_arrow_mixin";
@import "_media_query";
@import "_conv_mixins";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "susy";

$susy: (
columns: 12,  // The number of columns in your grid
gutters: 1/4 // The size of a gutter in relation to a single column
);

/* footer */
/* ------------------------------------- */

$FOOTER_COLOR: $CONVERSE_COLOR_PDP_4;

footer {
    $f-margin: 40;
    font-family: $CONVERSE_FONT_FAMILY_PDP_2;
    font-size: pxtoem($FONT_SIZE_1);

    &.container {
        @include container;
        position: absolute;
        width: 100%;
        background: $FOOTER_COLOR;
        display: block;
        padding: 0;
        margin: 0;
        bottom: 0;
        @include clearfix;

        select {
            margin: 0;
        }
    }

    #footer-meta {
        @include clearfix;
        
        .error {
        	color: #940000;
        }
        
        .success {
        	color: #008000;
        }
    }

    .footer-top,
    .footer-bottom {
        width: span(12 of 12);
        display: block;
        @include clearfix;
    }

    .footer-top {
        min-height: 100px;
        border-top: 1px solid $CONVERSE_COLOR_PDP_3;
        border-bottom: 1px solid $CONVERSE_COLOR_PDP_3;
    }

    .footer-bottom {
        @include mq-large {
            margin-top: pxtoem(60);
        }
        @include mq-medium {
            margin-top: pxtoem(45);
        }
        margin-bottom: pxtoem(40);
        width: inherit;
        padding: 0 gutter(4);
    }

    .country-selector-column,
    .store-locator-column {
        margin-top: 44px;
    }

    .country-selector-column, .country-selector-column-tablet {
        font-weight: bold;
    }

    .country-selector-column {
        @include mq-large {
            @include span(2 of 12 no-gutters);
            box-sizing: border-box;
            text-align: left;
            margin-top: 40px;
            padding-left: pxtoem($f-margin);

            span {
                padding: 0 pxtoem(2);
                &:first-of-type {
                    padding-left: 0;
                }
            }
        }

        @include mq-medium-cascade {
            display: none;
        }
    }

    .country-selector-column-tablet {
        @include mq-large {
            display: none;
        }
        @include span(4 of 8);
        min-height: 1px;
    }

    .store-locator-column {
        @include mq-large {
            @include span(2 of 12 last no-gutters);
            box-sizing: border-box;
            text-align: right;
            padding-right: pxtoem($f-margin);
        }

        @include mq-medium-cascade {
            display: none;
        }

        a {
            font-weight: bold;
        }

        .icon {
            width: 15px;
            height: 15px;
            display: inline-block;
        }

        .icon-store-locator {
            background-image:image-url("../images/storelocator/store_locator_star_square.png");
            background-repeat: no-repeat;
            margin-left: 10px;
            margin-bottom: -3px;
        }
    }

    .store-locator-tablet {
        @include mq-large {
            display: none;
        }
    }

    .subscription-column {
        margin-top: 30px;
        text-align: center;
        min-height: 70px;
        @include span(8 of 12 no-gutters);
        @include box-sizing(border-box);

        @include mq-medium-cascade {
            width: 100%;
            border-bottom: 1px solid $CONVERSE_COLOR_PDP_3;
        }

        @include mq-small {
            margin-top: 0;
            padding: pxtoem(30) gutter(4);
        }

        h2 {
            font-family: $CONVERSE_FONT_FAMILY_PDP;
            font-size: pxtoem(16);
            @include mq-medium-plus {
                display: inline;
            }
            @include mq-small {
                margin-bottom: pxtoem(20);
            }
        }

        .email-subscription-container {
            button {
                width: 100%;
            }

            &.us {

                h2,
                .subscription-form {
                    vertical-align: middle;
                }

                input,
                button {
                    border-radius: 5px;
                }
            }

            &.emea {
            	
            	.error {
            		color:#940000;
            	}
            	
            	.success {
            		color:#008000;
            	}
            	
                .signup-email-input {
                    width: 170px;

                    @include mq-small {
                        width: 100%;
                    }
                }
                
                .signup-birthday-input {
                    width: 170px;
                                        
                    @include mq-medium-plus {
                    	margin-left: 5px;
                    	margin-right: 5px;
                    }
                    
                    @include mq-small {
                        width: 100%;
                    }
                }

                .signup-gender-input {
                     @include mq-small {
                        width: 48%;
                        float: left;
                    }
                }

                .signup-submit-button {
                	margin-left: 5px;
                	
                    @include mq-small {
                        width: 48%;
                        float: right;
                        margin-left: 0px;
                    }
                }
            }

            .subscription-form {
                display: flex;
                
                .footer-signup-container {
                	@include mq-medium-plus {
                		display: flex;
                	}
                	margin-left: auto;
                	margin-right: auto;
                }

                .form-item {
                    overflow: hidden;
                    display: inline-block;
                }

                .signup-gender-input {
                    label {
                        display: none;
                    }
                }

                .message-container {
                    line-height: pxtoem(24);
                    height: pxtoem(24);
                    font-size: pxtoem(12);
                    text-align: center;
                    
                    @include mq-small {
                        display: inline-block;
                    }

                    span {

                        &.error {
                            color: $CONVERSE_COLOR_PDP_6;
                        }

                        &.success {
                            color: $CONVERSE_COLOR_16;
                        }
                    }
                }

                ul.parsley-error-list {
                    display: none;
                }
            }
        }


    }

    .footer-links {

        margin: 0 auto;
        @include mq-large {
            width: span(8 of 12);
        }
        @include mq-medium {
            width: span(10 of 12);
        }
        @include mq-small {
            display: none;
        }
    }

    .social-column {

        @include mq-medium-cascade {
            display: none;
        }

		@include span(2 of 8);
        min-width : 170px;
        margin-right: 1%;

    }

    .social-column-tablet {
        @include mq-large {
            display: none;
        }

        @include span(12 of 12);
        height: pxtoem(60);
        line-height: pxtoem(60);

    }

    .about-column {
        @include mq-large {
            @include span(1.76 of 10);
            margin-right: 1%;
        }

    }

    .shopping-column {
        @include mq-large {
            @include span(2 of 10);
            margin-right: 1%;
        }
    }

    .legal-column {
        @include mq-large {
            @include span(2 of 10 );
            margin-right: 1%;
        }
    }
    
    .site-column {
        @include mq-large {
            @include span(0.9 of 10 last);
        }
        @include mq-large-pdp {
            @include span(1.8 of 10 last);
        }
    }

    .copyright-column, .copyright-column-tablet {
        font-weight: normal;
        font-size: pxtoem(10);
        color: #adadad;
    }

    .copyright-column {
        @include mq-large {
            @include span(2 of 8);
        }
        @include mq-medium-cascade {
            display: none;
        }
    }

    .copyright-column-tablet {
        @include mq-large {
            display: none;
        }
        @include span(4 of 8 last);
        text-align: right;
    }

    .link-container {
        @include mq-medium-cascade {
            @include span(11 of 11);
            @include display-flex;
        }
        @include mq-large {
            min-height: pxtoem(120);
        }
    }

    .links-block {

        @include mq-medium {
            margin: 0 auto;
        }

        h2 {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: pxtoem(24);
        }

        ul {
            line-height: pxtoem(28);
        }
    }

    .link-list {
        li a:hover {
            color: $CONVERSE_COLOR_5;
        }
    }

    .buttons-container {
        margin: pxtoem(38) 0;
    }

    .store-locator-button, .more-button {
        @include span(12 of 12);

        @include mq-medium-cascade {

            line-height: pxtoem(55);
            height: pxtoem(55);
            @include border-radius(5px, 5px);
            background-color: $CONVERSE_COLOR_1;
            text-align: center;
            $font-size: $COMMON_INPUT_FONT_SIZE;

            a, .customSelect {
                font-family: $CONVERSE_FONT_FAMILY_PDP;
                @include mq-small {
                    font-family: $CONVERSE_FONT_FAMILY_PDP_2;
                    text-transform: uppercase;
                }
                font-weight: normal;
                font-size: $font-size;
                color: $CONVERSE_COLOR_12;
            }

            a {
                @include mq-medium {
                    background: sprite($SPRITEICONS, icon_contact_storelocator-black) no-repeat;
                    $spacing: $font-size * 3;
                    height: pxtoembase($spacing, $font-size);
                    padding-left: 38px;
                    padding-top: 8px;
                }
            }
        }
    }

    .store-locator-button {
        @include mq-small {
            margin-bottom: pxtoem(15);
        }
    }

    .more-button {
        @include mq-medium-plus {
            display: none;
        }
        margin-top: 0;
        position: relative;
        background-color: $CONVERSE_COLOR_6;

        select {
            width: 100%;
            left: 0;
        }

        .customSelect {

            display: block;
            color: $CONVERSE_COLOR_1;
            width: 100%;

            .customSelectInner {
                width: 100%;
                display: block;
                text-align: center;
                margin-left: pxtoem(-10);

                &:after {
                    content: "\f107";
                    position: absolute;
                    margin-left: pxtoem(6);
                    margin-top: pxtoem(-1);
                    font-family: FontAwesome;
                    color: $CONVERSE_COLOR_1;
                    font-size: 1.5em;
                    pointer-events: none;
                }
            }
        }
    }
}

body.is-mobile-user-agent[data-language='de'] {
    .footer-signup-container {
        #save-email{
            font-size: 0.8em;
        }
    }
}

body.is-mobile-user-agent[data-language='fr'] {
    .footer-signup-container {
        #save-email{
            font-size: 0.75em;
        }
    }
}
