@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";
@import "_base_badge";
@import "_sprites";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/typography/text/replacement";

/* form components */
/* ------------------------------------- */

.button, button, input[type="button"]{
    @include conv_button_style(black, white);
}

input, select, textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input[data-type="quantity"] {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    display: none;
}

button[disabled],
input[disabled]{
    color:#CCCCCC;
}

.button-fancy-small {
    color:$CONVERSE_COLOR_12 !important;
    font-size:1em;
    font-weight:400;
    text-transform:uppercase;
}

.button-fancy-medium {
    color:$CONVERSE_COLOR_12 !important;
    font-weight:400;
    text-transform:uppercase;
}

.button-fancy-small[disabled],
.button-fancy-medium[disabled],
.button-fancy-large[disabled]{
    opacity: 0.5
}

.button-text {
    background:none repeat scroll 0 0 transparent;
    border:0 none;
    font-weight:400;
    padding:0;
}

.remove-button:hover {
    background: none;
}

.remove-button-icon {
    width: pxtoem(32);
    height: pxtoem(32);
    display: block;
    background: sprite($SPRITEICONS,icon_cancel-grey) transparent;
    @include hide-text;

    &:hover {
        background: sprite($SPRITEICONS,icon_cancel-black) transparent;
    }
}

.button-full-width{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%
}

.js button.simple-submit{display:none;}

legend {
    background:sprite($SPRITEGRAPHICS,icon-double-line-header) repeat-x scroll left top $COMMON_IMPORTANT_COLOR;
    border-bottom:1em solid $CONVERSE_COLOR_12;
    font-size:1.1em;
    font-weight:700;
    margin:0;
    padding:14px 2% 10px;
    position:relative;
    text-transform:uppercase;
    width:96%;
}

.ie7 legend{width:94%;}

legend span{
    font-weight: 400;
    position: absolute;
    right: 1em;
    text-transform: none;
    top: 1em;
}


form, .form {
    text-align: left;

    .hidden {
        display: none;
    }

    .left-align {
        float: left;
    }

    .right-align {
        float: right;
    }

    input,
    textarea {
        font-size: pxtoem(12);
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: auto;
        padding: pxtoem(5);
        margin-right: pxtoem(5);
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea {
        width: 100%;
        height: pxtoem(30);
        border: 1px solid $COMMON_SECONDARY_IMPACT_COLOR;
        padding: pxtoem(5);
        @include box-sizing(border-box);
    }

    .message-placeholder {
        margin-top: pxtoem(5.6);
    }

    .error-form, .error-group {
        color: $CONVERSE_ERROR_COLOR;
        margin: 1em 0;
        @include mq-medium-cascade() {
            margin-top: 0em;
            margin-bottom: 3em;
        }
    }

    .form-group {
        &.error {
            label {
                color: $CONVERSE_ERROR_COLOR;
            }

            input, textarea {
                color: $CONVERSE_ERROR_COLOR;
                border: 1px solid $CONVERSE_ERROR_COLOR !important;
            }

            .styled-select {
                border: 1px solid $CONVERSE_ERROR_COLOR;

                @include mq-small() {
                    border: none;
                }

                select {
                    color: $CONVERSE_ERROR_COLOR;
                }
            }

            .message-placeholder {
                .parsley-error-list {
                    display: block;
                    color: $CONVERSE_ERROR_COLOR;
                }
            }
        }
    }
}

#return_exchange_select_label.error {
    color: $CONVERSE_ERROR_COLOR;
}
 
.form-column-full {
    float: left;
    @include form-column-base(100%);
}

.form-column-left {
    float: left;
    @include form-column-base;
}

.form-column-right {
    float: right;
    @include form-column-base;
}

.form-column-tres {
    float: left;
    @include form-column-base(33%);
    padding-right: pxtoem(5);
}

.form-column-quatro {
    float: left;
    @include form-column-base(24%);
    padding-right: pxtoem(5);
}

.sub-column-group {
    width: 100%;
    @include clearfix;

    .sub-column-left{
        float: left;
        @include form-column-base;
    }

    .sub-column-right{
        float: right;
        @include form-column-base;
    }
}

.underlined {
    text-decoration: underline;
}

.required-indicator {
    color: $CONVERSE_COLOR_7;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: -2px;
    vertical-align: bottom;
}

.red-btn {
    background: $CONVERSE_COLOR_7;
    color: $CONVERSE_COLOR_12;

    &:hover {
        background: $CONVERSE_COLOR_7;
    }
}

label,
.form-label-text {
    $font-size: 10;
    font-size: pxtoem($font-size);
    display: block;
    line-height: pxtoembase(16, $font-size);
    font-weight: bold;
    text-transform: uppercase;
    padding-top: pxtoembase(1, $font-size);
    padding-bottom: pxtoembase(4, $font-size);
}

.smaller-text {
    font-size: pxtoem(9);
}

.customer-message {
    font-size: 0.71em;
}

.styled-select {
    @include converse-select-box();
}

.form-row {
    clear: both;
    margin-bottom: 16px;
    overflow: hidden;

    label {
        line-height: 1em;
    }
}

.form-field-tooltip {
    margin-top: 30px;
    padding-left: 10px;
    text-align: left;
}

.char-count {
    display: block;
    width: auto;
    margin-top: 3px;
    margin-left: 5px;
}

.form-indent {
    margin-left: 24%;
}

.label-inline {
    label {
        display: inline-block;
        float: none;
        text-align: left;
    }

    input {
        float: left;
        margin-left: 5px;
    }
}


.form-label-text span{margin-right:5px;}
.search-result-options select {height:auto;}
.label-above label{float:none;text-align:left;width:auto;}
.label-above input{margin-left:0;}
.label-above select{margin-left:0;}
.label-above textarea{margin-left:0;}
.label-above .form-caption{margin-left:0;width:auto;}
.label-removed label{left:-999em;position:absolute;}
.label-hidden label{text-align:left;text-indent:-999em;}
.form-indent .form-caption{margin-left:0;}


span.error{background:none repeat scroll 0 0 transparent;display:block;}
div.error{background:none repeat scroll 0 0 transparent;}
.form-inline form {
    padding:0 0 2em;
    width:98%;
}
.form-inline .form-row{clear:none;float:left;margin:5px 2% 0 0;width:28%;}
.form-inline label{padding:0 0 0.75em;text-transform:uppercase;width:auto;}
.form-inline input[type="text"]{margin-left:0;width:95%;}
.form-inline select{margin-left:0;width:95%;}
.form-inline .form-row-button{float:left;margin:30px 0 0;width:10%;}
.form-inline button{padding-left:0;padding-right:0;width:100%;}
.login-box-content label{float:none;font-size:1.1em;text-align:left;width:auto;}
.login-box-content input[type="text"]{margin-left:0;width:87%;}
.login-box-content input[type="password"]{margin-left:0;width:87%;}
.login-box-content textarea{margin-left:0;width:87%;}
.login-box-content .form-caption{margin-left:0;}
.login-box-content input[type="checkbox"]{margin-left:0;}
.login-box-content select{margin-left:0;}
.login-box-content .form-row-button{margin-left:0;width:auto;}
.row-inline{display:inline;}
.row-inline label{width:auto;}
.with-helper-text{margin-top:-59px;}

.strike {
    text-decoration: line-through;
}

.red {
    color: $CONVERSE_COLOR_7;
}

