@import "_constants";
@import "_sprites";
/* gift registry */
/* ------------------------------------- */

.pt_gift-registry .create-new-registry{margin:1em 0;}
.pt_gift-registry .create-new-registry button{float:left;margin-right:2em;}
.pt_gift-registry .create-new-registry p{font-family:Gorgia;font-size:1.3em;font-style:italic;margin:0;padding:0.5em 2em;}
.pt_gift-registry .add-gift-cert{border:1px solid $COMMON_IMPORTANT_COLOR;margin-bottom:-1px;overflow:auto;padding:10px;}
.pt_gift-registry .add-gift-cert button{background:image-url("banners/banner-gift-cert.gif", false, $IMAGE_CACHE_BUSTER) no-repeat scroll left top transparent;border:0 none;float:left;height:80px;text-indent:-999em;width:433px;}
.pt_gift-registry .add-gift-cert p{color:$COMMON_PRODUCT_TEXT_COLOR;float:right;font-style:italic;line-height:1.5em;width:40%;}
.pt_gift-registry .list-table-header {
	background:sprite($SPRITEGRAPHICS,icon-double-line-header) repeat-x scroll left top $COMMON_IMPORTANT_COLOR;
	overflow:hidden;
	padding:2em;
}
.pt_gift-registry .hdr-options{width:5%;}
.page-content-tab-navigaton button{background:none repeat scroll 0 0 #D9D9D9;border-color:$COMMON_IMPORTANT_COLOR;border-width:1px;color:$COMMON_PRODUCT_TEXT_COLOR;font-family:Georgia,serif;font-size:1.1em;font-style:italic;font-weight:400;margin:0 0 -1px;}
.page-content-tab-navigaton button.selected{background:none repeat scroll 0 0 #FFFFFF;border-bottom:1px solid #FFFFFF;}
.page-content-tab-wrapper{border:1px solid $COMMON_IMPORTANT_COLOR;padding:5px;}
.gift-reg-purchases .item-purchased-by dd{float:left;font-weight:bold;margin:0 1em 0 0;position:relative;width:auto;}
.gift-reg-purchases .item-purchased-by dt{clear:both;float:left;margin:0 1em 0 0;position:relative;width:auto;}
.gift-reg-purchases .quantity-purchased{color:#990000;}
.gift-registry-advanced {clear: both;}
.gift-registry-advanced .toggle-content {overflow:hidden;padding:10px;}
.gift-registry-advanced .event-month {clear: both;}
.gift-registry-advanced .event-city {clear: both;}

