@import "_constants";
@import "_helper_functions";
@import "_base_badge";
@import "_conv_mixins";
@import "_sprites";
@import "_media_query";
@import "_selected_element_arrow";
@import "compass/css3/transform";
@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";

/* header components */
/* ------------------------------------- */
$navigation_height: pxtoem($COMMON_NAVIGATION_HEIGHT);

#header {
    $h-margin: 40;
    height: pxtoem($COMMON_HEADER_HEIGHT);
    width: 100%;
    position: fixed;
    background: $CONVERSE_COLOR_1;
    z-index: 9999 !important;           // HACKITY HACK - This gets z-index:0 due to app_overlay.js
    @include unselectable();

    @include mq-medium-cascade() {
        position: relative;
        height: pxtoem($MOBILE_HEADER_HEIGHT);
    }

    /* top black bar
    ---------------------------------- */
    #black-bar {
        height: pxtoem($COMMON_BLACK_BAR_HEIGHT);
        margin-bottom: pxtoem(20);
        background: #1B1B1B;

        @include mq-medium-cascade {
            height: pxtoem(20);
            margin-bottom: 0;
        }

        .header-country-selector {

            @include mq-medium-cascade {
                display: none;
            }

            position: absolute;
            left: pxtoem($h-margin);
            line-height: pxtoem($COMMON_BLACK_BAR_HEIGHT);

            span {
                padding: 0 pxtoem(2);
                &:first-of-type {
                    padding-left: 0;
                }
            }

            a {
                color: $CONVERSE_COLOR_12;
            }
        }

        .promo-message {
            width: pxtoem(490);
            max-width: pxtoem($HEADER_MAX_WIDTH_LARGE);
            height: pxtoem($COMMON_BLACK_BAR_HEIGHT);
            overflow: hidden;
            margin: 0 auto;

            @include mq-small {
                height: auto;
                width: auto;
            }

            .global-promo {
                display: none;
                margin: 0 auto;

                &:first-child {
                    display: block;
                }

                &.loaded {
                    vertical-align: middle;
                    display: block;
                }

                .promo-container {
                    display: table;
                    height: 100%;
                    width: 100%;

                    .promo-content {
                        display: table-cell;
                        vertical-align: middle;
                        font-weight: normal;
                        text-align: center;
                        font-size: pxtoem(12);
                        line-height: pxtoembase(20, 14);
                        color: #979797;

                        @include mq-medium-cascade {
                            vertical-align: middle;
                        }

                        a {
                            color: #979797;
                        }
                    }
                }
            }

            .bx-wrapper {
                position: relative;
                padding: 0 pxtoem(16);
                *zoom: 1;
                margin: pxtoem(11) auto;

                @include mq-medium-cascade {
                  margin: 0 auto;
                }

                img {
                    max-width: 100%;
                    display: block;
                }

                .bx-viewport {
                    height: pxtoem($COMMON_BLACK_BAR_HEIGHT);
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font:inherit;
                    font-size: 100%;
                    vertical-align: baseline;
                    background: #1B1B1B;
                    box-shadow: 0 0 0px #000;
                }

                .bx-controls {
                    .bx-controls-direction {
                        a {
                            position: absolute;
                            top: 50%;
                            margin-top: pxtoem(-10);
                            outline: 0;
                            width: 20px;
                            height: 20px;
                            text-indent: -9999px;

                            &.bx-prev {
                                left: 0;
                                background: sprite($SPRITEICONS, promo_arrow_sm_lt);
                            }

                            &.bx-next {
                                right: 0;
                                background: sprite($SPRITEICONS, promo_arrow_sm_rt);
                            }

                            &.disabled {
                                display: none;
                            }
                        }
                    }

                    @include mq-small {
                        display: none;
                    }
                }

                @include mq-small {
                    width: 86%;
                }
            }
        }
    }

    .header-logo {
        width: pxtoem(138);
        height: pxtoem(19);
        position: relative;
        float: left;
        background: sprite($SPRITEHEADER, logo_alt) no-repeat;
        z-index: 1000;
        margin: pxtoem(3) 0 0 pxtoem($h-margin);

        &.cart-link {
            width: calc(100% - 302px);
            margin: 0 auto;
            text-align: left;
            background-position: calc(50% - -126px) -40px !important;
        }

        .back-cart-link {
            padding-left: 75px;
            color: $CONVERSE_COLOR_12;
            font-size: 14px;
            background-image: url('../images/back-icon.png');
            background-repeat: no-repeat;
            background-size: initial;
            background-position: 54px;
        }

        .primary-logo {
            position: relative;
            height: 100%;

            @extend %hide_text;

            a {
                display: block;
                height: 100%;
                width: 100%;
                overflow: visible;
            }
        }

        @include mq-retina {
            @include retina-sprite($SPRITEHEADER_2X, logo_alt);
        }

        @include mq-medium-cascade {
            float: none;
            top: pxtoem(15);
            margin: 0 auto;

            &.desktop {
                display: none;
            }
        }
    }

    /* mobile-specific header elements
    ---------------------------------- */
    #mobile-header {
        display: none;
        height: pxtoem($MOBILE_HEADER_HEIGHT - $MOBILE_BLACK_BAR_HEIGHT);

        @include clearfix;

        @include mq-medium-cascade {
            display: block;
        }

        .hamburg {
            position: relative;
            float: left;
            padding-left: 1.25em;
            margin-left: pxtoem(2);
            font-size: pxtoem(32);
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                top: pxtoembase(14,32);
                left: pxtoembase(14,32);
                width: pxtoembase(22,32);
                height: 0.125em;
                border-top: 0.375em double $CONVERSE_COLOR_12;
                border-bottom: 0.125em solid $CONVERSE_COLOR_12;
            }
        }

        .back-cart-icon {
            background-image: url('../images/arrow-back-circle.png');
            background-repeat: no-repeat;
            height: 32px;
            width: 32px;
            float: left;
            background-size: 32px;
            margin-left: 51px;
            margin-top: 9px;

            @include mq-medium-b-cascade {
                margin-left: 23px;
            }
        }
    }

    /* search box
    ---------------------------------- */
    $search_max_width: 1000;
    $header_search_height_desktop: $COMMON_NAVIGATION_HEIGHT;
    $header_search_height_mobile: 50;

    .header-search {
        position: absolute;
        top: pxtoem(7);
        right: pxtoem($h-margin);
        width: pxtoem(215);
        height: pxtoem($header_search_height_desktop);
        z-index: 1000;
        border: 1px solid;
        background-color: $CONVERSE_COLOR_12;
        @include box-sizing(border-box);

        @include mq-large {
            display: block !important;
            height: pxtoem($header_search_height_desktop) !important;
        }

        @include mq-medium-cascade {
            display: none;
            position: absolute;
            top: pxtoem($MOBILE_HEADER_HEIGHT);
            right: 0;
            width: 100%;
            height: pxtoem($header_search_height_mobile);
            margin-right: 0;
            background: none repeat scroll 0 0 #6d6d6d;
        }

        form {
            max-width: pxtoem($search_max_width);
            height: 100%;
            margin: 0 auto;
            overflow: hidden;

            input[type="text"]{
                $font-size: 12;
                float: left;
                width: 85%;
                height: pxtoem($header_search_height_desktop);
                border: none;
                font-size: pxtoem($font-size);
                font-weight: bold;
                color: $CONVERSE_COLOR_1;
                @include clearfix;

                @include input-placeholder {
                    color: $CONVERSE_COLOR_1;
                }

                @include mq-medium-cascade {
                    $font-size: 16;
                    width: 70%;
                    max-width: 60%;
                    height: pxtoembase($header_search_height_mobile, $font-size);
                    padding-left: pxtoembase(16, $font-size);
                    font-size: pxtoem($font-size);
                    font-weight: normal;
                    color: $CONVERSE_COLOR_12;
                    background: none repeat scroll 0 0 #6d6d6d;

                    @include input-placeholder {
                        color: $CONVERSE_COLOR_4;
                    }
                }
            }
        }

        .actions {
            @include mq-medium-cascade {
                float: right;
                margin: pxtoem(8) pxtoem(15) 0 0;

                span {
                    display: inline-block;
                    vertical-align: top;

                    button {
                        $font-size: 22;
                        width: pxtoembase(30, $font-size);
                        height: pxtoembase(30, $font-size);
                        padding: 0;
                        font-size: pxtoem($font-size);
                        background: none repeat scroll 0 0 #535353;
                    }
                }
            }

            .action-search {
                float: right;
                padding: 0;

                @include mq-large {
                    width: pxtoem(20);
                    height: pxtoem(20);
                    margin: pxtoem(2) pxtoem(4) 0;
                    background: sprite($SPRITEHEADER, 'search') no-repeat;

                    @include mq-retina {
                        @include retina-sprite($SPRITEHEADER_2X, 'search');
                    }
                }

                @include mq-medium-cascade {
                    background: sprite($SPRITEHEADER, 'search-magnify') no-repeat transparent;
                    margin: 0 pxtoem(5) 0;

                    @include mq-retina {
                        @include retina-sprite($SPRITEHEADER_2X, 'search-magnify');
                    }
                }
            }

            .action-close {
                display: none;

                @include mq-medium-cascade {
                    display: block;
                    background: sprite($SPRITEHEADER, 'search-x') no-repeat transparent;

                    @include mq-retina {
                        @include retina-sprite($SPRITEHEADER_2X, 'search-x');
                    }
                }
            }
        }
    }

    /* icon tray
    ---------------------------------- */
    .icon-tray {
        position: relative;
        float: right;
        height: pxtoem($COMMON_NAVIGATION_HEIGHT);
        width: pxtoem(260);
        margin-right: pxtoem($h-margin + 2);
        z-index: 20000;
        .faq-div {
        	padding-top : .8em;
        	float: right;
        	margin-right: 15px;
        }
		.faq-link{
			font-weight: bold;
			font-size: .9em;
			color: $CONVERSE_COLOR_12;
			&:hover{
	    		color: $CONVERSE_COLOR_7;
	    	}
		}
        @include mq-medium-cascade {
            width: inherit;
            margin-top: pxtoem(12);
            margin-right: pxtoem(25);

            &.desktop {
                display: none;
            }

            @include mq-small {
                margin-right: pxtoem(15);
            }
        }

        #livechat {
            display: none;
            $color: $CONVERSE_COLOR_11;
            $background: transparent;
            $hover-color: $COMMON_LINK_HOVER_COLOR;
            $hover-background: $background;
            $sprite-val: livechat_alt;

            @include conv_header_button($color, $background, $hover-color, $hover-background, $sprite-val, $HEADER_ICON_SIZE);

            &.rn_ChatAvailable {
                @include mq-medium-cascade() {
                    display: none;
                }
                display: block;
                font-size: 1em;
            }

            a {
                color: $CONVERSE_COLOR_12;

                .rn_ChatAvailable {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        #faq {
            $color: $CONVERSE_COLOR_11;
            $background: transparent;
            $hover-color: $COMMON_LINK_HOVER_COLOR;
            $hover-background: $background;
            $sprite-val: faq_alt;

            @include conv_header_button($color, $background, $hover-color, $hover-background, $sprite-val, $HEADER_ICON_SIZE);

            @include mq-medium-cascade {
                display: none;
            }

            a {
                color: $CONVERSE_COLOR_12;
            }
        }

        #menu-utility-user {
            display: inline-block;
            height: 100%;
            float: right;

            $color: $CONVERSE_COLOR_11;
            $background: transparent;
            $hover-color: $COMMON_LINK_HOVER_COLOR;
            $hover-background: $background;

            #account-info-box {
			    white-space: nowrap;
			    overflow: visible;
			    position: relative;
			    float: right;
			    font-size: .9em;
			    color: $color;
			    cursor: pointer;
			    padding-top : 1em;
			    font-weight: bold;
			    -webkit-tap-highlight-color: rgba(0,0,0,0);
			   	&:hover{
			         color: $CONVERSE_COLOR_7;
			    }
                .inner {
                    display:inline-block;
                    line-height: 1em;
                    vertical-align: middle;

                    a {
                        color: $CONVERSE_COLOR_6;
                    }
                }

                &.login.active:after {
                    @include arrow-down($HEADER_BACKGROUND_COLOR, 1.2em, true, 0.8em);
                    left: 40%;

                    @include mq-small() {
                        margin-left: -3.1em;
                        top: 85%;
                    }
                }

            }
        }

        #search-button {
            $color: $CONVERSE_COLOR_11;
            $background: transparent;
            $hover-color: $COMMON_LINK_HOVER_COLOR;
            $hover-background: $background;
            $sprite-val: search_white;

            @include conv_header_button($color, $background, $hover-color, $hover-background, $sprite-val, $HEADER_ICON_SIZE);
        }

        #mini-cart {
            > span.active:after {
               @include arrow-down($HEADER_BACKGROUND_COLOR, 1.2em, true, 0.8em);
               left: 95%;
               @include mq-small() {
                   left: 100%;
                   visibility: visible;
               }
            }

            &.mini-cart-empty {
                $color: $CONVERSE_COLOR_11;
                $background: transparent;
                $hover-color: $COMMON_LINK_HOVER_COLOR;
                $hover-background: $background;
                $sprite-val: cart_alt;

                @include conv_header_button($color, $background, $hover-color, $hover-background, $sprite-val, $HEADER_ICON_SIZE);
            }

            &.mini-cart-full {
                $color: $CONVERSE_COLOR_11;
                $background: transparent;
                $hover-color: $COMMON_LINK_HOVER_COLOR;
                $hover-background: $background;
                $sprite-val: cart-active_alt;

                @include conv_header_button($color, $background, $hover-color, $hover-background, $sprite-val, $HEADER_ICON_SIZE);

                text-indent: 0;

                &:after {
                    content: attr(icon-text-attr);
                    font-size: 9px;
                    white-space: normal;
                    left: 21%;
                    position: relative;
                    top: 3px;
                    display: block;
                    text-align: center;
                }
            }
        }

        /* account utility dropdown
        ---------------------------------- */
        .account-box {
            display: none;
            position: absolute;
            top: pxtoem(34);
            left: pxtoem(54);
            width: pxtoem(170);
            background: $CONVERSE_COLOR_12;
            border: 1px solid $CONVERSE_COLOR_5;
            font-size: pxtoem($FONT_SIZE_1);
            font-weight: bold;
            text-transform: uppercase;
            text-align: right;
            line-height: pxtoem(27);
            color: $CONVERSE_COLOR_1;
            z-index: 2000;

            &:before {
                position: absolute;
                top: pxtoem(-7);
                right: pxtoem(7);
                @include arrow-up($CONVERSE_COLOR_12, $CONVERSE_COLOR_5, 10, 1);
            }

            &.visible {
                display: block;
            }

            li {
                height: pxtoem(27);
                border-top: 1px solid $CONVERSE_COLOR_5;
                overflow: hidden;

                &.first {
                    border-top: 0;
                }

                a {
                    float: right;
                    height: 100%;
                    width: 100%;
                    padding-right: pxtoem(6);
                }
            }
        }
    }
}

.header-banner {
    clear: both;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
}

.ie7 {
    #header {
        z-index: 200;
    }
    .header-banner {
        width: 350px;
    }
    .menu-utility {
        width: 350px;
    }
}

.ie8 {
    #header {
        header {
            min-width: none;
        }
    }
}
