@import "_constants";
@import "_helper_functions";
@import "_arrow_ui_tabs";
@import "_conv_mixins";
@import "_media_query";
@import "compass/css3";

/* homepage elements */
/* ------------------------------------- */

#homepage-slides{padding:0;width:100%;}
#homepage-slider{overflow:hidden;}
#homepage-slider .slide{list-style:none outside none;margin:0;max-width:100% !important;padding:0;width:100%;}
#homepage-slider .slide img{height:auto;max-width:100% !important;}
#homepage-slider .slide a h2{border:0 none;clip:rect(0pt,0pt,0pt,0pt);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
#homepage-slider .slide a span{position:absolute;text-indent:-999em;}
#home-promo-shop-shoes{background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:image-url("homepage/home-promo-shoes.png", false, $IMAGE_CACHE_BUSTER);background-origin:padding-box;background-position:left top;background-repeat:no-repeat;background-size:100% auto;height:413px;margin:auto;max-width:320px;position:relative;width:100%;}
#home-promo-shop-shoes h2{position:absolute;text-indent:-999em;}
#home-promo-shop-shoes ul{padding:30% 0 0;text-align:center;}
#home-promo-shop-shoes li{border-right:1px solid #3EBAEA;display:inline;list-style:none outside none;margin:0 5px 0 0;padding:0 5px 0 0;text-transform:uppercase;}
#home-promo-shop-shoes li:last-child{border:0 none;}
#home-promo-shop-shoes li a{color:#3EBAEA;}
#home-promo-shop-shoes span{font-style:italic;margin:0 10px 0 0;}
.home-bottom-center{background:none repeat scroll 0 0 #F3F3F3;float:left;width:50%;}
#home-promo-free-shipping{background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:image-url("homepage/home-promo-free-shipping.png", false, $IMAGE_CACHE_BUSTER);background-origin:padding-box;background-position:center top;background-repeat:no-repeat;background-size:100% auto;height:413px;margin:auto;max-width:319px;text-indent:-999em;width:100%;}
.home-bottom{clear:both;overflow:hidden;padding:2em 0;}
#email-alert-signup{display:block;margin:0 0 0 33px;width:910px;}
#email-alert-signup label{color:#8F8F8F;float:left;padding:0.5em 0 !important;text-transform:uppercase;width:50%;}
#email-alert-signup input[type="text"]{float:left;padding:0.7em 0.5em;width:30%;}
#email-alert-signup input[type="image"]{float:left;padding:0.1em;}

.featured-categories.ui-tabs {
  @extend %arrow-ui-tabs;
}

.lc {
  margin: 0 auto;
  position: relative;

  &.homepage {
  	@include mq-large {
       display: none;
    }
  }
}

.home-bottom-slots {
	.home-bottom-left, .home-bottom-center, .home-bottom-right {
		position:relative;
		width:33%;
		height:auto;
		background:white;
		float:left;
		text-align:center;
		overflow:hidden;
		margin:pxtoem(5) 0 pxtoem(5) 0;
		@include mq-medium {
			margin: 0px auto;
			float:none;
			max-width:pxtoem($THRESHOLD_MEDIUM);
			padding-left:12%;
		}
	}
	width:100%;
	margin: 0px auto;
	max-width:pxtoem($HEADER_MAX_WIDTH_LARGE - 60);
}

#secondary-slot-image, #secondaary-slot-text {
	@include mq-medium-cascade {
		float:left;
	}
}

#secondary-slot-text {
	width:9.7em;
	font-size:pxtoem(16);
	font-weight: bold;
	margin:0 auto;
	@include mq-medium-cascade {
		margin-top: 5%;
		width:19.7em;
	}
	@include mq-medium {
		margin-top: 10%;
	}
}

#secondary-slot-image {
	@include mq-medium-cascade {
		width:50%;
		img {
			width:100%;
			height:auto;
		}
	}

	margin-bottom:pxtoem(8);
}

/* 
 * This grid is lead by the search results grid layout, but for the case of featured categories
 * the slots should only show the image of the product.
 */
$TILE_HEIGHT : pxtoem(150);

.featured-categories {
    .product-tile {
        &:hover {
            @include mq-medium-cascade {
                .product-swatches {
                    display: none;
                }
            }
        }
    }

    .search-result-content {
        width: auto;
        margin: 0 auto;
    }
}
