@import "_constants";
@import "compass/css3/border-radius";
@import "_helper_functions";
@import "_media_query";

/* homepage assets
--------------------------------------------------------------------------------------- */
.js .homepage-slides {height: 550px;}
.js #homepage-slider .jcarousel-item {max-width:100%;}
.js #homepage-slider .jcarousel-control {position: absolute;right:10px;bottom:20px;}
.js #homepage-slider .jcarousel-control a {background: none repeat scroll 0 0 #E0E0E0;border:1px solid #cccccc;display: block;float: left;height: 15px;margin: 0 3px;text-indent: -999em; width: 6px;}
.js #homepage-slider .jcarousel-control a.active {background-color:#666666;}
.js .home-bottom-left,
.js .home-bottom-center,
.js .home-bottom-right {clear:none;float:left;width: $COMMON_BLOCK_WIDTH;}

.js .home-bottom-right .jcarousel-clip {height: 282px; overflow:hidden;}
.js .home-bottom-right .vertical-carousel li {height: 282px;float:none; width:300px;}
.js .home-bottom-right .product-tile {min-height: 0;}
.js .home-bottom-right .jcarousel-prev {background:image-url('interface/icon-vertical-carousel-prev.png', false, $IMAGE_CACHE_BUSTER) left top no-repeat;cursor:pointer;height:12px;position:absolute;bottom:20px;right:0;width:52px;z-index:999;}
.js .home-bottom-right .jcarousel-next {background:image-url('interface/icon-vertical-carousel-next.png', false, $IMAGE_CACHE_BUSTER) left top no-repeat;cursor:pointer;height:12px;position:absolute;bottom:0px;right:0;width:52px;z-index:999;}
.js .home-bottom-right .jcarousel-prev-disabled, .home-bottom-right .jcarousel-next-disabled {display:none !important;}

.js button.select {display:none}

%slider-nav-base {
	position:absolute;
	z-index:101;
	float:left;
	margin-left:87%;
	top:50%;
	margin-top:-19px;
}

#homepage-slider {
	.slides_container {
		overflow:visible !important;
		@include mq-small {
			height:pxtoem(245);
		}
		
		div{
			height:pxtoem(415);           
			position:relative; 
			overflow:visible;
			@include mq-small {
				height:auto;
			}
	
			img{
				width:auto;
				height:pxtoem($SLIDESHOW_HEIGHT);            
				@include mq-small {
					height:pxtoem(245);
				}
			}
		}
	}

	.slides_control div {
		margin-left:pxtoem(-330);
		@include mq-medium {
			margin-left:pxtoem(-590);
		}
		
		
	}

	.slides_control, #slides, .slides_container, #homepage-slider {
		overflow:visible;
	}

	div#slides {
		position:relative;	
		margin-bottom:20px;
		height:pxtoem($SLIDESHOW_HEIGHT);
		width:pxtoem($HEADER_MAX_WIDTH_LARGE);
		margin:0px auto;
		@include mq-medium {
			width:pxtoem($HEADER_MAX_WIDTH_SMALL);
		}
		@include mq-small {
			height:pxtoem(245);
		}
	}

	.morebutton {
		text-transform: uppercase;
		position:absolute;
		z-index:101;
		padding:8px 13px 8px 13px;
		cursor:pointer;
		@include border-radius(14px, 14px);
		background:white;
		color:black;
		font-weight:bold;
		bottom:30px;
		left:50%;
		margin-left:-47px;
		&:hover {
			background:black;
			color:white;
		}
		
		@include mq-small {
			bottom:pxtoem(10);
		}

	}

	.slider-next {
		@extend %slider-nav-base;
		margin-left:87%;
		@include mq-medium {
			margin-left:87%;
		}
		@include mq-small {
			margin-left:28%;
		}
	}

	.slider-prev {
		@extend %slider-nav-base;
		margin-left:10%;
		@include mq-medium {
			margin-left:10%;
		}
		@include mq-small {
			margin-left:1%;
		}
	}

	.slider-pagination {
		position:absolute;
		margin-top:-20px;
		margin-left:-10px;
		z-index:101;
		left:50%;
	}

	.slider-pagination li {
		float:left;
		margin:0 1px;
		list-style:none;
	}

	.slider-pagination li a {
		display:block;
		width:12px;
		height:0;
		padding-top:12px;
		background-image:image-url("pagination.png", false, $IMAGE_CACHE_BUSTER);
		background-position:0 0;
		float:left;
		overflow:hidden;
	}

	.slider-pagination li.current a {
		background-position:0 -12px;
	}
}