/* login pages */
/* ------------------------------------- */
@import "_constants";

.login-box{
	background:none repeat scroll 0 0 $COMMON_BACKGROUND_COLOR;
	margin:0 0 2em;

	h3{
		margin:0;
	}
}

.login-box-content{padding:0.5em 1.5em;}