@import "_media_query";
@import "_constants";
@import "_conv_mixins";

/* Made By You Page
--------------------------------------------------------------------------------------- */

.pt_madebyyou {

    &.isMobile {
        position: absolute;
    }

    height: calc(100% - #{pxtoem($COMMON_HEADER_HEIGHT + $CONTENT_TOP_MARGIN + $DESKTOP_FOOTER_HEIGHT)});
    width: 100%;
    position: fixed;

    @include mq-medium() {
        height: calc(100% - #{pxtoem($MOBILE_HEADER_HEIGHT + $TABLET_FOOTER_HEIGHT)});
    }
    
    @include mq-small() {
        height: calc(100% - #{pxtoem($MOBILE_HEADER_HEIGHT + $MOBILE_FOOTER_HEIGHT)});
    }

    #madebyyou {
        height: 100%;
        width: 100%;
    }
}
