@import "_constants";
@import "_helper_functions";
@import "_sprites";
@import "_conv_mixins";
@import "_selected_element_arrow";
@import "_media_query";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";

#minicart-panel-container {
    position: relative;
    width: 100%;
    display: none;
    z-index: 1;
}

#minicart-panel {
    background: $CONVERSE_COLOR_12;
    height: pxtoem(260);

    @include mq-medium-cascade {
        height: auto;
    }

    .panel-content {
        max-width: pxtoem(1056);
        margin: 0 auto;

        .panel-caption {
            position: relative;
            line-height: pxtoem(60);

            h2 {
                text-align: left;
                margin-left: 25%;
                font-weight: bold;
                font-size: pxtoem(28);

                @include mq-medium-cascade {
                    text-align: center;
                    margin-left: 0;
                }

                @include mq-small() {
                    font-size: pxtoem(18);
                }
            }

            a.close-btn {
                position: absolute;
                right: pxtoem(10);
                top: pxtoem(12);
                background: sprite($SPRITEICONS,close-minicart) no-repeat transparent;
                width: pxtoem(32);
                height: pxtoem(32);

                @include mq-retina {
                    @include retina-sprite($SPRITEICONS_2X, close-minicart);
                }
            }
        }

        .product-info {

            @include mq-medium-cascade {
                display: none;
            }

            > * {
                display: inline-block;
                @include box-sizing(border-box);
            }

            .product-image {
                margin-right: 5%;
                width: 20%;
                padding-right: pxtoem(40);

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .product-details {
                width: 44%;

                .product-title {
                    h3 {
                        font-size: pxtoem(24);
                        font-weight: bold;
                    }

                    .price {
                        line-height: pxtoembase(40, 26);
                        font-family: $CONVERSE_FONT_FAMILY_2_REG;
                        font-size: pxtoem(26);
                    }
                }

                .product-attr {
                    font-size: pxtoem(15);
                    line-height: pxtoembase(25, 15);
                    margin-top: pxtoembase(10, 15);

                    .color {
                        text-transform: capitalize;
                    }
                }
            }

            .cart-info {
                padding-left: pxtoem(14.4);
                min-width: 24%;
                border-left: pxtoem(1) solid $CONVERSE_COLOR_6;

                .subtotal {
                    @include clearfix;
                    margin-bottom: pxtoem(20);

                    span {
                        font-size: pxtoem(16);
                        font-variant: small-caps;
                        font-weight: bold;
                        float: left;
                    }

                    strong {
                        font-size: pxtoem(32);
                        font-family: $CONVERSE_FONT_FAMILY_2_REG;
                        float: right;
                    }
                }

                .cart-actions {
                    a {
                        display: block;
                        font-size: pxtoem(18);

                        &:first-child {
                            margin-bottom: pxtoem(10);
                        }
                    }
                }
            }
        }
    }

}
