@import "_constants";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "_base_badge.scss";
@import "_sprites";
@import "_helper_functions";
@import "_media_query";

/* my family */
/* ------------------------------------- */

.pt_family {

    @mixin base-content-row {
        padding-top: pxtoem(40);
        padding-bottom: pxtoem(40);
        border-bottom: 1px solid $COMMON_BORDER_COLOR;
    }

    @mixin base-tablet-mobile-layout {
        width: auto;
        padding-left: pxtoem(20);
        padding-right: pxtoem(20);
    }

    .hc {
        margin: 0px auto;
        max-width: pxtoem($HEADER_MAX_WIDTH_LARGE);

        .hc-content {
            width: pxtoem($CONTENT_MAX_WIDTH_MEDIUM);

            @include mq-medium-cascade {
                @include base-tablet-mobile-layout;
            }
        }
    }

    .family-content {
        .header {
            padding: pxtoem(24) 0;
            border-bottom: 1px solid $COMMON_BORDER_COLOR;

            h1 {
                font-size: pxtoem(30);
                font-weight: bold;
                @include mq-small {
                    text-align: center;
                }
            }
        }

        .description  {
            @include base-content-row;

            p {
                width: 70%;
                @include mq-small {
                    width: auto;
                }
                font-size: pxtoem(12);
                line-height: pxtoembase(18, 12);
            }
        }

        $col-1-width: 30%;
        $col-2-width: 38%;

        .family-member-list {

              li {
                  @include base-content-row;
                  position: relative;
                  overflow: hidden;

                  h2.member-name {
                      width: $col-1-width;
                      font-size: pxtoem(18);
                      font-weight: bold;
                      float: left;

                      @include mq-small {
                          width: auto;
                          float: none;
                          margin-bottom: pxtoembase(15, 18);
                      }
                  }

                  .member-details {
                      width: $col-2-width;
                      float: left;
                      word-break: break-all;

                      @include mq-small {
                          width: auto;
                          float: none;
                          margin-bottom: pxtoem(15);

                          &:last-child {
                              margin-bottom: 0;
                          }
                      }

                      p {
                          font-size: pxtoem(13);
                          line-height: pxtoembase(18, 13);
                      }

                      strong {
                          font-weight: bold;
                      }
                  }

                  .re-invite-member-button {
                      display: inline-block;
                  }

                  .delete-member-button {
                      float: right;
                      margin-top: pxtoem(-27);

                      @include mq-small() {
                        margin-top: pxtoem(-12);
                      }
                  }

                  .message {
                      clear: both;
                      padding-top: pxtoem(16);
                      color: $CONVERSE_COLOR_7;
                      visibility: hidden;
                  }

                  .visible {
                      visibility: visible;
                  }                  
              }
        }

        .new-member {
            @include base-content-row;
            border-bottom: 0;

            .button {
                display: inline-block;
                @include box-sizing(border-box);
            }

            @include mq-small {
                text-align: center;
            }

            %base-button-style {
                font-size: pxtoem(16);
                font-weight: bold;
            }

            .add-new-member-button {
                @extend %base-button-style;
            }

            .add-new-member-form {
                overflow: hidden;
                display: none;

                h2 {
                    width: $col-1-width;
                    font-size: pxtoem(18);
                    font-weight: bold;
                    float: left;

                    @include mq-small {
                        display: none;
                    }
                }

                .form-fields {
                    float: left;
                    width: $col-2-width;

                    @include mq-small {
                        float: none;
                        width: auto;

                        .first-name-row {
                            clear: none;
                            float: left;
                            width: 46%;
                        }

                        .last-name-row {
                            clear: none;
                            float: right;
                            width: 46%;
                        }
                    }
                }

                .button-row {
                    margin-left: $col-1-width;
                    width: 50%;

                    @include mq-small {
                        margin-left: 0;
                        width: auto;
                    }

                    .apply-button {
                        float: left;
                    }

                    .cancel-button {
                        float: right;
                    }

                    .apply-button, .cancel-button {
                        width: 48%;
                        font-size: pxtoem(16);
                        line-height: pxtoembase(18,16);
                    }
                }
            }
        }
    }

}
