@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";
@import "_media_query";
@import "compass/css3";

/* primary catalog navigation */
/* ------------------------------------- */

#navigation{
    $navigation-bg-color: $CONVERSE_COLOR_1;
    $navigation-font-color: $CONVERSE_COLOR_12;
    $navigation-font-color-clicked: $CONVERSE_COLOR_7;
    $navigation-font-color-hover: $CONVERSE_COLOR_5;
    $navigation-level-color: $CONVERSE_COLOR_1;
    $navigation-category-item-width: 108;
    $navigation-item-width: 144;
    $navigation-item-right-margin: $navigation-item-width * 0.2;
    
    position: relative;
    margin: 0 auto;
    background: $navigation-bg-color;
    z-index: 100;

    @include mq-medium-cascade() {
        display: none;
    }

    nav {
        height: inherit;
    }

    .external-category-container {
        display: none;

        .level-2 {
            display: block;

            .menu-wrapper {
                width: pxtoem($navigation-item-width);
                height: auto;
                padding: 0 0 pxtoem(24) 0;
                margin: 0 auto;

                @for $i from 2 through 6 {
                    $width: (($navigation-item-width * $i) - $navigation-item-right-margin);
                    &.columns-#{$i} {
                        width: pxtoem($width);
                    }
                }
                
                .textnav-wrapper {
                    width: pxtoem($navigation-item-width);
                    margin-left: 0;
                    font-size: pxtoem(12);
                    text-transform: inherit;

                    @for $i from 2 through 6 {
                        $width: (($navigation-item-width * $i) - $navigation-item-right-margin);
                        &.columns-#{$i} {
                            width: pxtoem($width);
                        }
                    }

                    @include mq-medium-cascade() {
                        margin-left: 0;
                    }

                    .column {
                        width: pxtoem($navigation-item-width * 0.8);
                        margin-right: pxtoem($navigation-item-right-margin);
                        float: left;

                        &.last {
                            margin-right: 0;
                        }

                        li {
                            margin-top: pxtoem(6);
                            line-height: pxtoem(18);

                            &.heading {
                                padding-bottom: 5px;
                                font-weight: 600;
                                font-size: pxtoem(13);
                                border-bottom: 1px solid $CONVERSE_COLOR_2;
                            }

                            a {
                                padding: 0;
                                font-size: pxtoem(13);
                                
                                &:hover {
                                    color: $navigation-font-color-hover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .menu-category-container{
        width: pxtoem($navigation-category-item-width * 3);
        height: pxtoem($COMMON_NAVIGATION_HEIGHT);
        margin: 0 auto;
        margin-bottom: pxtoem(5);
        text-align: center;

        @for $i from 4 through 7 {
            $width: $navigation-category-item-width * $i;
            &.columns-#{$i} {
                width: pxtoem($width);
            }
        }
    }

    ul.level-1 {
        display: inline-block;

        li {
            position: relative;
            float: left;
            height: inherit;
            min-width: 3.5em;
            padding: 0 pxtoem(13);
            line-height: pxtoem($COMMON_NAVIGATION_HEIGHT);
        }

        a {
            $font-size: 16;
            display: block;
            height: inherit;
            font-size: pxtoem($font-size);
            font-weight: bold;
            color: $navigation-font-color;
            text-transform: capitalize;
            @include box-sizing(border-box);

            @include mq-medium-cascade() {
                $font-size-tablet-mobile: 12;
                padding: 0 pxtoembase(10, $font-size-tablet-mobile);
                font-size: pxtoem($font-size-tablet-mobile);
            }

            &.hasSubcategories {
                &.clicked {
                    color: $navigation-font-color-clicked;
                }
            }

            &:not(.hasSubcategories) {
              &:hover {
                color: $navigation-font-color-clicked;
              }
            }
        }
    }
    
    div.level-2{
        display: none;
        position: relative;
        margin: 0;
        padding-top: pxtoem($DESKTOP_NAV_SUBCATEGORY_BORDER_WIDTH);
        padding-bottom: 0;
        padding-left: pxtoem($DESKTOP_NAV_SUBCATEGORY_BORDER_WIDTH);
        padding-right: pxtoem($DESKTOP_NAV_SUBCATEGORY_BORDER_WIDTH);
        background: $COMMON_MENU_BACKGROUND;

        .menu-wrapper {
            overflow: hidden;
        }
    }

    .ie7 div.level-2{
        width: pxtoem(452);
    }
}
