@import "_constants";
@import "_sprites";
@import "_helper_functions";
@import "_media_query";
@import "compass/css3/box-sizing";

/* product tiles */
/* ------------------------------------- */
$PRODUCT_IMAGE_SIZE: 165;
$PRODUCT_IMAGE_SIZE_MOBILE_TABLET: 130;
$SWATCH_SIZE: 12;
$WHITE_HEX: FFFFFF;
$BLACK_HEX: 000000;

.product-tile{
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;

    .product-image {
        height: pxtoem($PRODUCT_IMAGE_SIZE);
        width: pxtoem($PRODUCT_IMAGE_SIZE);
        position: relative;
        margin: 0 auto;
        @include box-sizing(border-box);

        img {
            display: initial;
        }

        @include mq-medium-cascade() {
            width: pxtoem($PRODUCT_IMAGE_SIZE_MOBILE_TABLET);
            height: pxtoem($PRODUCT_IMAGE_SIZE_MOBILE_TABLET);
        }
    }

    .product-name {
        font-size: pxtoem(12);
        width: pxtoem($PRODUCT_IMAGE_SIZE * .80);
        margin: pxtoem(15) auto pxtoem(2) auto;

        h2 {
            font-size: inherit;
            font-weight: normal;
            line-height: pxtoem(14);
            margin-bottom: pxtoem(5);
            a {
                color: $CONVERSE_COLOR_5;
            }
        }
    }

    .product-pricing {
        font-size: pxtoem(15);
        font-family: $CONVERSE_FONT_FAMILY_2_BOLD;
        font-weight: bold;
        color: $CONVERSE_COLOR_1;
    }
    
    .product-comingsoon {
        font-size: pxtoem(15);
        font-family: $CONVERSE_FONT_FAMILY_2_BOLD;
        font-weight: bold;
        color: $CONVERSE_COLOR_1;
    }

    .product-label-customizable {
        margin-top: pxtoem(5);
        font-family: $CONVERSE_FONT_FAMILY_2_REG;
        font-style: italic;
        font-weight: bold;
        display: none;
    }

    .product-label {
        margin-top: pxtoem(5);
        font-family: $CONVERSE_FONT_FAMILY_2_REG;
        font-style: italic;
        font-weight: bold;
    }

    .product-label-morecolors {
        display: none;
        margin-top: pxtoem(5);

        a {
            color: $CONVERSE_COLOR_4;
        }

        @include mq-medium-cascade() {
            display: block;
        }
    }

    .product-swatches {
        display: block;
        position: relative;
        max-width: pxtoem($PRODUCT_IMAGE_SIZE  * .80);
        margin-right: auto;
        margin-left: auto;
        margin-top: pxtoem(10);

        ul.swatch-list {
            display: inline;

            li {
                display: inline-block;
                width: pxtoem($SWATCH_SIZE);
                height: pxtoem($SWATCH_SIZE);
                margin-left: pxtoem(6);

                &:first-child {
                    margin: 0;
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    @include box-sizing(border-box);

                    border: 0.08333em solid rgba(0, 0, 0, 0.75);
                    
                    &:hover {
                        border: pxtoem(1) solid $CONVERSE_COLOR_1;
                    }

                    &[data-swatch-hex="#{$WHITE_HEX}"]{
                        border: pxtoem(1) solid $CONVERSE_COLOR_1;
                    }

                    &[data-swatch-hex="#{$BLACK_HEX}"]:hover {
                        border: pxtoem(1) solid $CONVERSE_COLOR_6;
                    }


                }

                span {
                    display: none;
                }
            }
        }

        .prev-swatch-group {
            display: none;
            position: absolute;
            left: 0;
            background: sprite($SPRITEICONS, left_arrow_gridwall_swatch);
            width: pxtoem(5);
            height: pxtoem(9);
            cursor: pointer;
            margin-top: pxtoem(1.5);

            span {
                display: none;
            }
        }

        .next-swatch-group {
            display: none;
            position: absolute;
            right: 0;
            background: sprite($SPRITEICONS, right_arrow_gridwall_swatch);
            width: pxtoem(5);
            height: pxtoem(9);
            cursor: pointer;
            margin-top: pxtoem(1.5);

            span {
                display: none;
            }
        }
    }

    .product-promo {
        font-size: pxtoem(9.6);
        margin: pxtoem(6) 0;
        text-transform: uppercase;
    }
}

.product-tile.notouch {
    &:hover {
        .product-label-customizable {
            display: block;
        }
    }
}

.product-tile.touch {
    .product-label-customizable {
        display: block;
    }
}

.capture-product-id{
    display: none;
}
