@import "_helper_functions";

#parent-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

%row {
    height: pxtoem(200);
    width: pxtoem(620);
    margin: pxtoem(10) pxtoem(10) 0 pxtoem(10);

    .thumb {
        height: pxtoem(200);
        width: pxtoem(200);
        margin-left: pxtoem(10);
        float: left;

        &:first-child {
            margin-left: 0px;
        }
    }
}

.row-one {
    @extend %row;

    i.insta_overlay {
        height: pxtoem(200);
        width: pxtoem(200);
        position: absolute;
        background-image: url('../images/qrcode_icons/cons_instagram.png');
    }
}

.row-two {
    @extend %row;

    height: auto;
}

.row-three {
    @extend %row;

    .thumb {
        position: relative;
        
        &.music {
            background-image: url('../images/qrcode_icons/cons_music.jpg');
        }

        &.twitter {
            background-image: url('../images/qrcode_icons/cons_twitter.jpg');
        }

        &.gplus {
            background-image: url('../images/qrcode_icons/cons_gplus.jpg');
        }

        a {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}

.row-four {
    @extend %row;

    height: auto;
    margin-bottom: pxtoem(10);
}