@import "_constants";
@import "_helper_functions";
@import "_selected_element_arrow";
@import "_conv_mixins";
@import "_media_query";
@import "_sprites";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";

$PAGE_WIDTH: pxtoem(1200);

$REFINEMENTS_HEIGHT: pxtoem(70);
$REFINEMENT_BUTTON_HEIGHT: pxtoem(25);
$REFINEMENT_BUTTON_WIDTH: pxtoem(100);
$REFINEMENT_BUTTON_BORDER_COLOR: $CONVERSE_COLOR_1;

$SELECTED_REFINEMENT_BG_COLOR: $CONVERSE_COLOR_11;

$SIZE_REFINEMENT_VALUE_SIZE_HEIGHT: pxtoem(35);
$SIZE_REFINEMENT_VALUE_SIZE_WIDTH: pxtoem(70);
$COLOR_REFINEMENT_VALUE_SIZE: pxtoem(35);

$NEXT_BUTTON_CONTAINER_WIDTH: pxtoem(28);
$NEXT_BUTTON_CONTAINER_HEIGHT: pxtoem(28);

$NEXT_BUTTON_WIDTH: pxtoem(20);
$NEXT_BUTTON_HEIGHT: pxtoem(20);

$GRID_TILE_HEIGHT:24em;

@mixin next-button {
    display: table-cell;
    vertical-align: middle;

    width: $NEXT_BUTTON_CONTAINER_WIDTH;
    height: $NEXT_BUTTON_CONTAINER_HEIGHT;

    div.next-button {
        @include box-sizing(border-box);

        display: inline-block;

        width: $NEXT_BUTTON_WIDTH;
        height: $NEXT_BUTTON_HEIGHT;
    }
}

/* search results, grid layout */
/* ------------------------------------- */

#gridwall-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $CONVERSE_COLOR_12;
    opacity: 0.4;
    z-index: 98;
}

.pt_product-search-result {
    position: relative;

    #main {
        max-width: $PAGE_WIDTH;
    }

    .category-header {
        max-width: $PAGE_WIDTH;
        margin: 2em auto;

        @include mq-medium-cascade {
            max-width: pxtoem($HEADER_MAX_WIDTH_MEDIUM);
        }

        @include mq-medium-a-cascade {
            padding: 0 pxtoem(25);
        }

        @include mq-small {
            text-align: center;
            padding: 0;
            margin-top: pxtoem(10);
            margin-bottom: 0;
        }

        h1 {
            float: left;
            margin-top: pxtoem(10);
            font-family: $CONVERSE_FONT_FAMILY_1_REG;
            font-style: normal;
            font-size: 18px;
            color: $CONVERSE_COLOR_4;

            @include mq-small {
                float: none;
                font-size: 1.6em;
                margin-top: none;
                margin-bottom: 1em;
            }
        }

        .slim-category-billboard {
            max-width: $PAGE_WIDTH;
            max-height: pxtoem(250);
            margin-bottom: pxtoem(25);
            text-align: center;

            @include mq-small {
                display: none;
            }
        }

        .product-sort-filter-options {
            clear: both;
            padding-top: 16px;
            @include clearfix;

            @include mq-small {
                display: none;
            }

            .sort-by {
                float: right;

                .sort-by-label {
                    display: inline-block;

                    label {
                        padding: 0 pxtoem(10) 0 0;
                        line-height: pxtoembase(30, 10);
                    }
                }

                .sort-by-select {
                    display: inline-block;
                    float: right;
                }
            }
        }

        .product-sort-filter-options-mobile {
            display: none;
            height: 60px;
            border-top: 1px solid $CONVERSE_COLOR_15;
            border-bottom: 1px solid $CONVERSE_COLOR_15;
            overflow: hidden;

            @include mq-small {
                display: block
            }

            .sort-by,
            .filter-by {
                width: 50%;
                float: left;
                margin: 6px 0;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                box-sizing: border-box;
            }

            .filter-by {
                padding-right: 2%;
                border-right: 1px solid $CONVERSE_COLOR_15;

            }

            h3 {
                font-family: $CONVERSE_FONT_FAMILY_1_REG;
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 48px;
                color: $CONVERSE_COLOR_1;
                cursor: pointer;
            }
        }
    }

    #refinements {
        max-width: 192px;
        float: left;
        padding-right: 14px;
        margin-top: 40px;
        margin-bottom: 60px;
        margin-right: 33px;
        margin-left: 15px;
        overflow: hidden;
        overflow-y: auto;
        box-sizing: border-box;

        @include mq-small {
            display: none;
        }

        &.sticky {
            position: fixed;
            top: 100px;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            @include mq-medium {
                top: 0;
            }
        }

        &.sticky-bottom {
            position: absolute;
            bottom: 0;
        }

        .clear-filter {
            float: right;

            .clear-filter-container {
                a {
                    display: block;
                    height: 24px;
                    padding: 0 5px;
                    border: 1px solid $COMMON_BORDER_COLOR;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 24px;
                    @include box-sizing(border-box);
                }
            }
        }

        .primary-focus {
            height: 100%;

            @include mq-medium-a-cascade {
                padding: 0;
                margin: 0;
                max-width: 100%;
            }

            @include mq-small {
                padding: 0;
                margin: 0;
                max-width: 100%;
            }
        }

        .refinement {
            width: 100%;
            float: left;
            overflow: hidden;
            @include box-sizing(border-box);

            &.gender, 
            &.subGender {
                display: block !important;
            }

            h3 {
                margin: 25px 0 20px 0;
                padding: 0 0 5px 0;
                color: #484848;
                border-bottom: 1px solid $CONVERSE_COLOR_2;
                text-transform: none;
                cursor: pointer;
                @include box-sizing(border-box);

                &:after {
                    float: right;
                    content: " ";
                    background: sprite($SPRITEICONS, "filter-down-icon");
                    @include sprite-dimensions($SPRITEICONS, "filter-down-icon");
                }

                &.is-collapsed:after {
                    background: sprite($SPRITEICONS, "filter-right-icon");
                    @include sprite-dimensions($SPRITEICONS, "filter-right-icon");
                }

                span {
                    padding: 0;
                }

                .selected {
                    font-weight: lighter;
                }
            }

            ul {
                padding-top: 0;
                padding-bottom: 0;
            }

            .check-box {
                position: relative;
                width: 10px;
                height: 10px;
                float: left;
                margin-right: 8px;
                border: 1px solid $CONVERSE_COLOR_1;

                &.check-selected {
                    &:before {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        content: "x";
                        font-size: 11px;
                        line-height: 9px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .not-available {
        @include opacity(30);

        @include mq-small {
            @include opacity(100);
        }
    }

    .more-refinements-link {
        cursor: pointer;
    }

    .refinement-detail {
        &.color {

            li {
                padding: 10px 10px 0 0;
                float: left;
            }

            .selected {
                .refinement-value-button:before {
                    position: absolute;
                    display: block;
                    content: "";
                    margin: 5px;
                    background: sprite($SPRITEICONS, "filter-check-icon");
                    @include sprite-dimensions($SPRITEICONS, "filter-check-icon");
                }
            }

            .refinement-value-button {
                width: 25px;
                height: 25px;
                border: 1px solid #919191;
                box-sizing: border-box;

                > div {
                    width: 100%;
                    height: 100%;
                }

                span {
                    display: none;
                }
            }
        }
        &.size {
            li {
                padding: 0;
                float: left;
            }

            .selected {
                .refinement-value-button {
                    background: #CDCDCD;
                }
            }

            .refinement-value-button {
                width: 32px;
                height: 32px;
                margin: -1px 0 0 -1px;
                border: 1px solid #C4C4C4;
                box-sizing: border-box;

                span {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    line-height: 30px;
                }
            }
        }
    }

}

.ajax-loader {
    display: none;
}

.site-featured-items {
    min-height: $GRID_TILE_HEIGHT;
}

.more-results {
    padding-top: pxtoem(40);
    padding-bottom: pxtoem(40);
    text-align: center;

    a {
        width: pxtoem(100);
        height: pxtoem(30);
        line-height: pxtoem(30);
        display: block;;
        margin: 0 auto;
        border: 1px solid $COMMON_BORDER_COLOR;
        text-align: center;
        display: none;

        span {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.search-result-content {
    position: relative;
    max-width: 960px;
    margin-left: 240px;
    margin-bottom: 12px;

    @include mq-small {
        width: 100%;
        margin-left: 0;
        clear: both;
    }

    ul.search-result-items {
        margin: 0;
        padding: 0;

        li.grid-tile {
            background: none;
            float: left;
            width: 25%;
            height: $GRID_TILE_HEIGHT;
            padding: 0;
            list-style: none outside none;

            .gift-card-product {
                margin-top: 71px;
            }

            @include mq-medium-a-cascade {
                width: 33%;
            }

            @include media-query-lt(750px) {
                width: 50%;
            }
        }
    }
}

		.scrollupwrapper {
			position: fixed;
    		display: none;
    		bottom: 280px;
    		right: 10px;
         	width: 47px;
  			height: 47px;
  			background-color: black;
  			font-size: 8px;
  			cursor: pointer;
  			opacity: 1;
  			filter: alpha(opacity=100);
  			
  			&:hover {
         		opacity: 0.6;
        		filter: alpha(opacity=60);
         	}
  			
         }
         
         .scrollup {
  			background: url('../images/backtotopcopy.gif') no-repeat;
  			background-position: center top;
  			text-indent: -9999px;
		}

         p.scrollupsansserif {
    		font-family: Arial, Helvetica, sans-serif;
    		font-weight: bold;
    		color: white;
    		text-indent: 0px;
    		background-color: transparent;
    		text-align: center;
    		padding-top: 15px;
    		margin: 0px;
    		line-height: 130%;
    		
    		&.de{
    			line-height: 110%;
    		}
    		
    	}

.is-mobile-user-agent{

    .scrollupwrapper {
        bottom: 50%;
    }
}


$MOBILE_LINE_HEIGHT: 60px;

.mobile-search-panel {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F7F7F7;
    z-index: 9999;
    overflow: auto;

    &.filter-panel {
        background: $CONVERSE_COLOR_12;
    }

    .panel-header {
        position: relative;
        height: $MOBILE_LINE_HEIGHT;
        background: $CONVERSE_COLOR_12;
        border-bottom: 1px solid #E1E1E1;

        h3 {
            font-family: $CONVERSE_FONT_FAMILY_1_REG;
            font-size: 18px;
            font-weight: bold;
            line-height: $MOBILE_LINE_HEIGHT;
            text-transform: uppercase;
        }

        .close-panel {
            position: absolute;
            top: 0;
            right: 30px;
            line-height: $MOBILE_LINE_HEIGHT;
            cursor: pointer;
        }
    }

    .button {
        position: absolute;
        top: 20px;
        right: 30px;
        width: 18px;
        height: 18px;
        border: 1px solid $CONVERSE_COLOR_24;
    }

    .radio-button {
        @extend .button;
        border-radius: 50%;

        &.radio-selected {
            background-color: $CONVERSE_COLOR_24;
        }
    }

    .check-box {
        @extend .button;
        border-radius: 5px; 

        &.check-selected {
            border-color: $CONVERSE_COLOR_1;

            &:before {
                position: absolute;
                top: 0;
                width: 100%;
                content: "x";
                font-size: 16px;
                line-height: 16px;
                text-align: center;
            }
        }
    }

    .expand-box {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .refinement {
        &.gender, 
        &.subGender {
            display: block !important;
        }

        ul ,
        li {
            padding: 0;
            margin: 0;
        }
    }

    .panel-list-item-content {
        position: relative;
        padding: 22px 30px;
        border-bottom: 1px solid #E1E1E1;

        p {
            color:  #969696;
            font-family: $CONVERSE_FONT_FAMILY_1_REG;
            font-size: 16px;
            text-align: left;
        }

        &.filter-option {
            .filter-type {
                color: $CONVERSE_COLOR_1;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;

                &.clear-filter {
                    display: block;
                    float: none;
                    height: auto;
                    margin: 0;
                    text-align: center;
                    text-transform: none;
                }
            }

            .selected-refinements {
                color: $CONVERSE_COLOR_17;
                font-size: 15px;
            }
        }
    }

    .refinement-detail {
        display: none;
        background: #F7F7F7;
        overflow: hidden;

        &.color,
        &.size {
            padding: 25px 30px;

            .refinement-value-button {
                padding: 0;

                > div {
                    height: inherit;
                    line-height: 30px;
                    overflow: hidden;
                }
            }
        }

        &.color {
            padding-bottom: 15px;

            li {
                padding: 0;
            }

            .refinement-value-button {
                overflow: hidden;
                margin: 0px 10px 10px 0;
                border-radius: 50%;
            }
        }

        .selected,
        .not-selected {
            .refinement-value-button {
                color: $CONVERSE_COLOR_1;
            }
        }

        .refinement-value-button {
            position: relative;
            height: $MOBILE_LINE_HEIGHT;
            padding: 0 30px;
            border-bottom: 1px solid $CONVERSE_COLOR_19;
            color: $CONVERSE_COLOR_17;
            font-size: 14px;
            text-align: left;

            > div {
                height: inherit;
                line-height: $MOBILE_LINE_HEIGHT;
            }
        }
    }

}
