@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";
@import "_media_query";

/* SEARCH NO-RESULTS
--------------------------------------------------------------------------------------- */

.pt_product-search-noresult {

    padding-top: pxtoem(20);

    .noresults-section {
        font-style: bold;

        .noresults-heading {
            font-family: $CONVERSE_FONT_FAMILY_1_BOLD;
            color: $CONVERSE_COLOR_2;

            @include mq-small() {
                float: left;
                text-align: center;
                width: 100%;
            }
        }

        .contact-group {
            @include mq-small() {
                clear: both;
            }
        }
    }

    .noresults-section-1 {
        padding: pxtoem(50) 0 pxtoem(10) pxtoem(10);

        @include mq-small() {
            padding-top: pxtoem(10);
            padding-bottom: 0;
        }

        .noresults-heading {
            font-size: pxtoem(30);
            @include mq-medium() {
                margin-left: 10%;
            }
            @include mq-small() {
                font-size: pxtoem(24);
            }
        }
    }

    .noresults-section-2 {
        padding: pxtoem(60) pxtoem(10);

        @include mq-small() {
            padding: pxtoem(10) pxtoem(10) pxtoem(60) pxtoem(10);
        }

        .noresults-heading {
            font-size: pxtoem(24);
            
            @include mq-medium() {
                margin-left: 10%;
            }
            
            @include mq-small() {
                font-size: pxtoem(18);
                font-style: normal;
            }
        }
    }

    .noresults-divider {
        clear: both;
        border-top: 0;
        height: 1px;
        color: $CONVERSE_COLOR_5;
    }

    .noresults-divider-1 {
        @include mq-small() {
            display: none;
        }
    }

    .noresults-divider-2 {
        margin-bottom: pxtoem(60);
    }
}
