@import "_constants";
/* send to friend */
/* ------------------------------------- */

.send-to-friend-product{border-bottom:1px solid $COMMON_BORDER_COLOR;border-top:1px solid $IMAGE_CACHE_BUSTER;margin-bottom:20px;margin-top:20px;margin-right: 22%;overflow:hidden;padding:20px 0;}
.send-to-friend-product .product-image{float:left;width:36%;}
.send-to-friend-product .product-image img{max-width:80%;}
.send-to-friend-product .product-description{float:left;width:63%;}
.send-to-friend-product .product-description h2 {margin-right:0;}
.send-to-friend-product .product-description .value {font-weight:bold;}
.send-to-friend-product .product-description h2{font-family:Georgia;font-size:1.2em;font-style:italic;}
.send-to-friend-product .product-description dt {clear:both;float:left; margin:10px 0 0 0;width: 100px;}
.send-to-friend-product .product-description dd {float:left;margin:10px 0 0 0; width: 200px;}


