@import "_constants";
@import "_helper_functions";
@import "_base_badge";
@import "_sprites";
@import "_media_query";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";

/* site featured category */
/* ------------------------------------- */
.featured-category {
    height:4em;
    a {
        height:100%;
    }
}

.site-featured-category {
    clear: both;

    .category-caption .caption {
        text-align: center;

        span {
            $font-size: 24;
            font-size: pxtoem($font-size);
            font-family: $CONVERSE_FONT_FAMILY_2_REG;
            font-weight: normal;
            font-style: italic;
            line-height: pxtoembase(26.39, $font-size);

            &:before,
            &:after {
                width: pxtoembase(120, $font-size);
                height: pxtoembase(1, $font-size);
                content: "";
                display: inline-block;
                border-top: 1px solid #b2b2b2;
                position: relative;
                top: pxtoembase(-6, $font-size);
                margin-left: pxtoembase(24, $font-size);
                margin-right: pxtoembase(24, $font-size);

                @include mq-small() {
                    display: none;
                }
            }
        }
    }

    .category-name {
        font-size: pxtoem(24);
        font-weight: bold;
        line-height: pxtoembase(26.39, 24);
        clear: both;
        text-align: center;
    }

    .search-result-content {
        width: auto;
        margin: 0 auto;
    }
}
