@import "_constants";
@import "_sprites";
@import "_helper_functions";
@import "_conv_mixins";
@import "_selected_element_arrow";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";

.pt_store-locator {
    width: 100%;
    height: 100vh !important;
    position: static;

    @include mq-medium-b-cascade() {
        position: static;
        height: 100vh !important;
    }

    img {
        max-width: none;
        max-height: none;
    }

    #store-locator-content {
        display: none;
        background-color: #FFFFFF;
        position: absolute;
        left: pxtoem(80);
        margin-top: pxtoem(40);
        width: pxtoem(240);
        z-index: 10;
        padding: pxtoem(10);
        border: 1px solid $CONVERSE_COLOR_4;
        @include box-sizing(border-box);

        @include mq-medium-b-cascade() {
            width: 100%;
            position: static;
        }

        #store-locator-header {
            $font-size: 18;
            font-size: pxtoem($font-size);
            text-transform: uppercase;
            font-weight: bold;
            padding: pxtoembase(20, $font-size) 0;

            @include mq-medium-b-cascade() {
                text-align: center;
            }
        }

        #store-locator-search {
            margin-bottom: pxtoem(16);

            #store-locator-search-form {
                position: relative;

                @include mq-medium-b-cascade() {
                    margin: 0 pxtoem(16);
                }

                #address {
                    padding-right: pxtoem(26);
                }

                .magnify-glass-icon {
                    width: pxtoem(12);
                    height: pxtoem(12);
                    background: sprite($SPRITEICONS, search-input-magnify-glass) transparent;
                    margin-top: pxtoem(10);
                    margin-right: pxtoem(10);
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 0;
                    @include hide-text(left);
                }
            }

            #address {
                width: 100%;
            }

            #filters-header {
                display: none;
                margin-top: pxtoem(16);

                &.expanded:after {
                    @include arrow-down($CONVERSE_COLOR_1, .7em, true, 0.4em);
                    position: relative;
                    left: 46%;
                }

                &.expanded:hover:after {
                    @include arrow-down($CONVERSE_COLOR_2, .7em, true, 0.4em);
                    position: relative;
                    left: 46%;
                }

                #refine-search-btn {
                    width: 100%;
                }

                &.expanded:hover {
                    #refine-search-btn {
                        background-color: $CONVERSE_COLOR_2;
                    }
                }
            }

            #filters-list {
                display: none;
                margin: pxtoem(8) 0;

                li {
                    $font-size: 11;
                    font-size: pxtoem($font-size);
                    line-height: pxtoembase(18, $font-size);

                    label {
                        display: inline;
                        font-size: inherit;
                        font-weight: normal;
                        text-transform: none;
                    }

                    label[for="filter-official"]{
                        font-weight: bold;
                    }

                    &:nth-child(2) {
                        border-bottom: pxtoembase(1, $font-size) solid $CONVERSE_COLOR_5;
                        padding-bottom: pxtoembase(10, $font-size);
                        margin-bottom: pxtoembase(10, $font-size);
                    }
                }
            }
        }

        #store-locator-results {

            #stores-progress {
                display: none;
            }

            #stores-message {
                display: none;
                padding-top: pxtoem(5);
                text-align: center;
            }

            #stores-scroller {
                overflow-x: hidden;
                overflow-y: auto;
            }

            .store {
                $WIDTH: 220;
                $INFO_WIDTH: 190;
                $IMAGE_WIDTH: 28;
                $NAME_WIDTH: $INFO_WIDTH * (2/3);
                $DISTANCE_WIDTH: $INFO_WIDTH * (1/3);

                $font-size: 11;
                width: pxtoem($WIDTH);
                border-bottom: 1px solid $CONVERSE_COLOR_4;
                cursor: pointer;
                margin-bottom: pxtoem(20);
                padding-bottom: pxtoem(20);
                @include box-sizing(border-box);
                @include clearfix;

                @include mq-medium-b-cascade() {
                    width: 100%;
                    padding: 0 pxtoem(16) pxtoem(20) pxtoem(16);
                }

                .image {
                    width: pxtoem($IMAGE_WIDTH);
                    float: left;
                }

                .info {
                    width: pxtoembase($INFO_WIDTH, $font-size);
                    font-size: pxtoem($font-size);
                    float: left;
                    line-height: pxtoembase(16, $font-size);
                    @include clearfix;

                    @include mq-medium-b-cascade() {
                        width: auto;
                        float: none;
                    }

                    .header {
                        @include clearfix;
                    }

                    .name {
                        width: pxtoembase($NAME_WIDTH, $font-size);
                        float: left;
                        font-weight: bold;

                        @include mq-medium-b-cascade() {
                            width: auto;
                        }
                    }

                    .distance {
                        width: pxtoembase($DISTANCE_WIDTH, $font-size);
                        float: right;
                        text-align: right;
                    }

                    .address-line1 {
                        float: left;
                    }

                    .address-line2 {
                        float: left;
                        clear: both;
                    }

                    .phone {
                        clear: both;
                        display: block;
                        padding-top: pxtoem(16);
                    }

                    .map {
                        @include mq-medium-b-cascade() {
                            display: block;
                            clear: both;
                            padding-top: pxtoem(16);
                        }

                        display: none;
                    }
                }

                &.selected {
                    background-color: $CONVERSE_COLOR_9;
                }

                &.active {
                    background-color: $CONVERSE_COLOR_10;
                }
            }

            #stores-footer {
                display: none;
                margin-top: pxtoem(16);

                @include mq-medium-b-cascade() {
                    margin: pxtoem(16) pxtoem(16) 0 pxtoem(16);
                }

                p {
                    margin-top: pxtoem(16);

                    @include mq-medium-b-cascade() {
                        text-align: center;
                    }
                }

                #expand-search-btn {
                    width: 100%;
                    margin-top: pxtoem(16);
                }
            }
        }
    }

    .store-box-info {
        width: pxtoem(200);
        background-color: $CONVERSE_COLOR_12;
        @include box-sizing(border-box);

        .info .map {
            display: none;
        }
    }

    .infoBox {
        $font-size: 11;
        font-size: pxtoem($font-size);
        border: pxtoembase(1, $font-size) solid $CONVERSE_COLOR_6;
        text-align: center;
        @include css-arrow($position: left, $color: $CONVERSE_COLOR_12, $border-color: $CONVERSE_COLOR_5, $border-width: pxtoem(1), $offset:30px);

        .store {
            padding: pxtoembase(30, $font-size) pxtoembase(20, $font-size);
        }

        .name {
            font-weight: bold;
        }

        .image, .distance  {
            display: none;
        }

        .store-hours-title {
            font-weight: bold;
            margin-top: pxtoembase(32, $font-size);
            line-height: pxtoembase(18, $font-size);
        }

        .phone {
            padding-top: pxtoem(16);
        }

        .url:hover {
            color: $CONVERSE_COLOR_5;
        }

        .directions-btn {
            width: 100%;
            margin-top: pxtoembase(16, $font-size);
        }

        .thumbnail {
            max-width: 100%;
            margin: pxtoembase(16, $font-size) 0;
        }

    }
}

#store-locator-map {
    display: block;
    @include mq-medium-b-cascade() {
        display: none;
    }
}

#map-canvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
