@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";
/* tables used for product lists (wishlist, gift reg) */
/* ------------------------------------- */

%edit_button_base {
	@include conv_button_style(black, white);
	bottom: pxtoem(10);
	position: absolute;
}

.product-list-item {
	padding: 0;

	.attribute {
		$font-size: 12;
		font-size: pxtoem($font-size);
		line-height: pxtoembase(16.25, $font-size);

		.label {
			font-weight: normal;
			text-transform: uppercase;
		}

		.value {
			font-weight: bold;
		}
	}

	.name {
		$font-size: 16;
		font-size: pxtoem($font-size);
		font-weight: bold;
		line-height: pxtoembase(20, $font-size);

		a {
			color: $CONVERSE_COLOR_1;
		}

		a:hover {
			color: $CONVERSE_COLOR_5;
		}
	}

	.item-price {
		font-size: pxtoem(14);
		font-weight: bold;
		padding: 0 0 pxtoembase(8, 14) 0;
	}

}


td.item-availability ul{list-style:none outside none;margin:0;padding:0;}
td.item-quantity-details ul{list-style:none outside none;margin:0;padding:0;}
td.item-dashboard{color:#AAAAAA;width:250px;}
td.item-dashboard .label{display:inline;float:none;font-size:1em;font-weight:400;padding:0;width:auto !important;}
td.item-dashboard label{display:inline;float:none;font-size:1em;font-weight:400;padding:0;width:auto !important;}
td.item-dashboard .input-text{margin:0;text-align:center;}
td.item-dashboard .input-select{margin:0;padding:8px;width:auto !important;}
td.item-dashboard .input-checkbox{margin:0 5px;}
td.item-dashboard .item-option{clear:both;font-size:1em;margin:0 0 0.5em;}
td.item-dashboard .item-option .form-row{display:inline;}
td.item-dashboard .option-date-added .value{color:$COMMON_LINK_COLOR;font-weight:700;}
td.item-dashboard .option-quantity-desired input{padding:0;width:20px;}
td.item-dashboard .option-priority .label{color:$COMMON_LINK_COLOR;font-weight:700;}
td.item-dashboard .option-priority label{color:$COMMON_LINK_COLOR;font-weight:700;}
td.item-dashboard .option-add-to-cart .label{color:$COMMON_LINK_COLOR;font-size:1.1em;font-weight:700;text-transform:uppercase;}
td.item-dashboard .option-add-to-cart label{color:$COMMON_LINK_COLOR;font-size:1.1em;font-weight:700;text-transform:uppercase;}
td.item-dashboard .option-add-to-cart input{padding:0.8em 0.3em 0.7em;width:50px;}
td.item-dashboard .option-quantity-purchased span.exceeded {color:#ff0000}
