@import "_constants";
@import "compass/css3/border-radius";
@import "_helper_functions";
@import "_conv_mixins";
@import "_media_query";
@import "susy";

$susy: (
    columns: 5,  // The number of columns in your grid
    gutters: 0 // The size of a gutter in relation to a single column
);

/* Contact Us Page
--------------------------------------------------------------------------------------- */

.contactus-page {
    @include span(5 of 5 no-gutters);

    .contactus-section {

        margin-top: pxtoem(40);

        .contactus-left {

            @include mq-medium-plus {
                @include span(2 of 5 no-gutters);
            }
            @include mq-small {
                @include span(5 of 5 no-gutters);
            }

        }

        .contactus-center {
            @include mq-small {
                display: none;
            }
            @include span(1 of 5 no-gutters);
            text-align: center;
        }

        .contactus-right {

            @include mq-medium-plus {
                @include span(2 of 5 last no-gutters);
            }
            @include mq-small {
                @include span(5 of 5 no-gutters);
            }
        }

        h2 {
            @include mq-small {
                display: none;
            }
            &.product-header {
                margin-top: 0;
            }
        }
        .contact-group {

            .contact-block {
                width: 100%;

                .contact-widget {
                    margin: pxtoem(20) 0;
                }
            }
        }
    }
}
