@import "_constants";
@import "_helper_functions";
@import "_conv_mixins";
@import "_media_query";

#login-or-register-container {

    .lc {
       
        #register-container {

            #register-birthday-cell {
                @include mq-small {
                    top: 15em;
                }
            }

            #register-gender-cell{
                @include mq-small() {
                    top: 1em;
                }
            }

            #register-passwordconfirm-cell{
                @include mq-small {
                    top: -2.5em;
                }
            }
        }
    }
}
