/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 $navbarHeight: 30px;
 $navbarBackground: whitesmoke;
 $navbarBackgroundHighlight: whitesmoke;

@mixin border-radius($radius: '5px') {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

.header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    height: 100px;

    background-color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;

    .navbar {
        margin: 0;

        .navbar-inner {
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;

            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;

            padding-left: 60px;
            padding-right: 60px;
        }
    }

    .caret {
        margin-left: 5px;
    }

    .header-content {
        position: relative;
        margin-left: 45px;
        margin-right: 60px;

        height: 49px;

        h1 {
            margin: 0;
        }
    }
}

.content {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 50px;
    right: 50px;

    .sign-in {
        @include border-radius(10px);

        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        border: 1px solid gray;
        background-color: #EEE;

        form.sign-in-form {
            margin: 0 25px;
            padding-bottom: 10px;

            .form-actions {
                padding: 10px 0;
                margin-bottom: 0;
            }

            .controls {
                input[type="email"], input[type="password"] {
                    width: 100%;
                }
            }

            .alert {
                padding: 10px 0;
                margin: 0;
                border: 0;
                color: #FF0000;

                text-shadow: none;
                box-shadow: none;
                -webkit-box-shadow: none;
            }

            label.remember-me {
                display: inline;
            }

            input[type="checkbox"].remember-me {
                margin: 0;
            }
        }

        .sign-in-header {
            padding: 25px 25px 0 25px;

            .sign-in-title {
                font-size: 30px;
            }
        }
    }
}
