<h3>Upload sale price book data file</h3>

<%= form_tag url_for(:action => 'post_sale_price'), :multipart => true do %>
    <div>
        <label for="datafile">Import File:</label>
        <%=file_field_tag 'datafile', {} %>    
    </div>
    <div>
       <%=submit_tag 'Upload', :class => 'btn' %> 
    </div>
<% end %>
