/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 13, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container {
  display: none;
  overflow: hidden;
  background: url("../images/acquire-email-popup-background.jpg") no-repeat;
}
/* line 18, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.email-sent {
  background: url("../images/acquire-email-background-success.jpg") no-repeat;
}
/* line 22, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .acquire-new-email-address-copy {
  margin-top: 1.66667em;
}
/* line 26, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .acquire-new-email-address-copy .title, #new-email-addresses-container .acquire-new-email-address-copy .copy {
  text-align: center;
}
/* line 30, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .acquire-new-email-address-copy .title {
  font-weight: normal;
}
/* line 34, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .acquire-new-email-address-copy .first {
  font-family: "Arvo", serif;
  margin: 0.5em auto 0 auto;
  font-size: 4em;
}
/* line 40, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .acquire-new-email-address-copy .second {
  font-family: "Arvo", serif;
  margin-top: 1.5em;
  font-size: 1.8em;
}
/* line 46, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .acquire-new-email-address-copy .copy {
  font-size: 1.25em;
  font-weight: normal;
  margin-top: 1em;
}
/* line 51, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .acquire-new-email-address-copy .copy.benefits div {
  font-family: "Arvo", serif;
  line-height: 1.6em;
}
/* line 57, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .acquire-new-email-address-copy .promo {
  margin-top: 2em;
  font-weight: bold;
  line-height: 1.2em;
}
/* line 64, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .error-form {
  margin-top: 1em;
}
/* line 68, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .form-row {
  margin-bottom: 0px;
}
/* line 72, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .error {
  color: #940000;
}
/* line 76, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container li.required {
  display: none;
}
/* line 80, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .button-row {
  bottom: 35px;
  left: 170px;
  position: absolute;
}
/* line 85, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .button-row .button-column {
  display: inline-block;
  font-size: 1.0em;
}
/* line 89, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container .button-row .button-column button {
  background: #000000;
  width: 160px;
}
/* line 96, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container {
  margin-top: 3.5em;
  padding: 0 8px;
}
/* line 101, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .date-input .message-placeholder {
  padding-top: 2.5em;
}
/* line 106, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .form-column-right {
  width: 50%;
}
/* line 110, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .form-column-left {
  width: 49%;
  padding-left: 2px;
}
/* line 115, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .form-column-left .message-placeholder .type {
  display: none;
}
/* line 119, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .form-column-left .message-placeholder.only-email-error {
  width: 455px;
}
/* line 122, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .form-column-left .message-placeholder.only-email-error ul {
  text-align: center;
}
/* line 126, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .form-column-left .message-placeholder.only-email-error li {
  display: inline;
  margin: 2px 3px 0 0;
}
/* line 134, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .date-select-box {
  float: left;
  margin-right: 0.29em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 138, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .date-select-box:last-of-type {
  margin-right: 0em;
}
@media screen and (min-width: 33.3125em) {
  /* line 134, ../css/package/sass/acquire_new_email_address.scss */
  #new-email-addresses-container #new-email-addresses-form-container .date-select-box {
    width: 31%;
    height: 2.5em;
    overflow: hidden;
    background: url('../images/select_arrow.jpg?1472148728') no-repeat right #FFFFFF;
    border: 1px solid #CACACA;
  }
  /* line 204, ../css/package/sass/base/_conv_mixins.scss */
  #new-email-addresses-container #new-email-addresses-form-container .date-select-box.error {
    border: 1px solid #940000;
    background: url('../images/select_arrow.jpg?1472148728') no-repeat right #FFFFFF;
  }
  /* line 209, ../css/package/sass/base/_conv_mixins.scss */
  #new-email-addresses-container #new-email-addresses-form-container .date-select-box select {
    width: 100%;
    height: 100%;
    -ms-appearance: none;
    -moz-appearance: window;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    padding: 0.41667em;
    padding-right: 2.41667em;
    line-height: 100%;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: "";
  }
  /* line 226, ../css/package/sass/base/_conv_mixins.scss */
  #new-email-addresses-container #new-email-addresses-form-container .date-select-box select::-ms-expand {
    display: none;
  }
  /* line 230, ../css/package/sass/base/_conv_mixins.scss */
  #new-email-addresses-container #new-email-addresses-form-container .date-select-box select option[disabled], #new-email-addresses-container #new-email-addresses-form-container .date-select-box select option:disabled {
    color: #D7D7D7 !important;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 237, ../css/package/sass/base/_conv_mixins.scss */
  #new-email-addresses-container #new-email-addresses-form-container .date-select-box select {
    width: 99%;
    margin-left: 1%;
  }
}
/* line 144, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .success-form {
  margin-top: 0.5em;
  display: none;
  color: #009400;
  font-size: 1.2em;
  text-align: center;
}
/* line 152, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container #new-email-addresses-form-container .error-form {
  margin-top: 0.5em;
  display: none;
  color: #940000;
  font-size: 1.0em;
  text-align: center;
}

/**
Styles specifically for EMEA Popup
**/
/* line 166, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea {
  position: relative;
  max-width: 752px;
  display: block;
  margin: 0 auto;
  padding: 50px 40px;
  border: 1px solid #C2C2C2;
  background: #FFFFFF;
  box-sizing: border-box;
}
@media screen and (max-width: 59.9375em) {
  /* line 166, ../css/package/sass/acquire_new_email_address.scss */
  #new-email-addresses-container.emea {
    padding: 40px 35px;
  }
}
/* line 180, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea p {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}
/* line 185, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea p.error {
  font-size: 10px;
}
/* line 189, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea p.success {
  font-size: 10px;
}
@media screen and (max-width: 59.9375em) {
  /* line 180, ../css/package/sass/acquire_new_email_address.scss */
  #new-email-addresses-container.emea p {
    font-size: 1em;
  }
}
/* line 198, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea .title {
  margin-bottom: 30px;
  font-family: "Arvo", serif;
  font-size: 28px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 59.9375em) {
  /* line 198, ../css/package/sass/acquire_new_email_address.scss */
  #new-email-addresses-container.emea .title {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
/* line 212, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea .container-left {
  width: 310px;
  float: left;
  padding: 30px 45px 0 0;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
}
@media screen and (max-width: 59.9375em) {
  /* line 212, ../css/package/sass/acquire_new_email_address.scss */
  #new-email-addresses-container.emea .container-left {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
/* line 227, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea .container-right {
  width: 360px;
  float: right;
  padding: 30px 0 20px 45px;
  border-left: 1px solid #C2C2C2;
  margin-top: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 59.9375em) {
  /* line 227, ../css/package/sass/acquire_new_email_address.scss */
  #new-email-addresses-container.emea .container-right {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
}
/* line 243, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea .acquire-new-email-address-copy {
  margin: 0;
}
/* line 246, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea .acquire-new-email-address-copy ul {
  list-style: disc;
  margin-left: 40px;
  margin-bottom: 20px;
}
/* line 253, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea #new-email-addresses-form-container {
  padding: 0;
  margin: 0 0 40px 0;
}
@media screen and (max-width: 59.9375em) {
  /* line 253, ../css/package/sass/acquire_new_email_address.scss */
  #new-email-addresses-container.emea #new-email-addresses-form-container {
    margin: 25px 0;
    max-width: 90%;
  }
}
/* line 262, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea #new-email-addresses-form-container label {
  display: none;
}
@media screen and (max-width: 59.9375em) {
  /* line 266, ../css/package/sass/acquire_new_email_address.scss */
  #new-email-addresses-container.emea #new-email-addresses-form-container .form-header {
    display: none;
  }
}
/* line 272, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea #new-email-addresses-form-container .email-input {
  width: 100%;
}
/* line 276, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea #new-email-addresses-form-container .gender-input {
  width: 58%;
  float: left;
}
/* line 281, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea #new-email-addresses-form-container .button-column {
  width: 38%;
  float: right;
}
/* line 285, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea #new-email-addresses-form-container .button-column button {
  width: 100%;
  padding-left: 0.5em;
}
/* line 292, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea #new-email-addresses-form-container .message-form p {
  text-align: center;
  line-height: 16px;
}
/* line 297, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea #new-email-addresses-form-container .message-form .error {
  color: red;
}
/* line 301, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea #new-email-addresses-form-container .message-form .success {
  color: green;
}
/* line 306, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea #new-email-addresses-form-container #new-email-addresses-form {
  margin-top: 40px;
}
@media screen and (max-width: 59.9375em) {
  /* line 306, ../css/package/sass/acquire_new_email_address.scss */
  #new-email-addresses-container.emea #new-email-addresses-form-container #new-email-addresses-form {
    margin-top: 0px;
  }
}
/* line 316, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea .popup-footer-content p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/* line 321, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea .popup-footer-content .link {
  color: inherit;
  text-decoration: underline;
}
/* line 326, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea .popup-footer-content .terms-and-conditions-copy {
  color: #999999;
  padding-bottom: 20px;
  font-size: 0.98em;
}
/* line 331, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea .popup-footer-content .terms-and-conditions-copy a {
  color: inherit;
}
/* line 336, ../css/package/sass/acquire_new_email_address.scss */
#new-email-addresses-container.emea .popup-footer-content .login-copy {
  font-size: 0.98em;
}

/* line 342, ../css/package/sass/acquire_new_email_address.scss */
#footer-new-email-address-copy-container {
  margin-bottom: 1em;
  font-family: "Arvo", serif;
}
/* line 346, ../css/package/sass/acquire_new_email_address.scss */
#footer-new-email-address-copy-container .title {
  font-weight: normal;
  font-size: 1.83333em;
}
/* line 352, ../css/package/sass/acquire_new_email_address.scss */
#footer-new-email-address-copy-container .copy {
  font-size: 1.25em;
  font-weight: normal;
  margin-top: 0.5em;
}
/* line 357, ../css/package/sass/acquire_new_email_address.scss */
#footer-new-email-address-copy-container .copy.benefits div {
  line-height: 1.66667em;
}

/* line 364, ../css/package/sass/acquire_new_email_address.scss */
#success-message-container {
  display: none;
  font-family: "Arvo", serif;
  text-align: center;
  font-weight: normal;
}
/* line 370, ../css/package/sass/acquire_new_email_address.scss */
#success-message-container .success-title {
  margin: 4.5em 0 1.5em 0;
  font-size: 2.1em;
  letter-spacing: 2px;
}
/* line 376, ../css/package/sass/acquire_new_email_address.scss */
#success-message-container .success-message {
  margin-top: 7px;
  letter-spacing: 1px;
  font-size: 1.3em;
}
/* line 382, ../css/package/sass/acquire_new_email_address.scss */
#success-message-container .button-row {
  margin-top: 30px;
  position: relative;
  bottom: 0;
  left: 0;
}

/* line 391, ../css/package/sass/acquire_new_email_address.scss */
.close-button {
  background: url("../images/acquire-email-popup-close-button.png") no-repeat transparent;
  width: 2em;
  height: 2em;
  float: right;
  cursor: pointer;
  position: relative;
  top: 4px;
  right: -1px;
}

/* line 404, ../css/package/sass/acquire_new_email_address.scss */
body.is-mobile-user-agent[data-language='nl'] #new-email-addresses-form button {
  font-size: 0.75em;
  padding: 11px 2px !important;
}

/* line 413, ../css/package/sass/acquire_new_email_address.scss */
body.is-mobile-user-agent[data-language='es'] #new-email-addresses-form button {
  font-size: 0.75em;
  padding: 11px 2px !important;
}

/* line 422, ../css/package/sass/acquire_new_email_address.scss */
body.is-mobile-user-agent[data-language='it'] #new-email-addresses-form button {
  font-size: 0.75em;
  padding: 11px 2px !important;
}

/* line 431, ../css/package/sass/acquire_new_email_address.scss */
body.is-mobile-user-agent[data-language='fr'] #new-email-addresses-form button {
  font-size: 0.70em;
  padding: 11px 1px !important;
}
