/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 1195, ../css/package/sass/base/_conv_mixins.scss */
.pdp-width-constraint {
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
}

/* base elements */
/* ------------------------------------- */
/* line 8, ../css/package/sass/base_elements.scss */
html, body, #body2 {
  height: 100%;
  min-height: 100%;
}

/* line 14, ../css/package/sass/base_elements.scss */
body {
  color: #333333;
  font-family: Helvetica;
  font-size: 12px;
  content: "";
  ie8: "";
}
@media screen and (max-width: 59.9375em) {
  /* line 14, ../css/package/sass/base_elements.scss */
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 14, ../css/package/sass/base_elements.scss */
  body {
    content: "small-device-profile";
    ie8: "small-device-profile";
  }
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 14, ../css/package/sass/base_elements.scss */
  body {
    content: "medium-device-profile";
    ie8: "medium-device-profile";
  }
}
@media screen and (min-width: 59.9375em) {
  /* line 14, ../css/package/sass/base_elements.scss */
  body {
    content: "large-device-profile";
    ie8: "large-device-profile";
  }
}

/* line 45, ../css/package/sass/base_elements.scss */
a {
  color: #333333;
  outline: medium none;
  overflow: hidden;
  text-decoration: none;
}

/* line 52, ../css/package/sass/base_elements.scss */
textarea:focus, input:focus {
  outline: 0;
}

/* line 56, ../css/package/sass/base_elements.scss */
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

/* line 62, ../css/package/sass/base_elements.scss */
table {
  width: 100%;
}

/* line 66, ../css/package/sass/base_elements.scss */
th {
  text-align: left;
}

/* line 70, ../css/package/sass/base_elements.scss */
input[type="text"], input[type="password"] {
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 75, ../css/package/sass/base_elements.scss */
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* line 81, ../css/package/sass/base_elements.scss */
.pos-relative {
  position: relative;
}

/* line 85, ../css/package/sass/base_elements.scss */
.vis-hidden {
  visibility: hidden;
}

/* line 89, ../css/package/sass/base_elements.scss */
.vis-visible {
  visibility: visible;
}

@media screen and (max-width: 33.3125em) {
  /* line 93, ../css/package/sass/base_elements.scss */
  .vis-hidden-mobile {
    visibility: hidden;
  }
}

/* line 99, ../css/package/sass/base_elements.scss */
.hide {
  display: none;
}

/* line 103, ../css/package/sass/base_elements.scss */
.noshow {
  visibility: hidden;
  display: none;
}

/* line 108, ../css/package/sass/base_elements.scss */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 114, ../css/package/sass/base_elements.scss */
.display-inline {
  display: inline;
}

/* line 118, ../css/package/sass/base_elements.scss */
.display-inline-block {
  display: inline-block;
}

/* line 122, ../css/package/sass/base_elements.scss */
.bold {
  font-weight: bold;
}

/* line 126, ../css/package/sass/base_elements.scss */
.italic {
  font-style: italic;
}

/* line 130, ../css/package/sass/base_elements.scss */
.desktop-only {
  display: block;
}
@media screen and (max-width: 59.9375em) {
  /* line 130, ../css/package/sass/base_elements.scss */
  .desktop-only {
    display: none;
  }
}

/* line 138, ../css/package/sass/base_elements.scss */
.tablet-only {
  display: none;
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 138, ../css/package/sass/base_elements.scss */
  .tablet-only {
    display: block;
  }
}

/* line 146, ../css/package/sass/base_elements.scss */
.mobile-only {
  display: none;
}
@media screen and (max-width: 33.3125em) {
  /* line 146, ../css/package/sass/base_elements.scss */
  .mobile-only {
    display: block;
  }
}

@media screen and (max-width: 33.3125em) {
  /* line 154, ../css/package/sass/base_elements.scss */
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 160, ../css/package/sass/base_elements.scss */
  .hide-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 59.9375em) {
  /* line 166, ../css/package/sass/base_elements.scss */
  .hide-large {
    display: none !important;
  }
}

/* line 172, ../css/package/sass/base_elements.scss */
.mobile-tablet-only {
  display: none;
}
@media screen and (max-width: 59.9375em) {
  /* line 172, ../css/package/sass/base_elements.scss */
  .mobile-tablet-only {
    display: block;
  }
}

@media screen and (min-width: 44.41667em) {
  /* line 181, ../css/package/sass/base_elements.scss */
  .ie9 select {
    width: 125% !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media print {
  /* line 190, ../css/package/sass/base_elements.scss */
  .print-visible {
    display: block;
    visibility: visible;
  }
}

@media print {
  /* line 197, ../css/package/sass/base_elements.scss */
  .print-hidden {
    visibility: hidden;
  }
}

/* line 203, ../css/package/sass/base_elements.scss */
.hidden-override {
  display: none !important;
}

@media screen and (min-width: 59.9375em) {
  /* line 208, ../css/package/sass/base_elements.scss */
  .global-promo-banner .global-promo {
    height: 40px;
  }
}

@media print {
  /* line 220, ../css/package/sass/base_elements.scss */
  body * {
    visibility: hidden;
  }

  /* line 224, ../css/package/sass/base_elements.scss */
  #header,
  #slider,
  #browser-check,
  #navigation,
  .header-banner,
  .global-promo-banner {
    display: none;
  }
}
