/* base tool tip */
/* ------------------------------------- */
/* line 4, ../css/package/sass/base_tool_tip.scss */
.tooltip {
  cursor: help;
  position: relative;
}

/* line 5, ../css/package/sass/base_tool_tip.scss */
.tooltip .tooltip-content {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  display: none;
  font-size: 12px;
  font-style: normal;
  left: 100%;
  max-width: 300px;
  min-width: 200px;
  opacity: 0;
  padding: 1em;
  position: absolute;
  text-decoration: none;
  top: 100%;
  visibility: hidden;
  z-index: 10;
}

/* line 6, ../css/package/sass/base_tool_tip.scss */
.tooltip:hover .tooltip-content {
  display: block;
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

/* line 7, ../css/package/sass/base_tool_tip.scss */
.js .tooltip-content {
  display: none !important;
}

/* line 8, ../css/package/sass/base_tool_tip.scss */
#tooltip {
  background-color: #FFFFFF;
  border: 1px solid #111111;
  opacity: 0.95;
  padding: 5px;
  position: absolute;
  z-index: 3000;
}

/* line 9, ../css/package/sass/base_tool_tip.scss */
#tooltip .small {
  width: 300px;
}

/* line 10, ../css/package/sass/base_tool_tip.scss */
#tooltip .medium {
  width: 500px;
}

/* line 11, ../css/package/sass/base_tool_tip.scss */
#tooltip .recommendation-tooltip-header {
  background: none repeat scroll 0 0 #CCCCCC;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}

/* line 12, ../css/package/sass/base_tool_tip.scss */
#tooltip .recommendation-tooltip-description {
  padding: 10px;
}

/* line 13, ../css/package/sass/base_tool_tip.scss */
#tooltip .recommendation-tooltip-attributes {
  padding: 10px;
}
