/* constants file for scss variable values */
/* breadcrumbs */
/* ------------------------------------- */
/* line 6, ../css/package/sass/breadcrumbs.scss */
.breadcrumb {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 1px 0 9px;
  padding: 0 10px;
}

/* line 7, ../css/package/sass/breadcrumbs.scss */
.breadcrumb li {
  display: inline;
  list-style: none outside none;
}

/* line 8, ../css/package/sass/breadcrumbs.scss */
.breadcrumb a {
  padding: 0 0.8em 0 0;
}

/* line 11, ../css/package/sass/breadcrumbs.scss */
.breadcrumb h1 {
  display: inline;
  font-size: 1em;
  font-weight: normal;
}

/* line 12, ../css/package/sass/breadcrumbs.scss */
.breadcrumb h1 .paging-current-page {
  left: -999em;
  position: absolute;
}

/* line 13, ../css/package/sass/breadcrumbs.scss */
.breadcrumb-refinement-name {
  background: none repeat scroll 0 0 transparent !important;
  font-family: Georgia,serif;
  font-style: italic;
}

/* line 14, ../css/package/sass/breadcrumbs.scss */
.breadcrumb-refinement-value {
  background: none repeat scroll 0 0 transparent !important;
  font-family: Georgia,serif;
  font-style: italic;
}

/* line 15, ../css/package/sass/breadcrumbs.scss */
a.breadcrumb-relax {
  background: none repeat scroll 0 0 transparent !important;
  font-family: Georgia,serif;
  font-style: italic;
  padding: 0 5px 0 0;
}

/* line 16, ../css/package/sass/breadcrumbs.scss */
.breadcrumb-last {
  background: none repeat scroll 0 0 transparent !important;
  font-family: Georgia,serif;
  font-style: italic;
}

/* line 17, ../css/package/sass/breadcrumbs.scss */
.breadcrumb-result-text a {
  background: none repeat scroll 0 0 transparent;
  color: #3EBAEA;
  font-family: Georgia,serif;
  font-style: italic;
  padding: 0;
}

/* line 19, ../css/package/sass/breadcrumbs.scss */
.breadcrumb {
  display: none;
  visibility: hidden;
}
