/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 4, ../css/package/sass/builder_offline.scss */
.builder-offline {
  margin: auto;
  margin-top: 4.16667em;
  width: 50em;
}
@media screen and (max-width: 59.9375em) {
  /* line 4, ../css/package/sass/builder_offline.scss */
  .builder-offline {
    width: 25em;
  }
}
/* line 12, ../css/package/sass/builder_offline.scss */
.builder-offline h1 {
  margin: 0;
  font-size: 3.16667em;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 59.9375em) {
  /* line 12, ../css/package/sass/builder_offline.scss */
  .builder-offline h1 {
    font-size: 1.83333em;
  }
}
/* line 22, ../css/package/sass/builder_offline.scss */
.builder-offline p, .builder-offline .dont-worry, .builder-offline .head-back {
  font-size: 1.33333em;
  line-height: 1.5em;
}
@media screen and (max-width: 59.9375em) {
  /* line 22, ../css/package/sass/builder_offline.scss */
  .builder-offline p, .builder-offline .dont-worry, .builder-offline .head-back {
    font-size: 1.16667em;
  }
}
/* line 29, ../css/package/sass/builder_offline.scss */
.builder-offline p a, .builder-offline .dont-worry a, .builder-offline .head-back a {
  text-decoration: underline;
}
/* line 34, ../css/package/sass/builder_offline.scss */
.builder-offline .dont-worry {
  margin-top: 0.83333em;
}
/* line 39, ../css/package/sass/builder_offline.scss */
.builder-offline .head-back {
  margin-top: 5.83333em;
}
