/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 10, ../css/package/sass/bxslider_slideshow.scss */
#hero-slot div.hero-slideshow-small-container, .hero-slot div.hero-slideshow-small-container {
  display: none;
}
@media screen and (max-width: 33.3125em) {
  /* line 10, ../css/package/sass/bxslider_slideshow.scss */
  #hero-slot div.hero-slideshow-small-container, .hero-slot div.hero-slideshow-small-container {
    display: block;
  }
}
/* line 17, ../css/package/sass/bxslider_slideshow.scss */
#hero-slot div.hero-slideshow-small-container div.bx-pager.bx-default-pager, .hero-slot div.hero-slideshow-small-container div.bx-pager.bx-default-pager {
  position: relative;
  top: -50px;
}
/* line 22, ../css/package/sass/bxslider_slideshow.scss */
#hero-slot div.hero-slideshow-small-container div.bx-wrapper, .hero-slot div.hero-slideshow-small-container div.bx-wrapper {
  margin-bottom: 0px;
  height: 100%;
}
/* line 26, ../css/package/sass/bxslider_slideshow.scss */
#hero-slot div.hero-slideshow-small-container div.bx-wrapper .bx-controls, .hero-slot div.hero-slideshow-small-container div.bx-wrapper .bx-controls {
  height: 0px;
}
