/* constants file for scss variable values */
/* category landing page */
/* ------------------------------------- */
/* line 5, ../css/package/sass/category_landing_page.scss */
.bottom-banner-container {
  overflow: hidden;
}
/* line 8, ../css/package/sass/category_landing_page.scss */
.bottom-banner-container .bottom-banner-cell {
  float: left;
  overflow: hidden;
  text-align: center;
}

/* line 16, ../css/package/sass/category_landing_page.scss */
.bottom-banner-container .banner-cell-1 {
  width: 33%;
}
/* line 20, ../css/package/sass/category_landing_page.scss */
.bottom-banner-container .banner-cell-2 {
  width: 34%;
}
/* line 24, ../css/package/sass/category_landing_page.scss */
.bottom-banner-container .banner-cell-3 {
  width: 33%;
}
