/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
@media screen and (max-width: 33.3125em) {
  /* line 11, ../css/package/sass/check_order_status.scss */
  .pt_customer-service .content-page .check-order-status h2, .pt_customer-service .support-page-content .check-order-status h2 {
    text-align: center;
  }
}
/* line 15, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status h2.view-my-orders, .pt_customer-service .support-page-content .check-order-status h2.view-my-orders {
  font-size: 1.5em;
}
/* line 18, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status h2.view-my-orders .button, .pt_customer-service .support-page-content .check-order-status h2.view-my-orders .button {
  display: inline-block;
}
/* line 23, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status h2.return-label, .pt_customer-service .support-page-content .check-order-status h2.return-label {
  margin-top: 2em;
}
/* line 31, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status .section-title .sub-header, .pt_customer-service .support-page-content .check-order-status .section-title .sub-header {
  color: #808080;
  font-size: 0.5em;
  padding-top: 0.5em;
  font-weight: bold;
}
/* line 39, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status form, .pt_customer-service .support-page-content .check-order-status form {
  overflow: hidden;
  *zoom: 1;
  font-size: 1em;
  margin-top: 1.66667em;
}
/* line 48, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status form .form-row .form-column, .pt_customer-service .support-page-content .check-order-status form .form-row .form-column {
  width: 28%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 4.5%;
}
/* line 248, ../css/package/sass/base/_conv_mixins.scss */
.pt_customer-service .content-page .check-order-status form .form-row .form-column input[type="text"], .pt_customer-service .content-page .check-order-status form .form-row .form-column input[type="password"], .pt_customer-service .content-page .check-order-status form .form-row .form-column textarea, .pt_customer-service .support-page-content .check-order-status form .form-row .form-column input[type="text"], .pt_customer-service .support-page-content .check-order-status form .form-row .form-column input[type="password"], .pt_customer-service .support-page-content .check-order-status form .form-row .form-column textarea {
  width: 100%;
}
@media screen and (max-width: 33.3125em) {
  /* line 48, ../css/package/sass/check_order_status.scss */
  .pt_customer-service .content-page .check-order-status form .form-row .form-column, .pt_customer-service .support-page-content .check-order-status form .form-row .form-column {
    float: none;
    margin-right: none;
    margin-bottom: 1.33333em;
    width: 100%;
  }
}
/* line 62, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status form .form-row .form-group label, .pt_customer-service .support-page-content .check-order-status form .form-row .form-group label {
  color: #808080;
  font-size: 1em;
  font-weight: bold;
}
/* line 68, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status form .form-row .form-group input, .pt_customer-service .support-page-content .check-order-status form .form-row .form-group input {
  font-size: 1.16667em;
}
/* line 73, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status form .form-row .form-group.error label, .pt_customer-service .support-page-content .check-order-status form .form-row .form-group.error label {
  color: #940000;
}
/* line 80, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status form:last-child, .pt_customer-service .support-page-content .check-order-status form:last-child {
  margin-bottom: 0em;
}
/* line 84, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status form .form-actions, .pt_customer-service .support-page-content .check-order-status form .form-actions {
  padding-top: 19px;
}
/* line 87, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status form .form-actions button, .pt_customer-service .support-page-content .check-order-status form .form-actions button {
  min-width: 12.14286em;
}
@media screen and (max-width: 33.3125em) {
  /* line 84, ../css/package/sass/check_order_status.scss */
  .pt_customer-service .content-page .check-order-status form .form-actions, .pt_customer-service .support-page-content .check-order-status form .form-actions {
    padding-top: none;
    text-align: center;
  }
}
/* line 98, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status #check-order-status-form-by-invoice-number, .pt_customer-service .support-page-content .check-order-status #check-order-status-form-by-invoice-number {
  margin-top: 0;
}
/* line 104, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status .check-order-status-notice div, .pt_customer-service .support-page-content .check-order-status .check-order-status-notice div {
  line-height: 1.5em;
}
/* line 108, ../css/package/sass/check_order_status.scss */
.pt_customer-service .content-page .check-order-status .check-order-status-notice a, .pt_customer-service .support-page-content .check-order-status .check-order-status-notice a {
  text-decoration: underline;
}
/* line 121, ../css/package/sass/check_order_status.scss */
.pt_customer-service .mobile-content-container .content-page .check-order-status .section-title, .pt_customer-service .mobile-content-container .support-page-content .check-order-status .section-title {
  display: block;
  position: relative;
  border-bottom: none;
}
/* line 126, ../css/package/sass/check_order_status.scss */
.pt_customer-service .mobile-content-container .content-page .check-order-status .section-title .title, .pt_customer-service .mobile-content-container .support-page-content .check-order-status .section-title .title {
  display: none;
}
/* line 130, ../css/package/sass/check_order_status.scss */
.pt_customer-service .mobile-content-container .content-page .check-order-status .section-title .sub-header, .pt_customer-service .mobile-content-container .support-page-content .check-order-status .section-title .sub-header {
  text-align: left;
  padding-top: 0;
}
