/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 9, ../css/package/sass/chuck_teaser.scss */
#wrapper.black {
  background-color: #000000;
}

/* line 13, ../css/package/sass/chuck_teaser.scss */
#chuck-teaser {
  background: #000000;
  margin-bottom: -70px;
}
/* line 17, ../css/package/sass/chuck_teaser.scss */
#chuck-teaser .container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
/* line 23, ../css/package/sass/chuck_teaser.scss */
#chuck-teaser .button-container {
  display: inline-block;
  margin: 20px 0;
}
/* line 29, ../css/package/sass/chuck_teaser.scss */
#chuck-teaser .teaser-social-links li {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  margin-right: 18px;
}
/* line 36, ../css/package/sass/chuck_teaser.scss */
#chuck-teaser .teaser-social-links li:last-child {
  margin-right: 0;
}

/* line 44, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup,
#chuck-two-teaser-success-popup {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding: 8px;
  background: #000000;
  border: 1px solid #979797;
  text-align: center;
}
/* line 54, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup .close-button,
#chuck-two-teaser-success-popup .close-button {
  width: 26px;
  height: 25px;
  position: absolute;
  right: 8px;
  background: url("../images/chuck-teaser/close-button.png");
}
/* line 62, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup .chuck-teaser-copy,
#chuck-two-teaser-success-popup .chuck-teaser-copy {
  margin: 30px 0;
}
/* line 66, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup .parsley-error-list,
#chuck-two-teaser-success-popup .parsley-error-list {
  color: #979797;
}

/* line 72, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container input {
  border: 1px solid #979797;
}
/* line 76, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container label {
  color: #979797;
}
/* line 80, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container button {
  border: 1px solid #979797;
}
@media screen and (max-width: 33.3125em) {
  /* line 84, ../css/package/sass/chuck_teaser.scss */
  #chuck-two-teaser-popup-form-container .date-input {
    margin-top: 16px;
  }
}
/* line 90, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container .date-container {
  overflow: hidden;
}
@media screen and (max-width: 33.3125em) {
  /* line 94, ../css/package/sass/chuck_teaser.scss */
  #chuck-two-teaser-popup-form-container .input-fields {
    max-width: 400px;
    margin: 0 auto 16px auto;
  }
}
/* line 101, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container .form-column-right {
  width: 55%;
}
@media screen and (max-width: 33.3125em) {
  /* line 101, ../css/package/sass/chuck_teaser.scss */
  #chuck-two-teaser-popup-form-container .form-column-right {
    width: 100%;
    clear: both;
  }
}
/* line 110, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container .form-column-left {
  width: 40%;
}
@media screen and (max-width: 33.3125em) {
  /* line 110, ../css/package/sass/chuck_teaser.scss */
  #chuck-two-teaser-popup-form-container .form-column-left {
    width: 100%;
  }
}
/* line 118, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container .date-select-box {
  float: left;
  margin-right: 0.29em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 122, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container .date-select-box:last-of-type {
  margin-right: 0em;
}
@media screen and (min-width: 33.3125em) {
  /* line 118, ../css/package/sass/chuck_teaser.scss */
  #chuck-two-teaser-popup-form-container .date-select-box {
    width: 32%;
    height: 2.5em;
    overflow: hidden;
    background: url('../images/select_arrow.jpg?1472148728') no-repeat right #FFFFFF;
    border: 1px solid #CACACA;
  }
  /* line 204, ../css/package/sass/base/_conv_mixins.scss */
  #chuck-two-teaser-popup-form-container .date-select-box.error {
    border: 1px solid #940000;
    background: url('../images/select_arrow.jpg?1472148728') no-repeat right #FFFFFF;
  }
  /* line 209, ../css/package/sass/base/_conv_mixins.scss */
  #chuck-two-teaser-popup-form-container .date-select-box select {
    width: 100%;
    height: 100%;
    -ms-appearance: none;
    -moz-appearance: window;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    padding: 0.41667em;
    padding-right: 2.41667em;
    line-height: 100%;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: "";
  }
  /* line 226, ../css/package/sass/base/_conv_mixins.scss */
  #chuck-two-teaser-popup-form-container .date-select-box select::-ms-expand {
    display: none;
  }
  /* line 230, ../css/package/sass/base/_conv_mixins.scss */
  #chuck-two-teaser-popup-form-container .date-select-box select option[disabled], #chuck-two-teaser-popup-form-container .date-select-box select option:disabled {
    color: #D7D7D7 !important;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 237, ../css/package/sass/base/_conv_mixins.scss */
  #chuck-two-teaser-popup-form-container .date-select-box select {
    width: 99%;
    margin-left: 1%;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 118, ../css/package/sass/chuck_teaser.scss */
  #chuck-two-teaser-popup-form-container .date-select-box {
    width: 32.33%;
    margin-right: 1%;
  }
}
/* line 134, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container .success-form {
  margin-top: 0.5em;
  display: none;
  color: #009400;
  font-size: 1.2em;
  text-align: center;
}
/* line 142, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container .error-form {
  margin-top: 0.5em;
  display: none;
  color: #940000;
  font-size: 1.2em;
  text-align: center;
}
/* line 150, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container .button-row {
  text-align: center;
}
/* line 153, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container .button-row .button-column {
  display: inline-block;
  font-size: 1.5em;
}
/* line 157, ../css/package/sass/chuck_teaser.scss */
#chuck-two-teaser-popup-form-container .button-row .button-column button {
  background: #000000;
}
