/* constants file for scss variable values */
/* color swatches */
/* ------------------------------------- */
/* line 6, ../css/package/sass/color_swatches.scss */
.swatch-black a {
  background-color: #000000 !important;
}

/* line 7, ../css/package/sass/color_swatches.scss */
.swatch-beige a {
  background-color: #F5F5DC !important;
}

/* line 8, ../css/package/sass/color_swatches.scss */
.swatch-blue a {
  background-color: blue !important;
}

/* line 9, ../css/package/sass/color_swatches.scss */
.swatch-purple a {
  background-color: purple !important;
}

/* line 10, ../css/package/sass/color_swatches.scss */
.swatch-red a {
  background-color: red !important;
}

/* line 11, ../css/package/sass/color_swatches.scss */
.swatch-brown a {
  background-color: #783201 !important;
}

/* line 12, ../css/package/sass/color_swatches.scss */
.swatch-green a {
  background-color: green !important;
}

/* line 13, ../css/package/sass/color_swatches.scss */
.swatch-grey a {
  background-color: #8F979D !important;
}

/* line 14, ../css/package/sass/color_swatches.scss */
.swatch-pink a {
  background-color: #FE249A !important;
}

/* line 15, ../css/package/sass/color_swatches.scss */
.swatch-orange a {
  background-color: orange !important;
}

/* line 16, ../css/package/sass/color_swatches.scss */
.swatch-white a {
  background-color: #FFFFFF !important;
}

/* line 17, ../css/package/sass/color_swatches.scss */
.swatch-yellow a {
  background-color: #FFFF00 !important;
}

/* line 18, ../css/package/sass/color_swatches.scss */
.swatch-navy a {
  background-color: navy !important;
}

/* line 19, ../css/package/sass/color_swatches.scss */
.swatch-miscellaneous a {
  background: url('../images/sprites_site_graphic-s175b47e9fb.png') 0 -145px no-repeat scroll left top transparent;
}

/* line 22, ../css/package/sass/color_swatches.scss */
.unselectable.swatch-miscellaneous a {
  background: url('../images/sprites_site_graphic-s175b47e9fb.png') -69px 0 no-repeat scroll left top transparent !important;
}
