/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* Contact Us Page
--------------------------------------------------------------------------------------- */
/* line 23, ../css/package/sass/contactus.scss */
.contactus-page .contactus-section {
  margin-top: 0.83333em;
  margin-bottom: 3.33333em;
}
/* line 27, ../css/package/sass/contactus.scss */
.contactus-page .contactus-section h2 {
  font-size: 1.08333em;
  font-weight: bold;
}
/* line 31, ../css/package/sass/contactus.scss */
.contactus-page .contactus-section h2.product-header {
  margin-top: 3.33333em;
}
/* line 38, ../css/package/sass/contactus.scss */
.contactus-page .contactus-section .contact-group .contact-block {
  margin-right: 3%;
  width: 31.33%;
  float: left;
}
@media screen and (max-width: 33.3125em) {
  /* line 38, ../css/package/sass/contactus.scss */
  .contactus-page .contactus-section .contact-group .contact-block {
    margin-right: 6%;
    width: 99%;
  }
}
/* line 48, ../css/package/sass/contactus.scss */
.contactus-page .contactus-section .contact-group .contact-block .contact-widget {
  margin-right: 0;
  width: auto;
  float: none;
}
/* line 54, ../css/package/sass/contactus.scss */
.contactus-page .contactus-section .contact-group .contact-block .contact-additional-text {
  margin-top: 0.83333em;
  font-family: Helvetica;
  font-size: 1em;
  color: #B2B2B2;
  float: left;
}
/* line 62, ../css/package/sass/contactus.scss */
.contactus-page .contactus-section .contact-group .contact-block.rn_ChatAvailable {
  display: block;
}
/* line 67, ../css/package/sass/contactus.scss */
.contactus-page .contactus-section .contact-group .contact-block:last-child {
  margin-right: 0;
}
/* line 71, ../css/package/sass/contactus.scss */
.contactus-page .contactus-section .contact-group .contact-widget {
  margin-right: 3%;
  width: 31.33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 33.3125em) {
  /* line 71, ../css/package/sass/contactus.scss */
  .contactus-page .contactus-section .contact-group .contact-widget {
    margin-right: 6%;
    width: 99%;
  }
}
/* line 82, ../css/package/sass/contactus.scss */
.contactus-page .contactus-section .contact-group .contact-widget:last-child {
  margin-right: 0;
}
/* line 88, ../css/package/sass/contactus.scss */
.contactus-page .contactus-share {
  float: left;
  margin-right: 4.16667em;
  margin-bottom: 3.33333em;
}
/* line 93, ../css/package/sass/contactus.scss */
.contactus-page .contactus-share h3 {
  font-size: 1.08333em;
  font-weight: bold;
  margin-bottom: 0.83333em;
}
/* line 99, ../css/package/sass/contactus.scss */
.contactus-page .contactus-share .share-icon {
  float: left;
  margin-right: 0.66667em;
}
/* line 15, ../css/package/sass/contactus.scss */
.contactus-page .contactus-share .share-icon-facebook {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -741px no-repeat;
  width: 28px;
  height: 28px;
  display: block;
}
/* line 15, ../css/package/sass/contactus.scss */
.contactus-page .contactus-share .share-icon-twitter {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1293px no-repeat;
  width: 28px;
  height: 28px;
  display: block;
}
/* line 15, ../css/package/sass/contactus.scss */
.contactus-page .contactus-share .share-icon-instagram {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -844px no-repeat;
  width: 28px;
  height: 28px;
  display: block;
}
/* line 15, ../css/package/sass/contactus.scss */
.contactus-page .contactus-share .share-icon-tumblr {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1190px no-repeat;
  width: 28px;
  height: 28px;
  display: block;
}
/* line 15, ../css/package/sass/contactus.scss */
.contactus-page .contactus-share .share-icon-email {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -597px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
}
/* line 15, ../css/package/sass/contactus.scss */
.contactus-page .contactus-share .share-icon-soundcloud {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1116px no-repeat;
  width: 32px;
  height: 32px;
  display: block;
}
/* line 112, ../css/package/sass/contactus.scss */
.contactus-page .contactus-divider {
  clear: both;
  border-bottom: 0.08333em solid #B2B2B2;
  margin-bottom: 2.5em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 10, ../css/package/sass/contactus.scss */
  .contactus-page {
    width: 100%;
  }
}
