/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* content assets and slots */
/* ------------------------------------- */
/* line 8, ../css/package/sass/content_assets_slots.scss */
.content-slot img {
  height: auto;
  max-width: 100%;
}

/* line 13, ../css/package/sass/content_assets_slots.scss */
.slot-grid-header p {
  margin: 0;
  padding: 0;
}

/* line 18, ../css/package/sass/content_assets_slots.scss */
.product-listing-1x4 {
  background: none repeat scroll 0 0 #FFFFFF;
  overflow: hidden;
  padding: 10px 0;
}

/* line 24, ../css/package/sass/content_assets_slots.scss */
.product-listing-1x4 ul.search-result-items .grid-tile {
  margin: 0 1% 0 2%;
  width: 18%;
}

/* line 29, ../css/package/sass/content_assets_slots.scss */
.account-nav-asset {
  line-height: 1.5em;
  margin: 40px 10px;
  padding: 10px 0;
}

/* line 35, ../css/package/sass/content_assets_slots.scss */
.account-nav-asset h2 {
  font-family: Georgia,serif;
  font-style: italic;
  font-weight: 400;
  margin: 14px 0 20px;
}

/* line 42, ../css/package/sass/content_assets_slots.scss */
.browser-compatibility-alert {
  border: 1px solid;
  color: #9E0F0F;
  margin: 1em;
  padding: 0.5em 4em;
}

@media screen and (max-width: 59.9375em) {
  /* line 49, ../css/package/sass/content_assets_slots.scss */
  .spinner-wrapper {
    display: none;
  }
}
/* line 55, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner {
  position: absolute;
  background-color: #FFFFFF;
  height: 3.33333em;
  padding: 0.57143em 0;
  width: 100%;
  z-index: 60;
}
/* line 63, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner .promo_spinner {
  margin: 0 auto;
  position: relative;
  width: 36px;
  height: 36px;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
/* line 71, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner .promo_spinner .f_circleG {
  position: absolute;
  background-color: white;
  height: 7px;
  width: 7px;
  -webkit-border-radius: 3px;
  -webkit-animation-name: f_fadeG;
  -webkit-animation-duration: 1.04s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  border-radius: 3px;
  animation-name: f_fadeG;
  animation-duration: 1.04s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
/* line 88, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner .promo_spinner #frotateG_01 {
  left: 0;
  top: 15px;
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}
/* line 95, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner .promo_spinner #frotateG_02 {
  left: 4px;
  top: 4px;
  -webkit-animation-delay: 0.52s;
  animation-delay: 0.52s;
}
/* line 102, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner .promo_spinner #frotateG_03 {
  left: 15px;
  top: 0;
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
/* line 109, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner .promo_spinner #frotateG_04 {
  right: 4px;
  top: 4px;
  -webkit-animation-delay: 0.78s;
  animation-delay: 0.78s;
}
/* line 116, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner .promo_spinner #frotateG_05 {
  right: 0;
  top: 15px;
  -webkit-animation-delay: 0.91s;
  animation-delay: 0.91s;
}
/* line 123, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner .promo_spinner #frotateG_06 {
  right: 4px;
  bottom: 4px;
  -webkit-animation-delay: 1.04s;
  animation-delay: 1.04s;
}
/* line 130, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner .promo_spinner #frotateG_07 {
  left: 15px;
  bottom: 0;
  -webkit-animation-delay: 1.17s;
  animation-delay: 1.17s;
}
/* line 137, ../css/package/sass/content_assets_slots.scss */
.spinner-wrapper .dyo-promo-banner-spinner .promo_spinner #frotateG_08 {
  left: 4px;
  bottom: 4px;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

@-webkit-keyframes f_fadeG {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #fffff;
  }
}
@keyframes f_fadeG {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #fffff;
  }
}
