/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 5, ../css/package/sass/content_landing_pages.scss */
.cta-slot-container .cta-button {
  width: 10em;
  height: 3em;
  background: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  border: solid 1px #000000;
}
/* line 13, ../css/package/sass/content_landing_pages.scss */
.cta-slot-container .cta-button a {
  font-weight: bold;
  display: block;
  height: 100%;
  line-height: 3em;
}
