/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* CONTACT BADGES
--------------------------------------------------------------------------------------- */
/* line 9, ../css/package/sass/contact.scss */
.contact-group {
  overflow: hidden;
}
/* line 12, ../css/package/sass/contact.scss */
.contact-group .contact-widget {
  box-sizing: border-box;
  float: left;
  /*pxtoem(1) renders no border in Safari, therefore px is used directly */
  border: 1px solid #B2B2B2;
  margin-top: 1.66667em;
  text-align: center;
  width: 21%;
  margin-right: 5%;
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 12, ../css/package/sass/contact.scss */
  .contact-group .contact-widget {
    width: 30%;
    margin-right: 10%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 12, ../css/package/sass/contact.scss */
  .contact-group .contact-widget {
    width: 100%;
  }
}
/* line 34, ../css/package/sass/contact.scss */
.contact-group .contact-widget .contact-badge {
  display: inline-block;
  margin: 0.66667em auto;
}
@media screen and (max-width: 33.3125em) {
  /* line 34, ../css/package/sass/contact.scss */
  .contact-group .contact-widget .contact-badge {
    margin: 0.41667em auto;
  }
}
/* line 42, ../css/package/sass/contact.scss */
.contact-group .contact-widget .contact-badge .contact-icon {
  float: left;
  height: 2.66667em;
  width: 2.66667em;
}
/* line 48, ../css/package/sass/contact.scss */
.contact-group .contact-widget .contact-badge .contact-text {
  float: left;
  overflow: hidden;
  margin-left: 0.5em;
  font-family: Helvetica;
  font-size: 1em;
  line-height: 2.66667em;
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 48, ../css/package/sass/contact.scss */
  .contact-group .contact-widget .contact-badge .contact-text {
    font-size: 0.91667em;
    line-height: 3em;
  }
}
/* line 61, ../css/package/sass/contact.scss */
.contact-group .contact-widget .contact-badge .contact-text a, .contact-group .contact-widget .contact-badge .contact-text span {
  color: #B2B2B2;
}
/* line 68, ../css/package/sass/contact.scss */
.contact-group .contact-widget:last-child {
  margin-right: 0;
}

/* line 74, ../css/package/sass/contact.scss */
.contact-widget-call .contact-icon {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -198px no-repeat;
}

/* line 80, ../css/package/sass/contact.scss */
.contact-widget-livechat .contact-icon {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -272px no-repeat;
}

/* line 86, ../css/package/sass/contact.scss */
.contact-widget-email .contact-icon {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -235px no-repeat;
}

/* line 92, ../css/package/sass/contact.scss */
.contact-widget-storelocator .contact-icon {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -346px no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  background-image: url('../images/sprites_icon_image@2x-s0345adfbec.png');
  background-position: 0 -123.5px;
  -webkit-background-size: 32px 926px;
  -moz-background-size: 32px 926px;
  -o-background-size: 32px 926px;
  background-size: 32px 926px;
  background-repeat: no-repeat;
  background-image: url('../images/sprites_icon_image@2x-s0345adfbec.png');
  background-position: 0 -158px;
  -webkit-background-size: 32px 926px;
  -moz-background-size: 32px 926px;
  -o-background-size: 32px 926px;
  background-size: 32px 926px;
  background-repeat: no-repeat;
  background-image: url('../images/sprites_icon_image@2x-s0345adfbec.png');
  background-position: 0 -227px;
  -webkit-background-size: 32px 926px;
  -moz-background-size: 32px 926px;
  -o-background-size: 32px 926px;
  background-size: 32px 926px;
  background-repeat: no-repeat;
  background-image: url('../images/sprites_icon_image@2x-s0345adfbec.png');
  background-position: 0 -192.5px;
  -webkit-background-size: 32px 926px;
  -moz-background-size: 32px 926px;
  -o-background-size: 32px 926px;
  background-size: 32px 926px;
  background-repeat: no-repeat;
}
