/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 9, ../css/package/sass/country_splash.scss */
.white-popup {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #FFFFFF;
  height: 100%;
  margin: 0;
  overflow: scroll;
}
@media screen and (min-width: 33.3125em) {
  /* line 9, ../css/package/sass/country_splash.scss */
  .white-popup {
    padding: 2.08333em;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 9, ../css/package/sass/country_splash.scss */
  .white-popup {
    padding: 2.08333em 0;
  }
}

/* line 26, ../css/package/sass/country_splash.scss */
.splash-page-container {
  display: table;
  height: 100%;
  margin: 0 auto;
}
/* line 32, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page {
  display: table-cell;
  vertical-align: middle;
  font-family: "Arvo", serif;
  padding: 4.16667em 0;
}
/* line 41, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page h2 {
  text-transform: capitalize;
  font-size: 3em;
  margin: 50px 0;
  margin-bottom: 25px;
  margin-top: 10px;
}
@media screen and (max-width: 33.3125em) {
  /* line 41, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page h2 {
    font-size: 1.7em;
  }
}
/* line 53, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page a:hover {
  color: #940000;
  cursor: pointer;
}
/* line 58, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page .splash-top {
  text-align: center;
}
@media screen and (min-width: 33.3125em) {
  /* line 62, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .splash-bottom {
    margin: 0 5.41667em;
  }
}
/* line 68, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page .splash-converse-logo {
  height: 2.08333em;
  margin-top: 50px;
  margin-bottom: 15px;
}
/* line 74, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page .language-table {
  font-size: 1.5em;
  float: left;
  margin: 0px 25px 0px;
}
/* line 82, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page .language-table.northamerica {
  margin-right: 90px;
}
@media screen and (max-width: 33.3125em) {
  /* line 82, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table.northamerica {
    margin-right: 25px;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 74, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table {
    font-size: 1.2em;
    float: none;
  }
}
/* line 95, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page .language-table .region-container {
  text-align: center;
  background-color: #333333;
  color: #FFFFFF;
  padding: 6px 0px 6px;
  width: 230px;
  font-family: "Rockwell", "Arvo", serif;
  font-weight: 100;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: auto;
}
@media screen and (max-width: 33.3125em) {
  /* line 95, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .region-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 118, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row {
    padding: 0 1.66667em;
    border-top: 1px solid #999999;
  }
  /* line 123, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row:last-of-type {
    border-bottom: 1px solid #999999;
  }
}
/* line 128, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page .language-table .country-row .language-row {
  display: inline-block;
}
/* line 130, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page .language-table .country-row .language-row a {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
/* line 134, ../css/package/sass/country_splash.scss */
.splash-page-container .splash-page .language-table .country-row .language-row .country-name {
  text-transform: capitalize;
  margin: 0.75em 0;
  font-family: Helvetica, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
@media screen and (max-width: 33.3125em) {
  /* line 134, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row .language-row .country-name {
    font-size: 1em;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 128, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row .language-row {
    border-bottom: 0px solid #E6E5DD;
  }
  /* line 148, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row .language-row:last-of-type {
    border-bottom: 0;
  }
}
@media screen and (min-width: 33.3125em) {
  /* line 157, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row .language-row .country-name {
    border-left: 1px solid #6f6f6f;
    padding: 0 12px;
  }
  /* line 162, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row .language-row:first-of-type {
    margin-left: 5px;
  }
  /* line 164, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row .language-row:first-of-type .country-name {
    border-left: 0;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 173, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row .language-row .country-name {
    border-left: 1px solid #6f6f6f;
    padding: 0 12px;
  }
  /* line 178, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row .language-row:first-of-type {
    margin-left: 5px;
  }
  /* line 180, ../css/package/sass/country_splash.scss */
  .splash-page-container .splash-page .language-table .country-row .language-row:first-of-type .country-name {
    border-left: 0;
    padding-left: 0px;
  }
}

/* line 196, ../css/package/sass/country_splash.scss */
.is-mobile-user-agent .white-popup {
  padding: 2.08333em 0;
}
/* line 204, ../css/package/sass/country_splash.scss */
.is-mobile-user-agent .splash-page-container .splash-page h2 {
  font-size: 1.7em;
}
/* line 208, ../css/package/sass/country_splash.scss */
.is-mobile-user-agent .splash-page-container .splash-page .language-table {
  font-size: 1.2em;
  float: none;
  margin: 0px;
}
/* line 217, ../css/package/sass/country_splash.scss */
.is-mobile-user-agent .splash-page-container .splash-page .language-table .country-row .language-row .country-name {
  border-left: 1px solid #6f6f6f;
  padding: 0 12px;
}
/* line 222, ../css/package/sass/country_splash.scss */
.is-mobile-user-agent .splash-page-container .splash-page .language-table .country-row .language-row:first-of-type {
  margin-left: 5px;
}
/* line 224, ../css/package/sass/country_splash.scss */
.is-mobile-user-agent .splash-page-container .splash-page .language-table .country-row .language-row:first-of-type .country-name {
  border-left: 0;
  padding-left: 0px;
}
