/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 7, ../css/package/sass/email_common.scss */
.mail {
  font-family: Arial;
  font-size: 16px;
  background-color: #FFF;
}
/* line 12, ../css/package/sass/email_common.scss */
.mail p {
  margin: 16px 0px;
}
/* line 16, ../css/package/sass/email_common.scss */
.mail h3 {
  font-size: 19px;
  margin: 18px 0px;
}
/* line 21, ../css/package/sass/email_common.scss */
.mail a {
  text-decoration: none;
}
/* line 25, ../css/package/sass/email_common.scss */
.mail .button {
  font-size: 1.16667em;
  line-height: 100%;
  background: #000;
  color: #FFF;
  padding: 0.64286em 1.28571em;
  text-transform: uppercase;
  font-weight: bold;
  border-width: 0;
  width: auto;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
/* line 189, ../css/package/sass/base/_conv_mixins.scss */
.mail .button:hover {
  background: #333333;
}
/* line 30, ../css/package/sass/email_common.scss */
.mail img {
  border-style: none;
}
/* line 34, ../css/package/sass/email_common.scss */
.mail strong {
  font-weight: bold;
}
/* line 38, ../css/package/sass/email_common.scss */
.mail .caption {
  text-align: center;
  padding-bottom: 40px;
}
/* line 43, ../css/package/sass/email_common.scss */
.mail .caption .msg-top hr {
  display: inline-block;
  width: 60px;
  vertical-align: text-bottom;
  color: #b2b2b2;
}
/* line 50, ../css/package/sass/email_common.scss */
.mail .caption .msg-top span {
  font-size: 30px;
  font-family: Garamond;
  font-style: italic;
  padding: 0 20px;
}
/* line 58, ../css/package/sass/email_common.scss */
.mail .caption .msg-bottom {
  font-size: 26px;
  font-weight: bold;
}
/* line 65, ../css/package/sass/email_common.scss */
.mail .header td {
  height: 80px;
  background-color: #000;
  text-align: center;
}
/* line 70, ../css/package/sass/email_common.scss */
.mail .header td div {
  line-height: 80px;
}
/* line 74, ../css/package/sass/email_common.scss */
.mail .header td img {
  height: 35px;
  vertical-align: middle;
}
/* line 81, ../css/package/sass/email_common.scss */
.mail .shop-links {
  padding-bottom: 60px;
}
/* line 84, ../css/package/sass/email_common.scss */
.mail .shop-links td {
  text-align: center;
}
/* line 88, ../css/package/sass/email_common.scss */
.mail .shop-links a {
  width: 155px;
}
/* line 93, ../css/package/sass/email_common.scss */
.mail .shop-links img:first-child {
  padding-right: 20px;
}
/* line 100, ../css/package/sass/email_common.scss */
.mail .footer td {
  text-align: center;
}
/* line 104, ../css/package/sass/email_common.scss */
.mail .footer div {
  line-height: 60px;
}
/* line 108, ../css/package/sass/email_common.scss */
.mail .footer .links {
  height: 60px;
  background-color: #000;
}
/* line 112, ../css/package/sass/email_common.scss */
.mail .footer .links a {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 30px;
  vertical-align: middle;
}
/* line 120, ../css/package/sass/email_common.scss */
.mail .footer .links a span {
  color: #FFF;
}
/* line 124, ../css/package/sass/email_common.scss */
.mail .footer .links a:last-child {
  padding-right: 0px;
}
/* line 130, ../css/package/sass/email_common.scss */
.mail .footer .company-info {
  padding-top: 5px;
}
/* line 133, ../css/package/sass/email_common.scss */
.mail .footer .company-info span {
  font-size: 11px;
  color: #1A1A1A;
  text-transform: uppercase;
}
/* line 141, ../css/package/sass/email_common.scss */
.mail .share {
  height: 100px;
  background-color: #EFEFEF;
  text-align: center;
}
/* line 146, ../css/package/sass/email_common.scss */
.mail .share div {
  line-height: 100px;
}
/* line 150, ../css/package/sass/email_common.scss */
.mail .share img {
  vertical-align: middle;
  padding-right: 5px;
  width: 28px;
  height: 28px;
}
/* line 157, ../css/package/sass/email_common.scss */
.mail .share span {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 5px;
  line-height: 28px;
}
/* line 164, ../css/package/sass/email_common.scss */
.mail .share span:last-child {
  padding-left: 20px;
}
