/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 9, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .order-confirmation-body {
  padding: 20px 20px 80px 20px;
}
/* line 13, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .order-confirmation-body ul {
  padding-left: 0px;
}
/* line 16, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .order-confirmation-body ul li {
  margin: 16px 0px;
  list-style-position: inside;
}
/* line 23, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .contactus {
  padding-bottom: 80px;
}
/* line 26, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .contactus p {
  font-size: 20px;
}
/* line 31, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .orderitems {
  padding-bottom: 80px;
}
/* line 34, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .orderitems p {
  font-size: 20px;
}
/* line 37, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .orderitems p.details {
  margin: 0px;
}
/* line 42, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .orderitems .price {
  font-size: 20px;
  font-weight: bold;
}
/* line 47, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .orderitems a {
  font-weight: bold;
  color: #000 !important;
}
/* line 51, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .orderitems a span {
  color: #000;
}
/* line 56, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .orderitems img {
  width: 300px;
  height: 300px;
}
/* line 62, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .orderdetails {
  padding-bottom: 80px;
}
/* line 65, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .orderdetails .section-header {
  font-size: 19px;
}
/* line 71, ../css/package/sass/email_order_confirmation.scss */
.order-confirmation .orderitems td, .order-confirmation .orderdetails td, .order-confirmation .contactus td {
  text-align: center;
}
