/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 4, ../css/package/sass/family_member_terms_and_conditions.scss */
#family-member-terms-and-conditions-dialog {
  display: none;
  overflow: hidden;
}
/* line 8, ../css/package/sass/family_member_terms_and_conditions.scss */
#family-member-terms-and-conditions-dialog .slot-content {
  height: 33.33333em;
  overflow-y: auto;
}

/* line 14, ../css/package/sass/family_member_terms_and_conditions.scss */
#family-member-terms-and-conditions-success, #family-member-terms-and-conditions-error {
  display: none;
}
