/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* footer */
/* ------------------------------------- */
/* line 20, ../css/package/sass/footer.scss */
footer {
  font-family: "Arial", serif;
  font-size: 1em;
}
/* line 25, ../css/package/sass/footer.scss */
footer.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  background: #E5E5E5;
  display: block;
  padding: 0;
  margin: 0;
  bottom: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 12, ../../../../../../../../../../../usr/local/rvm/gems/ruby-2.3.0@global/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
footer.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 36, ../css/package/sass/footer.scss */
footer.container select {
  margin: 0;
}
/* line 41, ../css/package/sass/footer.scss */
footer #footer-meta {
  overflow: hidden;
  *zoom: 1;
}
/* line 44, ../css/package/sass/footer.scss */
footer #footer-meta .error {
  color: #940000;
}
/* line 48, ../css/package/sass/footer.scss */
footer #footer-meta .success {
  color: #008000;
}
/* line 53, ../css/package/sass/footer.scss */
footer .footer-top,
footer .footer-bottom {
  width: 100%;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../css/package/sass/footer.scss */
footer .footer-top {
  min-height: 100px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
/* line 66, ../css/package/sass/footer.scss */
footer .footer-bottom {
  margin-bottom: 3.33333em;
  width: inherit;
  padding: 0 5.26316%;
}
@media screen and (min-width: 59.9375em) {
  /* line 66, ../css/package/sass/footer.scss */
  footer .footer-bottom {
    margin-top: 5em;
  }
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 66, ../css/package/sass/footer.scss */
  footer .footer-bottom {
    margin-top: 3.75em;
  }
}
/* line 78, ../css/package/sass/footer.scss */
footer .country-selector-column,
footer .store-locator-column {
  margin-top: 44px;
}
/* line 83, ../css/package/sass/footer.scss */
footer .country-selector-column, footer .country-selector-column-tablet {
  font-weight: bold;
}
@media screen and (min-width: 59.9375em) {
  /* line 87, ../css/package/sass/footer.scss */
  footer .country-selector-column {
    width: 15.25424%;
    float: left;
    box-sizing: border-box;
    text-align: left;
    margin-top: 40px;
    padding-left: 3.33333em;
  }
  /* line 95, ../css/package/sass/footer.scss */
  footer .country-selector-column span {
    padding: 0 0.16667em;
  }
  /* line 97, ../css/package/sass/footer.scss */
  footer .country-selector-column span:first-of-type {
    padding-left: 0;
  }
}
@media screen and (max-width: 59.9375em) {
  /* line 87, ../css/package/sass/footer.scss */
  footer .country-selector-column {
    display: none;
  }
}
/* line 108, ../css/package/sass/footer.scss */
footer .country-selector-column-tablet {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
  min-height: 1px;
}
@media screen and (min-width: 59.9375em) {
  /* line 108, ../css/package/sass/footer.scss */
  footer .country-selector-column-tablet {
    display: none;
  }
}
@media screen and (min-width: 59.9375em) {
  /* line 116, ../css/package/sass/footer.scss */
  footer .store-locator-column {
    width: 15.25424%;
    float: right;
    margin-right: 0;
    box-sizing: border-box;
    text-align: right;
    padding-right: 3.33333em;
  }
}
@media screen and (max-width: 59.9375em) {
  /* line 116, ../css/package/sass/footer.scss */
  footer .store-locator-column {
    display: none;
  }
}
/* line 128, ../css/package/sass/footer.scss */
footer .store-locator-column a {
  font-weight: bold;
}
/* line 132, ../css/package/sass/footer.scss */
footer .store-locator-column .icon {
  width: 15px;
  height: 15px;
  display: inline-block;
}
/* line 138, ../css/package/sass/footer.scss */
footer .store-locator-column .icon-store-locator {
  background-image: url('../images/../images/storelocator/store_locator_star_square.png?1472148728');
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-bottom: -3px;
}
@media screen and (min-width: 59.9375em) {
  /* line 146, ../css/package/sass/footer.scss */
  footer .store-locator-tablet {
    display: none;
  }
}
/* line 152, ../css/package/sass/footer.scss */
footer .subscription-column {
  margin-top: 30px;
  text-align: center;
  min-height: 70px;
  width: 66.10169%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 59.9375em) {
  /* line 152, ../css/package/sass/footer.scss */
  footer .subscription-column {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 152, ../css/package/sass/footer.scss */
  footer .subscription-column {
    margin-top: 0;
    padding: 2.5em 5.26316%;
  }
}
/* line 169, ../css/package/sass/footer.scss */
footer .subscription-column h2 {
  font-family: "Arvo", serif;
  font-size: 1.33333em;
}
@media screen and (min-width: 33.3125em) {
  /* line 169, ../css/package/sass/footer.scss */
  footer .subscription-column h2 {
    display: inline;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 169, ../css/package/sass/footer.scss */
  footer .subscription-column h2 {
    margin-bottom: 1.66667em;
  }
}
/* line 181, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container button {
  width: 100%;
}
/* line 187, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container.us h2,
footer .subscription-column .email-subscription-container.us .subscription-form {
  vertical-align: middle;
}
/* line 192, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container.us input,
footer .subscription-column .email-subscription-container.us button {
  border-radius: 5px;
}
/* line 200, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container.emea .error {
  color: #940000;
}
/* line 204, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container.emea .success {
  color: #008000;
}
/* line 208, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container.emea .signup-email-input {
  width: 170px;
}
@media screen and (max-width: 33.3125em) {
  /* line 208, ../css/package/sass/footer.scss */
  footer .subscription-column .email-subscription-container.emea .signup-email-input {
    width: 100%;
  }
}
/* line 216, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container.emea .signup-birthday-input {
  width: 170px;
}
@media screen and (min-width: 33.3125em) {
  /* line 216, ../css/package/sass/footer.scss */
  footer .subscription-column .email-subscription-container.emea .signup-birthday-input {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 216, ../css/package/sass/footer.scss */
  footer .subscription-column .email-subscription-container.emea .signup-birthday-input {
    width: 100%;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 229, ../css/package/sass/footer.scss */
  footer .subscription-column .email-subscription-container.emea .signup-gender-input {
    width: 48%;
    float: left;
  }
}
/* line 236, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container.emea .signup-submit-button {
  margin-left: 5px;
}
@media screen and (max-width: 33.3125em) {
  /* line 236, ../css/package/sass/footer.scss */
  footer .subscription-column .email-subscription-container.emea .signup-submit-button {
    width: 48%;
    float: right;
    margin-left: 0px;
  }
}
/* line 247, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container .subscription-form {
  display: flex;
}
/* line 250, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container .subscription-form .footer-signup-container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 33.3125em) {
  /* line 250, ../css/package/sass/footer.scss */
  footer .subscription-column .email-subscription-container .subscription-form .footer-signup-container {
    display: flex;
  }
}
/* line 258, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container .subscription-form .form-item {
  overflow: hidden;
  display: inline-block;
}
/* line 264, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container .subscription-form .signup-gender-input label {
  display: none;
}
/* line 269, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container .subscription-form .message-container {
  line-height: 2em;
  height: 2em;
  font-size: 1em;
  text-align: center;
}
@media screen and (max-width: 33.3125em) {
  /* line 269, ../css/package/sass/footer.scss */
  footer .subscription-column .email-subscription-container .subscription-form .message-container {
    display: inline-block;
  }
}
/* line 281, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container .subscription-form .message-container span.error {
  color: #BF0F07;
}
/* line 285, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container .subscription-form .message-container span.success {
  color: #009400;
}
/* line 291, ../css/package/sass/footer.scss */
footer .subscription-column .email-subscription-container .subscription-form ul.parsley-error-list {
  display: none;
}
/* line 300, ../css/package/sass/footer.scss */
footer .footer-links {
  margin: 0 auto;
}
@media screen and (min-width: 59.9375em) {
  /* line 300, ../css/package/sass/footer.scss */
  footer .footer-links {
    width: 66.10169%;
  }
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 300, ../css/package/sass/footer.scss */
  footer .footer-links {
    width: 83.05085%;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 300, ../css/package/sass/footer.scss */
  footer .footer-links {
    display: none;
  }
}
/* line 314, ../css/package/sass/footer.scss */
footer .social-column {
  width: 23.07692%;
  float: left;
  margin-right: 2.5641%;
  min-width: 170px;
  margin-right: 1%;
}
@media screen and (max-width: 59.9375em) {
  /* line 314, ../css/package/sass/footer.scss */
  footer .social-column {
    display: none;
  }
}
/* line 326, ../css/package/sass/footer.scss */
footer .social-column-tablet {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 5em;
  line-height: 5em;
}
@media screen and (min-width: 59.9375em) {
  /* line 326, ../css/package/sass/footer.scss */
  footer .social-column-tablet {
    display: none;
  }
}
@media screen and (min-width: 59.9375em) {
  /* line 337, ../css/package/sass/footer.scss */
  footer .about-column {
    width: 15.91837%;
    float: left;
    margin-right: 2.04082%;
    margin-right: 1%;
  }
}
@media screen and (min-width: 59.9375em) {
  /* line 345, ../css/package/sass/footer.scss */
  footer .shopping-column {
    width: 18.36735%;
    float: left;
    margin-right: 2.04082%;
    margin-right: 1%;
  }
}
@media screen and (min-width: 59.9375em) {
  /* line 352, ../css/package/sass/footer.scss */
  footer .legal-column {
    width: 18.36735%;
    float: left;
    margin-right: 2.04082%;
    margin-right: 1%;
  }
}
@media screen and (min-width: 59.9375em) {
  /* line 359, ../css/package/sass/footer.scss */
  footer .site-column {
    width: 7.14286%;
    float: right;
    margin-right: 0;
  }
}
@media screen and (min-width: 77.5em) {
  /* line 359, ../css/package/sass/footer.scss */
  footer .site-column {
    width: 16.32653%;
    float: right;
    margin-right: 0;
  }
}
/* line 368, ../css/package/sass/footer.scss */
footer .copyright-column, footer .copyright-column-tablet {
  font-weight: normal;
  font-size: 0.83333em;
  color: #adadad;
}
@media screen and (min-width: 59.9375em) {
  /* line 374, ../css/package/sass/footer.scss */
  footer .copyright-column {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media screen and (max-width: 59.9375em) {
  /* line 374, ../css/package/sass/footer.scss */
  footer .copyright-column {
    display: none;
  }
}
/* line 383, ../css/package/sass/footer.scss */
footer .copyright-column-tablet {
  width: 48.71795%;
  float: right;
  margin-right: 0;
  text-align: right;
}
@media screen and (min-width: 59.9375em) {
  /* line 383, ../css/package/sass/footer.scss */
  footer .copyright-column-tablet {
    display: none;
  }
}
@media screen and (max-width: 59.9375em) {
  /* line 391, ../css/package/sass/footer.scss */
  footer .link-container {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (min-width: 59.9375em) {
  /* line 391, ../css/package/sass/footer.scss */
  footer .link-container {
    min-height: 10em;
  }
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 401, ../css/package/sass/footer.scss */
  footer .links-block {
    margin: 0 auto;
  }
}
/* line 407, ../css/package/sass/footer.scss */
footer .links-block h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2em;
}
/* line 413, ../css/package/sass/footer.scss */
footer .links-block ul {
  line-height: 2.33333em;
}
/* line 419, ../css/package/sass/footer.scss */
footer .link-list li a:hover {
  color: #B2B2B2;
}
/* line 424, ../css/package/sass/footer.scss */
footer .buttons-container {
  margin: 3.16667em 0;
}
/* line 428, ../css/package/sass/footer.scss */
footer .store-locator-button, footer .more-button {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 59.9375em) {
  /* line 428, ../css/package/sass/footer.scss */
  footer .store-locator-button, footer .more-button {
    line-height: 4.58333em;
    height: 4.58333em;
    -moz-border-radius: 5px / 5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 5px / 5px;
    background-color: #000000;
    text-align: center;
  }
  /* line 440, ../css/package/sass/footer.scss */
  footer .store-locator-button a, footer .store-locator-button .customSelect, footer .more-button a, footer .more-button .customSelect {
    font-family: "Arvo", serif;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 59.9375em) and (max-width: 33.3125em) {
  /* line 440, ../css/package/sass/footer.scss */
  footer .store-locator-button a, footer .store-locator-button .customSelect, footer .more-button a, footer .more-button .customSelect {
    font-family: "Arial", serif;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 59.9375em) and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 451, ../css/package/sass/footer.scss */
  footer .store-locator-button a, footer .more-button a {
    background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -309px no-repeat;
    height: 3em;
    padding-left: 38px;
    padding-top: 8px;
  }
}

@media screen and (max-width: 33.3125em) {
  /* line 463, ../css/package/sass/footer.scss */
  footer .store-locator-button {
    margin-bottom: 1.25em;
  }
}
/* line 469, ../css/package/sass/footer.scss */
footer .more-button {
  margin-top: 0;
  position: relative;
  background-color: #CACACA;
}
@media screen and (min-width: 33.3125em) {
  /* line 469, ../css/package/sass/footer.scss */
  footer .more-button {
    display: none;
  }
}
/* line 477, ../css/package/sass/footer.scss */
footer .more-button select {
  width: 100%;
  left: 0;
}
/* line 482, ../css/package/sass/footer.scss */
footer .more-button .customSelect {
  display: block;
  color: #000000;
  width: 100%;
}
/* line 488, ../css/package/sass/footer.scss */
footer .more-button .customSelect .customSelectInner {
  width: 100%;
  display: block;
  text-align: center;
  margin-left: -0.83333em;
}
/* line 494, ../css/package/sass/footer.scss */
footer .more-button .customSelect .customSelectInner:after {
  content: "\f107";
  position: absolute;
  margin-left: 0.5em;
  margin-top: -0.08333em;
  font-family: FontAwesome;
  color: #000000;
  font-size: 1.5em;
  pointer-events: none;
}

/* line 511, ../css/package/sass/footer.scss */
body.is-mobile-user-agent[data-language='de'] .footer-signup-container #save-email {
  font-size: 0.8em;
}

/* line 519, ../css/package/sass/footer.scss */
body.is-mobile-user-agent[data-language='fr'] .footer-signup-container #save-email {
  font-size: 0.75em;
}
