/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 2, ../css/package/sass/base/_base_account_gift_tabs.scss */
.pt_giftcard .converse-tabs.standard-content-container {
  min-height: 52em;
}
/* line 6, ../css/package/sass/base/_base_account_gift_tabs.scss */
.pt_giftcard #main {
  display: none;
}

/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 6, ../css/package/sass/base/_tooltips.scss */
.gift-certificate-purchase form .send-multiple div {
  outline: none;
}
/* line 9, ../css/package/sass/base/_tooltips.scss */
.gift-certificate-purchase form .send-multiple div:before {
  content: attr(tooltip);
  color: #B2B2B2;
  height: auto;
  min-height: 5.2em;
  background: #FFFFFF;
  border: 1px solid #B2B2B2;
  float: left;
  margin-top: -2em;
  margin-left: 2.6em;
  min-width: 22em;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  line-height: 1.3em;
  padding: 0 .8em 0 .8em;
  text-align: left;
}
@media screen and (max-width: 33.3125em) {
  /* line 9, ../css/package/sass/base/_tooltips.scss */
  .gift-certificate-purchase form .send-multiple div:before {
    margin-top: 2.6em;
    width: auto;
    display: block;
    left: 0px;
    position: absolute;
    padding: .8em;
  }
}
/* line 37, ../css/package/sass/base/_tooltips.scss */
.gift-certificate-purchase form .send-multiple div:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: " ";
  background: #FFFFFF;
  border-top: 1px solid #B2B2B2;
  border-left: 1px solid #B2B2B2;
  height: 1.2em;
  width: 1.2em;
  float: left;
  margin-top: -3.4em;
  margin-left: 2em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 33.3125em) {
  /* line 37, ../css/package/sass/base/_tooltips.scss */
  .gift-certificate-purchase form .send-multiple div:after {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 1.3em;
    margin-left: 0;
  }
}
/* line 58, ../css/package/sass/base/_tooltips.scss */
.gift-certificate-purchase form .send-multiple div:hover:after, .gift-certificate-purchase form .send-multiple div:hover:before, .gift-certificate-purchase form .send-multiple div:focus:after, .gift-certificate-purchase form .send-multiple div:focus:before {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 12, ../css/package/sass/gift_certificates.scss */
.pt_giftcard .servererror {
  color: #940000;
}

/* line 18, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .qty-container .qty label, .gift-certificate-purchase form .email-fields .label-above label {
  font-size: 10px;
}
/* line 22, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .qty-container .qty input[type="text"], .gift-certificate-purchase form .email-fields .label-above input[type="text"] {
  width: 100%;
  height: 2em;
}

/* line 28, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .giftcard-options-container {
  padding-bottom: 5em;
  display: inline-block;
  margin: 0 auto;
  line-height: 6em;
  position: relative;
}
/* line 35, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .giftcard-options-container li {
  line-height: 2em;
  padding: 0 3em 0 3em;
  display: inline-block;
  position: relative;
}
/* line 7, ../css/package/sass/base/_styled_radio_button.scss */
.gift-certificate-purchase form .giftcard-options-container li span {
  position: absolute;
  right: 0;
  line-height: 2em;
  padding: 0.2em;
  color: #FFF;
  text-align: center;
  height: 2em;
  width: 2em;
  -moz-border-radius: 2em / 2em;
  -webkit-border-radius: 2em 2em;
  border-radius: 2em / 2em;
  background-color: #B2B2B2;
}
/* line 17, ../css/package/sass/base/_styled_radio_button.scss */
.gift-certificate-purchase form .giftcard-options-container li span:after {
  content: attr(data-no);
}
/* line 21, ../css/package/sass/base/_styled_radio_button.scss */
.gift-certificate-purchase form .giftcard-options-container li input[type="radio"] {
  position: absolute;
  right: 0;
  margin: 0;
  width: 4em;
  height: 4em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: pointer;
}
/* line 31, ../css/package/sass/base/_styled_radio_button.scss */
.gift-certificate-purchase form .giftcard-options-container li label {
  display: none;
}
/* line 35, ../css/package/sass/base/_styled_radio_button.scss */
.gift-certificate-purchase form .giftcard-options-container li input[type="radio"] + span {
  visibility: hidden;
  background: #000000;
}
/* line 40, ../css/package/sass/base/_styled_radio_button.scss */
.gift-certificate-purchase form .giftcard-options-container li input[type="radio"] + span:after {
  content: attr(data-yes);
}
/* line 45, ../css/package/sass/base/_styled_radio_button.scss */
.gift-certificate-purchase form .giftcard-options-container li input[type="radio"]:checked + span {
  visibility: visible;
}
/* line 42, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .giftcard-options-container li span:before {
  content: "$";
  font-size: 10px;
  vertical-align: top;
  line-height: 4em;
}
/* line 49, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .giftcard-options-container li span {
  font-size: 25px;
  vertical-align: middle;
}

/* line 56, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase {
  width: 100%;
  margin: 0 auto;
}
/* line 60, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 33.3125em) {
  /* line 64, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form fieldset {
    text-align: left;
  }
}
/* line 70, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form p {
  width: 50%;
  font-weight: 300;
  margin: 0 auto;
}
@media screen and (max-width: 33.3125em) {
  /* line 70, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form p {
    text-align: left;
    width: 100%;
  }
}
/* line 80, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .messaging {
  display: block;
}
/* line 83, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .messaging.step-title {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  padding-top: 2em;
}
@media screen and (max-width: 44.41667em) {
  /* line 83, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .messaging.step-title {
    text-align: left;
    line-height: 2em;
    padding-right: 1em;
    padding-top: 1em;
  }
}
/* line 97, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .messaging.step-message {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 1em;
}
@media screen and (max-width: 44.41667em) {
  /* line 97, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .messaging.step-message {
    text-align: left;
    display: inline;
    line-height: 2em;
    width: 6em;
  }
}
/* line 111, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form button {
  font-size: 1.5em;
  width: 13.5em;
  margin: 0 auto;
}
@media screen and (max-width: 33.3125em) {
  /* line 111, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form button {
    width: 100%;
  }
}

@media screen and (max-width: 33.3125em) {
  /* line 123, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase {
    min-height: 42em;
  }
}
/* line 132, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .form-row-button input[type="radio"] {
  display: none;
}
@media screen and (max-width: 33.3125em) {
  /* line 138, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .messaging.step-message.step1 {
    display: inline-block;
    width: 11em;
    line-height: 2em;
    padding-bottom: 0;
  }
}
/* line 146, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .error-form {
  padding-top: 1em;
}
@media screen and (max-width: 33.3125em) {
  /* line 146, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .error-form {
    clear: both;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 146, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .error-form {
    clear: both;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 162, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .giftcard-options-container {
    display: none;
  }
}
/* line 170, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .select-giftcard-options-container {
  display: none;
  width: 50%;
}
@media screen and (max-width: 33.3125em) {
  /* line 170, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .select-giftcard-options-container {
    display: block;
    float: left;
  }
}
/* line 180, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .sleeve-options {
  padding-bottom: 1.5em;
}
/* line 183, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .sleeve-options li {
  padding: 1em;
  display: inline-block;
}
@media screen and (max-width: 33.3125em) {
  /* line 183, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .sleeve-options li {
    width: 29%;
    white-space: nowrap;
    font-size: 8px;
    font-weight: bold;
    padding: 1%;
  }
  /* line 194, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .sleeve-options li img {
    width: 100%;
  }
}
/* line 201, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .qty-container {
  display: block;
}
/* line 204, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .qty-container .qty {
  display: inline-block;
}
/* line 208, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .qty-container .qty label {
  text-align: center;
}
/* line 212, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .qty-container .qty input[type="text"] {
  width: 7em;
  text-align: center;
}
@media screen and (max-width: 33.3125em) {
  /* line 201, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .qty-container {
    display: inline-block;
    width: 40%;
    padding-left: 5%;
    float: left;
    margin-top: -2em;
  }
}
/* line 227, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .email-fields {
  padding-bottom: 4em;
}
@media screen and (max-width: 33.3125em) {
  /* line 227, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .email-fields {
    padding-bottom: 1.5em;
  }
}
/* line 234, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .email-fields .label-above {
  display: inline-block;
  text-align: left;
  width: 30%;
  margin-left: 1em;
  margin-right: 1em;
}
@media screen and (max-width: 33.3125em) {
  /* line 234, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .email-fields .label-above {
    width: 100%;
    margin-left: 0;
    padding-bottom: 1em;
  }
}
/* line 251, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .send-multiple {
  font-weight: 700;
  line-height: 0;
  width: 18.5em;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 33.3125em) {
  /* line 251, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .send-multiple {
    margin: 0;
    padding-top: 3em;
  }
}
/* line 263, ../css/package/sass/gift_certificates.scss */
.gift-certificate-purchase form .send-multiple div {
  height: 1.5em;
  width: 1.5em;
  -moz-border-radius: 1.5em / 1.5em;
  -webkit-border-radius: 1.5em 1.5em;
  border-radius: 1.5em / 1.5em;
  background-color: #B2B2B2;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  margin-top: -.7em;
}
/* line 71, ../css/package/sass/base/_tooltips.scss */
.gift-certificate-purchase form .send-multiple div span {
  margin-top: -2.5em;
  float: right;
  margin-right: .5em;
}
@media screen and (max-width: 33.3125em) {
  /* line 71, ../css/package/sass/base/_tooltips.scss */
  .gift-certificate-purchase form .send-multiple div span {
    margin-top: .7em;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 269, ../css/package/sass/gift_certificates.scss */
  .gift-certificate-purchase form .messaging.step-message.lucky {
    white-space: nowrap;
    margin-top: -3.2em;
    width: auto;
    padding-bottom: 0;
    padding-top: 1.6em;
    line-height: 2em;
  }
}

/* line 282, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container {
  margin-top: 1.66667em;
  margin: 0 auto;
}
/* line 286, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form {
  margin: 0 auto;
  paddng: 0;
  overflow: visible;
  width: 47%;
}
@media screen and (max-width: 59.9375em) {
  /* line 286, ../css/package/sass/gift_certificates.scss */
  #gift-card-landing-container #giftcard-balance-container form {
    width: 100%;
  }
}
/* line 297, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form div#balancevalue {
  width: 8em;
  font-size: 2em;
  white-space: nowrap;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
/* line 298, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form div#balancevalue span {
  font-size: 1em;
  font-family: Helvetica;
  text-transform: uppercase;
  vertical-align: middle;
}
/* line 305, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form div#balancevalue #amount {
  font-family: Adobe Garamond;
}
/* line 318, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form div.inputs {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 13%;
}
@media screen and (max-width: 59.9375em) {
  /* line 318, ../css/package/sass/gift_certificates.scss */
  #gift-card-landing-container #giftcard-balance-container form div.inputs {
    width: 22em;
    margin: 0 auto;
    display: block;
  }
}
/* line 330, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form div.title-text {
  margin: 0 auto;
  width: 22em;
  font-size: 22px;
  font-weight: bold;
  text-transform: none;
  white-space: nowrap;
}
@media screen and (max-width: 59.9375em) {
  /* line 330, ../css/package/sass/gift_certificates.scss */
  #gift-card-landing-container #giftcard-balance-container form div.title-text {
    font-size: 16px;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 330, ../css/package/sass/gift_certificates.scss */
  #gift-card-landing-container #giftcard-balance-container form div.title-text {
    font-size: 14px;
  }
}
/* line 348, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form div.button-cont {
  width: 98%;
}
/* line 351, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form div.button-cont #checkbalancebtn {
  margin: 0 auto;
  margin-top: 1em;
  width: 16em;
  height: auto;
}
@media screen and (max-width: 33.3125em) {
  /* line 348, ../css/package/sass/gift_certificates.scss */
  #gift-card-landing-container #giftcard-balance-container form div.button-cont {
    margin-bottom: 2em;
  }
}
/* line 363, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form div.error-form {
  text-align: center;
}
@media screen and (max-width: 33.3125em) {
  /* line 363, ../css/package/sass/gift_certificates.scss */
  #gift-card-landing-container #giftcard-balance-container form div.error-form {
    margin-top: 0;
  }
}
/* line 372, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form input {
  width: 12em;
  height: auto;
}
@media screen and (max-width: 59.9375em) {
  /* line 372, ../css/package/sass/gift_certificates.scss */
  #gift-card-landing-container #giftcard-balance-container form input {
    width: 9em;
  }
}
/* line 381, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form label {
  font-size: 10px;
  padding-bottom: 0.7em;
}
/* line 386, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container form span.error {
  margin: 0.25em 0 0 0;
}
/* line 391, ../css/package/sass/gift_certificates.scss */
#gift-card-landing-container #giftcard-balance-container .title-text {
  font-weight: bold;
  text-transform: uppercase;
}
