/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 8, ../css/package/sass/hero_slideshow.scss */
#hero-slot, .hero-slot {
  width: 100%;
  max-height: 38em;
  overflow: hidden;
}
/* line 20, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow, .hero-slot .hero-slideshow {
  background: #FFFFFF;
}
/* line 24, ../css/package/sass/hero_slideshow.scss */
#hero-slot .control-container, .hero-slot .control-container {
  margin: 0px auto;
  margin-top: -63px;
  width: 1em;
  height: 1em;
  padding: 1em;
}
/* line 32, ../css/package/sass/hero_slideshow.scss */
#hero-slot .rslides_tabs, .hero-slot .rslides_tabs {
  margin: 0 auto;
  display: inline-block;
  width: 7.5em;
  margin-left: -1.5em;
  position: absolute;
  z-index: 2;
}
/* line 40, ../css/package/sass/hero_slideshow.scss */
#hero-slot .rslides_tabs li, .hero-slot .rslides_tabs li {
  height: 0.83333em;
  width: 0.83333em;
  -moz-border-radius: 0.83333em / 0.83333em;
  -webkit-border-radius: 0.83333em 0.83333em;
  border-radius: 0.83333em / 0.83333em;
  background-color: #CACACA;
  display: inline-block;
  margin-right: 0.41667em;
}
/* line 48, ../css/package/sass/hero_slideshow.scss */
#hero-slot .rslides_tabs li a, .hero-slot .rslides_tabs li a {
  color: transparent;
}
/* line 52, ../css/package/sass/hero_slideshow.scss */
#hero-slot .rslides_tabs li.rslides_here, .hero-slot .rslides_tabs li.rslides_here {
  height: 0.83333em;
  width: 0.83333em;
  -moz-border-radius: 0.83333em / 0.83333em;
  -webkit-border-radius: 0.83333em 0.83333em;
  border-radius: 0.83333em / 0.83333em;
  background-color: #000000;
}
/* line 58, ../css/package/sass/hero_slideshow.scss */
#hero-slot .rslides_nav, .hero-slot .rslides_nav {
  background: #FFFFFF;
  text-align: center;
}
@media screen and (max-width: 59.9375em) {
  /* line 58, ../css/package/sass/hero_slideshow.scss */
  #hero-slot .rslides_nav, .hero-slot .rslides_nav {
    display: none;
  }
}
/* line 66, ../css/package/sass/hero_slideshow.scss */
#hero-slot .rslides_nav.prev, .hero-slot .rslides_nav.prev {
  width: 21px;
  height: 39px;
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1359px no-repeat transparent;
  position: absolute;
  top: 40%;
  left: -4.2%;
}
@media screen and (max-width: 33.3125em) {
  /* line 66, ../css/package/sass/hero_slideshow.scss */
  #hero-slot .rslides_nav.prev, .hero-slot .rslides_nav.prev {
    width: 2em;
    margin-left: -2em;
    height: 27.77778em;
  }
}
/* line 82, ../css/package/sass/hero_slideshow.scss */
#hero-slot .rslides_nav.next, .hero-slot .rslides_nav.next {
  width: 21px;
  height: 39px;
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1686px no-repeat transparent;
  position: absolute;
  top: 40%;
  right: -4.2%;
}
@media screen and (max-width: 33.3125em) {
  /* line 82, ../css/package/sass/hero_slideshow.scss */
  #hero-slot .rslides_nav.next, .hero-slot .rslides_nav.next {
    right: -2em;
    width: 2em;
    height: 27.77778em;
  }
}
/* line 99, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow-large-container, .hero-slot .hero-slideshow-large-container {
  max-width: 83.33333em;
  max-height: 46.91667em;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 107, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow-large-container ul.hero-slideshow.large, .hero-slot .hero-slideshow-large-container ul.hero-slideshow.large {
  max-width: 83.33333em;
  max-height: 35em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 114, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow-large-container ul.hero-slideshow.large li.image-li, .hero-slot .hero-slideshow-large-container ul.hero-slideshow.large li.image-li {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  max-width: 83.33333em;
  max-height: 46.91667em;
  width: 100%;
}
/* line 116, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow-large-container ul.hero-slideshow.large li.image-li:first-child, .hero-slot .hero-slideshow-large-container ul.hero-slideshow.large li.image-li:first-child {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 124, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow-large-container ul.hero-slideshow.large li.image-li div, .hero-slot .hero-slideshow-large-container ul.hero-slideshow.large li.image-li div {
  max-width: 83.33333em;
  max-height: 46.91667em;
  width: 100%;
  float: left;
}
/* line 131, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow-large-container ul.hero-slideshow.large li.image-li div.large-slide.hover, .hero-slot .hero-slideshow-large-container ul.hero-slideshow.large li.image-li div.large-slide.hover {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 141, ../css/package/sass/hero_slideshow.scss */
#hero-slot.homepage, #hero-slot.fullwidth, .hero-slot.homepage, .hero-slot.fullwidth {
  max-height: none;
}
@media screen and (min-width: 59.9375em) {
  /* line 145, ../css/package/sass/hero_slideshow.scss */
  #hero-slot.homepage .control-container, #hero-slot.fullwidth .control-container, .hero-slot.homepage .control-container, .hero-slot.fullwidth .control-container {
    padding: 2em;
  }
}
/* line 152, ../css/package/sass/hero_slideshow.scss */
#hero-slot.homepage .rslides_nav.prev, #hero-slot.fullwidth .rslides_nav.prev, .hero-slot.homepage .rslides_nav.prev, .hero-slot.fullwidth .rslides_nav.prev {
  width: 23px;
  height: 38px;
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1417px no-repeat transparent;
}
/* line 157, ../css/package/sass/hero_slideshow.scss */
#hero-slot.homepage .rslides_nav.prev:hover, #hero-slot.fullwidth .rslides_nav.prev:hover, .hero-slot.homepage .rslides_nav.prev:hover, .hero-slot.fullwidth .rslides_nav.prev:hover {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1460px no-repeat transparent;
}
@media screen and (min-width: 59.9375em) {
  /* line 152, ../css/package/sass/hero_slideshow.scss */
  #hero-slot.homepage .rslides_nav.prev, #hero-slot.fullwidth .rslides_nav.prev, .hero-slot.homepage .rslides_nav.prev, .hero-slot.fullwidth .rslides_nav.prev {
    z-index: 10;
    left: 1.5%;
  }
}
/* line 168, ../css/package/sass/hero_slideshow.scss */
#hero-slot.homepage .rslides_nav.next, #hero-slot.fullwidth .rslides_nav.next, .hero-slot.homepage .rslides_nav.next, .hero-slot.fullwidth .rslides_nav.next {
  width: 23px;
  height: 38px;
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1744px no-repeat transparent;
}
/* line 173, ../css/package/sass/hero_slideshow.scss */
#hero-slot.homepage .rslides_nav.next:hover, #hero-slot.fullwidth .rslides_nav.next:hover, .hero-slot.homepage .rslides_nav.next:hover, .hero-slot.fullwidth .rslides_nav.next:hover {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1787px no-repeat transparent;
}
@media screen and (min-width: 59.9375em) {
  /* line 168, ../css/package/sass/hero_slideshow.scss */
  #hero-slot.homepage .rslides_nav.next, #hero-slot.fullwidth .rslides_nav.next, .hero-slot.homepage .rslides_nav.next, .hero-slot.fullwidth .rslides_nav.next {
    z-index: 10;
    right: 1.5%;
  }
}
/* line 185, ../css/package/sass/hero_slideshow.scss */
#hero-slot.homepage .hero-slideshow-large-container, #hero-slot.fullwidth .hero-slideshow-large-container, .hero-slot.homepage .hero-slideshow-large-container, .hero-slot.fullwidth .hero-slideshow-large-container {
  max-width: none;
  max-height: none;
}
@media screen and (min-width: 59.9375em) {
  /* line 185, ../css/package/sass/hero_slideshow.scss */
  #hero-slot.homepage .hero-slideshow-large-container, #hero-slot.fullwidth .hero-slideshow-large-container, .hero-slot.homepage .hero-slideshow-large-container, .hero-slot.fullwidth .hero-slideshow-large-container {
    width: 100%;
  }
}
/* line 193, ../css/package/sass/hero_slideshow.scss */
#hero-slot.homepage .hero-slideshow-large-container ul.hero-slideshow, #hero-slot.fullwidth .hero-slideshow-large-container ul.hero-slideshow, .hero-slot.homepage .hero-slideshow-large-container ul.hero-slideshow, .hero-slot.fullwidth .hero-slideshow-large-container ul.hero-slideshow {
  background: #FFFFFF;
}
/* line 196, ../css/package/sass/hero_slideshow.scss */
#hero-slot.homepage .hero-slideshow-large-container ul.hero-slideshow.large, #hero-slot.fullwidth .hero-slideshow-large-container ul.hero-slideshow.large, .hero-slot.homepage .hero-slideshow-large-container ul.hero-slideshow.large, .hero-slot.fullwidth .hero-slideshow-large-container ul.hero-slideshow.large {
  max-width: none;
  max-height: none;
}
/* line 200, ../css/package/sass/hero_slideshow.scss */
#hero-slot.homepage .hero-slideshow-large-container ul.hero-slideshow.large li.image-li, #hero-slot.fullwidth .hero-slideshow-large-container ul.hero-slideshow.large li.image-li, .hero-slot.homepage .hero-slideshow-large-container ul.hero-slideshow.large li.image-li, .hero-slot.fullwidth .hero-slideshow-large-container ul.hero-slideshow.large li.image-li {
  max-width: none;
  max-height: none;
}
/* line 204, ../css/package/sass/hero_slideshow.scss */
#hero-slot.homepage .hero-slideshow-large-container ul.hero-slideshow.large li.image-li div, #hero-slot.fullwidth .hero-slideshow-large-container ul.hero-slideshow.large li.image-li div, .hero-slot.homepage .hero-slideshow-large-container ul.hero-slideshow.large li.image-li div, .hero-slot.fullwidth .hero-slideshow-large-container ul.hero-slideshow.large li.image-li div {
  max-width: none;
  max-height: none;
}
/* line 214, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow-small-container, .hero-slot .hero-slideshow-small-container {
  width: 100%;
  min-width: 27.77778em;
  min-height: 27.77778em;
  margin: 0 auto;
  position: relative;
}
/* line 221, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow-small-container .image-li, .hero-slot .hero-slideshow-small-container .image-li {
  width: 100%;
}
/* line 224, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow-small-container .image-li img, .hero-slot .hero-slideshow-small-container .image-li img {
  width: 100%;
}
/* line 229, ../css/package/sass/hero_slideshow.scss */
#hero-slot .hero-slideshow-small-container ul.hero-slideshow.small, .hero-slot .hero-slideshow-small-container ul.hero-slideshow.small {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 33.3125em) {
  /* line 235, ../css/package/sass/hero_slideshow.scss */
  #hero-slot div.hero-slideshow-large-container, .hero-slot div.hero-slideshow-large-container {
    display: none;
  }
}
