/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* homepage assets
--------------------------------------------------------------------------------------- */
/* line 8, ../css/package/sass/homepage.scss */
.js .homepage-slides {
  height: 550px;
}

/* line 9, ../css/package/sass/homepage.scss */
.js #homepage-slider .jcarousel-item {
  max-width: 100%;
}

/* line 10, ../css/package/sass/homepage.scss */
.js #homepage-slider .jcarousel-control {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

/* line 11, ../css/package/sass/homepage.scss */
.js #homepage-slider .jcarousel-control a {
  background: none repeat scroll 0 0 #E0E0E0;
  border: 1px solid #cccccc;
  display: block;
  float: left;
  height: 15px;
  margin: 0 3px;
  text-indent: -999em;
  width: 6px;
}

/* line 12, ../css/package/sass/homepage.scss */
.js #homepage-slider .jcarousel-control a.active {
  background-color: #666666;
}

/* line 13, ../css/package/sass/homepage.scss */
.js .home-bottom-left,
.js .home-bottom-center,
.js .home-bottom-right {
  clear: none;
  float: left;
  width: 33%;
}

/* line 17, ../css/package/sass/homepage.scss */
.js .home-bottom-right .jcarousel-clip {
  height: 282px;
  overflow: hidden;
}

/* line 18, ../css/package/sass/homepage.scss */
.js .home-bottom-right .vertical-carousel li {
  height: 282px;
  float: none;
  width: 300px;
}

/* line 19, ../css/package/sass/homepage.scss */
.js .home-bottom-right .product-tile {
  min-height: 0;
}

/* line 20, ../css/package/sass/homepage.scss */
.js .home-bottom-right .jcarousel-prev {
  background: url('../images/interface/icon-vertical-carousel-prev.png?1472148728') left top no-repeat;
  cursor: pointer;
  height: 12px;
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 52px;
  z-index: 999;
}

/* line 21, ../css/package/sass/homepage.scss */
.js .home-bottom-right .jcarousel-next {
  background: url('../images/interface/icon-vertical-carousel-next.png?1472148728') left top no-repeat;
  cursor: pointer;
  height: 12px;
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 52px;
  z-index: 999;
}

/* line 22, ../css/package/sass/homepage.scss */
.js .home-bottom-right .jcarousel-prev-disabled, .home-bottom-right .jcarousel-next-disabled {
  display: none !important;
}

/* line 24, ../css/package/sass/homepage.scss */
.js button.select {
  display: none;
}

/* line 26, ../css/package/sass/homepage.scss */
#homepage-slider .slider-next, #homepage-slider .slider-prev {
  position: absolute;
  z-index: 101;
  float: left;
  margin-left: 87%;
  top: 50%;
  margin-top: -19px;
}

/* line 36, ../css/package/sass/homepage.scss */
#homepage-slider .slides_container {
  overflow: visible !important;
}
@media screen and (max-width: 33.3125em) {
  /* line 36, ../css/package/sass/homepage.scss */
  #homepage-slider .slides_container {
    height: 20.41667em;
  }
}
/* line 42, ../css/package/sass/homepage.scss */
#homepage-slider .slides_container div {
  height: 34.58333em;
  position: relative;
  overflow: visible;
}
@media screen and (max-width: 33.3125em) {
  /* line 42, ../css/package/sass/homepage.scss */
  #homepage-slider .slides_container div {
    height: auto;
  }
}
/* line 50, ../css/package/sass/homepage.scss */
#homepage-slider .slides_container div img {
  width: auto;
  height: 35em;
}
@media screen and (max-width: 33.3125em) {
  /* line 50, ../css/package/sass/homepage.scss */
  #homepage-slider .slides_container div img {
    height: 20.41667em;
  }
}
/* line 60, ../css/package/sass/homepage.scss */
#homepage-slider .slides_control div {
  margin-left: -27.5em;
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 60, ../css/package/sass/homepage.scss */
  #homepage-slider .slides_control div {
    margin-left: -49.16667em;
  }
}
/* line 69, ../css/package/sass/homepage.scss */
#homepage-slider .slides_control, #homepage-slider #slides, #homepage-slider .slides_container, #homepage-slider #homepage-slider {
  overflow: visible;
}
/* line 73, ../css/package/sass/homepage.scss */
#homepage-slider div#slides {
  position: relative;
  margin-bottom: 20px;
  height: 35em;
  width: 83.41667em;
  margin: 0px auto;
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 73, ../css/package/sass/homepage.scss */
  #homepage-slider div#slides {
    width: 33.33333em;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 73, ../css/package/sass/homepage.scss */
  #homepage-slider div#slides {
    height: 20.41667em;
  }
}
/* line 87, ../css/package/sass/homepage.scss */
#homepage-slider .morebutton {
  text-transform: uppercase;
  position: absolute;
  z-index: 101;
  padding: 8px 13px 8px 13px;
  cursor: pointer;
  -moz-border-radius: 14px / 14px;
  -webkit-border-radius: 14px 14px;
  border-radius: 14px / 14px;
  background: white;
  color: black;
  font-weight: bold;
  bottom: 30px;
  left: 50%;
  margin-left: -47px;
}
/* line 100, ../css/package/sass/homepage.scss */
#homepage-slider .morebutton:hover {
  background: black;
  color: white;
}
@media screen and (max-width: 33.3125em) {
  /* line 87, ../css/package/sass/homepage.scss */
  #homepage-slider .morebutton {
    bottom: 0.83333em;
  }
}
/* line 111, ../css/package/sass/homepage.scss */
#homepage-slider .slider-next {
  margin-left: 87%;
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 111, ../css/package/sass/homepage.scss */
  #homepage-slider .slider-next {
    margin-left: 87%;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 111, ../css/package/sass/homepage.scss */
  #homepage-slider .slider-next {
    margin-left: 28%;
  }
}
/* line 122, ../css/package/sass/homepage.scss */
#homepage-slider .slider-prev {
  margin-left: 10%;
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 122, ../css/package/sass/homepage.scss */
  #homepage-slider .slider-prev {
    margin-left: 10%;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 122, ../css/package/sass/homepage.scss */
  #homepage-slider .slider-prev {
    margin-left: 1%;
  }
}
/* line 133, ../css/package/sass/homepage.scss */
#homepage-slider .slider-pagination {
  position: absolute;
  margin-top: -20px;
  margin-left: -10px;
  z-index: 101;
  left: 50%;
}
/* line 141, ../css/package/sass/homepage.scss */
#homepage-slider .slider-pagination li {
  float: left;
  margin: 0 1px;
  list-style: none;
}
/* line 147, ../css/package/sass/homepage.scss */
#homepage-slider .slider-pagination li a {
  display: block;
  width: 12px;
  height: 0;
  padding-top: 12px;
  background-image: url('../images/pagination.png?1472148728');
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
/* line 158, ../css/package/sass/homepage.scss */
#homepage-slider .slider-pagination li.current a {
  background-position: 0 -12px;
}
