/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* JP bxslider lookbook */
/* ------------------------------------- */
/* line 12, ../css/package/sass/lookbook.scss */
#lookbook-desktop {
  /** BXSLIDER NATIVE LAYOUT
  ===================================*/
  /** THEME
  ===================================*/
  /* LOADER */
  /* PAGER */
  /* DIRECTION CONTROLS (NEXT / PREV) */
  /* AUTO CONTROLS (START / STOP) */
  /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
  /* IMAGE CAPTIONS */
}
/* line 13, ../css/package/sass/lookbook.scss */
#lookbook-desktop #pagenumber {
  position: absolute;
  bottom: 75px;
  right: 20px;
  text-align: right;
  background-color: rgba(34, 34, 34, 0.55);
  width: 87px;
  height: 20px;
  font-size: 12px;
  text-align: right;
  padding-top: 5px;
  padding-right: 10px;
  pointer-events: none;
}
/* line 27, ../css/package/sass/lookbook.scss */
#lookbook-desktop #pagenumber .whitetext {
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}
/* line 31, ../css/package/sass/lookbook.scss */
#lookbook-desktop #pagenumber .graytext {
  color: #afafaf;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}
/* line 37, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}
/* line 43, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper img {
  max-width: 100%;
  display: block;
}
/* line 49, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-viewport {
  /*-moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;*/
  /*box-shadow: 0 0 5px #ccc;*/
  /*border:  5px solid #fff;
  left: -5px;*/
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
/* line 63, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-pager,
#lookbook-desktop .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* line 70, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-loading {
  min-height: 50px;
  /*background: url(images/bx_loader.gif) center center no-repeat #fff;*/
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* line 81, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
/* line 89, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-pager .bx-pager-item,
#lookbook-desktop .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 95, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 107, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-pager.bx-default-pager a:hover,
#lookbook-desktop .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
/* line 112, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-prev {
  left: 0px;
  background: url('../images/lookbook-prev.png?1472148728');
}
/* line 116, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-next {
  right: 0px;
  background: url('../images/lookbook-next.png?1472148728');
}
/* line 122, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -56px;
  outline: 0;
  width: 25px;
  height: 58px;
  text-indent: -9999px;
  z-index: 9999;
}
/* line 132, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* line 136, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-controls-auto {
  text-align: center;
}
/* line 139, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
/* line 148, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-controls-auto .bx-start:hover,
#lookbook-desktop .bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
/* line 152, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
/* line 161, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-controls-auto .bx-stop:hover,
#lookbook-desktop .bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
/* line 166, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
/* line 170, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* line 175, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
/* line 183, ../css/package/sass/lookbook.scss */
#lookbook-desktop .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
