/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* Made By You Page
--------------------------------------------------------------------------------------- */
/* line 8, ../css/package/sass/madebyyou.scss */
.pt_madebyyou {
  height: calc(100% - 38.83333em);
  width: 100%;
  position: fixed;
}
/* line 10, ../css/package/sass/madebyyou.scss */
.pt_madebyyou.isMobile {
  position: absolute;
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 8, ../css/package/sass/madebyyou.scss */
  .pt_madebyyou {
    height: calc(100% - 50.33333em);
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 8, ../css/package/sass/madebyyou.scss */
  .pt_madebyyou {
    height: calc(100% - 43.41667em);
  }
}
/* line 26, ../css/package/sass/madebyyou.scss */
.pt_madebyyou #madebyyou {
  height: 100%;
  width: 100%;
}
