/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 10, ../css/package/sass/minicart_panel.scss */
#minicart-panel-container {
  position: relative;
  width: 100%;
  display: none;
  z-index: 1;
}

/* line 17, ../css/package/sass/minicart_panel.scss */
#minicart-panel {
  background: #FFFFFF;
  height: 21.66667em;
}
@media screen and (max-width: 59.9375em) {
  /* line 17, ../css/package/sass/minicart_panel.scss */
  #minicart-panel {
    height: auto;
  }
}
/* line 25, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content {
  max-width: 88em;
  margin: 0 auto;
}
/* line 29, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .panel-caption {
  position: relative;
  line-height: 5em;
}
/* line 33, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .panel-caption h2 {
  text-align: left;
  margin-left: 25%;
  font-weight: bold;
  font-size: 2.33333em;
}
@media screen and (max-width: 59.9375em) {
  /* line 33, ../css/package/sass/minicart_panel.scss */
  #minicart-panel .panel-content .panel-caption h2 {
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 33, ../css/package/sass/minicart_panel.scss */
  #minicart-panel .panel-content .panel-caption h2 {
    font-size: 1.5em;
  }
}
/* line 49, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .panel-caption a.close-btn {
  position: absolute;
  right: 0.83333em;
  top: 1em;
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -40px no-repeat transparent;
  width: 2.66667em;
  height: 2.66667em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 49, ../css/package/sass/minicart_panel.scss */
  #minicart-panel .panel-content .panel-caption a.close-btn {
    background-image: url('../images/sprites_icon_image@2x-s0345adfbec.png');
    background-position: 0 -20px;
    -webkit-background-size: 32px 926px;
    -moz-background-size: 32px 926px;
    -o-background-size: 32px 926px;
    background-size: 32px 926px;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 59.9375em) {
  /* line 63, ../css/package/sass/minicart_panel.scss */
  #minicart-panel .panel-content .product-info {
    display: none;
  }
}
/* line 69, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info > * {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 74, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .product-image {
  margin-right: 5%;
  width: 20%;
  padding-right: 3.33333em;
}
/* line 79, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .product-image img {
  width: 100%;
  height: auto;
}
/* line 85, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .product-details {
  width: 44%;
}
/* line 89, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .product-details .product-title h3 {
  font-size: 2em;
  font-weight: bold;
}
/* line 94, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .product-details .product-title .price {
  line-height: 1.53846em;
  font-family: Adobe Garamond;
  font-size: 2.16667em;
}
/* line 101, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .product-details .product-attr {
  font-size: 1.25em;
  line-height: 1.66667em;
  margin-top: 0.66667em;
}
/* line 106, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .product-details .product-attr .color {
  text-transform: capitalize;
}
/* line 112, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .cart-info {
  padding-left: 1.2em;
  min-width: 24%;
  border-left: 0.08333em solid #CACACA;
}
/* line 117, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .cart-info .subtotal {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1.66667em;
}
/* line 121, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .cart-info .subtotal span {
  font-size: 1.33333em;
  font-variant: small-caps;
  font-weight: bold;
  float: left;
}
/* line 128, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .cart-info .subtotal strong {
  font-size: 2.66667em;
  font-family: Adobe Garamond;
  float: right;
}
/* line 136, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .cart-info .cart-actions a {
  display: block;
  font-size: 1.5em;
}
/* line 140, ../css/package/sass/minicart_panel.scss */
#minicart-panel .panel-content .product-info .cart-info .cart-actions a:first-child {
  margin-bottom: 0.83333em;
}
