/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 5, ../css/package/sass/no_flash_content.scss */
#no-flash-content {
  width: 83.33333em;
  height: 35em;
  display: none;
  background: #000000;
  margin: 0 auto;
  padding-left: 5em;
  text-align: left;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
/* line 17, ../css/package/sass/no_flash_content.scss */
#no-flash-content .required-message {
  font-size: 1.5em;
  color: #FFFFFF;
  margin-top: 14.16667em;
}
/* line 24, ../css/package/sass/no_flash_content.scss */
#no-flash-content .download-link {
  margin-top: 0.41667em;
}
/* line 27, ../css/package/sass/no_flash_content.scss */
#no-flash-content .download-link a {
  font-size: 1.5em;
  color: #940000;
}
