/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* page layouts */
/* ------------------------------------- */
/* line 11, ../css/package/sass/page_layouts.scss */
#main {
  position: relative;
}

/* line 15, ../css/package/sass/page_layouts.scss */
#mobile-menu {
  top: 0;
  display: block;
  width: 22.5em;
  float: left;
  position: relative;
  background-color: #F8F8F8;
  height: 100%;
  overflow-y: scroll;
}

/* line 26, ../css/package/sass/page_layouts.scss */
#wrapper {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0px solid #FFFFFF;
  margin: auto;
  min-height: 100%;
  left: 0px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: left 400ms;
  -moz-transition: left 400ms;
  -o-transition: left 400ms;
  transition: left 400ms;
}
/* line 39, ../css/package/sass/page_layouts.scss */
#wrapper.position-absolute {
  position: absolute;
}
/* line 43, ../css/package/sass/page_layouts.scss */
#wrapper .catcher-in-the-rye {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 2000;
}
/* line 52, ../css/package/sass/page_layouts.scss */
#wrapper.position-fixed {
  position: fixed;
}
/* line 56, ../css/package/sass/page_layouts.scss */
#wrapper.menu-expanded {
  left: 22.5em;
}
/* line 60, ../css/package/sass/page_layouts.scss */
#wrapper #main-overlay {
  margin-top: 10em;
}
/* line 64, ../css/package/sass/page_layouts.scss */
#wrapper #main-overlay.pdp {
  padding-bottom: 0;
}
@media screen and (max-width: 77.5em) {
  /* line 64, ../css/package/sass/page_layouts.scss */
  #wrapper #main-overlay.pdp {
    margin-top: 0;
  }
}
/* line 72, ../css/package/sass/page_layouts.scss */
#wrapper #main-overlay.no-top-margin {
  margin-top: 8.33333em;
}
@media screen and (max-width: 59.9375em) {
  /* line 72, ../css/package/sass/page_layouts.scss */
  #wrapper #main-overlay.no-top-margin {
    margin-top: 0;
  }
}
@media screen and (max-width: 59.9375em) {
  /* line 60, ../css/package/sass/page_layouts.scss */
  #wrapper #main-overlay {
    margin-top: 0;
  }
}
/* line 85, ../css/package/sass/page_layouts.scss */
#wrapper #overlay-area {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000000;
  z-index: 9999;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 97, ../css/package/sass/page_layouts.scss */
#threshold-detection {
  display: none;
}
@media screen and (max-width: 79.875em) {
  /* line 97, ../css/package/sass/page_layouts.scss */
  #threshold-detection {
    width: 1278px;
  }
}
@media screen and (max-width: 59.9375em) {
  /* line 97, ../css/package/sass/page_layouts.scss */
  #threshold-detection {
    width: 959px;
  }
}
@media screen and (max-width: 50em) {
  /* line 97, ../css/package/sass/page_layouts.scss */
  #threshold-detection {
    width: 800px !important;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 97, ../css/package/sass/page_layouts.scss */
  #threshold-detection {
    width: 533px !important;
  }
}

/* line 118, ../css/package/sass/page_layouts.scss */
#main-title {
  padding-bottom: 0.2em;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 33.3125em) {
  /* line 118, ../css/package/sass/page_layouts.scss */
  #main-title {
    padding-bottom: 1.2em;
    text-align: center;
  }
}

/* line 128, ../css/package/sass/page_layouts.scss */
#main-title > h1 {
  font-size: 2.35em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
  float: left;
}

/* line 136, ../css/package/sass/page_layouts.scss */
.primary-focus, .converse-tabs.standard-content-container {
  max-width: 83.41667em;
  margin: 0px auto;
}
@media screen and (max-width: 59.9375em) {
  /* line 136, ../css/package/sass/page_layouts.scss */
  .primary-focus, .converse-tabs.standard-content-container {
    max-width: 64.16667em;
  }
}
@media screen and (max-width: 50em) {
  /* line 136, ../css/package/sass/page_layouts.scss */
  .primary-focus, .converse-tabs.standard-content-container {
    padding: 1.66667em;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 136, ../css/package/sass/page_layouts.scss */
  .primary-focus, .converse-tabs.standard-content-container {
    padding: 0;
  }
}
/* line 150, ../css/package/sass/page_layouts.scss */
.primary-focus .primary-content, .converse-tabs.standard-content-container .primary-content {
  border: 0 none;
  float: left;
  margin: 0;
  width: 100%;
}
/* line 156, ../css/package/sass/page_layouts.scss */
.primary-focus .primary-content h1, .converse-tabs.standard-content-container .primary-content h1 {
  font-size: 3.16667em;
  font-weight: bold;
}
@media screen and (max-width: 59.9375em) {
  /* line 156, ../css/package/sass/page_layouts.scss */
  .primary-focus .primary-content h1, .converse-tabs.standard-content-container .primary-content h1 {
    text-align: center;
  }
}
@media screen and (max-width: 50em) {
  /* line 150, ../css/package/sass/page_layouts.scss */
  .primary-focus .primary-content, .converse-tabs.standard-content-container .primary-content {
    width: 98%;
  }
}
/* line 170, ../css/package/sass/page_layouts.scss */
.primary-focus #secondary, .converse-tabs.standard-content-container #secondary {
  background: #F5F5F1;
  float: right;
  width: 25%;
}
@media screen and (max-width: 33.3125em) {
  /* line 170, ../css/package/sass/page_layouts.scss */
  .primary-focus #secondary, .converse-tabs.standard-content-container #secondary {
    width: 100%;
    float: none;
  }
}

/* line 181, ../css/package/sass/page_layouts.scss */
.full-width .primary-content {
  border: 0 none;
  width: 100%;
}
