/* power reviews */
/* ------------------------------------- */
/* line 4, ../css/package/sass/power_reviews.scss */
body .pr-snippet-wrapper {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
}

/* line 5, ../css/package/sass/power_reviews.scss */
body .pr-snippet-stars {
  border: 0 none;
}

/* line 6, ../css/package/sass/power_reviews.scss */
body .pr-snippet-review-count {
  display: none;
}

/* line 7, ../css/package/sass/power_reviews.scss */
body .pr-snippet-read-write {
  border: 0 none;
  clear: none;
  float: left;
  font-size: 1.1em;
  margin: 0;
  padding: 4px 0;
}

/* line 8, ../css/package/sass/power_reviews.scss */
body .pr-snippet-read-write p {
  display: none;
}

/* line 9, ../css/package/sass/power_reviews.scss */
body .pr-snippet-read-write a.pr-snippet-link {
  color: #3EBAEA;
}

/* line 10, ../css/package/sass/power_reviews.scss */
body .review-image {
  float: left;
  margin: 0 20px;
}
