/* constants file for scss variable values */
/* constants file for scss variable values */
/* primary region elements */
/* ------------------------------------- */
/* line 7, ../css/package/sass/primary_region_elements.scss */
.primary-content a {
  /*
  font-size:pxtoem(15);
  font-weight:bold;
  */
}

/* line 14, ../css/package/sass/primary_region_elements.scss */
.primary-content h2 {
  font-size: 1.3em;
}

/* line 15, ../css/package/sass/primary_region_elements.scss */
.primary-content h3 {
  font-size: 1.25em;
  font-weight: bold;
}

/* line 19, ../css/package/sass/primary_region_elements.scss */
.primary-content dl {
  clear: both;
  overflow: hidden;
}

/* line 20, ../css/package/sass/primary_region_elements.scss */
.primary-content dl dt {
  clear: both;
  float: left;
  margin: 2% 0 0;
  min-width: 15%;
}

/* line 21, ../css/package/sass/primary_region_elements.scss */
.primary-content dl dd {
  float: left;
  margin: 2% 0 0;
  padding: 0 0 0 5%;
}

/* line 22, ../css/package/sass/primary_region_elements.scss */
.col-1 {
  float: left;
  margin: 4px 0;
  width: 48%;
}

/* line 23, ../css/package/sass/primary_region_elements.scss */
.col-2 {
  float: right;
  margin: 4px 0;
  width: 48%;
}

/* line 24, ../css/package/sass/primary_region_elements.scss */
.content-header {
  font-family: Georgia,serif;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 14px !important;
}

/* line 25, ../css/package/sass/primary_region_elements.scss */
.content-header span {
  font-size: 0.75em;
  font-style: normal;
  font-weight: 400;
}

/* line 26, ../css/package/sass/primary_region_elements.scss */
.section-header {
  background: url('../images/sprites_site_graphic-s175b47e9fb.png') 0 -57px repeat-x scroll left top #F5F5F1;
  border-bottom: 1px solid #FFFFFF;
  font-size: 1.1em !important;
  font-weight: 700;
  margin: 0;
  padding: 1em;
  position: relative;
  text-transform: uppercase;
}

/* line 36, ../css/package/sass/primary_region_elements.scss */
.section-header-note {
  font-size: 0.9em;
  font-weight: 400;
  position: absolute;
  right: 1em;
  text-transform: none;
}

/* line 37, ../css/package/sass/primary_region_elements.scss */
.back {
  display: block;
  margin: 0 0 10px;
}
