/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* product tiles */
/* ------------------------------------- */
/* line 15, ../css/package/sass/product_tiles.scss */
.product-tile {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}
/* line 21, ../css/package/sass/product_tiles.scss */
.product-tile .product-image {
  height: 13.75em;
  width: 13.75em;
  position: relative;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 28, ../css/package/sass/product_tiles.scss */
.product-tile .product-image img {
  display: initial;
}
@media screen and (max-width: 59.9375em) {
  /* line 21, ../css/package/sass/product_tiles.scss */
  .product-tile .product-image {
    width: 10.83333em;
    height: 10.83333em;
  }
}
/* line 38, ../css/package/sass/product_tiles.scss */
.product-tile .product-name {
  font-size: 1em;
  width: 11em;
  margin: 1.25em auto 0.16667em auto;
}
/* line 43, ../css/package/sass/product_tiles.scss */
.product-tile .product-name h2 {
  font-size: inherit;
  font-weight: normal;
  line-height: 1.16667em;
  margin-bottom: 0.41667em;
}
/* line 48, ../css/package/sass/product_tiles.scss */
.product-tile .product-name h2 a {
  color: #B2B2B2;
}
/* line 54, ../css/package/sass/product_tiles.scss */
.product-tile .product-pricing {
  font-size: 1.25em;
  font-family: Adobe Garamond Bold;
  font-weight: bold;
  color: #000000;
}
/* line 61, ../css/package/sass/product_tiles.scss */
.product-tile .product-comingsoon {
  font-size: 1.25em;
  font-family: Adobe Garamond Bold;
  font-weight: bold;
  color: #000000;
}
/* line 68, ../css/package/sass/product_tiles.scss */
.product-tile .product-label-customizable {
  margin-top: 0.41667em;
  font-family: Adobe Garamond;
  font-style: italic;
  font-weight: bold;
  display: none;
}
/* line 76, ../css/package/sass/product_tiles.scss */
.product-tile .product-label {
  margin-top: 0.41667em;
  font-family: Adobe Garamond;
  font-style: italic;
  font-weight: bold;
}
/* line 83, ../css/package/sass/product_tiles.scss */
.product-tile .product-label-morecolors {
  display: none;
  margin-top: 0.41667em;
}
/* line 87, ../css/package/sass/product_tiles.scss */
.product-tile .product-label-morecolors a {
  color: #808080;
}
@media screen and (max-width: 59.9375em) {
  /* line 83, ../css/package/sass/product_tiles.scss */
  .product-tile .product-label-morecolors {
    display: block;
  }
}
/* line 96, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches {
  display: block;
  position: relative;
  max-width: 11em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.83333em;
}
/* line 104, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches ul.swatch-list {
  display: inline;
}
/* line 107, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches ul.swatch-list li {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
}
/* line 113, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches ul.swatch-list li:first-child {
  margin: 0;
}
/* line 117, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches ul.swatch-list li a {
  display: block;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0.08333em solid rgba(0, 0, 0, 0.75);
}
/* line 125, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches ul.swatch-list li a:hover {
  border: 0.08333em solid #000000;
}
/* line 129, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches ul.swatch-list li a[data-swatch-hex="FFFFFF"] {
  border: 0.08333em solid #000000;
}
/* line 133, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches ul.swatch-list li a[data-swatch-hex="0"]:hover {
  border: 0.08333em solid #CACACA;
}
/* line 140, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches ul.swatch-list li span {
  display: none;
}
/* line 146, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches .prev-swatch-group {
  display: none;
  position: absolute;
  left: 0;
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1403px;
  width: 0.41667em;
  height: 0.75em;
  cursor: pointer;
  margin-top: 0.125em;
}
/* line 156, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches .prev-swatch-group span {
  display: none;
}
/* line 161, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches .next-swatch-group {
  display: none;
  position: absolute;
  right: 0;
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1730px;
  width: 0.41667em;
  height: 0.75em;
  cursor: pointer;
  margin-top: 0.125em;
}
/* line 171, ../css/package/sass/product_tiles.scss */
.product-tile .product-swatches .next-swatch-group span {
  display: none;
}
/* line 177, ../css/package/sass/product_tiles.scss */
.product-tile .product-promo {
  font-size: 0.8em;
  margin: 0.5em 0;
  text-transform: uppercase;
}

/* line 186, ../css/package/sass/product_tiles.scss */
.product-tile.notouch:hover .product-label-customizable {
  display: block;
}

/* line 193, ../css/package/sass/product_tiles.scss */
.product-tile.touch .product-label-customizable {
  display: block;
}

/* line 198, ../css/package/sass/product_tiles.scss */
.capture-product-id {
  display: none;
}
