/* constants file for scss variable values */
/* line 3, ../css/package/sass/qrcode.scss */
#parent-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 9, ../css/package/sass/qrcode.scss */
.row-one, .row-two, .row-three, .row-four {
  height: 16.66667em;
  width: 51.66667em;
  margin: 0.83333em 0.83333em 0 0.83333em;
}
/* line 14, ../css/package/sass/qrcode.scss */
.row-one .thumb, .row-two .thumb, .row-three .thumb, .row-four .thumb {
  height: 16.66667em;
  width: 16.66667em;
  margin-left: 0.83333em;
  float: left;
}
/* line 20, ../css/package/sass/qrcode.scss */
.row-one .thumb:first-child, .row-two .thumb:first-child, .row-three .thumb:first-child, .row-four .thumb:first-child {
  margin-left: 0px;
}

/* line 29, ../css/package/sass/qrcode.scss */
.row-one i.insta_overlay {
  height: 16.66667em;
  width: 16.66667em;
  position: absolute;
  background-image: url("../images/qrcode_icons/cons_instagram.png");
}

/* line 37, ../css/package/sass/qrcode.scss */
.row-two {
  height: auto;
}

/* line 46, ../css/package/sass/qrcode.scss */
.row-three .thumb {
  position: relative;
}
/* line 49, ../css/package/sass/qrcode.scss */
.row-three .thumb.music {
  background-image: url("../images/qrcode_icons/cons_music.jpg");
}
/* line 53, ../css/package/sass/qrcode.scss */
.row-three .thumb.twitter {
  background-image: url("../images/qrcode_icons/cons_twitter.jpg");
}
/* line 57, ../css/package/sass/qrcode.scss */
.row-three .thumb.gplus {
  background-image: url("../images/qrcode_icons/cons_gplus.jpg");
}
/* line 61, ../css/package/sass/qrcode.scss */
.row-three .thumb a {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 69, ../css/package/sass/qrcode.scss */
.row-four {
  height: auto;
  margin-bottom: 0.83333em;
}
