/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 12, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #main-title h1 {
  float: none;
}
/* line 17, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks h2 {
  font-size: 1.33333em;
  line-height: 1.3em;
}
/* line 20, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks h2 a {
  text-decoration: underline;
}
/* line 25, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #main {
  margin-top: 2em;
}
/* line 29, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary {
  width: 72%;
  border: 0 none;
  float: left;
  margin: 0;
  position: relative;
}
/* line 36, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-header {
  background: none repeat scroll 0 0 black;
  color: white;
}
/* line 41, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-title {
  float: left;
  color: inherit;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 3em;
  text-transform: uppercase;
  padding-left: 1.11111em;
}
/* line 52, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details {
  border: 0.08333em solid #E6E5DD;
  padding: 2%;
}
/* line 56, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details a {
  text-decoration: underline;
}
/* line 60, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details h2 {
  font-weight: bold;
}
/* line 64, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details .description {
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 1.5em;
}
/* line 70, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details input, .pt_rubbertracks #primary .region-details .styled-select, .pt_rubbertracks #primary .region-details textarea {
  width: 98%;
  font-size: 1.33333em;
  color: #808080;
  margin-bottom: 0.4em;
}
/* line 77, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details select {
  color: #808080;
}
/* line 81, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details input[type="checkbox"], .pt_rubbertracks #primary .region-details input[type="radio"] {
  width: auto;
}
/* line 85, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details .form-row span {
  font-size: 1em;
}
/* line 89, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details .band-description {
  margin-top: 1.16667em;
}
/* line 93, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details .band-urls textarea {
  height: 9.1em;
  font-size: 1em;
}
/* line 98, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details .terms-and-condition-error {
  margin-top: 1em;
  display: none;
}
/* line 103, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details .error {
  color: #940000;
}
/* line 107, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-details .content-asset {
  display: inline;
}
/* line 112, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .region-separator {
  padding-bottom: 2em;
}
/* line 116, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #primary .no-top-border {
  border-top: none;
}
@media screen and (max-width: 33.3125em) {
  /* line 29, ../css/package/sass/rubbertracks.scss */
  .pt_rubbertracks #primary {
    width: 100%;
  }
}
/* line 128, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #secondary {
  font-size: 1.08333em;
}
@media screen and (max-width: 33.3125em) {
  /* line 128, ../css/package/sass/rubbertracks.scss */
  .pt_rubbertracks #secondary {
    display: none;
  }
}
/* line 135, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #secondary .faq-sidebar {
  overflow: hidden;
  *zoom: 1;
  padding: 2.66667em 1.66667em;
}
/* line 139, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #secondary .faq-sidebar .faq-sidebar-title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 0 1.11111em 0;
  border-bottom: 0.08333em solid #B2B2B2;
}
/* line 146, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #secondary .faq-sidebar ul {
  margin-top: 2em;
}
/* line 150, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #secondary .faq-sidebar li {
  margin-bottom: 1.4em;
}
/* line 153, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #secondary .faq-sidebar li .faq-title {
  font-weight: bold;
  margin-bottom: 0.4em;
  cursor: pointer;
}
/* line 159, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks #secondary .faq-sidebar li .faq-text {
  color: #808080;
  display: none;
}
/* line 167, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks .title {
  text-align: center;
}
/* line 170, ../css/package/sass/rubbertracks.scss */
.pt_rubbertracks .title h2 {
  font-size: 1.5em;
  color: #808080;
  line-height: 1.2em;
}
@media screen and (max-width: 33.3125em) {
  /* line 170, ../css/package/sass/rubbertracks.scss */
  .pt_rubbertracks .title h2 {
    text-align: left;
    margin: 1em;
  }
}

/* line 183, ../css/package/sass/rubbertracks.scss */
#rt-terms-and-conditions-dialog {
  display: none;
  overflow: auto;
}
/* line 187, ../css/package/sass/rubbertracks.scss */
#rt-terms-and-conditions-dialog .content {
  margin: 1em;
}
/* line 191, ../css/package/sass/rubbertracks.scss */
#rt-terms-and-conditions-dialog h3 {
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
}
