/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* search results, grid layout */
/* ------------------------------------- */
/* line 51, ../css/package/sass/search_results_grid_layout.scss */
#gridwall-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  opacity: 0.4;
  z-index: 98;
}

/* line 62, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result {
  position: relative;
}
/* line 65, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #main {
  max-width: 100em;
}
/* line 69, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header {
  max-width: 100em;
  margin: 2em auto;
}
@media screen and (max-width: 59.9375em) {
  /* line 69, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result .category-header {
    max-width: 64.16667em;
  }
}
@media screen and (max-width: 50em) {
  /* line 69, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result .category-header {
    padding: 0 2.08333em;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 69, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result .category-header {
    text-align: center;
    padding: 0;
    margin-top: 0.83333em;
    margin-bottom: 0;
  }
}
/* line 88, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header h1 {
  float: left;
  margin-top: 0.83333em;
  font-family: Helvetica;
  font-style: normal;
  font-size: 18px;
  color: #808080;
}
@media screen and (max-width: 33.3125em) {
  /* line 88, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result .category-header h1 {
    float: none;
    font-size: 1.6em;
    margin-top: none;
    margin-bottom: 1em;
  }
}
/* line 104, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header .slim-category-billboard {
  max-width: 100em;
  max-height: 20.83333em;
  margin-bottom: 2.08333em;
  text-align: center;
}
@media screen and (max-width: 33.3125em) {
  /* line 104, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result .category-header .slim-category-billboard {
    display: none;
  }
}
/* line 115, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header .product-sort-filter-options {
  clear: both;
  padding-top: 16px;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 33.3125em) {
  /* line 115, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result .category-header .product-sort-filter-options {
    display: none;
  }
}
/* line 124, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header .product-sort-filter-options .sort-by {
  float: right;
}
/* line 127, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header .product-sort-filter-options .sort-by .sort-by-label {
  display: inline-block;
}
/* line 130, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header .product-sort-filter-options .sort-by .sort-by-label label {
  padding: 0 0.83333em 0 0;
  line-height: 3em;
}
/* line 136, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header .product-sort-filter-options .sort-by .sort-by-select {
  display: inline-block;
  float: right;
}
/* line 143, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header .product-sort-filter-options-mobile {
  display: none;
  height: 60px;
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
  overflow: hidden;
}
@media screen and (max-width: 33.3125em) {
  /* line 143, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result .category-header .product-sort-filter-options-mobile {
    display: block;
  }
}
/* line 154, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header .product-sort-filter-options-mobile .sort-by,
.pt_product-search-result .category-header .product-sort-filter-options-mobile .filter-by {
  width: 50%;
  float: left;
  margin: 6px 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
/* line 163, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header .product-sort-filter-options-mobile .filter-by {
  padding-right: 2%;
  border-right: 1px solid #D7D7D7;
}
/* line 169, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .category-header .product-sort-filter-options-mobile h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 48px;
  color: #000000;
  cursor: pointer;
}
/* line 181, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements {
  max-width: 192px;
  float: left;
  padding-right: 14px;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-right: 33px;
  margin-left: 15px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}
@media screen and (max-width: 33.3125em) {
  /* line 181, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result #refinements {
    display: none;
  }
}
/* line 197, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements.sticky {
  position: fixed;
  top: 100px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 197, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result #refinements.sticky {
    top: 0;
  }
}
/* line 208, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements.sticky-bottom {
  position: absolute;
  bottom: 0;
}
/* line 213, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .clear-filter {
  float: right;
}
/* line 217, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .clear-filter .clear-filter-container a {
  display: block;
  height: 24px;
  padding: 0 5px;
  border: 1px solid #E6E5DD;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 230, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .primary-focus {
  height: 100%;
}
@media screen and (max-width: 50em) {
  /* line 230, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result #refinements .primary-focus {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 230, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result #refinements .primary-focus {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}
/* line 246, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .refinement {
  width: 100%;
  float: left;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 252, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .refinement.gender, .pt_product-search-result #refinements .refinement.subGender {
  display: block !important;
}
/* line 257, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .refinement h3 {
  margin: 25px 0 20px 0;
  padding: 0 0 5px 0;
  color: #484848;
  border-bottom: 1px solid #333333;
  text-transform: none;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 266, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .refinement h3:after {
  float: right;
  content: " ";
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -96px;
  height: 8px;
  width: 10px;
}
/* line 273, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .refinement h3.is-collapsed:after {
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -109px;
  height: 10px;
  width: 8px;
}
/* line 278, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .refinement h3 span {
  padding: 0;
}
/* line 282, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .refinement h3 .selected {
  font-weight: lighter;
}
/* line 287, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .refinement ul {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 292, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .refinement .check-box {
  position: relative;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 8px;
  border: 1px solid #000000;
}
/* line 301, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result #refinements .refinement .check-box.check-selected:before {
  position: absolute;
  top: 0;
  width: 100%;
  content: "x";
  font-size: 11px;
  line-height: 9px;
  text-align: center;
}
/* line 315, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .not-available {
  opacity: 0.3;
  filter: alpha(opacity=30);
  -khtml-opacity: 0.3;
  -moz-opacity: 0.3;
}
@media screen and (max-width: 33.3125em) {
  /* line 315, ../css/package/sass/search_results_grid_layout.scss */
  .pt_product-search-result .not-available {
    opacity: 1;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
  }
}
/* line 323, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .more-refinements-link {
  cursor: pointer;
}
/* line 330, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .refinement-detail.color li {
  padding: 10px 10px 0 0;
  float: left;
}
/* line 336, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .refinement-detail.color .selected .refinement-value-button:before {
  position: absolute;
  display: block;
  content: "";
  margin: 5px;
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -77px;
  height: 14px;
  width: 14px;
}
/* line 346, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .refinement-detail.color .refinement-value-button {
  width: 25px;
  height: 25px;
  border: 1px solid #919191;
  box-sizing: border-box;
}
/* line 352, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .refinement-detail.color .refinement-value-button > div {
  width: 100%;
  height: 100%;
}
/* line 357, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .refinement-detail.color .refinement-value-button span {
  display: none;
}
/* line 363, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .refinement-detail.size li {
  padding: 0;
  float: left;
}
/* line 369, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .refinement-detail.size .selected .refinement-value-button {
  background: #CDCDCD;
}
/* line 374, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .refinement-detail.size .refinement-value-button {
  width: 32px;
  height: 32px;
  margin: -1px 0 0 -1px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
}
/* line 381, ../css/package/sass/search_results_grid_layout.scss */
.pt_product-search-result .refinement-detail.size .refinement-value-button span {
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

/* line 393, ../css/package/sass/search_results_grid_layout.scss */
.ajax-loader {
  display: none;
}

/* line 397, ../css/package/sass/search_results_grid_layout.scss */
.site-featured-items {
  min-height: 24em;
}

/* line 401, ../css/package/sass/search_results_grid_layout.scss */
.more-results {
  padding-top: 3.33333em;
  padding-bottom: 3.33333em;
  text-align: center;
}
/* line 406, ../css/package/sass/search_results_grid_layout.scss */
.more-results a {
  width: 8.33333em;
  height: 2.5em;
  line-height: 2.5em;
  display: block;
  margin: 0 auto;
  border: 1px solid #E6E5DD;
  text-align: center;
  display: none;
}
/* line 416, ../css/package/sass/search_results_grid_layout.scss */
.more-results a span {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 423, ../css/package/sass/search_results_grid_layout.scss */
.search-result-content {
  position: relative;
  max-width: 960px;
  margin-left: 240px;
  margin-bottom: 12px;
}
@media screen and (max-width: 33.3125em) {
  /* line 423, ../css/package/sass/search_results_grid_layout.scss */
  .search-result-content {
    width: 100%;
    margin-left: 0;
    clear: both;
  }
}
/* line 435, ../css/package/sass/search_results_grid_layout.scss */
.search-result-content ul.search-result-items {
  margin: 0;
  padding: 0;
}
/* line 439, ../css/package/sass/search_results_grid_layout.scss */
.search-result-content ul.search-result-items li.grid-tile {
  background: none;
  float: left;
  width: 25%;
  height: 24em;
  padding: 0;
  list-style: none outside none;
}
/* line 447, ../css/package/sass/search_results_grid_layout.scss */
.search-result-content ul.search-result-items li.grid-tile .gift-card-product {
  margin-top: 71px;
}
@media screen and (max-width: 50em) {
  /* line 439, ../css/package/sass/search_results_grid_layout.scss */
  .search-result-content ul.search-result-items li.grid-tile {
    width: 33%;
  }
}
@media screen and (max-width: 750px) {
  /* line 439, ../css/package/sass/search_results_grid_layout.scss */
  .search-result-content ul.search-result-items li.grid-tile {
    width: 50%;
  }
}

/* line 462, ../css/package/sass/search_results_grid_layout.scss */
.scrollupwrapper {
  position: fixed;
  display: none;
  bottom: 280px;
  right: 10px;
  width: 47px;
  height: 47px;
  background-color: black;
  font-size: 8px;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 475, ../css/package/sass/search_results_grid_layout.scss */
.scrollupwrapper:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* line 482, ../css/package/sass/search_results_grid_layout.scss */
.scrollup {
  background: url("../images/backtotopcopy.gif") no-repeat;
  background-position: center top;
  text-indent: -9999px;
}

/* line 488, ../css/package/sass/search_results_grid_layout.scss */
p.scrollupsansserif {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-indent: 0px;
  background-color: transparent;
  text-align: center;
  padding-top: 15px;
  margin: 0px;
  line-height: 130%;
}
/* line 499, ../css/package/sass/search_results_grid_layout.scss */
p.scrollupsansserif.de {
  line-height: 110%;
}

/* line 507, ../css/package/sass/search_results_grid_layout.scss */
.is-mobile-user-agent .scrollupwrapper {
  bottom: 50%;
}

/* line 515, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F7F7F7;
  z-index: 9999;
  overflow: auto;
}
/* line 526, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel.filter-panel {
  background: #FFFFFF;
}
/* line 530, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .panel-header {
  position: relative;
  height: 60px;
  background: #FFFFFF;
  border-bottom: 1px solid #E1E1E1;
}
/* line 536, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .panel-header h3 {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  text-transform: uppercase;
}
/* line 544, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .panel-header .close-panel {
  position: absolute;
  top: 0;
  right: 30px;
  line-height: 60px;
  cursor: pointer;
}
/* line 553, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .button, .mobile-search-panel .radio-button, .mobile-search-panel .check-box {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 18px;
  height: 18px;
  border: 1px solid #CCCCCC;
}
/* line 562, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .radio-button {
  border-radius: 50%;
}
/* line 566, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .radio-button.radio-selected {
  background-color: #CCCCCC;
}
/* line 571, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .check-box {
  border-radius: 5px;
}
/* line 575, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .check-box.check-selected {
  border-color: #000000;
}
/* line 578, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .check-box.check-selected:before {
  position: absolute;
  top: 0;
  width: 100%;
  content: "x";
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
/* line 590, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .expand-box {
  position: absolute;
  right: 30px;
  top: 30px;
}
/* line 597, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement.gender, .mobile-search-panel .refinement.subGender {
  display: block !important;
}
/* line 602, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement ul,
.mobile-search-panel .refinement li {
  padding: 0;
  margin: 0;
}
/* line 609, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .panel-list-item-content {
  position: relative;
  padding: 22px 30px;
  border-bottom: 1px solid #E1E1E1;
}
/* line 614, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .panel-list-item-content p {
  color: #969696;
  font-family: Helvetica;
  font-size: 16px;
  text-align: left;
}
/* line 622, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .panel-list-item-content.filter-option .filter-type {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 628, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .panel-list-item-content.filter-option .filter-type.clear-filter {
  display: block;
  float: none;
  height: auto;
  margin: 0;
  text-align: center;
  text-transform: none;
}
/* line 638, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .panel-list-item-content.filter-option .selected-refinements {
  color: #999999;
  font-size: 15px;
}
/* line 645, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement-detail {
  display: none;
  background: #F7F7F7;
  overflow: hidden;
}
/* line 650, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement-detail.color, .mobile-search-panel .refinement-detail.size {
  padding: 25px 30px;
}
/* line 654, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement-detail.color .refinement-value-button, .mobile-search-panel .refinement-detail.size .refinement-value-button {
  padding: 0;
}
/* line 657, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement-detail.color .refinement-value-button > div, .mobile-search-panel .refinement-detail.size .refinement-value-button > div {
  height: inherit;
  line-height: 30px;
  overflow: hidden;
}
/* line 665, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement-detail.color {
  padding-bottom: 15px;
}
/* line 668, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement-detail.color li {
  padding: 0;
}
/* line 672, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement-detail.color .refinement-value-button {
  overflow: hidden;
  margin: 0px 10px 10px 0;
  border-radius: 50%;
}
/* line 681, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement-detail .selected .refinement-value-button,
.mobile-search-panel .refinement-detail .not-selected .refinement-value-button {
  color: #000000;
}
/* line 686, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement-detail .refinement-value-button {
  position: relative;
  height: 60px;
  padding: 0 30px;
  border-bottom: 1px solid #E5E5E5;
  color: #999999;
  font-size: 14px;
  text-align: left;
}
/* line 695, ../css/package/sass/search_results_grid_layout.scss */
.mobile-search-panel .refinement-detail .refinement-value-button > div {
  height: inherit;
  line-height: 60px;
}
