/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* shopping cart */
/* line 18, ../css/package/sass/shopping_cart.scss */
.checkout-cart-slot-banner-mobile > .html-slot-container, .checkout-cart-slot-banner-desktop > .html-slot-container {
  background: #000000;
  width: 80%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 24px;
  margin-bottom: 10px;
  border-style: solid;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 34, ../css/package/sass/shopping_cart.scss */
.cart-promobanner-wrapper {
  height: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
}

/* line 43, ../css/package/sass/shopping_cart.scss */
.cart-promobanner {
  height: 4em;
  padding-top: 20px;
  background: #000000;
  width: 100%;
  border-style: solid;
  border-right-width: 5px;
  border-right-color: #95def6;
  border-bottom-width: 5px;
  border-bottom-color: #fff7b4;
  border-left-width: 5px;
  border-left-color: #f6abce;
}

/* line 57, ../css/package/sass/shopping_cart.scss */
.checkout-cart-slot-banner-mobile {
  display: none;
}
@media screen and (max-width: 765px) {
  /* line 57, ../css/package/sass/shopping_cart.scss */
  .checkout-cart-slot-banner-mobile {
    display: block;
  }
}

/* line 67, ../css/package/sass/shopping_cart.scss */
.checkout-cart-slot-banner-desktop {
  display: block;
}
@media screen and (max-width: 766px) {
  /* line 67, ../css/package/sass/shopping_cart.scss */
  .checkout-cart-slot-banner-desktop {
    display: none;
  }
}

/* line 77, ../css/package/sass/shopping_cart.scss */
.pt_cart {
  margin-top: 8.33333em;
  font-family: "Arvo", serif;
  overflow: hidden;
}
@media screen and (max-width: 59.9375em) {
  /* line 77, ../css/package/sass/shopping_cart.scss */
  .pt_cart {
    margin-top: 0;
  }
}
/* line 87, ../css/package/sass/shopping_cart.scss */
.pt_cart #main .cart-content {
  float: left;
  width: calc(100% - 330px);
}
/* line 91, ../css/package/sass/shopping_cart.scss */
.pt_cart #main .cart-content.emptycart {
  width: 100%;
}
/* line 95, ../css/package/sass/shopping_cart.scss */
.pt_cart #main .cart-content .error-form {
  background-color: #BF0F07;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  padding: 20px;
}
/* line 103, ../css/package/sass/shopping_cart.scss */
.pt_cart #main .cart-content .error-form.warning-form {
  background-color: #666666;
}
/* line 107, ../css/package/sass/shopping_cart.scss */
.pt_cart #main .cart-content .error-form .header {
  font-size: 30;
  font-weight: bold;
  padding-bottom: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 77.5em) {
  /* line 87, ../css/package/sass/shopping_cart.scss */
  .pt_cart #main .cart-content {
    float: none;
    width: 100%;
  }
}
/* line 124, ../css/package/sass/shopping_cart.scss */
.pt_cart #primary {
  float: left;
  width: 66.10169%;
}
@media screen and (max-width: 59.9375em) {
  /* line 124, ../css/package/sass/shopping_cart.scss */
  .pt_cart #primary {
    width: 100%;
  }
}
/* line 132, ../css/package/sass/shopping_cart.scss */
.pt_cart #primary.emptycart {
  width: 100%;
}
@media screen and (max-width: 59.9375em) {
  /* line 132, ../css/package/sass/shopping_cart.scss */
  .pt_cart #primary.emptycart {
    width: 100%;
  }
}
/* line 140, ../css/package/sass/shopping_cart.scss */
.pt_cart #primary .error-form {
  margin-top: 1em;
  line-height: 1.5em;
}
@media screen and (max-width: 45em) {
  /* line 146, ../css/package/sass/shopping_cart.scss */
  .pt_cart #secondary {
    width: 100%;
  }
}
/* line 153, ../css/package/sass/shopping_cart.scss */
.pt_cart h1.cart-empty {
  padding-top: 0.83333em;
  padding-bottom: 1.66667em;
  font-size: 2.91667em;
  text-align: center;
}
@media screen and (min-width: 33.3125em) and (max-width: 59.9375em) {
  /* line 153, ../css/package/sass/shopping_cart.scss */
  .pt_cart h1.cart-empty {
    padding-top: 0.83333em;
    padding-bottom: 1.66667em;
  }
}
@media screen and (max-width: 33.3125em) {
  /* line 153, ../css/package/sass/shopping_cart.scss */
  .pt_cart h1.cart-empty {
    padding-top: 0.83333em;
    padding-bottom: 0.83333em;
  }
}
/* line 172, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item {
  border-top: 1px solid #CACACA;
  width: 100%;
}
/* line 176, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item:first-child {
  border: none;
}
/* line 180, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .promotion-message {
  display: block;
  font-size: 1.33333em;
  font-weight: bold;
  line-height: 1.39938em;
  color: #940000;
}
/* line 189, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .cart-error-message {
  color: #940000;
  padding-left: 32.20339%;
  padding-bottom: 10px;
}
@media screen and (max-width: 59.9375em) {
  /* line 189, ../css/package/sass/shopping_cart.scss */
  .pt_cart #cart-wrapper .item .cart-error-message {
    padding-left: 4.16667em;
  }
}
@media screen and (max-width: 45em) {
  /* line 189, ../css/package/sass/shopping_cart.scss */
  .pt_cart #cart-wrapper .item .cart-error-message {
    padding-left: 1.66667em;
  }
}
/* line 203, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item.gift-card-grid .item-image img {
  margin-top: 40px;
}
/* line 207, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner {
  position: relative;
  padding: 6.5em 8.33333em 4.16667em 4.16667em;
}
@media screen and (max-width: 59.9375em) {
  /* line 207, ../css/package/sass/shopping_cart.scss */
  .pt_cart #cart-wrapper .item .item-inner {
    padding: 4.16667em;
  }
}
@media screen and (max-width: 45em) {
  /* line 207, ../css/package/sass/shopping_cart.scss */
  .pt_cart #cart-wrapper .item .item-inner {
    padding: 1.66667em;
  }
}
/* line 219, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-image {
  width: 32.20339%;
  display: inline-block;
  padding: 0 3.75em;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 59.9375em) {
  /* line 219, ../css/package/sass/shopping_cart.scss */
  .pt_cart #cart-wrapper .item .item-inner .item-image {
    width: 100%;
    display: block;
    padding: 0 0 3.33333em 0;
  }
}
/* line 233, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details {
  display: inline-block;
  width: 66.10169%;
}
@media screen and (max-width: 59.9375em) {
  /* line 233, ../css/package/sass/shopping_cart.scss */
  .pt_cart #cart-wrapper .item .item-inner .item-details {
    width: 100%;
    display: block;
  }
}
/* line 242, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-left-details {
  width: 66.10169%;
  display: inline-block;
}
@media screen and (max-width: 59.9375em) {
  /* line 242, ../css/package/sass/shopping_cart.scss */
  .pt_cart #cart-wrapper .item .item-inner .item-details .inner-left-details {
    width: 100%;
    display: block;
  }
}
/* line 252, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-left-details .product-list-item .name {
  font-size: 1.83333em;
  font-weight: normal;
  padding-bottom: 1.41667em;
}
/* line 258, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-left-details .product-list-item .item-price {
  display: none;
}
/* line 262, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-left-details .product-list-item .attribute {
  font-size: 1.08333em;
  color: #666666;
  font-family: "Arial", serif;
  margin-bottom: 0.5em;
}
/* line 268, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-left-details .product-list-item .attribute .label {
  width: 5em;
  display: inline-block;
  text-transform: none;
}
/* line 274, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-left-details .product-list-item .attribute .value {
  display: inline-block;
}
/* line 281, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details {
  width: 32.20339%;
  display: inline-block;
  text-align: right;
  float: right;
  margin-top: 0.41667em;
  padding-right: 0.41667em;
}
@media screen and (max-width: 59.9375em) {
  /* line 281, ../css/package/sass/shopping_cart.scss */
  .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details {
    float: none;
    display: block;
    width: 100%;
    padding: 0;
    text-align: left;
  }
}
/* line 875, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .select2 {
  width: 100% !important;
}
/* line 878, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .select2.error {
  background-color: #666666;
  margin-bottom: 1.16667em;
  padding: 0;
  height: 2.91667em;
  border: 0.41667em;
}
/* line 886, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .select2 .select2-selection {
  position: relative;
  background: #FFFFFF;
  height: 3.33333em;
  padding-left: 0.83333em;
  padding-top: 0.83333em;
  padding-bottom: 2.33333em;
  font-size: 1em;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  border-color: #CACACA;
  font-family: "Arvo", serif;
  outline: none;
}
/* line 899, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .select2 .select2-selection:after {
  content: "\f107";
  position: absolute;
  right: 0.83333em;
  top: 0.66667em;
  font-family: FontAwesome;
  color: #D6D6D6;
  font-size: 1.5em;
  pointer-events: none;
}
/* line 910, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .select2 .select2-selection .select2-selection__arrow {
  display: none;
}
/* line 914, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .select2 .select2-selection.error {
  border-color: #666666;
}
/* line 922, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #ui-datepicker-div span.select2 {
  width: 80px !important;
}
/* line 930, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .select2-dropdown {
  z-index: 10005 !important;
  border: 1px solid #CACACA !important;
}
/* line 935, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .select2-selection__rendered {
  font-family: arial, sans-serif !important;
  line-height: 1.58333em !important;
}
/* line 940, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-container {
  font-weight: bold;
}
/* line 944, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .font-weight-normal {
  font-weight: normal;
}
@media screen and (min-width: 77.5em) {
  /* line 948, ../css/package/sass/base/_conv_mixins.scss */
  .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results {
    max-height: 22.5em !important;
  }
}
/* line 953, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results li {
  background-color: #E5E5E5;
  font-size: 1.08333em;
}
/* line 959, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price ul.select2-results__options::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/* line 965, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price ul.select2-results__options::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
/* line 970, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price ul.select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bebebe;
}
@media screen and (min-width: 77.5em) {
  /* line 975, ../css/package/sass/base/_conv_mixins.scss */
  .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results {
    max-height: 22.5em !important;
  }
}
/* line 980, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results li {
  font-size: 0.91667em;
  background-color: #FFFFFF;
}
/* line 986, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results, .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results {
  margin: 0.83333em;
}
/* line 989, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results li, .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results li {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  border: 1px solid #FFFFFF;
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #000000;
}
/* line 997, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results li:hover, .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results li:hover {
  background-color: #E5E5E5;
  color: #000000;
}
/* line 1002, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results li.select2-results__option:first-child, .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results li.select2-results__option:first-child {
  text-transform: uppercase;
}
/* line 1005, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results li.select2-results__option:first-child:hover, .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results li.select2-results__option:first-child:hover {
  background-color: #FFFFFF;
}
/* line 1010, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results li:active, .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results li:focus, .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results li.select2-results__option[aria-selected=true], .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results li:active, .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results li:focus, .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results li.select2-results__option[aria-selected=true] {
  background-color: #666666;
  color: #FFFFFF;
}
/* line 1015, ../css/package/sass/base/_conv_mixins.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-quantity-results li.select2-results__option[aria-disabled=true], .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price #select2-sizes-results li.select2-results__option[aria-disabled=true] {
  color: #999999;
}
/* line 299, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .price-sales {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 31px;
  display: block;
}
/* line 305, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .price-sales.strike {
  margin-bottom: 5px;
}
@media screen and (max-width: 45em) {
  /* line 299, ../css/package/sass/shopping_cart.scss */
  .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .price-sales {
    font-size: 25px;
  }
}
/* line 313, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .attribute.quantity-attr {
  width: 8.91667em;
  float: right;
}
@media screen and (max-width: 59.9375em) {
  /* line 313, ../css/package/sass/shopping_cart.scss */
  .pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .attribute.quantity-attr {
    float: none;
    width: 100%;
  }
}
/* line 323, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .select2-selection__rendered {
  font-weight: bold;
  text-align: left;
}
/* line 326, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-details .inner-right-details .cart_qty_price .select2-selection__rendered:before {
  content: "Qty: ";
  font-weight: normal;
}
/* line 335, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-user-actions {
  position: absolute;
  top: 2.91667em;
  right: 2.91667em;
}
/* line 340, ../css/package/sass/shopping_cart.scss */
.pt_cart #cart-wrapper .item .item-inner .item-user-actions button {
  outline: none;
}
/* line 350, ../css/package/sass/shopping_cart.scss */
.pt_cart #sheerid iframe {
  width: 100%;
  height: 425px;
  border: 1px solid #EEEEEE;
}
/* line 352, ../css/package/sass/shopping_cart.scss */
.pt_cart #sheerid iframe.hidden {
  display: none;
}
@media screen and (max-width: 47.9375em) {
  /* line 350, ../css/package/sass/shopping_cart.scss */
  .pt_cart #sheerid iframe {
    height: 580px;
  }
}
@media screen and (max-width: 35.5em) {
  /* line 350, ../css/package/sass/shopping_cart.scss */
  .pt_cart #sheerid iframe {
    height: 638px;
  }
}
@media screen and (max-width: 27.5em) {
  /* line 350, ../css/package/sass/shopping_cart.scss */
  .pt_cart #sheerid iframe {
    height: 668px;
  }
}
@media screen and (max-width: 26.1875em) {
  /* line 350, ../css/package/sass/shopping_cart.scss */
  .pt_cart #sheerid iframe {
    height: 690px;
  }
}
@media screen and (max-width: 22.25em) {
  /* line 350, ../css/package/sass/shopping_cart.scss */
  .pt_cart #sheerid iframe {
    height: 712px;
  }
}
@media screen and (max-width: 19.125em) {
  /* line 350, ../css/package/sass/shopping_cart.scss */
  .pt_cart #sheerid iframe {
    height: 714px;
  }
}
@media screen and (max-width: 17.875em) {
  /* line 350, ../css/package/sass/shopping_cart.scss */
  .pt_cart #sheerid iframe {
    height: 734px;
  }
}
@media screen and (max-width: 16.0625em) {
  /* line 350, ../css/package/sass/shopping_cart.scss */
  .pt_cart #sheerid iframe {
    height: 756px;
  }
}
@media screen and (max-width: 14.375em) {
  /* line 350, ../css/package/sass/shopping_cart.scss */
  .pt_cart #sheerid iframe {
    height: 778px;
  }
}
@media screen and (max-width: 13.5em) {
  /* line 350, ../css/package/sass/shopping_cart.scss */
  .pt_cart #sheerid iframe {
    height: 800px;
  }
}
/* line 402, ../css/package/sass/shopping_cart.scss */
.pt_cart #sheerid-checkbox {
  padding-top: 1.33333em;
}
/* line 405, ../css/package/sass/shopping_cart.scss */
.pt_cart #sheerid-checkbox label {
  display: inline;
}

/* line 413, ../css/package/sass/shopping_cart.scss */
.select2-dropdown.cart .select2-results__options li.select2-results__option[aria-selected=true]:hover {
  background-color: #666666 !important;
}
/* line 417, ../css/package/sass/shopping_cart.scss */
.select2-dropdown.cart .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #E5E5E5 !important;
  color: #000000 !important;
}
/* line 422, ../css/package/sass/shopping_cart.scss */
.select2-dropdown.cart .select2-results__options li.select2-results__option:first-child:hover {
  background-color: #E5E5E5 !important;
}
/* line 426, ../css/package/sass/shopping_cart.scss */
.select2-dropdown.cart .select2-results__options {
  margin: 0.83333em;
}
@media screen and (min-width: 77.5em) {
  /* line 426, ../css/package/sass/shopping_cart.scss */
  .select2-dropdown.cart .select2-results__options {
    max-height: 22.5em !important;
  }
}
/* line 433, ../css/package/sass/shopping_cart.scss */
.select2-dropdown.cart .select2-results__options li {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  background-color: #E5E5E5;
  font-size: 1.08333em;
  border: 1px solid #FFFFFF;
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #000000;
}
/* line 443, ../css/package/sass/shopping_cart.scss */
.select2-dropdown.cart .select2-results__options li:hover {
  background-color: #E5E5E5;
  color: #000000;
}
/* line 448, ../css/package/sass/shopping_cart.scss */
.select2-dropdown.cart .select2-results__options li.select2-results__option:first-child {
  text-transform: uppercase;
}
/* line 451, ../css/package/sass/shopping_cart.scss */
.select2-dropdown.cart .select2-results__options li.select2-results__option:first-child:hover {
  background-color: #FFFFFF;
}
/* line 456, ../css/package/sass/shopping_cart.scss */
.select2-dropdown.cart .select2-results__options li:active, .select2-dropdown.cart .select2-results__options li:focus, .select2-dropdown.cart .select2-results__options li.select2-results__option[aria-selected=true] {
  background-color: #666666;
  color: #FFFFFF;
}
/* line 461, ../css/package/sass/shopping_cart.scss */
.select2-dropdown.cart .select2-results__options li.select2-results__option[aria-disabled=true] {
  color: #999999;
}
