/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* site featured category */
/* ------------------------------------- */
/* line 11, ../css/package/sass/site_featured_category.scss */
.featured-category {
  height: 4em;
}
/* line 13, ../css/package/sass/site_featured_category.scss */
.featured-category a {
  height: 100%;
}

/* line 18, ../css/package/sass/site_featured_category.scss */
.site-featured-category {
  clear: both;
}
/* line 21, ../css/package/sass/site_featured_category.scss */
.site-featured-category .category-caption .caption {
  text-align: center;
}
/* line 24, ../css/package/sass/site_featured_category.scss */
.site-featured-category .category-caption .caption span {
  font-size: 2em;
  font-family: Adobe Garamond;
  font-weight: normal;
  font-style: italic;
  line-height: 1.09958em;
}
/* line 32, ../css/package/sass/site_featured_category.scss */
.site-featured-category .category-caption .caption span:before, .site-featured-category .category-caption .caption span:after {
  width: 5em;
  height: 0.04167em;
  content: "";
  display: inline-block;
  border-top: 1px solid #b2b2b2;
  position: relative;
  top: -0.25em;
  margin-left: 1em;
  margin-right: 1em;
}
@media screen and (max-width: 33.3125em) {
  /* line 32, ../css/package/sass/site_featured_category.scss */
  .site-featured-category .category-caption .caption span:before, .site-featured-category .category-caption .caption span:after {
    display: none;
  }
}
/* line 51, ../css/package/sass/site_featured_category.scss */
.site-featured-category .category-name {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.09958em;
  clear: both;
  text-align: center;
}
/* line 59, ../css/package/sass/site_featured_category.scss */
.site-featured-category .search-result-content {
  width: auto;
  margin: 0 auto;
}
