/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 10, ../css/package/sass/store_locator.scss */
.pt_store-locator {
  width: 100%;
  height: 100vh !important;
  position: static;
}
@media screen and (max-width: 45em) {
  /* line 10, ../css/package/sass/store_locator.scss */
  .pt_store-locator {
    position: static;
    height: 100vh !important;
  }
}
/* line 20, ../css/package/sass/store_locator.scss */
.pt_store-locator img {
  max-width: none;
  max-height: none;
}
/* line 25, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  left: 6.66667em;
  margin-top: 3.33333em;
  width: 20em;
  z-index: 10;
  padding: 0.83333em;
  border: 1px solid #808080;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 45em) {
  /* line 25, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content {
    width: 100%;
    position: static;
  }
}
/* line 42, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-header {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.11111em 0;
}
@media screen and (max-width: 45em) {
  /* line 42, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content #store-locator-header {
    text-align: center;
  }
}
/* line 54, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search {
  margin-bottom: 1.33333em;
}
/* line 57, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #store-locator-search-form {
  position: relative;
}
@media screen and (max-width: 45em) {
  /* line 57, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content #store-locator-search #store-locator-search-form {
    margin: 0 1.33333em;
  }
}
/* line 64, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #store-locator-search-form #address {
  padding-right: 2.16667em;
}
/* line 68, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #store-locator-search-form .magnify-glass-icon {
  width: 1em;
  height: 1em;
  background: url('../images/sprites_icon_image-sdddaae8f4d.png') 0 -1830px transparent;
  margin-top: 0.83333em;
  margin-right: 0.83333em;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}
/* line 82, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #address {
  width: 100%;
}
/* line 86, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #filters-header {
  display: none;
  margin-top: 1.33333em;
}
/* line 90, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #filters-header.expanded:after {
  width: 0;
  height: 0;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-top: 0.7em solid #000000;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  position: relative;
  left: 46%;
}
@media screen and (max-width: 44.41667em) {
  /* line 90, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content #store-locator-search #filters-header.expanded:after {
    border-left-width: 0.4em;
    border-right-width: 0.4em;
    border-top-width: 0.4em;
  }
}
/* line 96, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #filters-header.expanded:hover:after {
  width: 0;
  height: 0;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-top: 0.7em solid #333333;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  position: relative;
  left: 46%;
}
@media screen and (max-width: 44.41667em) {
  /* line 96, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content #store-locator-search #filters-header.expanded:hover:after {
    border-left-width: 0.4em;
    border-right-width: 0.4em;
    border-top-width: 0.4em;
  }
}
/* line 102, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #filters-header #refine-search-btn {
  width: 100%;
}
/* line 107, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #filters-header.expanded:hover #refine-search-btn {
  background-color: #333333;
}
/* line 113, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #filters-list {
  display: none;
  margin: 0.66667em 0;
}
/* line 117, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #filters-list li {
  font-size: 0.91667em;
  line-height: 1.63636em;
}
/* line 122, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #filters-list li label {
  display: inline;
  font-size: inherit;
  font-weight: normal;
  text-transform: none;
}
/* line 129, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #filters-list li label[for="filter-official"] {
  font-weight: bold;
}
/* line 133, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-search #filters-list li:nth-child(2) {
  border-bottom: 0.09091em solid #B2B2B2;
  padding-bottom: 0.90909em;
  margin-bottom: 0.90909em;
}
/* line 144, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results #stores-progress {
  display: none;
}
/* line 148, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results #stores-message {
  display: none;
  padding-top: 0.41667em;
  text-align: center;
}
/* line 154, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results #stores-scroller {
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 159, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store {
  width: 18.33333em;
  border-bottom: 1px solid #808080;
  cursor: pointer;
  margin-bottom: 1.66667em;
  padding-bottom: 1.66667em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 45em) {
  /* line 159, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content #store-locator-results .store {
    width: 100%;
    padding: 0 1.33333em 1.66667em 1.33333em;
  }
}
/* line 180, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store .image {
  width: 2.33333em;
  float: left;
}
/* line 185, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store .info {
  width: 17.27273em;
  font-size: 0.91667em;
  float: left;
  line-height: 1.45455em;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 45em) {
  /* line 185, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content #store-locator-results .store .info {
    width: auto;
    float: none;
  }
}
/* line 197, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store .info .header {
  overflow: hidden;
  *zoom: 1;
}
/* line 201, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store .info .name {
  width: 11.51515em;
  float: left;
  font-weight: bold;
}
@media screen and (max-width: 45em) {
  /* line 201, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content #store-locator-results .store .info .name {
    width: auto;
  }
}
/* line 211, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store .info .distance {
  width: 5.75758em;
  float: right;
  text-align: right;
}
/* line 217, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store .info .address-line1 {
  float: left;
}
/* line 221, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store .info .address-line2 {
  float: left;
  clear: both;
}
/* line 226, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store .info .phone {
  clear: both;
  display: block;
  padding-top: 1.33333em;
}
/* line 232, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store .info .map {
  display: none;
}
@media screen and (max-width: 45em) {
  /* line 232, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content #store-locator-results .store .info .map {
    display: block;
    clear: both;
    padding-top: 1.33333em;
  }
}
/* line 243, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store.selected {
  background-color: #EFEEE8;
}
/* line 247, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results .store.active {
  background-color: #F5F5F1;
}
/* line 252, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results #stores-footer {
  display: none;
  margin-top: 1.33333em;
}
@media screen and (max-width: 45em) {
  /* line 252, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content #store-locator-results #stores-footer {
    margin: 1.33333em 1.33333em 0 1.33333em;
  }
}
/* line 260, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results #stores-footer p {
  margin-top: 1.33333em;
}
@media screen and (max-width: 45em) {
  /* line 260, ../css/package/sass/store_locator.scss */
  .pt_store-locator #store-locator-content #store-locator-results #stores-footer p {
    text-align: center;
  }
}
/* line 268, ../css/package/sass/store_locator.scss */
.pt_store-locator #store-locator-content #store-locator-results #stores-footer #expand-search-btn {
  width: 100%;
  margin-top: 1.33333em;
}
/* line 276, ../css/package/sass/store_locator.scss */
.pt_store-locator .store-box-info {
  width: 16.66667em;
  background-color: #FFFFFF;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 281, ../css/package/sass/store_locator.scss */
.pt_store-locator .store-box-info .info .map {
  display: none;
}
/* line 286, ../css/package/sass/store_locator.scss */
.pt_store-locator .infoBox {
  font-size: 0.91667em;
  border: 0.09091em solid #CACACA;
  text-align: center;
  position: relative;
  background: #FFFFFF;
  border: 0.08333em solid #B2B2B2;
}
/* line 550, ../css/package/sass/base/_conv_mixins.scss */
.pt_store-locator .infoBox:after, .pt_store-locator .infoBox:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 561, ../css/package/sass/base/_conv_mixins.scss */
.pt_store-locator .infoBox:after {
  border-right-color: #FFFFFF;
  border-width: 1em;
  top: 30px;
  margin-top: -1em;
}
/* line 568, ../css/package/sass/base/_conv_mixins.scss */
.pt_store-locator .infoBox:before {
  border-right-color: #B2B2B2;
  border-width: 1.11785em;
  top: 30px;
  margin-top: -1.11785em;
}
/* line 293, ../css/package/sass/store_locator.scss */
.pt_store-locator .infoBox .store {
  padding: 2.72727em 1.81818em;
}
/* line 297, ../css/package/sass/store_locator.scss */
.pt_store-locator .infoBox .name {
  font-weight: bold;
}
/* line 301, ../css/package/sass/store_locator.scss */
.pt_store-locator .infoBox .image, .pt_store-locator .infoBox .distance {
  display: none;
}
/* line 305, ../css/package/sass/store_locator.scss */
.pt_store-locator .infoBox .store-hours-title {
  font-weight: bold;
  margin-top: 2.90909em;
  line-height: 1.63636em;
}
/* line 311, ../css/package/sass/store_locator.scss */
.pt_store-locator .infoBox .phone {
  padding-top: 1.33333em;
}
/* line 315, ../css/package/sass/store_locator.scss */
.pt_store-locator .infoBox .url:hover {
  color: #B2B2B2;
}
/* line 319, ../css/package/sass/store_locator.scss */
.pt_store-locator .infoBox .directions-btn {
  width: 100%;
  margin-top: 1.45455em;
}
/* line 324, ../css/package/sass/store_locator.scss */
.pt_store-locator .infoBox .thumbnail {
  max-width: 100%;
  margin: 1.45455em 0;
}

/* line 332, ../css/package/sass/store_locator.scss */
#store-locator-map {
  display: block;
}
@media screen and (max-width: 45em) {
  /* line 332, ../css/package/sass/store_locator.scss */
  #store-locator-map {
    display: none;
  }
}

/* line 339, ../css/package/sass/store_locator.scss */
#map-canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
