/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 5, ../css/package/sass/terms_and_conditions.scss */
#termsAndConditionsPopup {
  position: relative;
  max-width: 680px;
  margin: 0 auto;
  background-color: #FFFFFF;
  font-family: "Arvo", serif;
}
/* line 12, ../css/package/sass/terms_and_conditions.scss */
#termsAndConditionsPopup .container {
  max-width: 535px;
  margin: 0 auto;
  padding: 70px 0px;
  text-align: center;
}
/* line 19, ../css/package/sass/terms_and_conditions.scss */
#termsAndConditionsPopup h1, #termsAndConditionsPopup .section-title {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}
/* line 25, ../css/package/sass/terms_and_conditions.scss */
#termsAndConditionsPopup h2 {
  font-weight: bold;
  font-size: 16px;
  padding-top: 5px;
  margin: 15px 0;
}
/* line 32, ../css/package/sass/terms_and_conditions.scss */
#termsAndConditionsPopup h3 {
  font-weight: normal;
  font-size: 16px;
  margin: 15px 0;
}
/* line 38, ../css/package/sass/terms_and_conditions.scss */
#termsAndConditionsPopup p {
  line-height: 20px;
  text-align: left;
}
/* line 42, ../css/package/sass/terms_and_conditions.scss */
#termsAndConditionsPopup p a {
  font-weight: bold;
}
