<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!-- 
  ===================================
   SECURITY
  =================================== 
  -->
  <security>
    <policy_files>
      <!-- policy files are downloaded automatically as needed, however if any of your media
      is redirected at the server then you need to add url's here for the server(s) the media
      is actually residing on.  If no redirects occur you can leave this section empty since
      policy files are automatically downloaded as needed.           
      -->
      <url><![CDATA[]]></url>
    </policy_files>
  </security>
  <!-- 
  ===================================
   DISPLAY
  =================================== 
  -->
  <display>
    <max_frame_rate>30</max_frame_rate>
  </display>
  <!--
  ===================================
   DEBUG
  =================================== 
  -->
  <debug>
    <display_stats>false</display_stats>
  </debug>
  <!-- 
  ===================================
   STARTUP
  =================================== 
  -->
  <startup>
  	<scene>
  		<!-- <class_name config="scenes/mstoreLocal.xml">im.player.scenes.geo.MediaStoreScene</class_name> -->
  	</scene>
  </startup>
</config>
