<h3>List of processes</h3>

<ul>
    <li>
        <%= form_tag url_for(:action => 'post_start_stores_import_process') do %>
            <div>
               <%=submit_tag 'Run Stores Import Process', :class => 'btn' %> 
            </div>
        <% end %>
    </li>
</ul>
