/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 6, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description {
  text-align: center;
  font-family: "Arvo", serif;
  padding-bottom: 8.75em;
  border-bottom: 0.08333em solid #D6D6D6;
}
/* line 12, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description .product-promo {
  background-color: #999999;
  width: 100%;
}
/* line 16, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description .product-promo p {
  color: #FFFFFF;
  font-size: 1.41667em;
  text-align: center;
  padding-top: 1.66667em;
  padding-bottom: 1.66667em;
}
/* line 23, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description .product-promo p .item {
  text-decoration: underline;
}
/* line 27, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description .product-promo p .promo {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 34, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description header {
  max-width: 70%;
  margin: 0 auto;
}
/* line 38, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description header h1 {
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1.333;
  margin-top: 4.16667em;
}
/* line 46, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description p {
  font-size: 1.33333em;
  line-height: 2.125;
  padding-top: 1.66667em;
  margin: 0 auto;
  max-width: 70%;
}
/* line 53, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description p.aside {
  font-size: 1em;
  line-height: 1.83;
  max-width: 37.5em;
  color: #999999;
}
/* line 59, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description p.aside.materials {
  font-weight: bold;
  letter-spacing: 0.04167em;
  word-spacing: 0.25em;
}
/* line 65, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description p.aside.materials span:after {
  content: " / ";
}
/* line 69, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description p.aside.materials span:last-child:after {
  content: "";
}
/* line 77, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description .divider {
  width: 4.16667em;
  height: 0;
  margin: 1.5em auto 0;
  border-bottom: 1px solid #D6D6D6;
}
/* line 84, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description .divider-wide {
  width: auto;
  height: 0;
  margin: 1.5em auto 0;
  border-bottom: 1px solid #D6D6D6;
}
/* line 91, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .product-description img {
  margin-top: 1.33333em;
  width: 5.41667em;
}
@media screen and (min-width: 77.5em) {
  /* line 6, ../../css/package/sass/pdp/product_description.scss */
  .pdp-main .product-description {
    padding-left: 31.66667em;
  }
}
/* line 101, ../../css/package/sass/pdp/product_description.scss */
.pdp-main .pdp-content-asset {
  border-bottom: 0.08333em solid #D6D6D6;
}
@media screen and (min-width: 77.5em) {
  /* line 101, ../../css/package/sass/pdp/product_description.scss */
  .pdp-main .pdp-content-asset {
    padding-left: 31.66667em;
  }
}
