@charset "UTF-8";
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 7, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options {
  font-size: 0.91667em;
  float: left;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 59.9375em) {
  /* line 7, ../../css/package/sass/pdp/share_buttons.scss */
  .pdp-main .product-options {
    width: auto;
    float: none;
    margin: 1.33333em auto;
    text-align: center;
    position: relative;
  }
}
@media screen and (max-width: 59.9375em) {
  /* line 22, ../../css/package/sass/pdp/share_buttons.scss */
  .pdp-main .product-options .container {
    float: left;
    position: relative;
    left: 50%;
  }
}
/* line 30, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share {
  overflow: hidden;
  *zoom: 1;
}
/* line 34, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links {
  width: 100%;
}
/* line 37, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-button {
  margin: 0;
}
/* line 41, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-share-button {
  background-color: #E5E5E5;
  height: 3.33333em;
  color: #999999;
}
/* line 46, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-share-button:hover {
  background-color: #D6D6D6;
}
/* line 51, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-pdp-reaction0-facebook_img:after,
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-tablet-reaction0-facebook_img:after,
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-mobile-reaction0-facebook_img:after {
  color: #000000;
}
/* line 51, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-pdp-reaction1-twitter_img:after,
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-tablet-reaction1-twitter_img:after,
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-mobile-reaction1-twitter_img:after {
  color: #000000;
}
/* line 51, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-pdp-reaction2-pinterest_img:after,
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-tablet-reaction2-pinterest_img:after,
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-mobile-reaction2-pinterest_img:after {
  color: #000000;
}
/* line 51, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-pdp-reaction3-googleplus_img:after,
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-tablet-reaction3-googleplus_img:after,
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-mobile-reaction3-googleplus_img:after {
  color: #000000;
}
/* line 51, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-pdp-reaction4-email_img:after,
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-tablet-reaction4-email_img:after,
.pdp-main .product-options .share .share-links .gig-share-button:hover #share-links-mobile-reaction4-email_img:after {
  color: #000000;
}
/* line 62, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction0-facebook_img,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction0-facebook_img,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction0-facebook_img {
  position: relative !important;
  background-image: none !important;
}
/* line 68, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction0-facebook_img:after,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction0-facebook_img:after,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction0-facebook_img:after {
  color: #999999;
  font-size: 1.58333em;
  font-family: FontAwesome;
  position: absolute;
  top: 0.58333em;
  left: 0.41667em;
}
/* line 62, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction1-twitter_img,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction1-twitter_img,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction1-twitter_img {
  position: relative !important;
  background-image: none !important;
}
/* line 68, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction1-twitter_img:after,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction1-twitter_img:after,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction1-twitter_img:after {
  color: #999999;
  font-size: 1.58333em;
  font-family: FontAwesome;
  position: absolute;
  top: 0.58333em;
  left: 0.41667em;
}
/* line 62, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction2-pinterest_img,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction2-pinterest_img,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction2-pinterest_img {
  position: relative !important;
  background-image: none !important;
}
/* line 68, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction2-pinterest_img:after,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction2-pinterest_img:after,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction2-pinterest_img:after {
  color: #999999;
  font-size: 1.58333em;
  font-family: FontAwesome;
  position: absolute;
  top: 0.58333em;
  left: 0.41667em;
}
/* line 62, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction3-googleplus_img,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction3-googleplus_img,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction3-googleplus_img {
  position: relative !important;
  background-image: none !important;
}
/* line 68, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction3-googleplus_img:after,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction3-googleplus_img:after,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction3-googleplus_img:after {
  color: #999999;
  font-size: 1.58333em;
  font-family: FontAwesome;
  position: absolute;
  top: 0.58333em;
  left: 0.41667em;
}
/* line 62, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction4-email_img,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction4-email_img,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction4-email_img {
  position: relative !important;
  background-image: none !important;
}
/* line 68, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction4-email_img:after,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction4-email_img:after,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction4-email_img:after {
  color: #999999;
  font-size: 1.58333em;
  font-family: FontAwesome;
  position: absolute;
  top: 0.58333em;
  left: 0.41667em;
}
/* line 79, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction1-twitter_img:after,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction1-twitter_img:after,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction1-twitter_img:after {
  content: "";
}
/* line 85, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction2-pinterest_img:after,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction2-pinterest_img:after,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction2-pinterest_img:after {
  content: "\f0d2";
}
/* line 91, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links #share-links-pdp-reaction3-googleplus_img:after,
.pdp-main .product-options .share .share-links #share-links-tablet-reaction3-googleplus_img:after,
.pdp-main .product-options .share .share-links #share-links-mobile-reaction3-googleplus_img:after {
  content: "\f0d5";
}
/* line 97, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-button-container-facebook > div {
  -moz-border-radius: 5px 0 0 5px / 5px 0 0 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px 0 0 5px / 5px 0 0 5px;
}
/* line 100, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-button-container-facebook > div #share-links-pdp-reaction0-facebook_img:after,
.pdp-main .product-options .share .share-links .gig-button-container-facebook > div #share-links-tablet-reaction0-facebook_img:after,
.pdp-main .product-options .share .share-links .gig-button-container-facebook > div #share-links-mobile-reaction0-facebook_img:after {
  content: "\f09a";
}
/* line 107, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-button-container-email > div {
  -moz-border-radius: 0 5px 5px 0 / 0 5px 5px 0;
  -webkit-border-radius: 0 0;
  border-radius: 0 5px 5px 0 / 0 5px 5px 0;
}
/* line 110, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-button-container-email > div #share-links-pdp-reaction4-email_img:after,
.pdp-main .product-options .share .share-links .gig-button-container-email > div #share-links-tablet-reaction4-email_img:after,
.pdp-main .product-options .share .share-links .gig-button-container-email > div #share-links-mobile-reaction4-email_img:after {
  content: "\f003";
  top: 8px;
  left: 4px;
}
/* line 119, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links div.gig-button-container {
  width: 98%;
  padding: 0 1px 0 0;
}
/* line 124, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-share-bar-container > table {
  width: 100%;
}
/* line 127, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share .share-links .gig-share-bar-container > table td {
  width: 20%;
}
@media screen and (max-width: 59.9375em) {
  /* line 135, ../../css/package/sass/pdp/share_buttons.scss */
  .pdp-main .product-options .share .share-social {
    display: block;
  }
  /* line 139, ../../css/package/sass/pdp/share_buttons.scss */
  .pdp-main .product-options .share .share-links {
    margin: 0;
  }
  /* line 142, ../../css/package/sass/pdp/share_buttons.scss */
  .pdp-main .product-options .share .share-links .gig-button {
    margin: 0;
  }
  /* line 146, ../../css/package/sass/pdp/share_buttons.scss */
  .pdp-main .product-options .share .share-links .gig-button-container {
    margin: 1.66667em 0;
  }
}
/* line 152, ../../css/package/sass/pdp/share_buttons.scss */
.pdp-main .product-options .share a {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.54545em;
  cursor: pointer;
}
