/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 7, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E5E5E5;
  position: fixed;
  top: 8.33333em;
  width: 100%;
  z-index: 1000;
  display: none;
  transition: all 300ms linear;
  opacity: 0;
}
@media screen and (min-width: 59.9375em) and (max-width: 77.5em) {
  /* line 7, ../../css/package/sass/pdp/top_bar.scss */
  .product-top-bar {
    display: table;
  }
}
/* line 22, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar img {
  max-width: 16.66667em;
  margin: 0 4.16667em 1.66667em 4.16667em;
}
/* line 27, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1.25em;
  width: 70%;
}
/* line 33, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .product-properties, .product-top-bar .top-bar-content form, .product-top-bar .top-bar-content .attribute, .product-top-bar .top-bar-content .product-attributes {
  display: inline-block;
}
/* line 37, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .product-title {
  overflow: hidden;
  padding-bottom: 1.25em;
}
/* line 41, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .product-title .product-name {
  font-size: 2.25em;
  line-height: 1.40741em;
  float: left;
}
/* line 47, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .product-title .product-name.multi-line {
  display: none;
}
/* line 52, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .product-title .product-price {
  font-size: 2.41667em;
  font-weight: bold;
  line-height: 1.44828em;
  float: right;
}
/* line 61, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .product-properties {
  background-color: #E5E5E5;
  float: left;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  margin-right: 0.58333em;
  width: 29%;
  padding: 1.08333em 0;
  text-align: center;
}
/* line 70, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .product-properties .product-color {
  color: #000000;
  font-size: 1.16667em;
  font-weight: bold;
  text-transform: capitalize;
}
/* line 77, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .product-properties .product-manufacturer {
  color: #666666;
  font-size: 0.91667em;
}
/* line 83, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .select2 .select2-selection {
  margin-bottom: 0 !important;
}
/* line 87, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content form {
  width: 69%;
  float: right;
}
/* line 92, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .product-attributes {
  width: 68%;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
/* line 96, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .attribute {
  margin-right: 0.33333em;
}
/* line 99, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .attribute.quantity-attr {
  width: 46%;
}
/* line 103, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .attribute.sizes-attr {
  width: 67%;
  min-height: 50px;
}
/* line 108, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .attribute .error-message {
  color: #FFFFFF;
  background-color: #666666;
  text-align: center;
  padding: 0.83333em;
  text-transform: Capitalize;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 118, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .add-to-cart {
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  float: right;
  width: 30%;
  text-transform: capitalize;
  background-color: #BF0F07;
  font-size: 1.5em;
  padding: 0.625em 0;
  font-family: "Arvo", serif;
  font-weight: normal;
  margin-left: 0.16667em;
}
/* line 130, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content .add-to-cart:hover, .product-top-bar .top-bar-content .add-to-cart:active {
  color: #D6D6D6;
  background-color: #9A0000;
}
/* line 137, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content.error .product-properties {
  margin-top: 2.75em;
}
/* line 141, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content.error .add-to-cart {
  margin-top: 1.75em;
}
/* line 145, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-content.error .sizes-attr .select2-container {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #666666;
}
/* line 153, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-bottom p {
  text-align: center;
}
/* line 157, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-bottom .out-of-stock {
  color: #BF0F07;
  font-weight: bold;
}
/* line 162, ../../css/package/sass/pdp/top_bar.scss */
.product-top-bar .top-bar-bottom .out-of-stock-message {
  font-size: 1em;
  line-height: 1.66667em;
  padding-bottom: 0.83333em;
  color: #666666;
}
