body {
    background-color: #1F1F1F;
    color: #fff;
    margin: 0 auto;

    font-family: "Helvetica Neue", Helvetica, Georgia, serif;
    font-size: 100%;
}

#container {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 220px;
    padding-bottom: 60px;
    width: 600px;
}

a {
    color: #fff;
}

h1, p {
    margin: 0;
}

p {
    font-size: 16px;
    margin-top: 25px;
    line-height: 1.5;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    p {
        font-size: 32px;
        margin-top: 25px;
        line-height: 1.5;
    }
}

h1 {
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

.dont-worry {
    margin-top: 10px;
}

.head-back {
    margin-top: 70px;
}