

.poiret_one {
	font-family: 'Poiret One', cursive;
}

.chewy {
	font-family: 'Chewy', cursive;
}

.frijole {
	font-family: 'Frijole', cursive;
}

.alfa_slab_one {
	font-family: 'Alfa Slab One', cursive;
}

.baloo_bhaina{
	font-family: 'Baloo Bhaina', cursive;
}

.shrikhand {
	font-family: 'Shrikhand', cursive;
}

.audiowide {
	font-family: 'Audiowide', cursive;
}

.concert_one {
	font-family: 'Concert One', cursive;
}

.special_elite {font-family: 'Special Elite', cursive;}

.mogra {
	font-family: 'Mogra', cursive;
}

.graduate {
	font-family: 'Graduate', cursive;
}

.monoton {
	font-family: 'Monoton', cursive;
}

.fugaz_one {
	font-family: 'Fugaz One', cursive;
}

.fredericka_great{
	font-family: 'Fredericka the Great', cursive;
}

.cinzel_decorative {
	font-family: 'Cinzel Decorative', cursive;
}

.press_start_2p {
	font-family: 'Press Start 2P', cursive;
}

.happy_monkey {
	font-family: 'Happy Monkey', cursive;
}

.bungee_inline {
	font-family: 'Bungee Inline', cursive;
}

.knewave {
	font-family: 'Knewave', cursive;
}

.yeseva_one {
	font-family: 'Yeseva One', cursive;
}

.courgette {
	font-family: 'Courgette', cursive;
}

.yellowtail {
	font-family: 'Yellowtail', cursive;
}










