/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* constants file for scss variable values */
/* line 7, ../css/package/sass/email_mrtaylorstore.scss */
.family-invite .family-invite-body, .family-invite-accepted .family-invite-accepted-body, .employee-regsitration .employee-regsitration-body {
  font-size: 16px;
  padding: 20px 20px 60px 20px;
}
/* line 11, ../css/package/sass/email_mrtaylorstore.scss */
.family-invite .family-invite-body .log-in, .family-invite-accepted .family-invite-accepted-body .log-in, .employee-regsitration .employee-regsitration-body .log-in {
  padding-top: 60px;
  text-align: center;
}
/* line 15, ../css/package/sass/email_mrtaylorstore.scss */
.family-invite .family-invite-body .log-in a, .family-invite-accepted .family-invite-accepted-body .log-in a, .employee-regsitration .employee-regsitration-body .log-in a {
  font-size: 1.66667em;
  line-height: 100%;
  background: #000;
  color: #FFF;
  padding: 0.45em 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  border-width: 0;
  width: auto;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 70px;
}
/* line 189, ../../../../../converse_core/cartridge/static/default/css/package/sass/base/_conv_mixins.scss */
.family-invite .family-invite-body .log-in a:hover, .family-invite-accepted .family-invite-accepted-body .log-in a:hover, .employee-regsitration .employee-regsitration-body .log-in a:hover {
  background: #333333;
}

/* line 22, ../css/package/sass/email_mrtaylorstore.scss */
.all-star-collection {
  padding-bottom: 60px;
}
/* line 25, ../css/package/sass/email_mrtaylorstore.scss */
.all-star-collection td {
  text-align: center;
}
/* line 29, ../css/package/sass/email_mrtaylorstore.scss */
.all-star-collection img {
  width: 150px;
  height: 150px;
  padding-right: 10px;
}
